@charset "UTF-8";
//@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,300i,400,400i,500,500i,700,700i&subset=cyrillic');
//
@font-face {
  font-family: 'um-icons';
  src:  url('../fonts/um-icons.ttf?wgpoaq') format('truetype'),
        url('../fonts/um-icons.woff?wgpoaq') format('woff'),
        url('../fonts/um-icons.svg?wgpoaq#um-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import 'base/variables';
@import 'base/mixins';
@import 'vendors/include-media';
//@import 'vendors/normalize';
//@import 'base/reset';
@import 'base/helpers';

@import 'base/typography';

@import 'base/timestamp';
@import 'base/tool';
//@import 'base/c-grid';
@import 'base/c-grid-news';
//@import 'layout/header';
//@import 'layout/footer';
//@import 'layout/common';
//@import 'base/tabs';
//@import 'base/menu';
//@import 'base/m-menu';
//@import 'base/card';
@import 'base/news';
.news-block--splitted {
  width: auto;
}
//@import 'base/blogs-authors';
//@import 'base/404';
//@import 'base/author';
//@import 'base/documents';
//@import 'base/contacts';
//@import 'base/search-news';
//@import 'base/editor';
//@import 'base/popover';
//@import 'base/press-release-list';
//@import 'base/press-release-companys';
