.content-addon .mgline {
	min-width: 25% !important;
}

.content-addon .media_metrics a,
.content-addon .mgbox a {
	border: none !important;
}

.content-addon .sk86254_item:hover a,
.content-addon .mgbox .mgline:hover a,
.content-addon .media_metrics a:hover span {
	text-decoration: none !important;
	color: #ff0000 !important;
}

.partners-wrapper {
	width: calc(100% + 15px);
	margin-left: -8px;
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 623px) {
	.partners-item {
		display: none;
	}
}

.partners-item {
	margin-bottom: -20px !important;
}

.partners-item__block {
	max-width: 33%;
	min-width: 30%;
	border-radius: 2px;
	float: left;
	overflow: hidden;
	margin-right: 5px;
}

.partners-item__block:last-child {
	margin-right: 0;
	float: right;
}

.partners-item__block .partners-lentainform .mgbox, .partners-item__block .partners-lentainform .mgline {
	padding: 0 !important;
	margin: 0 !important;
}

.partners-item__block .partners-lentainform #LentaInformComposite657371 .mgbox {
	padding-top: 0 !important;
}

.partners-item__block .partners-lentainform .mgheader {
	display: none;
}

.partners-item__block .partners-lentainform .mgtobottom {
	display: none;
}

.partners-item__block .partners-lentainform a {
	font-size: 12px !important;
	z-index: 20 !important;
	line-height: 19px !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

.partners-item__block.partners-item__col-4 .partners-lentainform a {
	font-size: 12px !important;
}

.mgline:hover .mctitle {
	color: #ff0000 !important;
}

#LentaInformComposite658259 .mgline .mctitle {
	margin-top: 7px !important;
}

.partners-item__block .partners-lentainform .mctitle {
	display: flex;
    align-items: flex-end;
	padding-right: 15px !important;
}

.partners-item__block .partners-lentainform .close-informer {
	display: none !important;
}

.partners-item__block .partners-lentainform .image-container {
	height: auto;
	border-radius: 2px;
}

.partners-item__block .partners-lentainform .image-container:after {
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 37%,rgba(0,0,0,1) 100%);
	content: '';
}

.partners-item__block .partners-lentainform .image-container img {
	max-height: 160px !important;
}

.partners-item__block .partners-lentainform .text-elements {
	background: none !important;
	z-index: 2;
	max-height: 41px;
	overflow: hidden;
	margin-bottom: 28px !important;
	margin-left: 5px !important;
}

.partners-item__block .partners-lentainform img {
	border-radius: 2px;
}

.partners-item__block .partners-lentainform .widgets_logo {
	position: absolute !important;
	bottom: 10px;
	left: 95px;
}

.partners-item__block .partners-smi2 img {
	width: auto;
	border-radius: 2px;
}

.partners-item__block .partners-smi2 table {
	border-radius: 2px;
	max-width: 100%;
	display: flex !important;
}

.partners-item__block .partners-smi2 table td {
	padding: 0 !important;
}

.partners-item__block .partners-smi2 td > a {
	width: inherit;
	max-width: 90% !important;
	position: absolute;
	bottom: 50px;
	left: 16px;
	max-width: 200px;
	text-align: left;
	border: none !important;
	font-size: 12px !important;
	font-weight: bold  !important;
	max-height: 35px !important;
	overflow: hidden;
	line-height: 18px !important;
	z-index: 2;
	font-stretch: condensed !important;
	font-family: Roboto, sans-serif !important;
}

.partners-item__block.partners-item__col-4 .partners-smi2 td > a {
	font-size: 12px !important;
	max-width: 85% !important;
}

.partners-item__block .partners-smi2 td:after {
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 40px;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 37%,rgba(0,0,0,1) 100%);
	content: '';
}

.partners-item__block .partners-smi2 td > div {
	padding-bottom: 40px !important;
}

.partners-item__block .partners-smi2 td > div::after {
	content: '';
	position: absolute;
	left: -16px;
	bottom: 12px;
	background: url("../images/logo-smi2.svg") no-repeat;
	background-size: 90px 20px;
	width: 90px;
	height: 20px;
	filter: grayscale(1);
	transition: filter .4s;
}

.partners-item__block .partners-smi2 td:hover > div::after {
	filter: grayscale(0);
	transition: filter .4s;
}

.partners-item__block .partners-smi2 td:hover > a {
	color: #ff0000 !important;
	text-decoration: underline !important;
}

.partners-item__block .partners-smi2 td:hover {
	cursor: pointer;
}

.partners-item__block .partners-smi2 div {
	margin: 0 !important;
}

.partners-item__block .partners-mediametrics + .partners-item_logo {
	margin-top: 0;
}

.partners-item__block .partners-mediametrics .mm-body__inner > div {
	max-width: 100%;
	display: table-row;
	justify-content: space-between;
}

.partners-item__block .partners-mediametrics .mm-body {
	padding: 0 !important;
	padding-bottom: 20px !important;
	height: auto !important;
	width: auto !important;
	min-width: auto !important;
	min-height: auto !important;
	overflow-y: hidden !important;
}

.partners-item__block .partners-mediametrics .mm-body .mm-body__line {
	position: relative;
	max-width: 100%;
	margin-bottom: 40px !important;
}

.partners-item__block .partners-mediametrics .mm-body__line a {
	overflow: hidden;
}

.partners-item__block .partners-mediametrics .mm-body__line a img {
	min-height: 100% !important;
	min-width: 300px;
	border-radius: 2px;
	margin: 0 !important;
}

.partners-item__block .partners-mediametrics .mm-body__line::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -25px;
	background: url("../images/logo-mediametrics.png") no-repeat;
	background-size: 120px 15px;
	width: 120px;
	height: 20px;
	filter: grayscale(1);
	transition: filter .4s;
}

.partners-item__block .partners-mediametrics .mm-body__line:hover::after {
	filter: grayscale(0);
	transition: filter .4s;
}

.partners-item__block.partners-item__col-2 .partners-mediametrics .mm-body__line a img {
	min-height: 200px !important;
}

.partners-item__block .partners-mediametrics span {
	text-shadow: none !important;
	background: none !important;
	color: #fff;
	max-height: 34px !important;
	font-stretch: condensed !important;
	font-family: Roboto, sans-serif !important;
	font-weight: bold  !important;
	text-decoration: none !important;
	margin: 5px;
	width: 90% !important;
	padding-right: 20px !important;
	margin-bottom: 8px !important;
	padding-bottom: 0 !important;
	font-size: 1em !important;
	line-height: 18px !important;
	z-index: 2;
	left: 4px !important;
}

.partners-item__block.partners-item__col-4 .partners-mediametrics span {
	width: 85% !important;
}

.partners-item__line .partners-mediametrics .mm-body__inner .mm-body__line a:hover span {
	text-decoration: underline !important;
}

.partners-item__line .partners-mediametrics .mm-body__inner .mm-body__line a span {
	text-decoration: none !important;
}

.partners-item__block.partners-item__col-3 .partners-mediametrics span {
	font-size: 12px !important;
}

.partners-item__block.partners-item__col-5 .partners-mediametrics span {
	width: 85% !important;
	padding-right: 0 !important;
}

.partners-item__block .partners-mediametrics a {
	border: none !important;
}

.partners-item__block .partners-mediametrics a:after {
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 37%,rgba(0,0,0,1) 100%);
	content: '';
}

.partners-item__block .partners-mediametrics .mm-body__line--text-over-image a:hover span {
	background: none !important;
	text-decoration: underline !important;
	color: #ff0000 !important;
	opacity: 1 !important;
}

.partners-item__block .partners-item_logo {
	margin-top: 5px;
}

.partners-item__block .partners-lentainform .image-with-text::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	background: url("../images/logo-lenta.svg") no-repeat;
	background-size: 90px 20px;
	width: 90px;
	height: 20px;
	filter: grayscale(1);
	transition: filter .4s;
}

.partners-item__block .partners-lentainform .mgline:hover .image-with-text::before {
	filter: grayscale(0);
	transition: filter .4s;
}

.partners-item__block .partners-lentainform .image-with-text {
	padding-bottom: 22px;
}

.partners-item__line {
	width: 49%;
	border-radius: 2px;
	overflow: hidden;
	margin-bottom: 15px;
	padding-right: 30px;
	max-height: 120px;
}

.partners-item__line.partners-item__row {
	padding-right: 0;
	min-width: 100%;
	max-height: 1000px;
}

.partners-item__line.partners-item__row .partners-lentainform .image-with-text {
	min-width: 100%;
}

.partners-item__line.partners-item__row .partners-lentainform .mgline {
	margin-bottom: 30px !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}

.partners-item__line.partners-item__row .partners-lentainform .mgline::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 110px;
	background: url("../images/logo-lenta.svg") no-repeat;
	background-size: 90px 20px;
	width: 90px;
	height: 20px;
	filter: grayscale(1);
	transition: filter .4s;
}

.partners-item__line.partners-item__row .partners-lentainform .mgline:hover::after {
	filter: grayscale(0);
	transition: filter .4s;
}

.partners-item__line.partners-item__row .partners-lentainform .mgline:nth-child(odd) {
	margin-right: 10px !important;
}

.partners-item__line.partners-item__row .partners-lentainform .mcimg {
	border-radius: 0;
}

.partners-item__line.partners-item__row .partners-lentainform .mctitle {
	margin: 0 0 0 20px !important;
	padding: 0 !important;
}

.partners-item__line.partners-item__row .partners-lentainform img {
	position: static !important;
	border-radius: 2px !important;
}

.partners-item__line.partners-item__row .partners-smi2 td {
	position: relative;
}

.partners-item__line.partners-item__row .partners-smi2 td > div {
	margin-right: 20px !important;
	margin-top: 3px !important;
}

.partners-item__line.partners-item__row .partners-smi2 td:nth-child(odd) {
	margin-right: 10px !important;
}

.partners-item__line.partners-item__row .partners-smi2 td::after {
	content: '';
	position: absolute;
	left: 93px;
	bottom: 0;
	background: url("../images/logo-smi2.svg") no-repeat;
	background-size: 90px 20px;
	width: 90px;
	height: 20px;
	filter: grayscale(1);
	transition: filter .4s;
}

.partners-item__line.partners-item__row .partners-smi2 td:hover::after {
	filter: grayscale(0);
	transition: filter .4s;
}

.partners-item__line.partners-item__row .partners-mediametrics .mm-body {
	min-height: 0 !important;
}

.partners-item__line.partners-item__row .partners-mediametrics .mm-body__inner > div {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.partners-item__line.partners-item__row .partners-mediametrics .mm-body__inner > div .mm-body__line {
	position: relative;
	max-width: 49%;
}

.partners-item__line.partners-item__row .partners-mediametrics .mm-body__inner > div .mm-body__line > a {
	margin-bottom: 20px !important;
}

.partners-item__line.partners-item__row .partners-mediametrics .mm-body__inner > div .mm-body__line > a::after {
	content: '';
	position: absolute;
	left: 110px;
	bottom: 15px;
	background: url("../images/logo-mediametrics.png") no-repeat;
	background-size: 120px 15px;
	width: 120px;
	height: 20px;
	filter: grayscale(1);
	transition: filter .4s;
}

.partners-item__line.partners-item__row .partners-mediametrics .mm-body__inner > div .mm-body__line > a:hover::after {
	filter: grayscale(0);
	transition: filter .4s;
}

.partners-item__line.partners-item__row .partners-mediametrics .mm-body__inner > div .mm-body__line:nth-child(odd) {
	margin-right: 10px !important;
}

.partners-item__line.partners-item__row .partners-mediametrics .mm-body__inner > div .mm-body__line img {
	border-radius: 2px;
}

.partners-item__line.partners-item__row .partners-mediametrics .mm-body__inner > div .mm-body__line .block-text-overflow-image-full {
	padding-left: 10px !important;
	margin-top: -5px;
}

.partners-item__line.partners-item__row .partners-mediametrics a:hover span {
	text-decoration: none !important;
	border: none !important;
}

.partners-item__line.partners-item__row.partners-item__row-3 .partners-smi2 tbody {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.partners-item__line.partners-item__row.partners-item__row-3 .partners-smi2 tr {
	width: 49%;
	height: 90px;
	display: block;
	margin-bottom: 30px !important;
	position: relative;
}

.partners-item__line.partners-item__row.partners-item__row-3 .partners-smi2 tr::after {
	content: '';
	position: absolute;
	left: 93px;
	bottom: 0;
	background: url("../images/logo-smi2.svg") no-repeat;
	background-size: 90px 20px;
	width: 90px;
	height: 20px;
	filter: grayscale(1);
	transition: filter .4s;
}

.partners-item__line.partners-item__row.partners-item__row-3 .partners-smi2 tr:hover::after {
	filter: grayscale(0);
	transition: filter .4s;
}

.partners-item__line.partners-item__row.partners-item__row-3 .partners-smi2 tr:nth-child(odd) {
	margin-right: 10px !important;
}

.partners-item__line.partners-item__row.partners-item__row-3 .partners-smi2 td {
	width: auto;
}

.partners-item__line.partners-item__row.partners-item__row-3 .partners-smi2 td:hover ~ td a {
	color: #ff0000 !important;
}

.image-with-text:hover a {
	color: #ff0000 !important;
}

.partners-item__line.partners-item__row.partners-item__row-3 .partners-smi2 td:first-child {
	padding-right: 20px !important;
}

.partners-item__line.partners-item__row.partners-item__row-3 .partners-smi2 td:first-child a {
	max-height: 90px !important;
}

.partners-item__line.partners-item__row.partners-item__row-3 .partners-smi2 td::after {
	display: none;
}

.partners-item__line.partners-item__row.partners-item__row-3 .partners-smi2 td img {
	position: relative;
	width: 90px;
	height: 90px;
}

.partners-item__line .partners-lentainform .mgbox {
	margin: 0 !important;
}

.partners-item__line .partners-lentainform .mgline {
	margin: 0 !important;
}

.partners-item__line .partners-lentainform .mcimg {
	min-height: 90px !important;
	min-width: 90px !important;
	height: 90px !important;
	width: 90px !important;
	overflow: hidden;
	border-radius: 2px;
}

.partners-item__line .partners-lentainform .mcimg:hover .text-elements a {
	color: #ff0000 !important;
}

.partners-item__line .partners-lentainform .image-container {
	display: flex !important;
	margin: 0 !important;
	justify-content: center;
}

.partners-item__line .partners-lentainform .image-container img {
	position: absolute;
	min-height: 90px !important;
}

.partners-item__line .partners-lentainform .close-informer {
	display: none !important;
}

.partners-item__line .partners-lentainform .mcdomain {
	display: none !important;
}

.partners-item__line .partners-lentainform .mgheader {
	display: none !important;
}

.partners-item__line .partners-lentainform .mctitle {
	text-align: left !important;
	margin-top: 1px !important;
	padding-top: 0 !important;
	margin-left: 10px;
	font-family: Roboto, sans-serif !important;
	font-size: 14px !important;
	transform: scaleX(1.01) !important;
}

.partners-item__line .partners-lentainform .image-with-text {
	display: flex;
}

.partners-item__line .partners-lentainform #LentaInformComposite657466 .mgbox {
	position: static !important;
}

.partners-item__line .partners-lentainform #LentaInformComposite657466 .mgline .text-elements {
	width: auto !important;
	max-width: 90% !important;
}

.partners-item__line .partners-lentainform #LentaInformComposite657466 .mctitle a {
	font-size: 14px !important;
	font-family: Roboto, sans-serif !important;
	line-height: 22px !important;
}

.partners-item__line .partners-lentainform #LentaInformComposite657466 .mgline:hover .mctitle a {
	text-decoration: none !important;
}

.partners-item__line .partners-lentainform ~ .partners-item_logo {
	margin-top: -30px;
}

.partners-item__line .partners-smi2 img {
	border-radius: 2px;
	max-width: 90px;
	max-height: 90px;
}

.partners-item__line .partners-smi2 tr {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
}

.partners-item__line .partners-smi2 td {
	width: 49%;
	padding: 0 !important;
	margin-bottom: 30px;
}

.partners-item__line .partners-smi2 td > a {
	border: none !important;
	font-size: 14px !important;
	line-height: 19px;
	font-weight: bold  !important;
	max-height: 68px !important;
	overflow: hidden !important;
	display: flex;
	font-family: Roboto, sans-serif !important;
}

.partners-item__line .partners-smi2 div:hover ~ a {
	color: #ff0000 !important;
}

.partners-item__line .partners-mediametrics .mm-body {
	padding: 0 !important;
	width: auto !important;
}

.partners-item__line .partners-mediametrics .mm-body .mm-body__line {
	margin-bottom: 0 !important;
}

.partners-item__line .partners-mediametrics + .partners-item_logo {
	margin-top: 0;
}

.partners-item__line .partners-mediametrics a {
	display: flex;
	border: none !important;
}

.partners-item__line .partners-mediametrics a span {
	font-size: 14px !important;
	font-weight: bold  !important;
	font-family: Roboto, sans-serif !important;
}

.partners-item__line .partners-mediametrics a:hover span {
	background: none !important;
	text-decoration: none !important;
	border: none !important;
	color: #ff0000 !important;
	opacity: 1 !important;
}

.partners-item__line .partners-mediametrics ~ .partners-item_logo {
	margin-top: -22px;
}

.partners-item__line .partners-mediametrics .mm-body__line a img {
	margin-right: 10px !important;
}

.partners-item__line.partners-item__col-2 {
	padding: 0 !important;
	max-height: 100%;
}

.partners-item__line.partners-item__col-2 .partners-lentainform #LentaInformComposite658362 .mgline:hover .mctitle a {
	text-decoration: none !important;
}

.partners-item__line.partners-item__col-2 .partners-lentainform .text-elements {
	margin-top: -5px !important;
}

.partners-item__line.partners-item__col-2 .partners-item_logo {
	margin: 10px 0 0 0;
}

.partners-item__line .partners-item_logo {
	margin-top: -15px;
	margin-left: 100px;
}

.partners-item__col-2, .partners-item__col-3, .partners-item__col-4, .partners-item__col-5, .partners-item__col-6 {
	min-width: 100%;
	margin-bottom: 20px;
}

.partners-item__col-2 .partners-lentainform .mgbox, .partners-item__col-3 .partners-lentainform .mgbox, .partners-item__col-4 .partners-lentainform .mgbox, .partners-item__col-5 .partners-lentainform .mgbox, .partners-item__col-6 .partners-lentainform .mgbox {
	display: flex;
	justify-content: space-between;
	margin-top: -25px !important;
}

.partners-item__col-2 .partners-lentainform .image-container img, .partners-item__col-3 .partners-lentainform .image-container img, .partners-item__col-4 .partners-lentainform .image-container img, .partners-item__col-5 .partners-lentainform .image-container img, .partners-item__col-6 .partners-lentainform .image-container img {
	max-height: 100% !important;
}

.partners-item__col-2 .partners-smi2 tbody, .partners-item__col-3 .partners-smi2 tbody, .partners-item__col-4 .partners-smi2 tbody, .partners-item__col-5 .partners-smi2 tbody, .partners-item__col-6 .partners-smi2 tbody {
	display: flex;
	justify-content: space-between;
	min-width: 100%;
}

.partners-item__col-2 .partners-smi2 tbody tr, .partners-item__col-3 .partners-smi2 tbody tr, .partners-item__col-4 .partners-smi2 tbody tr, .partners-item__col-5 .partners-smi2 tbody tr, .partners-item__col-6 .partners-smi2 tbody tr {
	margin-right: 10px;
	display: flex;
	position: relative;
}

.partners-item__block .partners-smi2 tbody tr td {
	width: 100%;
}

.partners-item__block .partners-smi2 tbody tr td img {
	max-width: 100% !important;
	height: auto !important;
}

.partners-item__col-3 .partners-smi2 tbody tr {
	max-width: 33.3%;
}

.partners-item__col-2 .partners-smi2 tbody tr {
	width: 49%;
}

.partners-item__col-4 .partners-smi2 tbody tr {
	max-width: 24%;
}

.partners-item__col-2 .partners-smi2 tbody tr:last-child, .partners-item__col-3 .partners-smi2 tbody tr:last-child, .partners-item__col-4 .partners-smi2 tbody tr:last-child, .partners-item__col-5 .partners-smi2 tbody tr:last-child, .partners-item__col-6 .partners-smi2 tbody tr:last-child {
	margin-right: 0;
}

.partners-item__col-2 .partners-smi2 tbody img, .partners-item__col-3 .partners-smi2 tbody img, .partners-item__col-4 .partners-smi2 tbody img, .partners-item__col-5 .partners-smi2 tbody img, .partners-item__col-6 .partners-smi2 tbody img {
	width: 370px;
}

.partners-item__col-2 .partners-mediametrics .mm-body__inner > div, .partners-item__col-3 .partners-mediametrics .mm-body__inner > div, .partners-item__col-4 .partners-mediametrics .mm-body__inner > div, .partners-item__col-5 .partners-mediametrics .mm-body__inner > div, .partners-item__col-6 .partners-mediametrics .mm-body__inner > div {
	display: flex;
	justify-content: space-between;
}

.partners-item__col-2 .partners-mediametrics .mm-body__inner > div .mm-body__line, .partners-item__col-3 .partners-mediametrics .mm-body__inner > div .mm-body__line, .partners-item__col-4 .partners-mediametrics .mm-body__inner > div .mm-body__line, .partners-item__col-5 .partners-mediametrics .mm-body__inner > div .mm-body__line, .partners-item__col-6 .partners-mediametrics .mm-body__inner > div .mm-body__line {
	width: 49% !important;
	margin-right: 10px;
}

.partners-item__col-2 .partners-mediametrics .mm-body__inner > div .mm-body__line:last-child, .partners-item__col-3 .partners-mediametrics .mm-body__inner > div .mm-body__line:last-child, .partners-item__col-4 .partners-mediametrics .mm-body__inner > div .mm-body__line:last-child, .partners-item__col-5 .partners-mediametrics .mm-body__inner > div .mm-body__line:last-child, .partners-item__col-6 .partners-mediametrics .mm-body__inner > div .mm-body__line:last-child {
	margin-right: 0;
}

.partners-item__col-2 .partners-mediametrics .mm-body__inner > div .mm-body__line a, .partners-item__col-3 .partners-mediametrics .mm-body__inner > div .mm-body__line a, .partners-item__col-4 .partners-mediametrics .mm-body__inner > div .mm-body__line a, .partners-item__col-5 .partners-mediametrics .mm-body__inner > div .mm-body__line a, .partners-item__col-6 .partners-mediametrics .mm-body__inner > div .mm-body__line a {
	width: 100% !important;
}

.partners-item__col-2 .partners-mediametrics .mm-body__inner > div .mm-body__line a img, .partners-item__col-3 .partners-mediametrics .mm-body__inner > div .mm-body__line a img, .partners-item__col-4 .partners-mediametrics .mm-body__inner > div .mm-body__line a img, .partners-item__col-5 .partners-mediametrics .mm-body__inner > div .mm-body__line a img, .partners-item__col-6 .partners-mediametrics .mm-body__inner > div .mm-body__line a img {
	width: 100% !important;
}

.partners-item__col-3 .partners-mediametrics .mm-body .mm-body__line {
	max-width: 32.5%;
}

.partners-item__col-3 .partners-mediametrics .mm-body .mm-body__line img {
	margin-left: -20% !important;
	height: 160px !important;
}

.partners-item__col-4 .partners-mediametrics .block-text-overflow-image-full {
	font-size: 12px !important;
}

.partners-item__col-4 .partners-mediametrics .mm-body .mm-body__line {
	max-width: 24%;
}

.partners-item__col-4 .partners-mediametrics .mm-body .mm-body__line a {
	max-height: 120px;
}

.partners-item__col-4 .partners-mediametrics .mm-body .mm-body__line a img {
	min-width: 250px !important;
}

.partners-item__col-5 .partners-smi2 td > a {
	margin-left: -5%;
	font-size: 12px !important;
	max-width: 120px !important;
}

.partners-item__col-5 .partners-lentainform .mctitle a {
	font-size: 12px !important;
	line-height: 18px !important;
}

.partners-item__col-5 .partners-mediametrics .block-text-overflow-image-full {
	font-size: 12px !important;
}

.partners-item__col-5 .partners-mediametrics .mm-body .mm-body__line {
	max-width: 19%;
}

.partners-item__col-5 .partners-mediametrics .mm-body {
	max-height: 120px;
}

.partners-item__col-5 .partners-mediametrics .mm-body .mm-body__line a {
	max-height: 100px;
}

.partners-item__col-5 .partners-mediametrics .mm-body .mm-body__line a img {
	min-width: 200px !important;
}

.partners-item__block.partners-item.partners-item__row-2 .partners-lentainform .text-elements {
	max-height: 50px;
}

.partners-item__block.partners-item.partners-item__row-2 .partners-lentainform .mctitle {
	max-height: 50px;
	overflow: auto !important;
}

.partners-item__block.partners-item.partners-item__row-2 .partners-lentainform .mgline {
	margin-bottom: 30px !important;
}

.partners-item__block.partners-item.partners-item__row-2 .partners-smi2 tbody {
	flex-wrap: wrap;
	max-height: 400px;
}

.partners-item__block.partners-item.partners-item__row-2 .partners-smi2 tr {
	max-width: 32%;
	overflow: hidden;
}

.partners-item__block.partners-item.partners-item__row-2 .partners-smi2 tr:nth-child(-n+3) {
	margin-bottom: 10px;
}

.partners-item__block.partners-item.partners-item__row-2 .partners-smi2 tr:nth-child(3), .partners-item__block.partners-item.partners-item__row-2 .partners-smi2 tr:nth-child(6) {
	margin-right: 0;
}

.partners-item__block.partners-item.partners-item__row-2 .partners-mediametrics .mm-body__inner > div {
	flex-wrap: wrap;
}

.partners-item__block.partners-item.partners-item__row-2 .partners-mediametrics .mm-body__inner > div .mm-body__line {
	width: 32% !important;
}

.partners-item__block.partners-item.partners-item__row-2 .partners-mediametrics .mm-body__inner > div .mm-body__line:nth-child(3) {
	margin-right: 0;
}

.partners-item .partners-item_logo {
	filter: grayscale(1);
	transition: filter .4s;
}

.partners-item .partners-lentainform:hover ~ .partners-item_logo,
.partners-item .partners-smi2:hover ~ .partners-item_logo,
.partners-item .partners-mediametrics:hover ~ .partners-item_logo {
	filter: grayscale(0);
	transition: filter .4s;
}
