//.popup.popup_editor#editor-text
.popup.popup_editor#article-editor
  .popup__inner
    include header-editor
    .content.content_editor
      article.content__main
        h1.visually-hidden Редактор+

        form.form.form_editor.form_theme_transparent(
        id="edit-press-release", method="post")

          section.editor.editor_article

            .editor__inner
              .editor__user
                figure.card.card_user
                  .card__pic
                    img(src='images/user_pic_35x35_img.jpg', alt='Поздеев Андрей')
                  figcaption.card__title
                    | Поздеев Андрей
                    small Журналист ИА «Удмуртия»

              //END .editor__user
            //END .editor__inner

            .form__row
             .form-control-holder
               label.visually-hidden(for="title-press-release") Введите название статьи
               input.form-control.editor__input-title(id="title-press-release",
                     placeholder="Название статьи",
                     name="title-press-release")
               .form-control-error Вы не ввели заголовок

            .editor__select
              label.label.label_select(for="title-article") Выберите тему статьи
              select.select.select_editor#title-article
                option Политика
                option Экономика и финансы
                option Бизнес
                option Общество
                option Проишествия
                option Сельское хозяйство
            //END .editor__select

            .editor__add-photo-cover
              section.add-files.add-files_photo_cover(data-js="dropzone-cover-photo")
                .add-files__descr
                  span  Загрузить обложку
                input.add-files__input-type(type="file",
                name="add-file",
                id="add-file")

            .form__row.editor__descr-priview
              .form-control-holder
                label.visually-hidden(for="press-lead") Описание для анонса
                input.form-control.editor__input-lead(id="press-lead",
                placeholder="Описание для анонса",
                name="press-lead")
                .form-control-error Описание для анонса

            .form__row.editor__text-article.js-tiny-init#editor-text
              |Текст вашей статьи...

            .editor__loaded-image
              .include-media.include-media_embedded._photogallery
                figure.include-media__inner
                  .include-media__pic(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
                    a.include-media__link( href="ajax/photogallery.html",
                    data-js="photogallery",
                    title="О службе в органах внутренних дел")
                      img(src="images/news_pic_fullwidth_01.jpg", alt="О службе в органах внутренних дел")
                  figcaption.include-media__text
                    .include-media__h
                      .include-media__title-image
                        label.visually-hidden(for="title-image") Введите заголовок
                        input.input-text(id="title-image",
                        name="title-photo",
                        placeholder="Введите заголовок")

                    p.include-media__description-image
                      label.visually-hidden(for="desription-image") Введите заголовок
                      input.input-text(id="desription-image",
                      name="input-description",
                      placeholder="Напишите описание")
                span.include-media__description 15 фото
              //END .include-media.include-media_embedded._photogallery
            //END .editor__loaded-image

        //END.editor