.site-flasher
  .flash
    .flash__inner
      button.burger-button(type="button") Меню
      .flash__progressbar: .flash__progressbar-fill
      .flash__title
        span.h Московские эксперты помогают в разведении белых львов в Ижевске
        span.flash__date 24 января 2017, 17:54
      .flash__controls
        .flash__control
          .share-widget
            .share-list-container
              ul.share-list
                li.share-list__item
                  a.share-list__link(href="javascript:void(0)")
                    i.share-list__icon.um-twitter
                  span.share-list__counter 12
                li.share-list__item
                  a.share-list__link(href="javascript:void(0)")
                    i.share-list__icon.um-facebook
                  span.share-list__counter 32
                li.share-list__item
                  a.share-list__link(href="javascript:void(0)")
                    i.share-list__icon.um-vkontakte
                  span.share-list__counter 99
                li.share-list__item
                  a.share-list__link(href="javascript:void(0)")
                    i.share-list__icon.um-odnoklasniki
                  span.share-list__counter 120
            .share-trigger
              a.share-trigger__icon.um-share_arrow(href="javascript:void(0)", data-js="share-toggle")
            a.flash__control.um-close(href="javascript:void(0);window.history.back();")
        //a.flash__control.flash__control_to_top(href="javascript:void(0)", data-js="scrollup"): span Наверх
