footer.foot
	.foot__inner
		nav.foot__menu
			ul.foot-menu
				li.foot-menu__item: h5.foot-menu__title Читателю
				li.foot-menu__item: a(href="news-matrix.html") Новости
				li.foot-menu__item: a(href="news.html") Статьи
				li.foot-menu__item: a(href="themes.html") Темы
				li.foot-menu__item: a(href="media.html") Медиа
				li.foot-menu__item: a(href="projects.html") Спецпроекты
				li.foot-menu__item: a(href="archive.html") Архив
				li.foot-menu__item: a(href="blogs.html") Блоги
			ul.foot-menu
				//- li.foot-menu__item: h5.foot-menu__title Рекламодателям
				//- li.foot-menu__item: a(href="mediakit.html") Медиакит
				//- li.foot-menu__item: a(href="pricelist.html") Прайс лист
				li.foot-menu__item: h5.foot-menu__title Авторы
				li.foot-menu__item: a(href="ajax/login.html", data-js="popup") Войти
			ul.foot-menu
				li.foot-menu__item: h5.foot-menu__title Редакция
				li.foot-menu__item: a(href="contacts.html") Контакты
				li.foot-menu__item: a(href="documents.html") Документы
			ul.foot-menu
				li.foot-menu__item: h5.foot-menu__title Соцсети
				li.foot-menu__item: a(href="404.html")
					i.icon.um-twitter_foot
					| Twitter
				li.foot-menu__item: a(href="404.html")
					i.icon.um-facebook_foot
					| Facebook
				li.foot-menu__item: a(href="404.html")
					i.icon.um-vk_foot
					| Вконтакте
				li.foot-menu__item: a(href="404.html")
					i.icon.um-ok_foot
					| Одноклассники
			ul.foot-menu.foot-menu_subscribe
				li.foot-menu__item
					h5.foot-menu__title Подписка
				li.foot-menu__item
					form.form.form_subscribe.form_theme_dark(action="#kek")
						.form__row.form__title Оставьте ваш e-mail, чтобы получать наши новости
						.form__row
							.form-control-holder
								input.form-control.form-control_padded( type="text",
													placeholder="Введите ваш e-mail",
													pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
													class="_invalid")
								.form-control-error Адрес электронной почты должен содержать символ «@».
								button.submit-button.form-control-holder__submit Отправить
						.form__row
							small.
								Нажимая на кнопку, вы даете согласие на обработку своих персональных данных
								и соглашаетесь с <a href="policy.html">Политикой конфиденциальности</a>
				li.foot-menu__item
					.push-switcher
						input.push-switcher__control(type="checkbox", id="push_switcher")
						label.push-switcher__label(for="push_switcher")
							span.push-switcher__button
							small.push-switcher__text(
								data-alttext="Выключить уведомления"
								data-defaulttext="Включить уведомления"
							): i Включить уведомления
			ul.foot-menu.foot-menu_policy
				li.foot-menu__item: a(href="policy.html") Политика конфедициальности
		.foot__info
			.cens-category.cens-category_foot 16+
			.copyright.
				© ИА «УДМУРТИЯ» зарегистрировано в Федеральной службе по надзору в сфере связи,
				информационных технологий и массовых коммуникаций 10 марта 2016 г.
				Свидетельство о регистрации сетевого издания ЭЛ № ФС 77 – 65063.
				Все права защищены законодательством РФ. Гиперссылка на сайт при перепечатке
				любых материалов обязательна.
			ul.counters
				li.counter: div(style="width:90px;height:30px;background:#777")
				li.counter: div(style="border-radius:.4rem;width:90px;height:18px;background:#777")
			.webmaster
				| Сделано в
				| <a href="http://picom.ru" target="_blank" rel="noopener noreferrer">Picom</a>
