.functional-button-wrap
  .functional-button(data-js="droplist")
  .functional-panel
    a.functional-panel__button.hide-func(href="javascript:void(0)", data-js="toggle-news"): .icon.um-eye
    a.functional-panel__button(href="javascript:void(0)")
      svg(width="46", height="46",
      style="transform:rotate(90deg);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);-moz-transform:rotate(90deg)")
        g
          polygon(points="22,29.2 21.7,29.6 21.7,29.6 22,29.5")
          polygon(points="21.7,29.6 21.7,29.6 21.7,29.6")
          polygon(points="24,29.9 29,24 27.6,22.6 24,26.9 24,15 22,15 22,27.1 18.3,22.9 17,24.4 21.7,29.6 22,29.2 22,29.5 21.7,29.6 22,29.9 22,30 22.1,30 23,31 23,31 23.9,30 24,30")
    a.functional-panel__button(href="javascript:void(0)")
      svg(width="46", height="46",
      style="transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-moz-transform:rotate(-90deg)")
        g
          polygon(points="22,29.2 21.7,29.6 21.7,29.6 22,29.5")
          polygon(points="21.7,29.6 21.7,29.6 21.7,29.6")
          polygon(points="24,29.9 29,24 27.6,22.6 24,26.9 24,15 22,15 22,27.1 18.3,22.9 17,24.4 21.7,29.6 22,29.2 22,29.5 21.7,29.6 22,29.9 22,30 22.1,30 23,31 23,31 23.9,30 24,30")
  //- .dragger