p.lead-paragraph Сотрудник ИК-12 из Пермского края опубликовал «ВКонтакте» признанный экстремистским ролик, а судья не стал его штрафовать. Почему судья не мог  сделать поступить иначе, и что еще можно делать почти безнаказанно, если ты служишь в армии, полиции, СК, ФСИН, на таможне или в пожарной части.

p Весной 2012 года <a href="http://google.com">Промышленный районный суд Курска</a> признал экстремистским опубликованное «ВКонтакте» видео под названием «Русский, очнись! Против тебя идет война!». Известно, что за публикацию этого ролика продолжительностью около шести минут в разные годы были оштрафованы жители поселка <a href="http://google.com">Апраксино</a>, <a href="http://google.com">Костромы</a>, <a href="http://google.com">Калужской области</a> и <a href="http://google.com">Краснокамска</a>.

.fact
  p «Когда телега свернула с Алексеевской улицы на Привокзальную, Миша оглянулся и в последний раз увидел маленький деревянный домик с зеле­ными ставнями и тремя вербами за оградой палисадника. Из-под его разбитой штукатурки тор­­чали куски дранки и клочья пакли, а в се­ре­дине, меж двух окон, висела круг­лая ржавая жестянка с надписью: „Страховое общество ‚Феникс‘. 1872 год“».

article.news-addon(data-align="left")
  a.media(href="#")
    .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
      img(src="images/news_pic_16_9__01.jpg", alt="")
  .news-addon__body
    .news-addon__title
      a(href="#")
        h5.h Четыре авиарейса задержали из-за тумана в Ижевске
    p Четыре авиарейса задержано из-за погодных условий в аэропорту столицы Удмуртии. Как сообщили ИА «Удмуртия»
  .news-addon__foot
    .category
      a.category-link(href="#") Удмуртия
      |  /
      a.category-link(href="#") Политика

p В некоторых случаях известны и суммы штрафов за распространение видеозаписи о «войне против русских». Так, некто Терентьев Д.П. из города Вятские Поляны Кировской области заплатил за это три тысячи рублей, житель города Шуя Ивановской области Романенко П.В. — две с половиной тысячи рублей, неназванный молодой человек из поселка Красное-на-Волге в Костромской области — полторы тысячи рублей.

.include-media
  figure.include-media__inner
    .include-media__pic(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
      img(src="images/news_pic_fullwidth_01.jpg", alt="")
    figcaption.include-media__text Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля.
  span.include-media__description.
    Автор фото:
    <span class="include-media__author">Соломонов Илья</span>

.fact
  h3.fact__title Факт
  p «Когда телега свернула с Алексеевской улицы на Привокзальную, Миша оглянулся и в последний раз увидел маленький деревянный домик с зеле­ными ставнями и тремя вербами за оградой палисадника. надписью: „Страховое общество ‚Феникс‘. 1872 год“».

p Однако административной ответственности мужчина избежал: выяснилось, что он работает в исправительной колонии №12, что в поселке Широковский, и имеет специальное звание сотрудника уголовно-исполнительной системы. Прокурор внес представление в адрес начальника исправительного учреждения, и работника колонии привлекли к дисциплинарной ответственности.

.include-media.include-media_embedded._photogallery
  figure.include-media__inner
    .include-media__pic(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
      a.include-media__link(href="images/news_pic_fullwidth_01.jpg")
        img(src="images/news_pic_fullwidth_01.jpg", alt="")
    figcaption.include-media__text
      p.include-media__h О службе в органах внутренних дел
      p Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля.
  span.include-media__description 15 фото

p Статья 2.5 КоАП регламентирует порядок несения ответственности за административные правонарушения для военнослужащих, граждан, призванных на военные сборы, и людей, имеющих специальные звания. В числе последних — сотрудники Следственного комитета, Нацгвардии, органов внутренних дел, уголовно-исполнительной системы, Государственной противопожарной службы и таможенных органов.

a.button.button_block.button_transparent_gray(href="#show_more") Читать полностью