p.lead-paragraph Сотрудник ИК-12 из Пермского края опубликовал «ВКонтакте» признанный экстремистским ролик, а судья не стал его штрафовать. Почему судья не мог  сделать поступить иначе, и что еще можно делать почти безнаказанно, если ты служишь в армии, полиции, СК, ФСИН, на таможне или в пожарной части.

p Весной 2012 года <a href="http://google.com">Промышленный районный суд Курска</a> признал экстремистским опубликованное «ВКонтакте» видео под названием «Русский, очнись! Против тебя идет война!». Известно, что за публикацию этого ролика продолжительностью около шести минут в разные годы были оштрафованы жители поселка <a href="http://google.com">Апраксино</a>, <a href="http://google.com">Костромы</a>, <a href="http://google.com">Калужской области</a> и <a href="http://google.com">Краснокамска</a>.

.fact
  p «Когда телега свернула с Алексеевской улицы на Привокзальную, Миша оглянулся и в последний раз увидел маленький деревянный домик с зеле­ными ставнями и тремя вербами за оградой палисадника. Из-под его разбитой штукатурки тор­­чали куски дранки и клочья пакли, а в се­ре­дине, меж двух окон, висела круг­лая ржавая жестянка с надписью: „Страховое общество ‚Феникс‘. 1872 год“».

.incut
  .incut__text
    |.incut
    br
    |   .incut__text
    br
    |«Когда телега свернула с Алексеевской улицы на
    |Привокзальную, Миша оглянулся и в последний раз увидел маленький
    |деревянный домик с зеле­ными ставнями и тремя
    |вербами за оградой палисадника. Из-под его
    |разбитой штукатурки тор­­чали куски дранки
    |и клочья пакли, а в се­ре­дине, меж двух окон, висела
    |круг­лая ржавая жестянка с надписью:
    |„Страховое общество ‚Феникс‘. 1872 год“».

article.news-addon(data-align="left")
  a.media(href="news-item.html")
    .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
      img(src="images/news_pic_16_9__01.jpg", alt="")
  .news-addon__body
    .news-addon__title
      a(href="news-item.html")
        h5.h Четыре авиарейса задержали из-за тумана в Ижевске
    p Четыре авиарейса задержано из-за погодных условий в аэропорту столицы Удмуртии. Как сообщили ИА «Удмуртия»
  .news-addon__foot
    .category
      a.category-link(href="#") Удмуртия
      |  /
      a.category-link(href="#") Политика

p В некоторых случаях известны и суммы штрафов за распространение видеозаписи о «войне против русских». Так, некто Терентьев Д.П. из города Вятские Поляны Кировской области заплатил за это три тысячи рублей, житель города Шуя Ивановской области Романенко П.В. — две с половиной тысячи рублей, неназванный молодой человек из поселка Красное-на-Волге в Костромской области — полторы тысячи рублей.

p Старая разметка изображения
figure.content-image
  img(src='images/news_pic_fullwidth_01.jpg', title='Оружейный завод на улице Плотинной', border='0', alt='Оружейный завод на улице Плотинной', width='860', height='548')
  figcaption.content-image__caption
    span.content-image__caption-text Муся спокойная, но очень пугливая кошка
      span.content-image__caption-copyright
        | Фото:
        span.content-image__caption-author &nbsp;Григорий Фомин
        |  ©
        strong
          span.content-image__caption-company &nbsp;udmurt.media
h3 Загаловок

p В некоторых случаях известны и суммы штрафов за распространение видеозаписи о «войне против русских». Так, некто Терентьев Д.П. из города Вятские Поляны Кировской области заплатил за это три тысячи рублей, житель города Шуя Ивановской области Романенко П.В. — две с половиной тысячи рублей, неназванный молодой человек из поселка Красное-на-Волге в Костромской области — полторы тысячи рублей.

.include-media
  figure.include-media__inner
    .include-media__pic(style="background-image:url(images/news_pic_fullwidth_01.jpg)", data-js="swipe-picture")
      a.include-media__link( href="images/news_pic_fullwidth_01.jpg",
                             data-js="swipe-picture-item",
                             title="Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля.")
        img( src="images/news_pic_fullwidth_01.jpg",
             data-original-src-width="614",
             data-original-src-height="410",
             alt="Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля.")
    figcaption.include-media__text Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля.
  span.include-media__description.
    Автор фото:
    <span class="include-media__author">Соломонов Илья</span>

h3 Загаловок

.fact
  h3.fact__title Факт
  p «Когда телега свернула с Алексеевской улицы на Привокзальную, Миша оглянулся и в последний раз увидел маленький деревянный домик с зеле­ными ставнями и тремя вербами за оградой палисадника. надписью: „Страховое общество ‚Феникс‘. 1872 год“».

p Однако административной ответственности мужчина избежал: выяснилось, что он работает в исправительной колонии №12, что в поселке Широковский, и имеет специальное звание сотрудника уголовно-исполнительной системы. Прокурор внес представление в адрес начальника исправительного учреждения, и работника колонии привлекли к дисциплинарной ответственности.

.include-media.include-media_embedded._photogallery
  figure.include-media__inner
    .include-media__pic(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
      a.include-media__link( href="ajax/photogallery.html",
                             data-js="photogallery",
                             title="О службе в органах внутренних дел")
        img(src="images/news_pic_fullwidth_01.jpg", alt="О службе в органах внутренних дел")
    figcaption.include-media__text
      p.include-media__h О службе в органах внутренних дел
      p Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля.
  span.include-media__description 15 фото

p Статья 2.5 КоАП регламентирует порядок несения ответственности за административные правонарушения для военнослужащих, граждан, призванных на военные сборы, и людей, имеющих специальные звания. В числе последних — сотрудники Следственного комитета, Нацгвардии, органов внутренних дел, уголовно-исполнительной системы, Государственной противопожарной службы и таможенных органов.

h3.h._muted Список площадок «Лыжни России»
h4 Ижевск
ul.list.style01
  li
    | Лыжная трасса стадиона «Нефтемаш»
    small ул. Орджоникидзе, 1Г
  li
    | Лыжная база «Снежинка»
    small ул. Воткинское шоссе, 25
  li
    | Агростроительный колледж № 23
    small ул. Автономная, 81
  li
    | Стадион «Купол»
    small ул. Кирова, 6
h4 Глазов
ul.list.style01
  li
    | Лесной массив микрорайона «Березовка»
  li
    | Лесной массив микрорайона «Березовка»
    small ул. Орджоникидзе, 1Г

.include-media.include-media_embedded._video
  figure.include-media__inner
    .include-media__pic(style="background-image:url(images/news_pic_fullwidth_02.jpg)")
      a.include-media__link( href="http://www.youtube.com/watch?v=ytMdwYoxCAw",
                             data-js="video",
                             title="О службе в органах внутренних дел")
        img(src="images/news_pic_fullwidth_02.jpg", alt="")
    figcaption.include-media__text
      p.include-media__h О службе в органах внутренних дел

.quote
  blockquote.quote__content Ижевск – очень хороший, «бодрый» город, покупатели здесь опытные и искушенные. Действительно, рынок в городе достаточно плотный, жесткий, игроков очень много, степень проникновения Интернета высокая. В то же время мы уверены в своих силах, учитывая наши результаты в схожих по экономическим и социальным параметрам городах России. У нас нет сомнений, то, что мы предлагаем, понравится жителям, и нас в Республике будет сопровождать успех.
  figure.quote__author
    .quote__pic: img(src="images/user_pic_35x35_img.jpg", alt="Поздеев Андрей")
    figcaption.quote__sign Поздеев Андрей Контентманагерович (супер-дупер контент-манагер из Хулиганска)

.include-media.include-media_embedded._infographic
  figure.include-media__inner
    .include-media__pic(style="background-image:url(images/infographic.jpg)", data-js="swipe-picture")
      a.include-media__link( href="images/infographic.jpg",
                             data-js="swipe-picture-item",
                             title="Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля")
        img( src="images/infographic.jpg",

             alt="Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля.")
    figcaption.include-media__text
      p.include-media__h Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля.

p Онлайн-конференции позволяют специалистам обмениваться опытом и оперативно решать различные вопросы.
p «Мы взяли в сюжет один из самых простых вопросов, потому что какое-либо заболевание не надо выносить на обсуждение. Но сам способ онлайн-общения с коллегами может привести к спасению животного», — пояснила руководитель зоопарка.

article.news-addon(data-align="right")
  .news-addon__body
    .news-addon__title
      a(href="#")
        h5.h Четыре авиарейса задержали из-за тумана в Ижевске
    p Четыре авиарейса задержано из-за погодных условий в аэропорту столицы Удмуртии. Как сообщили ИА «Удмуртия»
  .news-addon__foot
    .category
      a.category-link(href="#") Удмуртия
      |  /
      a.category-link(href="#") Политика

p Она напомнила прошлогоднюю ситуацию с участием новорожденных белых медвежат, которая привела всех сотрудников ижевского зоопарка в растерянность.
p «Их мать вынесла своих медвежат из помещения и замерла в дальнем углу, и по ее взгляду нам пришлось определять, что она просила помощи», — рассказала Светлана Малышева.
p Медведица была больна, и новорожденные малыши чуть не осиротели. Руководитель зоопарка считает, что, используя в этой ситуации онлайн-помощь ветеринаров из других учреждений, решить проблему можно было бы гораздо быстрее.

.content-addon
  h4.content-addon__title Что еще почитать
  .news.news_addon
    .news__item
      .news__item-inner
        .news__main
          .news__title
            a(href="news-item.html"): h4.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
          p.news__preview Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля. Соответствующий указ подписал президент России Владимир Путин.
          .news__foot
            time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
    .news__item
      .news__item-inner
        .news__main
          .news__title
            a(href="news-item.html"): h4.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
          p.news__preview Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля. Соответствующий указ подписал президент России Владимир Путин.
          .news__foot
            time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
        .news__media
          a.media.media_image(href="news-item.html")
            .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
              img(src="images/news_pic_16_9__01.jpg", alt="")
.content-addon
  .poll
    .poll__inner
      .poll__title Откуда вы узнали о нашем сайте?
      form(action="#kek")
        ul.poll-list
          li.poll-list__item
            label.radio
              input.radio__control(type="radio", name="poll-answer")
              span.radio__label TV
          li.poll-list__item
            label.radio
              input.radio__control(type="radio", name="poll-answer")
              span.radio__label Радио
          li.poll-list__item
            label.radio
              input.radio__control(type="radio", name="poll-answer")
              span.radio__label Газеты
          li.poll-list__item
            label.radio
              input.radio__control(type="radio", name="poll-answer")
              span.radio__label Интернет
          li.poll-list__item
            label.radio
              input.radio__control(type="radio", name="poll-answer")
              span.radio__label Другое
          li.poll-list__item
            button.button Проголосовать
.content-addon
  .poll
    .poll__inner
      .poll__title Откуда вы узнали о нашем сайте?
      ul.poll-list.poll-list_result
          li.poll-list__item
            .poll-result
              .poll-result__label TV
              .poll-result__progress(data-counter="1893"): .poll-result__progressbar(style="width:70%")
              .poll-result__percentage 70%
          li.poll-list__item
            .poll-result
              .poll-result__label Радио
              .poll-result__progress(data-counter="300"): .poll-result__progressbar(style="width:33%")
              .poll-result__percentage 33%
          li.poll-list__item
            .poll-result
              .poll-result__label Газеты
              .poll-result__progress(data-counter="189"): .poll-result__progressbar(style="width:12%")
              .poll-result__percentage 12%
          li.poll-list__item
            .poll-result
              .poll-result__label Интернет
              .poll-result__progress(data-counter="50"): .poll-result__progressbar(style="width:5%")
              .poll-result__percentage 5%
          li.poll-list__item
            .poll-result
              .poll-result__label Другое
              .poll-result__progress(data-counter="3"): .poll-result__progressbar(style="width:.3%")
              .poll-result__percentage 0.3%
          li.poll-list__item
            .poll-result.poll-result_total.
              Проголосовало <strong>6</strong> человек
.content-addon
  .tags
    span.tags__title Теги:
    .tags__list
      a.tag(href="#") Система
      |, 
      a.tag(href="#") Наказание
      |, 
      a.tag(href="#") Полиция
      |, 
      a.tag(href="#") Тюрьма
      |, 
      a.tag(href="#") ФСИН
.content-addon
  ul.action-list
    li.action-list__item
      a.action-link(href="ajax/news-popup.html", data-js="popup")
        i.icon.um-add_news
        span Предложить новость
    li.action-list__item
      a.action-link(href="#")
        i.icon.um-vk
        span Мы в Вконтакте
    li.action-list__item
      a.action-link(href="ajax/comments-popup.html", data-js="comments")
        i.icon.um-comment
        span Комментарии (10)
include partners
.content-addon(data-sticky-limit)
  h4.content-addon__title Материалы по теме
  .cards-wrapper
    .card-item.card-item_no_pic
      .card-item__inner
        .card-item__body
          .card-item__title
            a.card-item__title-link(href="news-item.html")
              h5.h Минприроды Удмуртии: дальнейшего повышения уровня сброса воды с Ижевского водохранилища не ожидается.
          a.card-item__body-link(href="news-item.html")
            .card-item__pic.card-item__pic_no_pic
          figure.card.card_user
            .card__pic: img(src="images/user_pic_35x35_img.jpg", alt="Поздеев Андрей")
            figcaption.card__title
              | Поздеев Андрей
              small Журналист ИА «Удмуртия»
          ul.tools.card-item__tools
            li.tool
              span.um-eye_fill
              span.tool__text 123
            li.tool
              span.um-comment_fill
              span.tool__text 99
          .card-item__text
            p.card-item__description.
              Четыре авиарейса задержано из-за погодных условий в аэропорту столицы Удмуртии.
        .card-item__footer
          time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
          ul.tools
            li.tool
              span.um-eye_fill
              span.tool__text 123
            li.tool
              span.um-comment_fill
              span.tool__text 99
          .category
            a.category-link(href="#") Удмуртия
            |  /
            a.category-link(href="#") Политика
    .card-item
      .card-item__inner
        .card-item__body
          .card-item__title
            a.card-item__title-link(href="news-item.html")
              h5.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
          a.card-item__body-link(href="news-item.html")
            .card-item__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
              img(src="images/news_pic_16_9__01.jpg", alt="")
          figure.card.card_user
            .card__pic: img(src="images/user_pic_35x35_img.jpg", alt="Поздеев Андрей")
            figcaption.card__title
              | Поздеев Андрей
              small Журналист ИА «Удмуртия»
          ul.tools.card-item__tools
            li.tool
              span.um-eye_fill
              span.tool__text 123
            li.tool
              span.um-comment_fill
              span.tool__text 99
          .card-item__text
            p.card-item__description.
              Четыре авиарейса задержано из-за погодных условий в аэропорту столицы Удмуртии.
              Как сообщили ИА «Удмуртия»: "Текста в описании много не бывает !!!"
        .card-item__footer
          time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
          ul.tools
            li.tool
              span.um-eye_fill
              span.tool__text 123
            li.tool
              span.um-comment_fill
              span.tool__text 99
          .category
            a.category-link(href="#") Удмуртия
            |  /
            a.category-link(href="#") Политика
  .news-list.news-list_addon
    - var n = 6;
    while n--
      .news__item.news__item_half.news__item_size_sm
        .news__item-inner
          .news__main
            .news__head
              .news__title
                a(href="news-item.html")
                  h5.h ЕСПЧ: применение пожизненного заключения в России нельзя считать дискриминационным
            //- a.news__more(href="news-item.html") Читать далее...
            .news__foot
              time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
          .news__media
            a.media.media_image.media_ratio_1x1(href="news-item.html")
              .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
                img(src="images/news_pic_16_9__01.jpg", alt="")
