.content-addon.partners-content
  h4.content-addon__title Наши партнеры
  .partners-wrapper
    .partners-item.partners-item__block
      #M353026ScriptRootC657371.partners-lentainform
        #M353026PreloadC657371
          script(type="text/javascript").
            (function(){
              var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
              var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M353026ScriptRootC657371")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
              catch(e){var iw=d;var c=d[gi]("M353026ScriptRootC657371");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=657371;c[ac](dv);
              var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.lentainform.com/u/d/udmurt.media.657371.js?t="+D.getYear()+D.getMonth()+D.getUTCDate()+D.getUTCHours();c[ac](s);})();
      img(src="images/logo-lenta.svg", alt="", width="100px").partners-item_logo
    .partners-item.partners-item__block
      #unit_91378.partners-smi2
        script(type="text/javascript").
          (function() {
            var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
            sc.src = '//smi2.ru/data/js/91378.js'; sc.charset = 'utf-8';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
          }());
      img(src="images/logo-smi2.svg", alt="", width="70px").partners-item_logo
    .partners-item.partners-item__block
      .partners-mediametrics
        script(src='//mediametrics.ru/partner/inject/injectv2.js' type='text/javascript' id='MediaMetricsInject' data-adaptive='true' data-img='true' data-imgsize='70' width='240' height='160' data-type='text-over-image' data-bgcolor='FFFFFF' data-bordercolor='000000' data-linkscolor='232323' data-transparent='' data-rows='1' data-inline='' data-fontfamily='roboto' data-border='' data-borderwidth='0' data-place='left' data-fontsize='14' data-lineheight=21 data-visiblerows=3 data-fontweight=bold data-fontalign=left data-textposition="bottom" data-fontfamilycurrent="Roboto" data-period='online' data-alignment='vertical' data-country='ru' data-site='mmet/udmurt_media').partners-item_logo
      img(src="images/logo-mediametrics.png", alt="", width="90px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-2
      #M353026ScriptRootC658252.partners-lentainform
        #M353026PreloadC658252
          script(type="text/javascript").
            (function(){
              var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
              var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M353026ScriptRootC658252")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
              catch(e){var iw=d;var c=d[gi]("M353026ScriptRootC658252");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=658252;c[ac](dv);
              var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.lentainform.com/u/d/udmurt.media.658252.js?t="+D.getYear()+D.getMonth()+D.getUTCDate()+D.getUTCHours();c[ac](s);})();
      img(src="images/logo-lenta.svg", alt="", width="100px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-3
      #M353026ScriptRootC658254.partners-lentainform
        #M353026PreloadC658254
          script(type="text/javascript").
            (function(){
              var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
              var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M353026ScriptRootC658254")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
              catch(e){var iw=d;var c=d[gi]("M353026ScriptRootC658254");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=658254;c[ac](dv);
              var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.lentainform.com/u/d/udmurt.media.658254.js?t="+D.getYear()+D.getMonth()+D.getUTCDate()+D.getUTCHours();c[ac](s);})();
      img(src="images/logo-lenta.svg", alt="", width="100px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-4
      #M353026ScriptRootC658259.partners-lentainform
        #M353026PreloadC658259
          script(type="text/javascript").
            (function(){
              var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
              var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M353026ScriptRootC658259")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
              catch(e){var iw=d;var c=d[gi]("M353026ScriptRootC658259");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=658259;c[ac](dv);
              var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.lentainform.com/u/d/udmurt.media.658259.js?t="+D.getYear()+D.getMonth()+D.getUTCDate()+D.getUTCHours();c[ac](s);})();
      img(src="images/logo-lenta.svg", alt="", width="100px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-5
      #M353026ScriptRootC658267.partners-lentainform
        #M353026PreloadC658267
          script(type="text/javascript").
            (function(){
              var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
              var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M353026ScriptRootC658267")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
              catch(e){var iw=d;var c=d[gi]("M353026ScriptRootC658267");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=658267;c[ac](dv);
              var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.lentainform.com/u/d/udmurt.media.658267.js?t="+D.getYear()+D.getMonth()+D.getUTCDate()+D.getUTCHours();c[ac](s);})();
      img(src="images/logo-lenta.svg", alt="", width="100px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-3.partners-item__row-2
      #M353026ScriptRootC658273.partners-lentainform
        #M353026PreloadC658273
          script(type="text/javascript").
            (function(){
              var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
              var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M353026ScriptRootC658273")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
              catch(e){var iw=d;var c=d[gi]("M353026ScriptRootC658273");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=658273;c[ac](dv);
              var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.lentainform.com/u/d/udmurt.media.658273.js?t="+D.getYear()+D.getMonth()+D.getUTCDate()+D.getUTCHours();c[ac](s);})();
      img(src="images/logo-lenta.svg", alt="", width="100px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-2
      #unit_91436.partners-smi2
        script(type="text/javascript").
          (function() {
            var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
            sc.src = '//smi2.ru/data/js/91436.js'; sc.charset = 'utf-8';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
          }());
      img(src="images/logo-smi2.svg", alt="", width="70px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-3
      #unit_91438.partners-smi2
        script(type="text/javascript").
          (function() {
            var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
            sc.src = '//smi2.ru/data/js/91438.js'; sc.charset = 'utf-8';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
          }());
      img(src="images/logo-smi2.svg", alt="", width="70px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-4
      #unit_91439.partners-smi2
        script(type="text/javascript").
          (function() {
            var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
            sc.src = '//smi2.ru/data/js/91439.js'; sc.charset = 'utf-8';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
          }());
      img(src="images/logo-smi2.svg", alt="", width="70px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-5
      #unit_91440.partners-smi2
        script(type="text/javascript").
          (function() {
            var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
            sc.src = '//smi2.ru/data/js/91440.js'; sc.charset = 'utf-8';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
          }());
      img(src="images/logo-smi2.svg", alt="", width="70px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-3.partners-item__row-2
      #unit_91444.partners-smi2
        script(type="text/javascript").
          (function() {
            var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
            sc.src = '//smi2.ru/data/js/91444.js'; sc.charset = 'utf-8';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
          }());
      img(src="images/logo-smi2.svg", alt="", width="70px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-2
      .partners-mediametrics
        script(src='//mediametrics.ru/partner/inject/injectv2.js' type='text/javascript' id='MediaMetricsInject' data-adaptive='true' data-img='true' data-imgsize='200' width='240' height='160' data-type='text-over-image' data-bgcolor='FFFFFF' data-bordercolor='000000' data-linkscolor='232323' data-transparent='' data-rows='2' data-inline='' data-fontfamily='roboto' data-border='' data-borderwidth='0' data-place='left' data-fontsize='14' data-lineheight=21 data-visiblerows=3 data-fontweight=bold data-fontalign=left data-textposition="bottom" data-fontfamilycurrent="Roboto" data-period='online' data-alignment='vertical' data-country='ru' data-site='mmet/udmurt_media').partners-item_logo
      img(src="images/logo-mediametrics.png", alt="", width="90px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-3
      .partners-mediametrics
        script(src='//mediametrics.ru/partner/inject/injectv2.js' type='text/javascript' id='MediaMetricsInject' data-adaptive='true' data-img='true' data-imgsize='200' width='240' height='160' data-type='text-over-image' data-bgcolor='FFFFFF' data-bordercolor='000000' data-linkscolor='232323' data-transparent='' data-rows='3' data-inline='' data-fontfamily='roboto' data-border='' data-borderwidth='0' data-place='left' data-fontsize='14' data-lineheight=21 data-visiblerows=3 data-fontweight=bold data-fontalign=left data-textposition="bottom" data-fontfamilycurrent="Roboto" data-period='online' data-alignment='vertical' data-country='ru' data-site='mmet/udmurt_media').partners-item_logo
      img(src="images/logo-mediametrics.png", alt="", width="90px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-4
      .partners-mediametrics
        script(src='//mediametrics.ru/partner/inject/injectv2.js' type='text/javascript' id='MediaMetricsInject' data-adaptive='true' data-img='true' data-imgsize='200' width='240' height='160' data-type='text-over-image' data-bgcolor='FFFFFF' data-bordercolor='000000' data-linkscolor='232323' data-transparent='' data-rows='4' data-inline='' data-fontfamily='roboto' data-border='' data-borderwidth='0' data-place='left' data-fontsize='14' data-lineheight=21 data-visiblerows=3 data-fontweight=bold data-fontalign=left data-textposition="bottom" data-fontfamilycurrent="Roboto" data-period='online' data-alignment='vertical' data-country='ru' data-site='mmet/udmurt_media').partners-item_logo
      img(src="images/logo-mediametrics.png", alt="", width="90px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-5
      .partners-mediametrics
        script(src='//mediametrics.ru/partner/inject/injectv2.js' type='text/javascript' id='MediaMetricsInject' data-adaptive='true' data-img='true' data-imgsize='200' width='240' height='160' data-type='text-over-image' data-bgcolor='FFFFFF' data-bordercolor='000000' data-linkscolor='232323' data-transparent='' data-rows='5' data-inline='' data-fontfamily='roboto' data-border='' data-borderwidth='0' data-place='left' data-fontsize='14' data-lineheight=21 data-visiblerows=3 data-fontweight=bold data-fontalign=left data-textposition="bottom" data-fontfamilycurrent="Roboto" data-period='online' data-alignment='vertical' data-country='ru' data-site='mmet/udmurt_media').partners-item_logo
      img(src="images/logo-mediametrics.png", alt="", width="90px").partners-item_logo
  .partners-wrapper
    .partners-item.partners-item__block.partners-item__col-3.partners-item__row-2
      .partners-mediametrics
        script(src='//mediametrics.ru/partner/inject/injectv2.js' type='text/javascript' id='MediaMetricsInject' data-adaptive='true' data-img='true' data-imgsize='200' width='240' height='160' data-type='text-over-image' data-bgcolor='FFFFFF' data-bordercolor='000000' data-linkscolor='232323' data-transparent='' data-rows='6' data-inline='' data-fontfamily='roboto' data-border='' data-borderwidth='0' data-place='left' data-fontsize='14' data-lineheight=21 data-visiblerows=3 data-fontweight=bold data-fontalign=left data-textposition="bottom" data-fontfamilycurrent="Roboto" data-period='online' data-alignment='vertical' data-country='ru' data-site='mmet/udmurt_media').partners-item_logo
      img(src="images/logo-mediametrics.png", alt="", width="90px").partners-item_logo
.content-addon.partners-content
  h4.content-addon__title Наши партнеры
  .partners-wrapper
    .partners-item.partners-item__line.partners-item__row.partners-item__row-1
      #M353026ScriptRootC658362.partners-lentainform
        #M353026PreloadC658362
          script(type="text/javascript").
            (function(){
              var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
              var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M353026ScriptRootC658362")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
              catch(e){var iw=d;var c=d[gi]("M353026ScriptRootC658362");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=658362;c[ac](dv);
              var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.lentainform.com/u/d/udmurt.media.658362.js?t="+D.getYear()+D.getMonth()+D.getUTCDate()+D.getUTCHours();c[ac](s);})();
  .partners-wrapper
    .partners-item.partners-item__line.partners-item__row.partners-item__row-2
      #M353026ScriptRootC658565.partners-lentainform
        #M353026PreloadC658565
          script(type="text/javascript").
            (function(){
              var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
              var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M353026ScriptRootC658565")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
              catch(e){var iw=d;var c=d[gi]("M353026ScriptRootC658565");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=658565;c[ac](dv);
              var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.lentainform.com/u/d/udmurt.media.658565.js?t="+D.getYear()+D.getMonth()+D.getUTCDate()+D.getUTCHours();c[ac](s);})();
  .partners-wrapper
    .partners-item.partners-item__line.partners-item__row.partners-item__row-3
      #M353026ScriptRootC658566.partners-lentainform
        #M353026PreloadC658566
          script(type="text/javascript").
            (function(){
              var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
              var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M353026ScriptRootC658566")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
              catch(e){var iw=d;var c=d[gi]("M353026ScriptRootC658566");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=658566;c[ac](dv);
              var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.lentainform.com/u/d/udmurt.media.658566.js?t="+D.getYear()+D.getMonth()+D.getUTCDate()+D.getUTCHours();c[ac](s);})();
  .partners-wrapper
    .partners-item.partners-item__line.partners-item__row.partners-item__row-1
      #unit_91468.partners-smi2
        script(type="text/javascript").
          (function() {
            var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
            sc.src = '//smi2.ru/data/js/91468.js'; sc.charset = 'utf-8';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
          }());
  .partners-wrapper
    .partners-item.partners-item__line.partners-item__row.partners-item__row-2
      #unit_91470.partners-smi2
        script(type="text/javascript").
          (function() {
            var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
            sc.src = '//smi2.ru/data/js/91470.js'; sc.charset = 'utf-8';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
          }());
  .partners-wrapper
    .partners-item.partners-item__line.partners-item__row.partners-item__row-3
      #unit_91471.partners-smi2
        script(type="text/javascript").
          (function() {
            var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
            sc.src = '//smi2.ru/data/js/91471.js'; sc.charset = 'utf-8';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sc, s);
          }());
  .partners-wrapper
    .partners-item.partners-item__line.partners-item__row.partners-item__row-1
      .partners-mediametrics
        script(src='//mediametrics.ru/partner/inject/injectv2.js' type='text/javascript' id='MediaMetricsInject' data-adaptive='true' data-img='true' data-imgsize='90' data-type='img' data-bgcolor='FFFFFF' data-bordercolor='000000' data-linkscolor='333238' data-transparent='' data-rows='2' data-inline='' data-fontfamily='roboto' data-border='' data-borderwidth='0' data-place='left' data-fontsize='14' data-lineheight=21 data-visiblerows=3 data-fontweight=bold data-fontalign=left data-textposition="side" data-fontfamilycurrent="Roboto" data-period='online' data-alignment='vertical' data-country='ru' data-site='mmet/udmurt_media')
  .partners-wrapper
    .partners-item.partners-item__line.partners-item__row.partners-item__row-2
      .partners-mediametrics
        script(src='//mediametrics.ru/partner/inject/injectv2.js' type='text/javascript' id='MediaMetricsInject' data-adaptive='true' data-img='true' data-imgsize='90' data-type='img' data-bgcolor='FFFFFF' data-bordercolor='000000' data-linkscolor='333238' data-transparent='' data-rows='4' data-inline='' data-fontfamily='roboto' data-border='' data-borderwidth='0' data-place='left' data-fontsize='14' data-lineheight=21 data-visiblerows=3 data-fontweight=bold data-fontalign=left data-textposition="side" data-fontfamilycurrent="Roboto" data-period='online' data-alignment='vertical' data-country='ru' data-site='mmet/udmurt_media')
  .partners-wrapper
    .partners-item.partners-item__line.partners-item__row.partners-item__row-3
      .partners-mediametrics
        script(src='//mediametrics.ru/partner/inject/injectv2.js' type='text/javascript' id='MediaMetricsInject' data-adaptive='true' data-img='true' data-imgsize='90' data-type='img' data-bgcolor='FFFFFF' data-bordercolor='000000' data-linkscolor='333238' data-transparent='' data-rows='6' data-inline='' data-fontfamily='roboto' data-border='' data-borderwidth='0' data-place='left' data-fontsize='14' data-lineheight=21 data-visiblerows=3 data-fontweight=bold data-fontalign=left data-textposition="side" data-fontfamilycurrent="Roboto" data-period='online' data-alignment='vertical' data-country='ru' data-site='mmet/udmurt_media')
