.pswp(tabindex="-1", role="dialog", aria-hidden="true")
  .pswp__bg
    .pswp__scroll-wrap
      .pswp__container
        - var n = 3;
        while n--
          .pswp__item
        //- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
        .pswp__ui.pswp__ui--hidden
          .pswp__top-bar
            .pswp__counter
            button.pswp__button.pswp__button--close(title="Close (Esc)")
            button.pswp__button.pswp__button--share(title="Share")
            button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
            button.pswp__button.pswp__button--zoom(title="Zoom in/out")
            //-Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
            .pswp__preloader: .pswp__preloader__icn: .pswp__preloader__cut: .pswp__preloader__donut
          .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
            .pswp__share-tooltip
          button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
          button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
          .pswp__caption: .pswp__caption__center