.popup.popup_search_news
  section.search-news
    .search-news__inner-fixed
      button.button.button_transparent.button_close_big(data-js="close-search-archive") Закрыть поиск по новостям
      .search-news__logo
        .content__backward
          a.page-backward.button.button_transparent(href="",data-js="close-search-archive") Закрыть поиск по новостям
        a.logo(hreqf="index.html")
          svg.logo__img( xmlns="http://www.w3.org/2000/svg",
          xmlns:xlink="http://www.w3.org/1999/xlink",
          version="1.1", id="logo_svg",
          x="0px" y="0px",
          width="765.667px", height="187.822px"
          viewBox="-334.167 0 765.667 187.822",
          enable-background="new -334.167 0 765.667 187.822",
          xml:space="preserve")
            polygon( id="red"
            points="0 24.63 30 37.642 60 24.63 46 24.63 46 0 30 14.351 14.122 0 14.122 24.666")
            g(id="black")
              path(d="M-298.678 143.115l-35.242-67.938h1.34 30.954l17.554 37.788 14.472-37.788h1.34 28.542l-42.21 93.8h-1.34 -28.14L-298.678 143.115zM-153.422 75.177v71.288h11.256v41.271h-1.34 -22.512v-18.76h-52.796v18.76h-1.34 -22.512v-41.271c0.446 0 0.871-0.021 1.273-0.067 0.402-0.044 0.825-0.111 1.273-0.201 3.752-0.714 7.257-2.747 10.519-6.097 3.26-3.35 5.113-8.375 5.561-15.075 0.088-1.072 0.134-2.165 0.134-3.283 0-1.115 0-2.255 0-3.417 0-0.355 0-0.714 0-1.071 0-0.356 0-0.714 0-1.072V75.177h1.34H-153.422zM-198.446 119.933c0 5.896-0.559 11.101-1.675 15.611 -1.118 4.512-3.865 8.152-8.241 10.921h27.336V97.689h-17.42V119.933zM-116.976 75.177h1.34 26.264l15.812 54.939 15.812-54.939h1.34 26.264l13.668 93.8h-1.34 -25.192l-6.566-51.188 -14.874 51.188h-1.34 -16.884l-14.874-51.188 -6.566 51.188h-1.34 -25.192L-116.976 75.177zM18.631 143.115l-35.242-67.938h1.34 30.954l17.554 37.788 14.473-37.788h1.34 28.542l-42.21 93.8h-1.34H5.901L18.631 143.115zM87.774 75.177h1.34 39.529c10.005 0 17.487 2.144 22.445 6.432s8.285 9.024 9.983 14.204c0.624 1.876 1.071 3.731 1.34 5.562 0.268 1.832 0.402 3.551 0.402 5.158 0 1.608-0.135 3.329-0.402 5.159 -0.269 1.832-0.716 3.686-1.34 5.562 -1.608 5.182-4.914 9.938-9.916 14.271 -5.004 4.334-12.508 6.499-22.513 6.499h-13.266v30.954h-1.34H87.774V75.177zM115.378 117.387h6.164c3.84 0 6.654-0.624 8.442-1.876 1.785-1.25 2.991-2.59 3.617-4.021 0.356-0.981 0.58-1.92 0.671-2.813 0.088-0.893 0.134-1.608 0.134-2.145s-0.023-1.071-0.067-1.607c-0.046-0.536-0.113-1.072-0.201-1.608 -0.447-1.876-1.563-3.595-3.35-5.159 -1.788-1.562-4.87-2.345-9.246-2.345h-6.164V117.387zM193.499 97.689h-20.636V75.177h1.34 67.536v22.512h-20.637v71.288h-1.34 -26.264V97.689zM281.135 75.177v54.27l34.974-54.27h1.34 25.729v93.8h-1.341 -25.325v-54.136l-34.438 54.136h-1.34 -26.264v-93.8h1.34H281.135zM379.49 133.735c-0.895-0.178-1.788-0.379-2.68-0.603 -0.895-0.223-1.832-0.558-2.814-1.005 -4.02-1.608-7.705-4.443-11.055-8.51 -3.351-4.063-5.025-9.803-5.025-17.219 0-10.72 3.216-18.603 9.648-23.65 6.432-5.047 14.472-7.571 24.12-7.571h1.34 38.458v93.8h-1.341 -26.264v-31.892h-1.072l-19.161 31.892h-1.341 -28.14L379.49 133.735zM403.878 95.813h-5.896c-0.626 0-1.521 0.046-2.681 0.134 -1.162 0.09-2.368 0.314-3.617 0.67 -1.788 0.626-3.418 1.722-4.892 3.283 -1.474 1.564-2.211 3.953-2.211 7.169 0 3.842 0.915 6.522 2.747 8.04 1.83 1.521 3.863 2.502 6.097 2.948 0.805 0.09 1.585 0.157 2.346 0.201 0.758 0.046 1.494 0.066 2.211 0.066h5.896V95.813z")
              polygon(points="0 24.63 30 37.642 60 24.63 30 55.978")
          span.logo__text Информационное агентство
      form.form.form_serch.search-news__form(id="search_form", action="#someAction")
        .search-news__query
          .form__row
            .form-control-holder
              label.form-label.form-label_search.visually-hidden(for="search_tag") Поиск по сайту
              input.form-control.form-control_search(type="text",
              name="message-credentals",
              placeholder="Поиск по сайту",
              id="search_tag")
              button.button.button_transparent.button_search_close.um-close(data-js="clear-input", type="button") Очистить поиск
          .form__row
            button.button.button_transparent_red.button_search(type="submit") Найти

        //-END .search-news__query

        .search-news__date-picker-calendar#calendar-popap
          section.calendar
            a.calendar__toggle(data-js="dropdown") Архив новостей

            .calendar__inner
              .calendar__date-range
                .calendar__filter-date-inner
                  input.form-control.calendar__input.date_from#input_date_from(placeholder="", name="startDate")
                .calendar__filter-date-inner
                  input.form-control.calendar__input.date_to#input_date_to(placeholder="", name="endDate")
                  //-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\\/\\-](0?[1-9]|1[012])[\\/\\-]\\d{4}$/"

              .calendar__date-picker#date_range
              //-.calendar__date-picker#datepicker
                #dateText
                //-p Календарь

              //-END .calendar__date-picker

              .calendar__nav-buttons
                button.button.button_middle#news_sort(type="submit", name="filter") Применить
                button.button.button_middle.button_transparent_gray#clear_search_filter(type="button") Сбросить

            //-END .calendar__inner

        //-END.search-news__date-picker-calendar
  .content.content_search-news
    .content__main
      .search-serp
        .search-serp__result-value Найдено 256 результатов
        .news.news_list.news_list_search
          - var n = 4;
          while n--
            .news__item
              .news__item-inner
                .news__main
                  .news__head
                    .news__title
                      a(href="news-item.html"): h4.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
                    span.news__badge Новости
                  .news__preview
                    | Александр Бречалов назначен временно исполняющим
                    | обязанности главы Удмуртии 4 апреля. Соответствующий
                    | указ подписал президент России Владимир Путин.
                  .news__foot
                    time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                    ul.tools.news__tools
                      li.tool
                        span.um-eye_fill
                        span.tool__text 123
                      li.tool
                        span.um-comment_fill
                        span.tool__text 99
                .news__media
                  a.media.media_image(href="news-item.html")
                    .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
                      img(src="images/news_pic_16_9__01.jpg", alt="")
            .news__item
              .news__item-inner
                .news__main
                  .news__head
                    .news__title
                      a(href="news-item-longread.html"): h4.h 5 октября Владимир Путин встретится с лауреатами конкурса «Учитель года России – 2017» и посетит праздничный концерт по случаю Дня учителя
                    span.news__badge Лонгрид
                  .news__foot
                    time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                    ul.tools.news__tools
                      li.tool
                        span.um-eye_fill
                        span.tool__text 123
                      li.tool
                        span.um-comment_fill
                        span.tool__text 99
                .news__media
                  a.media.media_image(href="news-item-longread.html")
                    .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
                      img(src="images/news_pic_16_9__02.jpg", alt="")
            .news__item
              .news__item-inner
                .news__main
                  .news__head
                    .news__title
                      a(href="news-item.html"): h4.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
                    span.news__badge Новости
                  .news__preview
                    | Госкомпания «Роснефть» выпустила пресс-релиз,
                    | в котором объяснила, почему 19,5 процента акций компании
                    | были проданы иностранным инвесторам дешевле, чем
                    | того требовало правительство. Но через несколько
                    | часов пояснения пропали с сайта компании.
                  .news__foot
                    time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                    ul.tools.news__tools
                      li.tool
                        span.um-eye_fill
                        span.tool__text 123
                      li.tool
                        span.um-comment_fill
                        span.tool__text 99
                .news__media
                  a.media.media_image(href="news-item.html")
                    .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
                      img(src="images/news_pic_16_9__01.jpg", alt="")
      //-END .search-news__serp
    //-END.search-news

    aside.content__side
      .side-content
        .side-content__item.side-content__item_info
          a(href="#"): img(src="images/sidebar_01.jpg", alt="")
          .side-content__description Реклама
  //-END.popup.puput_search-news
