
@keyframes up-down {
  0% {
    background-position: 0 -560px;
  }

  100% {
    background-position: 0 -280px;
  }
}

.page-404 {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  min-height: 300px;
  padding-top: 0;
  margin-bottom: 65px;
  text-align: center;

  @include media('>tablet') {
    min-height: 375px;
    padding-top: 150px;
    margin-bottom: 130px;
  }

  &__bg-img {
    flex: 0 1 630px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    height: 235px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__inner-cat-cap {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -27px;
    flex: 0 1 250px;
    height: 360px;
  }

  &__cat-cap {
    position: relative;
    z-index: 10;
    animation-name: cat-cup;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);

    @include media('>tablet') {
      margin-left: 14px
    }
  }

  &__text {
    flex: 1 1 100%;
    padding-bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;

    @include media('>tablet') {
      padding-bottom: 133px;
      font-size: 28px;
    }
  }

  &__confetti {
    position: absolute;
    width: 225px;
    height: 280px;
    top: 35px;
    left: 15px;
    background-image: url(../images/404_confeti.svg);
    background-repeat: repeat-y;
    background-size: 100% 560px;
    animation-name: up-down;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0, 1, 1) ;
  }
}
