.content__backward {
  margin: 0 -15px;
  padding: 1.4rem 0 1.3rem;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 1px #f5f5f5;

  @media(min-width: 768px) {
    display: none;
  }

  @at-root .page-backward {
    padding-left: 1.5rem;
    font-family: $lora-font;
    font-size: 1.6rem;
    line-height: 3rem;
    color: $black;
    font-weight: bold;

    &:hover {
      color: $red;

      &::before {
        color: $red;
      }
    }

    &::before {
      content: '\e91a';
      margin-right: 1.7rem;
      display: inline-block;
      vertical-align: middle;
      font-family: "um-icons";
      font-size: 1.6rem;
      line-height: 1.6rem;
      width: 17px;
      height: 17px;
      color: $black;
    }
  }

  @include media('>tablet') {
    padding-left: 3.3rem;
  }
}

.author {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2.3rem;
  padding-top: 2rem;
  font-family: $roboto-font;
  line-height: inherit;

  @include media('>tablet') {
    margin-bottom: 2.9rem;
    padding-top: 0;
    padding-right: 1.5rem;
  }

  &__avatar {
    position: relative;
    width: 130px;
    height: 130px;
    flex: 0 0 130px;
    margin-right: 2.5rem;
    margin-bottom: 1.5rem;

    @include media('>tablet') {
      width: 280px;
      height: 280px;
      flex: 0 0 280px;
    }
  }

  &__upload-avatar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:hover .upload-photo {
      @media(min-width: 768px) {
        opacity: 1;
      }
    }
  }

  @at-root .dropdown_upload_avatar {

    .dropdown__trigger {
      border: 1px solid transparent;
      cursor: default;

      @include media('>tablet') {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: .2rem;
        opacity: 1;
        overflow: hidden;
        z-index: 10;
        background-color: #ededed;
        transition: opacity .3s;

        img {
          opacity: 1;
          transition: opacity .3s;
        }

        &:hover {
          opacity: 1;
          border: 1px solid #d5d5d5;
          img {
            opacity: 1;
          }
        }
      }

      &.active:hover {
        cursor: pointer;
        &::before, &::after {
          display: block;
        }
      }

      &._droped::before {
        display: block;
      }

      &._droped::after {
        opacity: 1;
      }

      &:after {
        content: '\e90d';
        margin: 0;
        padding: 0;
        border: 0;
        position: absolute;
        display: none;
        width: 43px;
        height: 43px;
        top: 47.6%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "um-icons";
        font-size: 4.5rem;
        line-height: 4.5rem;
        color: $black;
        opacity: 0;
        transition: opacity .3s;

        @include media('>tablet') {
          width: 43px;
          height: 50px;
          font-size: 4.7rem;
          line-height: 4.7rem;
        }

        @at-root .dropdown__trigger.active:hover:after {
          opacity: 1;
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .8;
        display: none;
        background-color: #ededed;
        transition: opacity .3s;
      }
    }

    .dropdown__list {
      position: absolute;
      display: block;
      width: calc(100vw - 30px);
      margin: 0;
      padding: 1.5rem 0 0;
      top: 80px;
      left: 0;
      right: 0;
      list-style-type: none;
      font-family: $roboto-font;
      background-color: $white;
      overflow-y: visible;
      opacity: 0;
      @include media('<tablet') {
        width: calc(100vw - 30px - 1.5rem);
        box-shadow: 0px 20px 60px -7px rgba(0,0,0,0.5);
      }

      &._droped {
        display: block;
        opacity: 1;

        @include media('>tablet') {
          display: block;
          overflow-y: visible;
          left: 50%;
          transform: translateX(-50%);
          opacity: 1;
        }
      }

      &::before {
        position: absolute;
        content: '';
        left: 64px;
        top: -3px;
        width: 15px;
        height: 15px;
        background-color: $white;
        transform: rotate(45deg) translateX(-50%);
      }

      li {
        padding: 0 0 0 2rem;
        &:last-of-type {
          border-top: 1px solid #ececec;
        }
        & + li {
          padding: 1rem 0 1rem 2rem;
        }
      }

      .upload-photo__link {
        display: block;
        text-decoration: none;
        bottom: 0;
        color: #777777;
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: normal;
        cursor: pointer;
        &:hover {
          color: $base-link-hover-color;
        }
      }

      @include media('>tablet') {
        position: absolute;
        display: block;
        margin: 0;
        padding: 1.5rem 0 0;
        width: 230px;
        top: auto;
        bottom: 1.4rem;
        left: 50%;
        transform: translateX(-50%);
        list-style-type: none;
        font-family: $roboto-font;
        background-color: $white;
        overflow-y: visible;
        opacity: 0;
        &:before {
          position: absolute;
          content: '';
          left: 50%;
          top: -3px;
          width: 15px;
          height: 15px;
          background-color: $white;
          transform: rotate(45deg) translateX(-50%);
        }

        li {
          padding: 0 0 0 2rem;
          &:last-of-type {
            border-top: 1px solid #ececec;
          }
          & + li {
            padding: 1rem 0 1rem 2rem;
          }
        }

        .upload-photo__link {
          display: block;
          text-decoration: none;
          bottom: 0;
          color: #777777;
          font-size: 1.4rem;
          line-height: 2rem;
          &:hover {
            color: $base-link-hover-color;
          }
        }
      }
    }
  }

  &__descr {
    flex: 1 1 100%;
    width: 100%;
    &.display-none {
      display: none;
    }

    @include media('>tablet') {
      flex: 0 1 calc(100% - 310px);
      margin-top: .2em;
    }
  }

  &__name {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3.4rem;

    @include media('>tablet') {
      font-size: 2.6rem;
      line-height: 3.4rem;
    }
  }

  @at-root .content__main_nomargin .author__spec {
    flex: 1 1 100%;
    margin-bottom: 0;
    margin-top: 1.1rem;
    font-size: 1.4rem;
    line-height: 3rem;
    font-family: $lora-font;

    &:first-of-type {
      margin-top: 0;
      line-height: 1.5rem;

      @include media('>tablet') {
        margin-bottom: 3rem;
      }
    }

    &:last-of-type {
      margin-top: 0;
      line-height: 2rem;
    }

    b {
      font-family: $roboto-font;
    }
  }

  &__inner-btn-edit {
    position: absolute;
    top: 70px;
    left: 156px;

    @include media('>tablet') {
      position: static;
      margin-top: 3.3rem;
      min-width: 13.5rem;
      line-height: inherit;
    }
  }

  &__edit-descr {
    display: none;
    width: 100%;
    &.display-none {
      display: none;
    }

    @include media('>tablet') {
      flex: 0 1 calc(100% - 310px);
      margin-top: .2em;
    }
  }

  @at-root .form_edit_author {
    .form-control {
      font-family: $roboto-font;

      @include media('>tablet') {
        border: 0;
        padding: 0;
        height: auto;
        font-family: $lora-font;
      }
    }

    .form__row {
      padding-bottom: 2rem;

      @include media('>tablet') {
        padding-bottom: 1.9rem;
      }
    }

    .form__row:last-of-type {
      font-size: 0;

      @include media('>tablet') {
        padding-top: 1rem;
        padding-bottom: 2.3rem;
      }

      .button {
        display: inline-block;
        vertical-align: middle;

        @include media('>tablet') {
          min-width: 105px;
        }
      }

      .button:first-of-type {
        margin-right: 2.8rem;

        @include media('>tablet') {
          margin-right: 2rem;
        }
      }
    }

    .form__row:first-of-type {
      @include media('>tablet') {
        padding-bottom: 0;
      }

      .form-control-holder {
        @include media('>tablet') {
          line-height: 1.8rem;
        }
      }

      .form-control {
        @include media('>tablet') {
          font-family: $roboto-font;
          font-size: 2.6rem;
          line-height: 3.2rem;
          font-weight: bold;
        }
      }
    }

    .form__row:nth-of-type(2) {
      @include media('>tablet') {
        padding-bottom: 3.3rem;
      }
    }

    .form__row:nth-last-child(2) label {
      @include media('>tablet') {
        display: block;
        margin-bottom: .3rem;
      }
    }

    .form__row:nth-of-type(2) .form-control-holder,
    .form__row:nth-of-type(2) .form-control {
      @include media('>tablet') {
        line-height: 1.3rem;
      }
    }

    .form-control {
      @include media('>tablet') {
        font-size: 1.4rem;
        line-height: 2.3rem;
        width: 30rem;

        &:focus {
          color: $black;
        }
      }
    }

    .form-control-holder {
      @include media('>tablet') {
        line-height: 2rem;
      }
    }

    .form-control-holder label {
      display: none;

      @include media('>tablet') {
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        font-size: 1.4rem;
        line-height: 2.3rem;
        font-weight: bold;
      }
    }
  }
}

.articles-list {

  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem $gap 2rem 0;

    @at-root .articles-list_guest_user .articles-list__header {
      padding-right: 0;
      border-bottom: 2px solid $black;
      padding-bottom: .3rem;
    }

    .button {
      @include media('>tablet') {
        padding-left: 3.6rem;
        padding-right: 3.6rem;
      }
    }
  }

  &__title {
    margin-bottom: 0;
    line-height: 3rem
  }

  &__link {
    font-family: $roboto-font;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 3rem;
  }

  &__nav {
    width: 100%;
    margin-top: 1.6rem;
  }

  &__link-nav {
    font-family: $roboto-font;
    font-size: 1.2rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: #333333;
    text-transform: uppercase;

    &:hover {
      color: $red;
    }
  }

  @at-root .tabs_my_articles {
    justify-content: flex-start;
    border-top: 1px solid #e3e3e3;

    @include media('>tablet') {
      border-bottom: 0;
      justify-content: flex-start;
      border-top: 1px solid #e3e3e3;
    }

    @include media('>desktop') {
      border-bottom: 0;
      justify-content: flex-start;
      border-top: 1px solid #e3e3e3;
    }

    &:not(.tabs_view) {
      padding: 0;
    }

    .tabs__tab {
      margin: 0;
      padding: .5em 0 0;
      font-size: 1.4rem;
      line-height: 3.1rem;
      font-family: $roboto-font;
      color: #777;
      text-transform: none;
      font-weight: normal;

      &:hover,
      &:focus,
      &._active {
        color: $black;
      }
    }

    .tabs__tab + .tabs__tab {
      margin-left: 4rem;

      @include media('>tablet') {
        margin-left: 45px;
      }

      @include media('>desktop') {
        margin-left: 45px;
      }
    }

    .tabs__tab:before {
      border-top: 0 solid transparent;
      border-bottom: none;
      bottom: auto;
      top: 0;
    }

    .tabs__tab:hover:before,
    .tabs__tab:focus:before,
    .tabs__tab._active:before {
      border-bottom: 0;
      border-top-width: 5px;
      border-top-color: $red;
    }

    .tabs__tab:focus {
      border-bottom: 0;
      border-top-width: 5px;
      border-top-color: darken($red, 1%);
      color: $red;
    }
  }

  &__sorting {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__inner-news {
    margin-top: 2.5rem;

    @include media('>tablet') {
      padding-right: $gap;
    }

    @at-root .articles-list_guest_user .articles-list__inner-news {
      @include media('>tablet') {
        margin-top: 1.2rem;
        padding-right: 0;
        //width: 750px;
      }
    }
  }

  @at-root .articles-list .news {
    .news__media {
      margin-left: -$gap;
      margin-right: -$gap;

      @media(min-width: 476px) {
        margin-left: 0;
        margin-right: 0;
      }

      @include media('>tablet') {
        margin-left: 30px;
      }
    }

    .news__item {
      padding-bottom: 1em;
      margin-bottom: 16px;
    }

    .news__head {
      padding-bottom: 0;
    }

    .news__body {
      margin-bottom: 2.2rem;
      color: #777777;
      font-size: 1.4rem;
      line-height: 2rem;
    }

    .media {
      border-radius: 0;
      @media(min-width: 476px) {
        border-radius: .2rem;
      }
    }

    .news__timestamp {
      line-height: 2rem;
    }
  }

  @at-root .articles-list_guest_user {

    .cards-wrapper {
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;

      @media(min-width: 601px) {
        margin-left: -$gap;
        margin-right: -$gap;
        justify-content: flex-start;
      }
    }

    .card-item {
      @media(min-width: 601px) {
        flex: 0 1;
        flex-basis: calc(50% - 15px);
        margin: 0 0 30px;
        //min-height: 395px;
      }
    }
  }

  @at-root .edit-links {
    &__link {
      color: $black;
      font-size: 1.3rem;
      line-height: 2rem;
      font-weight: 500;
      &:last-child {
        color: red;
        &:hover {
          color: $base-link-hover-color;
        }
      }
      &:hover {
        color: $red;
      }
      & + & {
        margin-left: 30px;
      }
    }
  }
}

.form_edit_avatar {

  .form__title {
    padding-bottom: 1rem;
  }
  .h {
    margin-bottom: 0;
    font-size: 1.8rem;
    line-height: 3.4rem;

    @include media('>tablet') {
      font-size: 2.6rem;
      line-height: 3.4rem;
    }
  }

  p {
    font-size: 1.2rem;
    line-height: 2rem;

    @include media('>tablet') {
      font-size: 1.4rem;
      line-height: 2.5rem;
    }

    & + p {
      @include media('>tablet') {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
}

.select-area {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;

  @include media('>tablet') {
    flex-flow: row wrap;
  }

  &__inner-img {
    width: 100%;
    margin-bottom: 2rem;
    background-color: #ededed;
    cursor: pointer;
    border-radius: .3rem;
    overflow: hidden;

    @include media('>tablet') {
      width: auto;
      flex: 0 1 360px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    @at-root .select-area_logo_company & {

      @include media('>tablet') {
        width: auto;
        flex: 0 1 460px;
      }
    }
  }

  &__preview-photo {
    display: none;

    @include media('>tablet') {
      flex: 0 1;
      flex-basis: calc(100% - 360px - 30px);
      display: flex;
      flex-flow: column wrap;
    }
  }

  &__thumbnail {
    background-color: #ededed;
    @include media('>tablet') {
      width: 70px;
      height: 70px;
      overflow: hidden;
      border-radius: .3rem;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    & + .select-area__thumbnail {
      margin-top: 3rem;
    }

    &_circle {
      @include media('>tablet') {
        border-radius: 50%;
        width: 46px;
        height: 46px;
      }
    }

  }

  &__control {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    @include media('>tablet') {
      width: auto;
      flex: 0 1 360px;
    }

    .button {
      min-width: 130px;

      @include media('>tablet') {
        min-width: 170px;
        min-height: 40px;
      }
    }
  }
}

.popup_avatar {
  position: relative;
  max-width: 615px;
  margin: 0 auto;
  padding: $gap;
  background-color: $white;


  @include media('>tablet') {
    padding: 2 * $gap;
  }


  .mfp-close {
    display: none;

    @include media('>tablet') {
      display: block;
    }
  }
}

.cropper-modal {
  opacity: .35;
}

.cropper-view-box {
  outline: none;
}

.cropper-line {
  background-color: #e3e3e3;

}

.cropper-dashed {
  display: none;
}

.cropper-point.point-se {
  bottom: -8px;
  right: -8px;
}

.cropper-point.point-ne {
  right: -8px;
  top: -8px;
}

.cropper-point.point-nw {
  left: -8px;
  top: -8px;
}

.cropper-point.point-sw {
  bottom: -8px;
  left: -8px;
}

.cropper-point.point-se,
.cropper-point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .35);

  @include media('>tablet') {
    width: 15px;
    height: 15px;
  }

  @include media('>desktop') {
    width: 15px;
    height: 15px;
  }

  @include media('>widescreen') {
    width: 15px;
    height: 15px;
  }

  @media (min-width: 1200px) {
    width: 15px;
    height: 15px;
  }
}

.point-e,
.point-n,
.point-w,
.point-s {
  opacity: 0;
}

.point-se,
.point-sw,
.point-ne,
.point-nw {
  opacity: 1;
}

.mfp-container {
  padding-left: 0;
  padding-right: 0;

  .button {
    min-height: 4rem;
  }
}
