.content_authors_list .content__main {
    @include media('>widescreen') {
        max-width: 860px;
    }
}

.content_authors_list .side-content__item {
    margin-bottom: 5rem;
}

.authors {
    &__header {
        flex: 1 1 100%;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 1.1rem;
        border-bottom: 1px solid $border-color;
    }
    &__sorting {
        flex: 1 1 auto;
        @include media('>desktop') {
            flex: 0 1 405px;
        }
        @include media('>widescreen') {
            flex: 0 1 405px;
        }
    }
    &__title-col {
        display: none;
        flex: 0 1 455px;
        font-family: $roboto-font;
        font-size: 1.4rem;
        line-height: 2.6rem;
        color: #777;
        @include media('>desktop') {
            display: block;
        }
    }
    &__body {
        flex: 1 1 100%;
        width: 100%;
        margin-bottom: 3rem;
        @include media('>desktop') {
            margin-bottom: 8rem;
        }
    }
    &__list {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__item {
        width: 100%;
        padding: 3rem 0;
        &:first-child {
          padding: 0 0 3rem 0;
        }
        &+& {
            border-top: 1px solid $border-color;
        }
    }
    @at-root .author-blog {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        @include media('>desktop') {
            flex-flow: row nowrap;
        }
        &__descr {
            flex: 0 1 405px;
            font-family: $roboto-font;
            margin-bottom: 1.4rem;
            padding-right: 1.5rem;
            @include media('>desktop') {
                margin-bottom: 0;
            }
        }
        @at-root .card_user_middle {
            .card__pic {
                border-radius: .2rem;
                width: 70px;
                height: 70px;
            }
            .card__title {
                vertical-align: top;
                margin-bottom: 0;
                font-size: 1.6rem;
                line-height: 2.7rem;
                font-weight: bold;
                @include media('>desktop') {
                    font-size: 1.8rem;
                }
                a {
                    color: $black;
                    &:hover {
                        color: $base-link-color;
                        ;
                    }
                }
                small {
                    font-size: 1.2rem;
                    line-height: 2.4rem;
                    color: $black;
                    font-weight: normal;
                    &+& {
                        margin-top: 0;
                    }
                    @include media('>desktop') {
                        font-size: 1.4rem;
                    }
                }
            }
        }
        &__list-titles {
            flex: 1 1 458px;
            margin: 0;
            padding: 0;
            list-style-type: none;
            font-family: $roboto-font;
            @include media('>desktop') {
                margin-top: -1.2rem;
                padding-right: 1.5rem;
            }
        }
        &__list-link {
            color: $black;
            font-size: 1.4rem;
            line-height: 2rem;
            &:hover {
                color: $base-link-color;
            }
        }
    }
}
