[class*=c-] {
    position: relative;
    min-height: 1px;
    margin-bottom: $gap*2;
    padding: 0 $gap;

    @include media('>tablet') {
        margin-bottom: 0;
    }
}

.c-row {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$gap);
    padding: 0;

    @include media('>tablet') {
        min-height: 14rem;
        margin-bottom: $gap*2;
    }
    &-plaintext {
        @include media('>tablet') {
            min-height: 18rem;
        }
    }
    &-xs {
        @include media('>tablet') {
            min-height: 180px;
        }
    }
    &-sm {
        @include media('>tablet') {
            min-height: 29rem;
        }
    }
    &-md {
        @include media('>tablet') {
            min-height: 36rem;
        }
    }
    &-lg {
        @include media('>tablet') {
            min-height: 48rem;
        }
    }
    & > [class*=c-] {
        @include media('>tablet') {
            height: 100%;
        }
    }
}

.c-1,
.c-10,
.c-11,
.c-12,
.c-2,
.c-3,
.c-4,
.c-5,
.c-6,
.c-7,
.c-8,
.c-9 {
    flex: 1 1 100%;
}

@include media('>tablet') {
    .c-1 {
        max-width: percentage(1/12);
        &-offset-left {
            margin-left: percentage(1/12);
        }
        &-offset-right {
            margin-right: percentage(1/12);
        }
    }
    .c-2 {
        max-width: percentage(2/12);
    }
    .c-3 {
        max-width: percentage(3/12);
    }
    .c-4 {
        max-width: percentage(4/12);
    }
    .c-5 {
        max-width: percentage(5/12);
    }
    .c-6 {
        max-width: percentage(6/12);
    }
    .c-7 {
        max-width: percentage(7/12);
    }
    .c-8 {
        max-width: percentage(8/12);
    }
    .c-9 {
        max-width: percentage(9/12);
    }
    .c-10 {
        max-width: percentage(10/12);
    }
    .c-11 {
        max-width: percentage(11/12);
    }
    .c-12 {
        max-width: 100%;
    }
    .c-1,
    .c-2,
    .c-3,
    .c-4,
    .c-5,
    .c-6,
    .c-7,
    .c-8,
    .c-9,
    .c-10,
    .c-11,
    .c-12 {
        flex: 1 1;
    }
}

@import "c-grid-news";
