.news-block {
  border-radius: .2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  position: relative;
  padding-top: 4rem;

  @include media('>tablet') {
    height: 100%;
    padding: 0 1.5rem 0;
  }
  &--blank {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    background: rgba(#000, .03);
    .twitter_block-js {
      width: 100%;
      height: 30rem;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;

      @include media('>tablet') {
        height: 100%;
      }
    }
    #vk_widget,
    .twitter-timeline {
      width: 100%;
      height: 30rem;

      @include media('>tablet') {
        height: 100%;
      }
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;

      @include media('>tablet') {
        width: 100%;
      }
    }
  }
  &--splitted {
    @include media('>tablet') {
      margin-left: 50%;
      padding-left: $gap !important;
    }
  }
  &--projects {
    padding-bottom: 4rem;
  }
  &--bordered {
    @include media('>tablet') {
      border: 1px solid $border-color;
    }
  }
  &--textbottom {
    @include media('>tablet') {
      padding: 4rem 2rem $gap;
    }
  }
  &_card {
      @include media('>tablet') {
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
      }
  }
  &__badge {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 1rem;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: $roboto-font;
    &_inverted {
      @include media('>tablet') {
        color: #fff;
      }
    }
    .news-block--splitted & {
      left: $gap;
    }
    &:before {
      border: .8rem solid;
      border-top: 0;
      border-right-width: .4rem;
      border-left-width: .7rem;
      border-right-color: transparent;
      display: inline-block;
      width: 0;
      height: 0;
      margin-right: 1rem;
      color: red;
      content: '';
    }
  }
  &__title {
    z-index: 2;
    position: relative;
    width: 100%;
    margin-bottom: .8em;

    @include media('>tablet') {
      margin-bottom: .3em;
      font-size: 2rem;
      line-height: .9;
      //line-height: 2.7rem;
    }
    .c-row-sm .c-12 &,
    .c-row-md .c-12 &,
    .c-row-lg .c-12 &,
    .news-lis-wrap & {
      .title {
        @include media('>tablet') {
          font-size: 3.2rem;
          line-height: 4rem;
        }
      }
    }
    //.c-row-plaintext .c-3 &,
    //.c-row-xs .c-3 &,
    //.c-row-sm .c-3 &,
    //.c-row-md .c-3 &,
    //.c-row-lg .c-3 & {
    //  @include media('>tablet') {
    //    font-size: 1.8rem;
    //    //line-height: 2.2rem;
    //  }
    //  @include media('>desktop') {
    //    padding-right: 10%;
    //  }
    //}
    //.c-row-md .c-3 &,
    //.c-row-lg .c-3 & {
    //  @include media('>tablet') {
    //    margin-bottom: .8em;
    //  }
    //}
    //.c-row-sm .c-12 &,
    //.c-row-md .c-12 &,
    //.c-row-lg .c-12 & {
    //  @include media('>tablet') {
    //    font-size: 3.2rem;
    //    //line-height: 4rem;
    //  }
    //}
    &_inverted {
      @include media('>tablet') {
        color: #fff;
      }
    }
    .news-block_card & {
      padding: 0 !important;
    }
    .title {
      display: inline;
      color: inherit;
      font-weight: 500;
      .news-block:hover & {
        border-bottom: 2px solid;
      }
    }
    //.c-row-plaintext .news-block_card &,
    //.c-row-xs .news-block_card & {
    //  font-size: 1.6rem !important;
    //  font-family: $lora-font;
    //}
  }
  &__link {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    .news-block--splitted & {
      @include media('>tablet') {
        margin-left: -100%;
      }
    }
  }
  &__text {
    width: 100%;
    margin-bottom: .2em;

    @include media('>tablet') {
      z-index: 2;
      position: relative;
    }
    &_inverted {
      @include media('>tablet') {
        color: #fff;
      }
    }
    .c-row-xs .news-block_card &,
    .c-row-xs & {
      display: none;
    }
    .c-row-sm .c-12 &,
    .c-row-md .c-12 & {
      display: block;
    }
    .c-row-lg .c-12 & {
      display: block;
    }
    .news-block_card & {
      margin-bottom: .7em;
    }
    p {
      margin: 0;
      font-family: $lora-font;
      font-size: 1.6rem;
      line-height: 2.5rem;
      & + p {
        margin-top: 1em;
      }
    }
  }
  &__picture {
    overflow: hidden;
    width: 100%;
    margin-bottom: .8em;
    padding-bottom: 16rem;
    background: lighten($border-color, 10%) 50%/cover no-repeat;

    @include media('>tablet') {
      border-radius: .2rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 0;
      padding-bottom: 0;

    }
    &:before {
      @include media('>tablet') {
        opacity: .85;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(0,0,0, .1) 0%,rgba(0,0,0,1) 91%,rgba(0,0,0, 1) 100%);
        content: '';
        .news-block_card &{
            background: none;
        }
      }
      .news-block--blank & {
        display: none;
      }
    }
    &:after {
      .news-block:not(.news-block_card) & {
        @include media('>tablet') {
          opacity: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #fff;
          content: '';
          will-change: opacity;
          transition: opacity .4s;
        }
      }
      .news-block:not(.news-block_card):hover & {
        @include media('>tablet') {
          opacity: .01;
          transition: opacity .4s;
        }
      }
    }
    .news-block--splitted & {
      display: none;

      @include media('>tablet') {
        overflow: hidden;
        border-right: $gap solid #fff;
        display: block;
        left: -100%;
        right: 100%;
      }
      &:before {
        @include media('>tablet') {
          border-radius: 4px;
          border-right: 2px solid #fff;
          top: 0;
          bottom: 0;
          left: auto;
          right: -2px;
          width: 10px;
          background: none;
          opacity: 1;
        }
      }
      //&:after {
      //  @include media('>tablet') {
      //    content: none !important;
      //  }
      //}
    }
    img {
      opacity: 0;
      visibility: hidden;
      width: 0;
      height: 0;
    }
    .news-block_card & {
      position: relative;
      margin-bottom: 1em;
      order: -1;
      padding-bottom: percentage($pic-ratio);

      .c-row-md &,
      .c-row-lg & {
        @include media('>tablet') {
          padding-bottom: 80%;
        }
      }
    }
  }
  &__footer {
    z-index: 2;
    border-top: 1px solid $border-color;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: .2em;
    padding-top: .4em;

    @include media('>tablet') {
      border-top: 0;
      margin-top: 0;
      padding-top: .8rem;
    }
    &_inverted {
      @include media('>tablet') {
        color: #999;
      }
      & > * {
        @include media('>tablet') {
          color: inherit !important;
        }
      }
    }
    :not(.row-xs) .news-block_card &,
    :not(.row-plaintext) .news-block_card & {
      @include media('>tablet') {
        margin-top: auto;
      }
    }
    .tools {
      margin-left: $gap*2;
      margin-top: -.2em;
      padding-top: .2em;
      .c-3 & {
        display: none;
      }
    }
  }
}
