$delay: .1s;

.card {
    display: inline-block;
    margin: 0;
    font-size: 0.00001px;
    font-family: $roboto-font;
    letter-spacing: 0;
    &_user {
        margin: 0 $gap $gap 0;
        white-space: nowrap;
    }
    &__pic {
        overflow: hidden;
        z-index: 1;
        border-radius: 50%;
        display: inline-block;
        width: 48px;
        height: 48px;
        vertical-align: middle;
        .card_user_small & {
            width: 35px;
            height: 35px;
        }
        .card-item & {
            @include media('<=tablet') {
                width: 34px;
                height: 34px;
            }
        }
        img {
            display: block;
            width: 100px;
            margin: 0 auto;
        }
    }
    &__title {
        overflow: hidden;
        max-width: 100%;
        display: inline-block;
        padding-left: $gap/2;
        vertical-align: middle;
        text-overflow: ellipsis;
        line-height: 1.4;
        font-size: 1.6rem;
        .card-item & {
            @include media('<=tablet') {
                font-size: 1.4rem;
                line-height: 1.2;
            }
        }
        .card_user_small & {
            font-size: 1.4rem;
            line-height: 1.2;
        }
        small {
            overflow: hidden;
            max-width: 100%;
            display: block;
            color: #999;
            font-size: 1.2rem;
            text-overflow: ellipsis;

            .card_user_small & {
                font-size: 1.1rem;
            }
        }
    }
    &__link {
        .card_user & {
            color: inherit;
        }

    }
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $gap*2;

    @include media('>tablet') {
        margin-left: -$gap;
        margin-right: -$gap;
    }

    &_matrix {
        @include media('>widescreen') {
            margin-left: -$gap*2;
            margin-right: -$gap*2;
        }
    }
}

.card-item {
    flex: 1 1 auto;
    position: relative;
    max-width: 100%;

    @include media('>600px') {
        max-width: 50%;
        padding: 0 $gap;
    }
    .cards-wrapper_matrix & {
        @include media('>600px') {
            width: percentage(1/2);
            margin: $gap 0 !important;
        }
        @include media('>desktop') {
            width: percentage(1/3);
            max-width: percentage(1/3);
        }
    }
    & + & {
        margin-top: 3.8rem;

        @include media('>600px') {
            margin-top: 0;
        }
    }

    //@include media('>tablet') {
    //    overflow: hidden;
    //    flex: 1 1;
    //    max-width: 50%;
    //    color: #fff;
    //}
    //&:before {
    //    @include media('>tablet') {
    //        opacity: 0;
    //        visibility: hidden;
    //        z-index: 2;
    //        border: 1px solid $border-color;
    //        position: absolute;
    //        top: 0;
    //        bottom: 0;
    //        left: 0;
    //        right: 0;
    //        content: '';
    //        background: #fff;
    //        will-change: opacity, visibility;
    //        transition: .4s $delay linear;
    //    }
    //}
    &__inner {
        position: relative;

        @include media('>600px') {
            padding-bottom: 100%;
        }
        &:before {
            @include media('>600px') {
                z-index: 2;
                border: 1px solid $border-color;
                opacity: 0;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: '';
                background: #fff;
                transition: opacity .5s ease-in-out;
            }
        }
        &:hover,
        .card-item_no_pic & {
            &:before {
                opacity: 1;
                transition: opacity .5s ease-in-out;
            }
        }
    }
    &__body {
        @include media('>600px') {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: $gap $gap $gap*3;
            color: #fff;
        }
        @include media('>1400px') {
            align-items: center;
            align-content: inherit;
        }
        &:hover {
            color: inherit;
        }
        .cards-wrapper:not(.cards-wrapper_matrix) & {
            @include media('>600px') {
                align-content: flex-start;
            }
            @include media('>1400px') {
                align-items: center;
                align-content: inherit;
            }
        }
        .card-item_no_pic & {
            &:hover {
                color: $base-link-color;
            }

            @include media('>600px') {
                color: inherit;
            }
        }
        &-link {
            //display: block;
            //width: 100%;
            //height: 100%;
            &:before {
                @include media('>600px') {
                    z-index: 5;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                }
            }
        }
        &-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow: hidden;
            height: 100%;
        }
    }
    &__title {
        z-index: 5;
        width: 100%;
        align-self: flex-end;
        .cards-wrapper:not(.cards-wrapper_matrix) .card-item.card-item_no_pic & {
            @include media('>600px') {
                margin-bottom: 1.4em;
            }
            @include media('>1400px') {
                margin-bottom: 0;
            }
        }
        .card-item.card-item_no_pic & {
            align-self: flex-start;
            margin-top: 0;
        }
        .card-item__inner:hover & {
            margin-top: 0 !important;
            transition: margin-top 5s;
        }
        .cards-wrapper:not(.cards-wrapper_matrix) .card-item__inner:hover & {
            @include media('>600px') {
                margin-bottom: 1.4em;
            }
            @include media('>1400px') {
                margin-bottom: 0;
            }
        }
        &-link {
            color: inherit;
            @include media('>600px') {
                border: 0;
                display: block;
                //position: absolute;
                //top: 0;
                //bottom: 0;
                //left: 0;
                //right: 0;
                //padding: $gap $gap $gap*3;
                text-decoration: none;
            }
            .card-item_no_pic & {
                color: inherit;
                &:hover {
                    color: $base-link-color;
                }
            }
        }
        .h {
            font-weight: 500;
            font-size: 2rem;
            line-height: 1.5;

            @include media('>600px') {
                overflow: hidden;
                margin: 0;
                color: inherit;
                font-size: 1.6rem;
                line-height: 1.4;
            }
            @include media('>1400px') {
                font-size: 2rem;
            }
            .cards-wrapper_matrix & {
                @include media('>desktop') {
                    font-size: 2rem;
                }
            }
        }
    }
    &__text {
        z-index: 3;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: $gap;
        align-self: flex-end;

        @include media('>600px') {
            display: none;
        }
        .card-item__inner:hover &,
        .card-item_no_pic & {
            .cards-wrapper_matrix & {
                @include media('>desktop') {
                    display: block;
                }
            }
            @include media('>1400px') {
                display: block;
                padding-bottom: 0;
            }
        }
        p {
            margin-bottom: 0 !important;
        }
    }
    &__description {
        font-size: 1.4rem;
        line-height: 1.48;
        color: #777;
    }
    &__footer {
        position: relative;
        display: flex;
        width: 100%;
        padding-top: .2em;
        align-items: center;
        justify-content: space-between;
        font-family: $roboto-font;

        @include media('>600px') {
            z-index: 4;
            position: absolute;
            bottom: 0;
            height: $gap*2;
            padding: 0 $gap;
        }
        &:before {
            border-top: 1px solid $border-color;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            content: '';

            @include media('>600px') {
                opacity: 0;
            }
            .card-item_no_pic &,
            .card-item__inner:hover & {
                opacity: 1;
            }
        }
        & > * {
            flex: 1 1 auto;
            max-width: 50%;

            @include media('>600px') {
                color: rgba(#fff, .8);
            }
            .card-item__inner:hover &,
            .card-item_no_pic & {
                @include media('>600px') {
                    color: inherit;
                }
            }
        }
        .category {
            .card-item:not(.card-item_no_pic) & {
                @include media('>600px') {
                    display: none;
                }
            }
            .card-item:not(.card-item_no_pic) .card-item__inner:hover & {
                @include media('>widescreen') {
                    display: block;
                }
            }
        }
        .tools {
            display: none;
            justify-content: flex-end;
            .card-item:not(.card-item_no_pic) & {
                @include media('>600px') {
                    display: flex;
                }
            }
            .card-item:not(.card-item_no_pic) .card-item__inner:hover & {
                @include media('>widescreen') {
                    display: none;
                }
            }
        }
    }
    &__pic {
        overflow: hidden;
        position: relative;
        margin: 0 (-$gap) $gap;
        padding-bottom: 69%;
        background: #fff 50%/cover no-repeat;

        @include media('>600px') {
            border-radius: .2rem;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
        }
        &:after {
            z-index: 1;
            opacity: .7;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to bottom, rgba(#000, 0) 0%,rgba(#000, 1) 100%);
            content: '';
        }
        &_no_pic {
            display: none;

            @include media('>600px') {
                display: block;
            }
            &:after {
                content: none;
            }
        }
        img {
            position: absolute;
            top: 0;
            z-index: -1;
            width: 0;
            height: 0;
        }
    }
    &__tools {
        z-index: 3;
        position: relative;
        width: 100%;
        margin-bottom: .4em;

        @include media('>600px') {
            display: none;
        }
        @include media('>widescreen') {
            //display: flex;
            flex: 1 1 auto;
            width: auto;
            margin: auto 0;
            justify-content: flex-end;
        }
        .card-item.card-item_no_pic &,
        .card-item:not(.card-item_no_pic) .card-item__inner:hover & {
            @include media('>widescreen') {
                display: flex;
            }
        }
    }
    .card_user {
        display: none;
        margin-right: 0;
        color: $base-text-color;

        @include media('>600px') {
            z-index: 2;
            position: relative;
            margin: auto 0;
        }
    }
    &_no_pic,
    .card-item__inner:hover {
        .card_user {
            @include media('>widescreen') {
                display: block;
            }
        }
    }
}
