.content.content_contacts {
  padding-top: 0;
  padding-bottom: 3rem;

  @include media('>desktop') {
    padding-left: $gap;
    padding-right: $gap;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
}

.content_contacts .content__main {
  @include media('>tablet') {
    max-width: 100%;
    margin: 0;
  }
}

.content_contacts {
  h1 {
    font-family: $lora-font;

    @include media('>desktop') {
      font-family: $roboto-font;
    }
  }
}

.contacts {
  color: #000;

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: $gap;
    margin-bottom: 1.6rem;

    @include media('>tablet') {
      margin-bottom: 0rem;
    }

    @at-root .content_contacts .content__backward {
      @include media('>tablet') {
        display: flex;
      }

      @include media('>desktop') {
        display: flex;
        padding-left: 0;
        border-bottom: 0;
        box-shadow: none;
      }
    }

    @at-root .content_contacts .page-backward {
      &::before {
        @include media('>desktop') {
          display: none;
        }
      }
    }

    .h1 {
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle;
      font-size: 1.6rem;
      line-height: 3rem;

      @include media('>desktop') {
        cursor: auto;
        font-size: 3.2rem;
        line-height: 4rem;
      }
    }
  }

  &__body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;

    @include media('>tablet') {
      flex-flow: row nowrap;
    }
  }

  &__inner {
    flex: 1 1 100%;

    &:first-of-type {
      padding-right: 40px;

      @include media('>tablet') {
        padding-right: 0;
      }
    }

    @include media('>tablet') {
      flex: 0 1;
      flex-basis: 570px;
    }

    & + & {
      margin-top: 5rem;

      @include media('>tablet') {
        margin-top: 0;
      }
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    & + & {
      margin-top: 1.5rem;

      @include media('>tablet') {
        margin-top: 2.9rem;
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 2.5rem;
      font-family: $lora-font;

      @include media('>tablet') {
        font-size: 1.6rem;
        line-height: 2rem;
      }

      &:first-of-type {
        margin-bottom: 0;

        @include media('>tablet') {
          margin-bottom: .6rem;
        }
      }

      b {
        font-family: $roboto-font;
        font-size: 1.6rem;
        line-height: 2.5rem;

        @include media('>tablet') {
          font-size: 1.8rem;
          line-height: 2.5rem;
        }
      }

      & + p {
        margin-top: 0.2rem;

        @include media('>tablet') {
          margin-top: 0.2rem;
        }
      }

    }
  }

  &__item {
    & + .contacts__item {
      margin-top: 1.8rem;

      @include media('>tablet') {
        margin-top: 3.3rem;
      }
    }
  }

  &__list_person {
    .contacts__item + .contacts__item {
      margin-top: 1.9rem;

      @include media('>tablet') {
        margin-top: 2.9rem;
      }
    }
  }

  &__map {
    position: absolute;
    top: 60px;
    right: 0;
    width: 48px;
    overflow: hidden;
    transition: all 200ms;

    &._active {
      left: 0;
      width: auto;
    }

    @include media('>tablet') {
      width: 100%;
      position: static;
      top: auto;
      left: auto;
      margin-bottom: 3.3rem;
    }
  }

  @at-root .map_contacts {
    width: 100vw;
    height: 75vh;
    border-radius: .3rem;
    overflow: hidden;

    @include media('>tablet') {
      width: 100%;
      height: 380px;
    }
  }

  @at-root .map-trigger {
    position: absolute;
    bottom: 26px;
    left: 10px;
    transition: transform 300ms;

    ._active & {
      transform: rotate(180deg);
    }

    @include media('>tablet') {
      display: none;
    }

    &__icon {
      display: block;
      overflow: hidden;
      width: 36px;
      height: 36px;
      position: relative;
      font-size: 1.7rem;
      line-height: 3.6rem;
      vertical-align: middle;
      text-align: center;
      color: #000;
      border-radius: 50%;
      background-color: $white;

      &:hover {
        color: $red;
      }
    }

    @at-root .um-arrow_map::before {
      content: '\e91e';
    }
  }

  @at-root .form_feedback {
    background-color: #fafafa;
    margin-left: -$gap;
    margin-right: -$gap;
    padding: 2.5rem $gap;
    border-radius: .3rem;
    overflow: hidden;


    @include media('>tablet') {
      padding: 2.3rem 60px 2.3rem 40px;
      margin-left: 0;
      margin-right: 0;
    }

    .h {
      margin-bottom: .4rem;
      font-size: 1.8rem;
      line-height: 3rem;
      font-weight: 500;

      @include media('>tablet') {
        font-size: 2.2rem;
        line-height: 3.4rem;
      }

      & + p {
        padding-top: 0;
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 2rem;
      color: #3d3d3d;
    }

    .form__row {
      font-size: 1.2rem;
      line-height: 1.7rem;
      color: #777777;

      @include media('>desktop') {
        padding-bottom: 2rem;
      }

      input,
      textarea {
        font-family: $roboto-font;
        resize: none;
      }

      textarea {
        @include media('>desktop') {
          min-height: 170px;
        }
      }

      a {
        color: $black;
        font-weight: bold;

        &:hover {
          color: $red;
        }
      }

      &:last-of-type {
        padding-bottom: 0;
        padding-top: 0;
        margin-top: -1rem;
      }
    }

    .form__title {
      padding-bottom: 1.1rem;

      @include media('>desktop') {
        padding-bottom: 1rem;
      }
    }
  }

  &__footer {
    font-family: $lora-font;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #000;
  }

  &__networks {
    position: relative;
  }

}

.share-widget_visible_pc {

  .share-list-container {
    right: -15px;
    top: 45px;
    padding: 10px 18px;
    z-index: 100;

    @include media('>tablet') {
      padding: 10px;
      right: -5px;
    }

    @include media('>desktop') {
      padding: 10px;
      padding-right: 0;
      margin: 0;
      border: 0;
      opacity: 1;
      display: block;
      visibility: visible;
    }

    &._active {
      right: -15px;
      top: 45px;
      opacity: 1;
      display: block;
      position: absolute;
      margin: 0;
      will-change: opacity, visibility, transform;
      transition: .2s;
      visibility: visible;
      z-index: 100;

      @include media('>tablet') {
        right: -5px;
      }

    }

    .share-list_visible_pc {
      border: 0;

      @include media('>desktop') {
        border: 0;
        padding-right: 5px;
      }
    }
  }

  .share-trigger__icon {
    width: 35px;
    height: 4rem;
  }
}

.share-list_visible_pc {

  &._active {
    display: flex;
  }

  @include media('>desktop') {
    display: flex;
  }

  .share-trigger {
    @include media('>desktop') {
      display: none;
    }
  }

  .share-list__item {
    margin: 1rem 0 0 0 !important;
    @include media('>desktop') {
      margin: 0 0 0 1.5rem !important;
    }
  }
}

.share-trigger_visible_pc {
  display: block;

  .share-trigger__icon {
    display: block;

    @include media('>desktop') {
      display: none;
    }
  }
}