.content_documents {
  padding-top: 0;
  padding-bottom: 2.8rem;

  @include media('>tablet') {
    padding-top: 3.8rem;
    padding-bottom: 0;
    border-top: 0;
  }

  @include media('>desktop') {
    padding-top: 3.8rem;
  }

  h1 {
    display: none;

    @include media('>tablet') {
      display: block;
      margin-bottom: 3.8rem;
    }

  }
}

.documents {
  display: flex;
  flex-flow: column wrap;
  padding-top: 1.5rem;

  @include media('>tablet') {
    padding-top: 0;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    & + & {
      margin-top: 5.2rem;

      @include media('>tablet') {
        margin-top: 4.6rem;
      }
    }
  }

  &__descr {
    margin-bottom: 1.2rem;
    font-family: $roboto-font;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.5rem;

    @include media('>desktop') {
      margin-bottom: 2.4rem;
    }

    p {
      margin-bottom: 1rem;

      @include media('>desktop') {
        margin-bottom: 1rem;
      }
    }

    p + p {
      margin-top: 1rem;
    }
  }

  @at-root .nav-docs {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;

    &__span,
    &__link {
      flex: 0 1 auto;
      font-family: $roboto-font;
      font-size: 1.4rem;
      line-height: 2rem;
      color: $black;

      &:hover {
        color: $red;

        .um-download,
        .um-eye_fill {
          color: $red;
        }
      }
    }

    &__span {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      height: 47px;

      @include media('>tablet') {
        align-items: center;
      }

      @at-root .nav-docs__format-doc {
        display: block;
        position: relative;
        margin-right: 9px;
        margin-top: -1px;
        font-size: 4.4rem;
        color: $black;

        @include media('>tablet') {
          margin-top: -10px;
        }

        &::before {
          //content: '\e92d';
          content: '\e932';
          font-family: "um-icons" !important;
          display: block;
          margin-top: 14px;

          @include media('>tablet') {
            margin-top: 0;
          }
        }

        &::after {
          content: '';
          position: absolute;
          left: 8px;
          bottom: 1px;
          text-transform: uppercase;
          font-size: 1rem;
          line-height: 1rem;
          z-index: 10;
        }

        &[data-format-doc$=".pdf"]::after {
          content: 'pdf';
        }

        &[data-format-doc$=".doc"]::after {
          content: 'doc';
        }

        &[data-format-doc$=".docx"]::after {
          content: 'doc';
        }

        &[data-format-doc$=".xls"]::after {
          content: 'xls';
        }

        &[data-format-doc$=".rtf"]::after {
          content: 'rtf';
        }

        &[data-format-doc*=".ppt"]::after {
          content: 'ppt';
        }
      }
    }

    &__timestamp {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.6rem;
      line-height: 2rem;
      color: $black;
    }

    &__span + a {
      margin-left: 35px;
    }

    &__inner-link {
      flex: 0 1 auto;
      position: relative;
      margin-left: -74px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: flex-end;

      @include media('>tablet') {
        margin-left: 64px;
        align-self: center;
      }
    }

    &__link {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      & + & {
        margin-left: 39px;
      }

      .um-download {
        margin-right: 6px;
        font-size: 1.6rem;
        line-height: 2rem;
        color: $black;
      }

      @at-root .um-download::before {
        content: '\e91b';
      }

      .um-eye_fill {
        margin-top: -1px;
        margin-right: 7px;
        font-size: 2.3rem;
        line-height: 2rem;

        @include media('>tablet') {
        }
      }
    }
  }

  @at-root .flash__link-section {
    display: block;
    margin-right: auto;
    font-family: $roboto-font;
    font-size: 1.6rem;
    line-height: 4rem;
    font-weight: bold;
    color: $black;

    &:hover {
      color: $red;
    }
  }
}

.site-flasher_docs {
  .share-widget .share-list {

    @include media('>tablet') {
      display: flex;
      border-right: 0;
    }
  }

  .share-trigger {
    @include media('>tablet') {
      display: none;
    }
  }
}

.mfp-docs {
  .mfp-close {
    color: #000;
    padding-right: 0;
    width: 30px;
    height: 30px;
    line-height: 3rem;
    text-align: center;
    top: -2px;
    right: -1px;
    font-size: 3rem;
  }
}

.popap_docs {
  box-sizing: border-box;
  position: relative;
  padding: 1.5rem;
  max-width: 705px;
  width: 100%;
  margin: 0 auto;
  background-color: $white;

  @include media('>tablet') {
    padding: 3rem;
  }

  @at-root .view-docs {
    box-sizing: border-box;
    position: relative;

    &__iframe {
      display: block;

      @include media('>tablet') {
        width: 100%;
        height: 100%;
        display: block;
      }

      @at-root ._active_pdf & {
        display: none;
      }
    }

    &__nav {
      display: none;

      @at-root ._active_pdf & {
        display: block;
      }

      @include media('>tablet') {
        width: 100%;
        height: auto;
        display: none;
      }
    }

    &__canvas {
      display: none !important;
      width: 100% !important;
      height: auto !important;

      ._active_pdf & {
        display: block !important;
      }
    }

  }
}