.mce-tinymce {
  border: 1px solid !important;
}

.popup__inner {
  height: auto;
  position: relative;
}

.popup_editor {
  position: absolute;
  display: none;
  left: 0;
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;

  &._active {
    display: block;
  }

  .content_editor {
    padding-top: 2rem;
  }
}

.head_editor {

  @extend .site-flasher;
  z-index: 99999;
  border-bottom: 1px solid #e3e3e3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);

  .head__inner {
    justify-content: space-between;
  }

  .head__menu-button {
    display: none;
    @include media('>tablet') {
      display: block;
    }
  }

  @at-root .head__backward {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;


    .page-backward {
      font-size: 0;
      line-height: 0;
    }

    @include media('>tablet') {
      display: none;
    }
  }

  .head__logo {
    display: none;

    @include media('>tablet') {
      display: block;
      align-items: flex-start;
      height: 70px;
      padding: .3rem 0 0;
    }
  }

  .logo__img {
    width: 142px;
  }

  .logo__text {
    font-size: 1.1rem;
    line-height: 0;
  }

  .head__right {
    flex: 0 1 auto;

    @include media('>tablet') {
      flex: 0 1 290px;
      max-width: 290px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    @include media('>desktop') {
      flex: 0 1 290px;
      max-width: 290px;
    }

    .button_close_big {
      position: static;
    }
  }
}

.editor-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  &__link-nav {
    color: $black;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2rem;

    &:hover {
      color: $base-link-color;
      text-decoration: none;
    }

    &_save {
      margin-right: 32px;

      @include media('>tablet') {
        margin-right: 37px;
      }
    }
  }
}

.dropdown_editor_nav {
  position: static;

  @include media('>tablet') {
    position: relative;
  }

  [data-js='dropdown'] {

    &._droped {
      &:after {
        top: auto;
        margin-top: 0;
        transform: rotate(-315deg);
      }
    }

    &:after {
      content: '';
      border: 2px solid $black;
      border-bottom: 0;
      border-right: 0;
      display: inline-block;
      vertical-align: middle;
      width: 7px;
      height: 7px;
      margin-top: -5px;
      transform: rotate(-135deg);
    }

    &:hover {
      &:after {
        border: 2px solid $base-link-color;
        border-bottom: 0;
        border-right: 0;
      }
    }
  }

  .dropdown__list {
    width: 320px;
    overflow: visible;
    top: 41px;
    left: auto;
    right: 0;
    padding: 1.5rem 0 1.1rem;
    border-radius: 0;
    max-height: none;
    box-shadow: 0px -2px 13px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid #e3e3e3;

    @include media('>tablet') {
      top: 23px;
      right: -23px;
    }

    &::before {
      display: block;
      position: absolute;
      content: '';
      right: 12px;
      top: -3px;
      width: 15px;
      height: 15px;
      background-color: #fff;
      transform: rotate(45deg) translateX(-50%);
      box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.10);
    }
  }
}

.publication-params {
  &__form {
    display: flex;
    flex-flow: column wrap;
  }

  &__header {
    flex: 1 1 100%;
  }

  &__body {
    display: none;
    text-align: left;
    border-bottom: 1px solid #e3e3e3;

    @include media('>tablet') {
      display: block;
      padding: 1rem $gap 1.5rem;
    }
  }

  &__list-docs {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 40px;
    list-style-position: inside;
    color: #777;
    margin-bottom: 1rem;

    &::before {
      content: '\e931';
      left: 0;
      top: 8px;
      position: absolute;
      font-family: $um-font;
      font-size: 3rem;
      line-height: 3rem;
      color: $black;
    }

    li {
      font-family: $roboto-font;
      flex: 1.4rem;
      line-height: 3rem;
    }
  }

  &__add-more-docs {
    padding-left: 40px;
    color: $black;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__footer {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem $gap 0;
    text-align: left;
  }

  @at-root .checkbox-sign {
    flex: 0 1 auto;
    color: $black;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  @at-root .button_publicate {
    flex: 0 1 120px;
    font-size: 1.4rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;

    @include media('>tablet') {
      padding-left: 1.4rem;
      padding-right: 1.4rem;
    }
  }
}

.date-picker {
  color: $black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 $gap 1.9rem;
  border-bottom: 1px solid $border-color;

  &__label {
    flex: 1 1 100%;
    margin-bottom: .5rem;
    text-align: left;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #777;
  }

  &__pick-date {
    box-sizing: border-box;
    min-width: 0;
    flex: 0 1 130px;
    border-radius: .3rem;
    border: 1px solid #777;
    padding: .6rem 35px .6rem 12px;
    color: $black;
    background: url('../images/icon_calendar.svg') no-repeat right center;
  }

  @at-root .ui-datepicker {
    display: none;
    box-shadow: 0 7px 10px -1px rgba(43, 43, 43, 0.25);
    width: 318px;
    min-height: 281px;
    padding: 25px $gap $gap;

    z-index: 99999 !important;
    background-color: #fff;

    @include media('>tablet') {
      transform: translate(-$gap);
    }

    .ui-datepicker-header {
      margin-bottom: 1rem;
      text-align: center;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
      position: absolute;
      font-size: 0;
      color: $black;
      cursor: pointer;
      font-family: "um-icons";

      &:hover {
        color: $red;
      }
    }

    .ui-datepicker-prev {
      left: $gap;
    }

    .ui-datepicker-next {
      right: $gap;
    }

    .ui-datepicker-prev::before,
    .ui-datepicker-next::before {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.8rem;
      line-height: 2rem;
    }

    .ui-datepicker-prev::before {
      content: '\e920';
    }

    .ui-datepicker-next::before {
      content: '\e921';
    }

    .ui-datepicker-title {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    .ui-datepicker-calendar {
      margin: 0 auto;
    }

    th,
    td {
      font-size: 1.3rem;
      text-align: center;
      font-weight: normal;
      padding: 0;
      text-transform: lowercase;
      border: 0;

      a {
        box-sizing: border-box;
        display: block;
        border: 1px solid transparent;
        padding: .4rem .8rem .4rem;
        color: $black;
        font-size: 1.3rem;
        line-height: 2rem;
        //border-radius: .3rem;

        @include media('>tablet') {
          font-size: 1.4rem;
        }
      }
    }

    .ui-datepicker-other-month span {
      display: block;
      border: 1px solid transparent;
      padding: .4rem .8rem .4rem;
      font-size: 1.3rem;
      line-height: 2rem;
      color: #777;

      @include media('>tablet') {
        font-size: 1.4rem;
      }
    }

    .ui-state-disabled {
      color: #777;
    }

    .ui-state-active {
      background-color: $red;
      border: 1px solid $red;
      color: $white;

      &:hover {
        color: $white;
      }
    }

    .ui-state-highlight {
      border: 1px solid $black;
      background: $white;
      color: #000;

      &:hover {
        background-color: $red;
        border: 1px solid $red;
        color: $white;
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    line-height: 3rem;
    color: #777;
  }

  &__time {
    min-width: 0;
    flex: 0 1 50px;
    border-radius: .3rem;
    border: 1px solid #777;
    padding: .6rem 0 .6rem 10px;
    color: $black;
  }
}

.button-to-top {
  border: 0;
  background-color: transparent;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1rem;

  &:hover {
    color: $red;
  }

  &::before {
    border: 2px solid #aaa;
    border-bottom: 0;
    border-right: 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-bottom: -.2em;
    margin-right: 7.5px;
    transform: rotate(45deg);
    content: '';
  }
}

.content_editor {
  margin-top: 70px;
  margin-bottom: 40px;

  @include media('>tablet') {
    padding: 0 $gap;
  }

  @include media('>desktop') {
    padding: 0 $gap;
  }

  .content__main {
    padding: 0;

    @include media('>tablet') {
      width: 100%;
      max-width: 780px;
      padding: 0 $gap;
      margin: 0 auto;
    }
  }
}

.editor {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;

  p {
    margin-bottom: 1rem;

    & + p {
      margin-top: 1rem;
    }
  }

  .fact {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__inner-bottom-nav {
    position: relative;
    flex: 1 1 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__add-files {
    display: none;

    @include media('>tablet') {
      display: block;
      width: 100%;
      margin: 6rem 0;
    }

    &_mobile {
      display: inline-block;
      width: 130px;
      margin: 0;
      text-align: right;

      @include media('>tablet') {
        display: none;
      }

      @include media('>desktop') {
        display: none;
      }

    }
  }

  @at-root .add-files {
    position: relative;
    cursor: pointer;

    @include media('>tablet') {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 120px;
      padding: 10px;
      border-radius: .3rem;
      border: 1px solid $border-color;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
    }

    .no-js & {
      @include media('>tablet') {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
      }
    }

    &.dz-started {
      justify-content: flex-start;
      align-items: flex-start;
      padding: $gap;
      min-height: 0;

      &::before {
        display: none;
      }
    }

    &::before {

      @include media('>tablet') {
        content: '';
        position: absolute;
        left: 10px;
        top: 10px;
        bottom: 10px;
        right: 10px;
        border: 1px dashed $border-color;
        z-index: 5;
      }

    }

    &__descr {
      display: inline-block;
      vertical-align: middle;
      font-family: $roboto-font;
      font-size: 1.4rem;
      line-height: 2rem;

      span {
        line-height: 3rem;
        display: inline-block;
        vertical-align: middle;
      }

      @at-root .no-js .add-files__descr span {
        display: none;
      }

      .dz-started & {
        display: none;
      }

      &::before {
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        font-family: $um-font;
        color: #000;

      }

      @at-root .add-files_docs {

        .add-files__descr {

          &::before {
            content: '\e931';
            right: -20px;
            padding-right: 110px;
            font-size: 3rem;
            line-height: 3rem;

            @include media('>tablet') {
              position: static;
              right: auto;
              padding-right: 0;
              margin-right: 10px;
            }
          }
        }
      }

      @at-root .add-files_photo_cover {
        min-height: 140px;
        border-radius: .3rem;
        border: 1px solid #e3e3e3;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;


        @include media('>tablet') {
          min-height: 180px;
        }

        .add-files__descr {
          position: relative;
          margin-top: 3rem;

          &::before {
            content: '\e90d';
            left: 50%;
            top: -3.5rem;
            transform: translateX(-50%);
            font-size: 4rem;
            line-height: 4rem;
          }
        }
      }

      @at-root .no-js .add-files__descr {
        display: none;

        @include media('>tablet') {
          display: block;

        }
      }
    }

    &__input-type {
      display: none;

      @at-root .no-js .add-files__input-type {
        display: inline-block;
        vertical-align: middle;
        width: 100%;

        @include media('>tablet') {
          display: block;
          flex: 0 1 305px;
          min-width: 0;
          max-width: none;
          width: auto;
        }
      }
    }

    @at-root {
      .dz-preview {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        z-index: 10;
        font-family: $roboto-font;
        font-size: 1.4rem;
        line-height: 2rem;
        cursor: pointer;

        @include media('>tablet') {
          width: 100%;
          justify-content: space-between;
        }

        & + & {
          margin-top: 2*$gap;
        }

        .dz-progress {
          display: none;
        }
      }

      .dz-details {
        flex: 0 1 auto;
      }

      .dz-remove {
        font-size: 0;

        &:active::before {
          color: $black;
        }

        &::before {
          cursor: pointer;
          display: inline-block;
          vertical-align: middle;
          content: '\e900';
          font-size: 3rem;
          line-height: 3rem;
          font-family: $um-font;
          width: 30px;
          height: 30px;
          color: #919191;
          text-align: right;
        }
      }

      .dz-image,
      .dz-size,
      .dz-success-mark,
      .dz-error-mark {
        display: none;
      }

      .dz-filename {

        span {
          display: inline-block;
          vertical-align: middle;
          max-width: 120px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @include media('>tablet') {
            max-width: 450px;
          }
        }

        &::before {
          display: none;
          margin-right: 10px;
          vertical-align: middle;
          content: '\e931';
          font-family: $um-font;
          color: #000;
          font-size: 3rem;
          line-height: 3rem;

          @include media('>tablet') {
            display: inline-block;
          }
        }
      }
    }

    &_photo_cover {
      box-shadow: none;

      &::before {
        border: 1px solid transparent;
      }
    }

    &_photo_cover {
      .dz-image {
        display: block;
        width: 100%;
      }
    }

  }

  &__inner {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    @include media('>tablet') {
      margin-bottom: 5rem;
    }

  }

  &__user {
    flex: 1 1 100%;

    @include media('>tablet') {
      flex: 0 1;
    }

    .card {
      @include media('>tablet') {
        margin-bottom: 0;
      }
    }
  }

  &__source-info {
    font-family: $roboto-font;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #777;

    @include media('>tablet') {
      font-size: 1.6rem;
    }
  }

  &__input-title {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: bold;

    @include media('>tablet') {
      padding-left: 0;
      font-size: 3.2rem;
      line-height: 3.4rem;
      height: 5rem;
      border: 0;
    }
  }

  .form__row {
    flex: 1 1 100%;
    width: 100%;

    @include media('>tablet') {
      font-size: 1.6rem;
    }
  }

  &__input-lead {
    padding-left: 0;
    height: 5rem;
    font-size: 1.8rem;
    line-height: 3.4rem;
    border: 0;
    border-bottom: 2px solid #3e3e3e;
    border-radius: 0;

    &:focus {
      border-bottom: 2px solid #3e3e3e;
    }

  }

  @at-root .form__row_textarea {
    position: relative;

    @include media('>tablet') {
      padding-top: 1.2rem;
    }

    .form-control-holder {
      margin-bottom: 2rem;
    }
  }

  &__input-text {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #777;
    resize: none;
    min-height: 160px;

    @include media('>tablet') {
      padding-left: 0;
      border: 0;
      font-family: $lora-font;
      font-size: 1.8rem;
      line-height: 3rem;
    }

    &:focus {
      color: #000;
    }
  }

  @at-root .add-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;

    &__toggle {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      font-size: 0;
      color: #000;

      @include media('>tablet') {
        width: 49px;
        margin-right: 0;
      }

      &:hover {
        color: $base-link-color;

        .add-media__tooltip {
          display: none;

          @include media('>tablet') {
            position: absolute;
            top: -10px;
            display: inline-block;
            padding: 10px;
            font-size: 1.4rem;
            line-height: 2.7rem;
            color: #000;
            background-color: #fff;
          }

        }
      }

      &::before {
        font-family: $um-font;
        content: "\e929";
        display: inline-block;
        vertical-align: middle;
        font-size: 3rem;
        line-height: 3rem;
        width: 31px;
        height: 31px;
        transform: rotate(45deg);
        transition: transform .2s linear;

        @at-root ._active .add-media__toggle::before {
          transform: rotate(0deg);
        }
      }
    }

    &__nav {
      position: relative;
      width: 0;
      overflow: hidden;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      transition: width .2s linear;
      background-color: #fff;

      &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 30px;
        margin: 0 18px 0 0;
        background-color: #777777;
      }

      ._active > & {
        width: 112px;
        //width: 112px;

        @include media('>tablet') {
          width: 230px;
        }

        @at-root .add-media_article._active > .add-media__nav {
          width: auto;

          @include media('>tablet') {
            width: 580px;
          }
        }
      }

      li + li {
        margin-left: 20px;
      }

      li:nth-child(2),
      li:nth-child(4) {
        display: none;

        @include media('>tablet') {
          display: block;
        }
      }
    }

    &__link {
      position: relative;
      display: block;
      font-size: 0;
      color: #000;

      &:hover {
        color: $base-link-color;
      }

      &::before {
        display: inline-block;
        vertical-align: middle;
        font-size: 3rem;
        line-height: 3rem;

      }

      &.um-video {
        left: -9px;

        &::before {
          font-size: 4.2rem;
          line-height: 3rem;
        }
      }

      &.um-charts {
        left: -28px;

        &::before {
          font-size: 4.2rem;
          line-height: 3rem;
        }
      }

      & + .add-media__link {
        margin-left: 20px;
      }
    }
  }

  &__select {
    margin-bottom: 1.5rem;
    width: 100%;

    @include media('>tablet') {
      margin-bottom: 2rem;
    }

    @at-root .select_editor {
      width: 100%;
      padding: .4rem 1rem .4rem;
      border: 1px solid #e3e3e3 !important;
      border-radius: .1rem;
      background: #fff;
      appearance: none;
      color: #777777;
      height: 60px;
      z-index: 3;
      cursor: pointer;
      font: 1.6rem/1 "Roboto", sans-serif;
      transition: box-shadow .4s;
      background: url('../images/arrow-down.svg') 98% / 24px no-repeat #fff;
      &.__toggled {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);
        transition: box-shadow .4s;
      }

      &:hover {
        cursor: pointer;
      }

      @include media('<tablet') {
        background-size: 12px;
        background-position: 96%;
      }
    }

    .select-options_editor {
      z-index: 2;
      background: #fff;
      position: absolute;
      width: 750px;
      display: none;
      padding-left: 20px;
      margin: 0;
      list-style-type: none;
      max-height: 260px;
      overflow-y: scroll;
      outline: none;
      transition: box-shadow .4s;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #87888c;
      }

      &::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: #eceef4;
      }

      &__option {
        border-bottom: 1px solid #e3e3e3;
        background: #fff;
        padding: 20px 0;
        z-index: 1;
        font: 1.6rem/1 "Roboto", sans-serif;
        cursor: pointer;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          color: $red;
        }
      }
    }
  }

  &__add-photo-cover {
    z-index: 1;
    display: block;
    width: 100%;
    margin-bottom: 2rem;

    @include media('>tablet') {
      margin-bottom: 3rem;
    }
  }

  &_article {
    margin-top: 1.5rem;

    @include media('>tablet') {
      margin-top: 6rem;
    }
  }

  &__loaded-image {
    flex: 1 1 100%;
    width: 100%;
  }

  .mce-panel {
    border: 0;
    box-shadow: none;
  }

  &__text-article {

    & > ul:first-of-type li:first-letter,
    & > p:first-of-type:first-letter,
    & > h1:first-of-type:first-letter,
    & > h2:first-of-type:first-letter,
    & > h3:first-of-type:first-letter,
    & > h4:first-of-type:first-letter,
    & > h5:first-of-type:first-letter {
      text-transform: uppercase;
    }

    &:focus {
      outline: none;
    }
  }

  @include media('>tablet') {
    border: 0;
    padding: 0;
  }
}

.mce-panel {
  border: 0;
}

.include-media {

  &_add_img {

  }

  &__add-description {
    padding-bottom: 1.3rem;
    padding-left: 50px;
    position: relative;

    &::before {
      content: '\e90d';
      font-family: $um-font;
      font-size: 4.6rem;
      line-height: 4.6rem;
      position: absolute;
      left: -7px;
      top: -.5rem;
    }

    @include media('>tablet') {
    }

    .input-text {
      border: 0;
      color: #777777;

      &:focus {
        color: #000;
      }
    }

  }

  &__text,
  &__title-image {
    .input-text {
      width: 100%;
      font-family: $roboto-font;
      font-size: 1.8rem;
      line-height: 2.4rem;
      border: 0;

      @include media('>tablet') {
        font-size: 2.4rem;
        line-height: 3rem;
      }
    }
  }

  &__description-image {
    margin-bottom: 2rem;

    .input-text {
      width: 100%;
      font-family: $lora-font;
      font-size: 1.4rem;
      line-height: 2rem;

      @include media('>tablet') {
        font-size: 1.6rem;
        line-height: 2.5rem;
      }
    }
  }

  &__img-qty {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #777777;
  }
}

.mce-i-um-add_news_list {
  &::before {
    content: '\e926';
    font-family: $um-font;
  }
}

.mce-i-um-icon-quiz {
  &::before {
    content: '\e927';
    font-family: $um-font;
  }
}

.mce-i-um-icon-vrezka {
  &::before {
    content: '\e938';
    font-family: $um-font;
  }
}

.mce-i-um-icon-fact {
  &::before {
    content: '\e934';
    font-family: $um-font;
  }
}

.mce-i-um-icon-h1 {
  &::before {
    content: '\e935';
    font-family: $um-font;
  }
}

.mce-i-um-icon-h2 {
  &::before {
    content: '\e936';
    font-family: $um-font;
  }
}

.mce-ico.mce-i-um-icon-blockquote {
  &::before {
    content: '\e939';
    font-family: $um-font;
  }
}

.mce-ico.mce-i-image {
  &::before {
    content: '\e907';
    font-family: $um-font;
  }
}

.mce-i-um-icon-add_many_photo {
  &::before {
    content: '\e923';
    font-family: $um-font;
  }
}

.mce-ico.mce-i-media {
  &::before {
    content: '\e913';
    font-family: $um-font;
  }
}

.mce-i-um-icon-add_infographic {
  &::before {
    content: '\e905';
    font-family: $um-font;
  }
}

.mce-ico.mce-i-table {
  &::before {
    content: '\e922';
    font-family: $um-font;
  }
}

.mce-i-um-icon-add_news {
  &::before {
    content: '\e924';
    font-family: $um-font;
  }
}

.mce-i-um-icon-add_news_edit {
  &::before {
    content: '\e925';
    font-family: $um-font;
  }
}

.mce-i-um-icon-add_news_list {
  &::before {
    content: '\e926';
    font-family: $um-font;
  }
}

.mce-tinymce {
  position: relative;

  &.mce-tinymce-inline {
    //margin-left: 10px;
    .mce-btn-group.mce-container {
      padding: .5rem 1rem .5rem 0;
    }

    //&::before {
    //  border: 0;
    //  content: '';
    //  top: 0;
    //  left: 0;
    //}

    box-shadow: none;
    //margin-left: -10px;

    .mce-btn-group.mce-container {
      padding: .5rem 1rem .5rem 0;
    }

    .mce-flow-layout {
      background: #fff;
    }

    button {
      font-size: 2rem;
      line-height: 4rem;
      height: 3.5rem;
      background: #fff;
      border: 0;
      border-radius: .2rem;
      color: #3d3d3d;

      &:hover,
      &:active {
        background: #fff;
        color: $base-link-color;

        .mce-ico {
          color: $base-link-color;
        }
      }
    }

    .mce-ico {
      vertical-align: top;
      height: 3rem;
      font-size: 3rem;
      color: #3d3d3d;
      width: 32px;
      line-height: 3rem;

      &::before {
        font-size: 3rem;
        line-height: 3rem;
      }
    }

    //&.mce-arrow.mce-arrow.mce-floatpanel:not()::before,
    //&.mce-arrow.mce-arrow-center.mce-panel::before {
    //  border: 0;
    //  left: -60px;
    //  top: 19px;
    //  font-family: "um-icons";
    //  content: "\e929";
    //  font-size: 3rem;
    //  line-height: 3rem;
    //  width: 31px;
    //  height: 31px;
    //}

    &.mce-arrow-center.mce-arrow.mce-arrow-left {
      margin-left: 10px;
    }

    &.mce-tinymce-inline {
      margin-left: 0;
    }
  }

  &.mce-arrow.mce-arrow-down,
  &.mce-arrow.mce-arrow-up {

    .mce-btn-group.mce-container {
      padding: .5rem;
      background: #3d3d3d;
    }

    .mce-flow-layout {
      background: #3d3d3d;
    }

    button {
      background: #3d3d3d;
      border: 0;
      border-radius: .2rem;

      &:hover,
      &:active {
        background: #e2e2e2;
        color: #3d3d3d;

        .mce-ico {
          color: #3d3d3d;
        }
      }
    }

    .mce-ico {
      text-align: center;
      width: 25px;
      color: #e2e2e2;

      &::before {
        font-size: 2rem;
        line-height: 3rem;
        vertical-align: top;
      }
    }

    &:before,
    &:after {
      content: '';
    }
  }

  &.mce-arrow.mce-arrow-down {
    &::before,
    &::after {
      //left: 20px;
      //bottom: -8px;
      border-top-color: #3d3d3d;
      //border-width: 8px 8px 0;
      //margin-left: -8px;
    }
  }

  &.mce-arrow.mce-arrow-up {
    &::before,
    &::after {
      //top: -9px;
      //left: 20px;
      border-bottom-color: #3d3d3d;
      //border-width: 0 9px 9px;
      //margin-left: -9px;
    }
  }
}

.mce-toolbar .mce-btn-group.mce-container {
  padding: 1rem 1rem;
}

.mce-btn-group .mce-btn {
  border: 0;
  background: transparent;

  &:hover,
  &:active {
    background-color: transparent;
  }
}

div.mce-tinymce-inline {
  border: 0 !important;
}

.mce-flow-layout-item.mce-last {
  margin-right: 0 !important;
}

.mce-tinymce.mce-arrow.mce-arrow-down .mce-flow-layout, .mce-tinymce.mce-arrow.mce-arrow-up .mce-flow-layout {
  background-color: transparent;
}

.form__row_textarea._visible-tablet {
  display: block;

  @include media('>tablet') {
    display: none;
  }
}

.form__row._visible-desktop {
  display: none;

  @include media('>tablet') {
    display: block;
  }

}
