// forms

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

// input[type='text'],
// input[type='tel'],
// input[type='email'],
// input[type='search'],
// input[type='password'],
// //input[type='url'],
// // input[type='date'],
// textarea {
// 	@include placeholder {
// 		color: $placeholder-color;
// 	}
// 	color: $placeholder-color;
// 	-webkit-appearance: none;
// 	-webkit-border-radius: 0;
// 	box-sizing: border-box;
// 	display: block;
// 	background: $form-element-background;
// 	border: 1px solid $form-element-border-color;
// 	padding: $form-element-padding;
// 	font-size: 16px;
// 	line-height: 20px;
// 	height: 40px;
// 	width: 100%;
// 	margin: 0;
// 	outline: none;
// 	box-shadow: none;
// 	transition: border 0.3s;

// 	&:focus {
// 		border-color: $form-element-focus-border-color;
// 	}
// }

select {

    &:focus {
        outline: none;
        box-shadow: 0 0 1px rgba(0, 0, 0, .3);
    }

	-webkit-border-radius: 0;
	
	.hideme {
		display: none;
	}
}

textarea {
	resize: vertical;
	vertical-align: top;
	height: 150px;
	min-height: 120px;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

.form {
    &_subscribe {
        color: #777;
    }

    a {
        border-bottom: 0;
        &:hover {
            color: red;
        }
    }

    &_theme_dark {
        color: #999;

        a {
            border-bottom: 1px solid transparent;
            color: rgba(#fff, .9) !important;
            &:hover {
                color: $base-link-color !important;
            }
        }
    }

    // &_add_news {
    //     padding: 2rem $gap;
    // }

    // &_login {}

    small {
        font-size: 1.2rem;
        .form_theme_dark & {
            color: #777;
        }
        a {
            white-space: nowrap;
        }
    }

    &__row {
        padding-bottom: $gap;
        &:last-of-type {
            padding-bottom: 0;
        }
    }

    &__title {
        padding-bottom: 1.6em;
        line-height: 1.6;
        .h {
            margin: 0;
            font-size: 1.8rem;

            @include media('>tablet') {
                font-size: 2.4rem;
            }
        }
        p {
            padding-top: 1em;
        }
    }
}

.submit-button {
    display: block;
    overflow: hidden;
    border: 0;
    background: none;
    text-indent: 6rem;
    transition: color .15s;
    &:before {
        border-top: 2px solid;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 0;
        margin: -1px 0 0 -8px;
        content: '';
    }
    &:after {
        border-bottom: 2px solid;
        border-right: 2px solid;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        margin-top: -4px;
        content: '';
        transform: rotate(-45deg);
    }

    .form_theme_dark & {
        &:hover {
            color: #fff;
        }
    }
}

.form-control-holder {
    position: relative;
    
    &__submit {
        opacity: 0;
        position: absolute;
        top: 1px;
        right: 1px;
        width: 3.8rem;
        height: 3.8rem;
        outline: none;
        will-change: opacity;
        transition: opacity .1s;
        &:focus {
            opacity: 1;
            color: #fff;
        }
    }
}

.form-control {
    box-shadow: none;
    border: 1px solid #ececec;
    border-radius: .2rem;
    position: relative;
    width: 100%;
    height: 4rem;
    padding: 1.2rem;
    color: #777;
    font: 1.6rem/1 $roboto-font;
    outline: none;
    transition: border .2s;
    appearance: none;
    @include placeholder {
        color: inherit;
    }

    @include media('>desktop') {
        font-size: 1.4rem;
    }
    &_padded {
        padding-right: 5.2rem;
        &:focus {
            & ~ .form-control-holder__submit {
                opacity: 1;
            }
        }
    }
    &:focus {
        border-color: $gray;
        
        .form_theme_dark & {
            border-color: #fff !important;
        }
    }

    &._invalid {
        border-color: red;
        
        & + .form-control-error {
            z-index: 3;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    .form_theme_dark & {
        border-color: $gray;
        background: $dark-color;
        color: #fff;
        @include placeholder {
            color: #777;
        }
    }
}

.form-control-error {
    opacity: 0;
    visibility: hidden;
    border: 1px solid #e3e3e3;
    box-shadow: 0 1px 2px rgba(#000, .1);
    position: absolute;
    top: 100%;
    right: 0;
    max-width: 100%;
    margin-top: 10px;
    padding: 15px 36px 20px 50px;
    color: $base-text-color;
    font-size: 1.4rem;
    line-height: (25/14)+em;
    background: #fff;
    transition: .25s;
    transform: translateY(-10px);

    @include media('>desktop') {
        min-width: 320px;
    }

    .form_theme_dark & {
        color: #000;
        border-color: darken(#fff, 30%);
        //background: darken(#fff, 10%);
    }

    &:before {
        border: 1px solid;
        border-radius: 50%;
        position: absolute;
        // top: 20px;
        left: 10px;
        width: 30px;
        height: 30px;
        padding-top: .7rem;
        color: red;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1;
        content: '!';
    }
    &:after {
        border: 1px solid #e3e3e3;
        border-bottom: 0;
        border-right: 0;
        position: absolute;
        top: -7px;
        right: 10px;
        width: 12px;
        height: 12px;
        background: #fff;
        content: '';
        transform: rotate(.125turn) scale(.9999);

        .form_theme_dark & {
            border-color: #fff;
            background: #fff;
            //border-color: darken(#fff, 30%);
            //background: darken(#fff, 10%);
        }
    }
}

.comments-widget {
    overflow: hidden;
    box-shadow: -23px 0 35px rgba(#000, .2);
    height: 100vh;
    margin-right: -8px;
    margin-left: -8px;
    padding: $gap*2 0 0 $gap;
    background: #fff;
    @include media('>tablet') {
        float: right;
        width: 740px;
        margin-left: 0;
    }
    &__inner {
        overflow-y: auto;
        height: 100%;
        padding-right: $gap;
    }
    .h {
        padding: 0 $gap;
    }
}

input:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */