.main-menu {
    order: 1;
    min-width: 100%;
    @extend %listreset;
    font-size: 1.6rem;

    @include media('>960px') {
        border-top: 1px solid #e3e3e3;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 40px;
        padding: 0 $gap;
    }
    @include media('>1090px') {
        justify-content: center;
    }

    .sp-section & {
        @include media('>tablet') {
            border: 0;
            //color: rgba(#fff, .65);
            flex: 1 1;
            min-width: 100%;
            width: 117rem;
            justify-content: flex-start;
        }
    }

    .site-flasher & {
        @include media('>tablet') {
            border-top: 0;
        }

        @include media('>desktop') {
            border-top: 0;
            display: flex !important;
        }
    }

    &__item {
        border-bottom: 1px solid $border-color;
        margin-left: $gap;
        font-family: $lora-font;
        font-weight: 700;
        &--sp {
            color: $red;
            &:hover a {
                color: $red !important;
            }
        }
        .sp-section & {
            border-bottom-color: #666;
            margin-bottom: 10px;
        }
        .sp-section_inverted & {
            color: darken(#fff, 20%);
            &--sp {
                color: $red;
            }
            @include media('<=960px') {
                color: #000;
            }
        }

        @include media('>960px') {
            border: 0;
            display: flex;
            align-items: center;
            margin-left: 2.3rem;
        }
        &:first-child {
            @include media('>960px') {
                margin-left: 0;
            }
            &:before {
                @include media('>960px') {
                    content: none;
                }
            }
        }
        &:last-child {
            @include media('<=960px') {
                border: 0;
            }
            a {
                @include media('<=960px') {
                    padding-top: 0.969em;
                    padding-bottom: 0.969em;
                }
            }
        }
        //&:hover,
        &._active {
            color: red;
            .sp-section_inverted & {
                @include media('>960px') {
                    color: #fff;
                }
            }
        }
        &::before {
            @include media('>960px') {
                display: block;
                width: 1px;
                height: 1px;
                margin-right: 2.3rem;
                background: #ff4e3e;
                content: '';
                pointer-events: none;
                box-shadow:
                    1px 0 #ff4e3e,
                    2px 0 #ff4e3e,
                    1px -1px #ff4e3e,
                    2px -1px #ff4e3e,
                    1px 1px #ff4e3e,
                    2px 1px #ff4e3e,
                    3px 1px #ffa69e,
                    3px -1px #ffa69e,
                    0 -1px #ff4e3e,
                    0 -2px #ff4e3e,
                    1px -2px #ff4e3e,
                    1px -3px #ffa69e,
                    -1px -3px #ffa69e,
                    -1px -2px #ff4e3e,
                    -1px -1px #ff4e3e,
                    -2px -1px #ff4e3e,
                    -2px 1px #ff4e3e,
                    -2px 0 #ff4e3e,
                    -3px 1px #ffa69e,
                    -3px -1px #ffa69e,
                    1px 2px #ff4e3e,
                    -1px 2px #ff4e3e,
                    1px 3px #ffa69e,
                    -1px 3px #ffa69e,
                    -1px 1px #ff4e3e,
                    0 2px #ff4e3e,
                    0 1px #ff4e3e,
                    -1px 0 #ff4e3e,
                    -2px 0 #ff4e3e;
            }
        }
        &.no-before::before {
            content: none;
        }
        .sp-section_inverted &:before {
            background: rgba(#fff, .65);
            box-shadow:
                    1px 0 rgba(#fff, .65),
                    2px 0 rgba(#fff, .65),
                    1px -1px rgba(#fff, .65),
                    2px -1px rgba(#fff, .65),
                    1px 1px rgba(#fff, .65),
                    2px 1px rgba(#fff, .65),
                    3px 1px rgba(#fff, .65),
                    3px -1px rgba(#fff, .65),
                    0 -1px rgba(#fff, .65),
                    0 -2px rgba(#fff, .65),
                    1px -2px rgba(#fff, .65),
                    1px -3px rgba(#fff, .65),
                    -1px -3px rgba(#fff, .65),
                    -1px -2px rgba(#fff, .65),
                    -1px -1px rgba(#fff, .65),
                    -2px -1px rgba(#fff, .65),
                    -2px 1px rgba(#fff, .65),
                    -2px 0 rgba(#fff, .65),
                    -3px 1px rgba(#fff, .65),
                    -3px -1px rgba(#fff, .65),
                    1px 2px rgba(#fff, .65),
                    -1px 2px rgba(#fff, .65),
                    1px 3px rgba(#fff, .65),
                    -1px 3px rgba(#fff, .65),
                    -1px 1px rgba(#fff, .65),
                    0 2px rgba(#fff, .65),
                    0 1px rgba(#fff, .65),
                    -1px 0 rgba(#fff, .65),
                    -2px 0 rgba(#fff, .65);
        }

        a {
            display: block;
            padding: 1.4em $gap .476em 0;
            color: inherit;
            text-decoration: none;

            @include media('>960px') {
                display: inline;
                padding: 0;
            }
            &:hover {
                @include media('>=desktop') {
                    color: red;
                }
                .sp-section_inverted & {
                    @include media('>=desktop') {
                        color: #fff;
                    }
                }
            }
            //.sp-section & {
            //    @include media('<tablet') {
            //        color: #000;
            //    }
            //    &:hover {
            //        @include media('>tablet') {
            //            color: #fff;
            //        }
            //    }
            //}
        }
    }
}
