.menu-wrapper {
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background: #fff;
    }
    &::-webkit-scrollbar-track {
        background-color: #eceef4;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border: 2px solid #eceef4;
        background: rgba(#000, .3);
    }
    .content__side_view_feed &,
    .content__side_view_list & {
        flex: 1;
        height: 100%;

        @include media('>tablet') {
            overflow-y: auto;
        }
        @include media('>desktop') {
            border-right: 1px solid $border-color;
        }
    }

    .filter__list._droped & {
        max-height: inherit;
        overflow-y: auto;
    }

    .content__side_view_feed & {
        &:last-of-type {
            max-width: percentage(7/12);
            min-width: percentage(7/12);
            padding-left: $gap + .5;
            .menu__item a {
                padding-left: 0;
                &:before {
                    content: none !important;
                }
            }
        }
    }
    .content__side_stacked & {
        @include media('<=desktop') {
            position: relative;
            min-width: 21rem;
            transform: translateX(-100%);
        }
    }
}

[data-sticky] {
    .menu-trigger {
        box-shadow: -5px 5px 15px rgba(#000, .05);
        border-radius: .2rem;
        border: 1px solid $border-color;
        position: absolute;
        top: 50%;
        right: 0;
        width: $gap;
        height: 4rem;
        background: #fff;
        cursor: pointer;
        transform: translateY(-50%);

        @at-root ._swiped .menu-trigger {
            right: 100%;
        }
        &:hover {
            background: darken(#fff, 5%);
        }
        &:before {
            border-style: solid;
            border-width: 5px;
            border-color: transparent #000 transparent transparent;
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            top: 50%;
            right: 4px;
            margin-top: -4px;
            content: "";
        }
        @at-root ._swiped .menu-trigger:before {
            left: 4px;
            right: auto;
            transform: rotate(180deg);
        }
        &:after {
            position: absolute;
            top: -$gap;
            bottom: -$gap;
            left: -$gap;
            right: 0;
            display: block;
            content: "";
        }
        @include media('>desktop') {
            display: none;
        }
    }
}

.menu {
    overflow: hidden;
    overflow-y: auto;
    @extend %listreset;

    // @include media('>desktop') {
    //     height: 100%;
    // }
    &_secondary {
        @include media('<=desktop') {
            display: none;
            box-shadow: 0 10px 30px rgba(#000, .1);
            border-radius: .2rem 0 0 .2rem;
            padding: $gap 0;
            background: #fff;
        }
        ._swiped & {
            @include media('<=desktop') {
                display: block;
            }
        }
    }
    &_feed_subcategories {
        font-size: 1.6rem;
    }
    &__item {
        .menu_secondary & {
            & + .menu__item {
                @include media('<=desktop') {
                    margin-top: $gap/2;
                }
            }
        }
        &:hover {
            color: red;
        }
        &._active {
            color: red;
            a {
                border-right-color: transparent;
                padding-left: $gap/2;
                .menu_secondary & {
                    padding-left: 1.2rem;
                    //@include media('<=tablet') {
                    //    padding-left: 0;
                    //}
                }
                &:before {
                    border-left: .4rem solid;
                    position: absolute;
                    top: .5rem;
                    bottom: .5rem;
                    left: 0;
                    width: 0;
                    content: '';

                    @include media('<=tablet') {
                        left: -4.8rem;
                    }
                    .menu_secondary & {
                        left: 0;
                    }
                }
            }
        }
        a {
            border-bottom: 1px solid $border-color;
            //border-right: 1px solid $border-color;
            display: block;
            position: relative;
            padding: (4rem - 1.7rem)/2 (4rem - 1.7rem)/2 (4rem - 1.7rem)/2 $gap/2;
            font-size: 1.4rem;
            color: inherit;

            @include media('<=tablet') {
                border-right: 0;
                margin-left: 4.8rem;
                padding-left: 0;
            }
            @include media('>desktop') {
                padding-left: 0;
            }
            .menu_secondary & {
                border-bottom: 0;
                margin-left: 0;

                @include media('<=desktop') {
                    border-color: transparent;
                    padding: $gap/4 $gap;
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                }
            }
        }
    }
}

.functional-button-wrap {
    backface-visibility: hidden;
    z-index: 21;
    position: fixed;
    top: calc(100% - 40px);
    left: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    margin: -75px 0 0 -75px;
    body:not(._moving) & {
        transition: left .3s, right .3s, top .3s;
    }

    &._stacked_right {
        left: 100% !important;
    }

    &._stacked_left {
        left: 90px !important;
    }

    &._drop_right {
        flex-direction: row-reverse;
    }

    @include media('<desktop') {
        bottom: $gap !important;
        left: auto !important;
        right: $gap !important;
    }
    &:hover .dragger {
        opacity: 1;
    }
    ._moving & {
        z-index: 101;
    }
    // .dragger {
    //     display: none;
    //     opacity: 0;
    //     position: absolute;
    //     top: -7px;
    //     left: -7px;
    //     width: $gap;
    //     height: $gap;
    //     background: green;
    //     transition: opacity .4s;
    //     will-change: opacity;
    //     cursor: move;
    //     // ._drop_right & {}
    //     ._moving & {
    //         opacity: 1;
    //     }
    // }
}

.functional-panel {
    visibility: hidden;
    opacity: 0;
    border-radius: 30px;
    box-shadow: 0 0 1px 1px rgba(#000, .05), 0 5px 8px rgba(#000, .05);
    flex: 1 1;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 3rem;
    width: 26rem;
    height: 6rem;
    padding: 0 $gap+6 0 $gap;
    background: #fff;
    will-change: opacity, visibility;
    transition: .2s;
    ._droped & {
        visibility: visible;
        opacity: 1;
    }
    ._drop_right & {
        left: 0;
        right: auto;
        padding: 0 $gap 0 $gap+6;
    }
    &__button {
        flex: 1 1;
        min-width: 4.6rem;
        margin: 0 $gap/2;
        color: inherit !important;
        text-align: center;
        .icon {
            font-size: 3rem;
        }
    }
}

._stacked_right {
    .hide-func {
        order: 3;
    }
}

.functional-button {
    flex: 0 0 60px;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 0 6px 2px rgba(#000, .05);
    display: block;
    width: 60px;
    height: 60px;
    // margin-left: -60px;
    padding-top: 29px;
    background-color: #fff;
    transition: margin-left .15s;
    cursor: pointer;
    ._moving & {
        cursor: move;
    }
    ._drop_right & {
        margin-left: 0;
    }
    &:before {
        box-shadow:
            -9px 0 0 #000,
            -3px 0 0 #000,
            3px 0 0 #000,
            9px 0 0 #000;
        display: block;
        width: 3px;
        height: 3px;
        margin: auto;
        background: #fff;
        content: '';
        transition: .2s;
        will-change: transform, box-shadow;
        ._droped & {
            box-shadow:
                0 -9px 0 #000,
                0 -3px 0 #000,
                0 3px  0 #000,
                0 9px 0 #000;
            transform: rotate(-.5turn);
        }
    }
}

._moving {
    user-select: none;
    cursor: move;
    &:before {
        z-index: 100;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background: rgba(#000, .15);
    }
}
