$pic-ratio: 164/260;

.news-include {
  @include media('>tablet') {
    height: 100%;
  }
  &__title {
    border-bottom: 2px solid;
    margin-bottom: .2em;
    padding: 1em 0 .4em;
    color: #3d3d3d;
    font-size: 2rem;
    font-weight: bold;
    font-family: $roboto-font;
    @include media('>tablet') {
      display: none;
    }
  }
}

.news-lis-wrap {
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;

  @include media('>tablet') {
    border-radius: .2rem;
    border: 1px solid $border-color;
    height: 100%;
  }
  [class*=c-] {
    @include media('<=tablet') {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }
    &:first-child {
      @include media('>tablet') {
        padding-left: 0;
        margin-bottom: 0;
      }
      .news-block {
        padding-right: 0;
      }
    }
    &:last-child {
      @include media('>tablet') {
        padding-right: 2rem;
      }
    }
  }
}

.news-list {
  display: flex;
  flex-wrap: wrap;

  @include media('>tablet') {
    min-height: 100%;
  }
  &_addon {
    display: none;

    @include media('>tablet') {
      display: flex;
      margin: 0 (-$gap);
    }
  }
  .c-row-sm & {
    @include media('>tablet') {
      padding: 1rem 0;
    }
  }
  .c-row-md & {
    @include media('>tablet') {
      padding: 2rem 0;
    }
  }
  .c-row-lg & {
    @include media('>tablet') {
      padding: 3rem 0;
    }
  }
  &__item {
    min-width: 100%;
    .news-item__title {
      color: inherit !important;
      &:hover {
        span {
          border-bottom: 1px solid;
        }
      }
    }
  }
}

.news {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  .content__main_view_list .news-list & {
    @include media('>tablet') {
      width: 100%;
      min-height: 100vh; // TODO: temp
    }
  }
  &_agregator {
    .sp-section & {
      max-width: $max-container-width;
      margin-left: auto;
      margin-right: auto;
      padding: $gap;
      background-color: $white;
      z-index: 2;
      position: relative;
    }
  }
  &__item {
    flex: 1 1 100%;
    margin: 0 0 2rem;
    font-size: 1.6rem;
    .news-list_addon & {
      padding: 0 $gap;
    }
    &-inner {
      border-bottom: 1px solid $border-color;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 2rem;
      .news__item_half & {
        padding-bottom: 1rem;
      }
      .news__item_media & {
        padding-bottom: 0;
      }
    }

    // TODO: news tiles

    // .news_list & {
    //     min-width: 290px;
    //     max-width: 320px;
    //     margin-left: auto;
    //     margin-right: auto;

    //     @media screen and (min-width: 610px) {
    //         min-width: 250px;
    //         margin-left: $gap;
    //         margin-right: $gap;
    //     }

    //     @include media('>tablet') {
    //         margin-left: 0;
    //         margin-right: 0;
    //     }
    // }

    // @at-root .content:not(.content_view_feed) .news__item:last-child:not(:nth-child(even), .news__item_size_sm) {
    //     @media screen and (min-width: 670px) {
    //         margin-right: 320px + $gap*2 !important;
    //     }

    //     @include media('>tablet') {
    //         margin-right: 320px + $gap*3 !important;
    //     }

    //     @include media('>desktop') {
    //         margin-right: $gap !important;
    //     }
    // }

    // .content_view_feed .content__main > .news > &,
    // .content_page_news .content__main > .news > & {
    //     // min-width: 290px;
    //     margin: 0 !important;
    // }
    &_size_sm {
      margin-bottom: 1.6rem;
    }
    &_size_md {
      padding-bottom: 1.6rem !important;
      & + & {
        margin-top: 2.6rem !important;
      }
    }
    &_half {
      @include media('>tablet') {
        flex: 1 1 50%;
        max-width: 50%;
      }
    }
    //&_lead {
    //    position: relative;
    //    border: 0;
    //    min-width: 50% !important;
    //    max-width: 50% !important;
    //    padding: 0;
    //    .news {
    //        &__main {
    //            display: none;
    //        }
    //        &__media {
    //            flex: 1 1 100% !important;
    //            margin: 0;
    //        }
    //    }
    //    .media {
    //        padding-bottom: 100%;
    //        &:after {
    //            background: rgba(#000, .7);
    //        }
    //    }
    //}
    &_media {
      @include media('>tablet') {
        flex: 0 0 50%;
        display: flex;
        width: 50%;
        margin-bottom: $gap*2 !important;
        padding: 0 $gap;
      }
      @include media('>desktop') {
        flex: 0 0 percentage(1/3);
        width: percentage(1/3);
        min-height: 41.2rem;
      }
      .news__item-inner {
        border: 0;
        border-radius: .2rem;
        box-shadow: 0 2px 5px rgba(#000, .15);
        flex-wrap: nowrap;
        flex-direction: column !important;
        width: 100%;
        will-change: box-shadow;
        transition: box-shadow .1s linear;
      }
      &:hover {
        .news__item-inner {
          @include media('>tablet') {
            box-shadow: 0 23px 45px rgba(#2b2b2b, .25);
          }
        }
      }
    }
    .news_agregator & {
      height: 100%;
      padding: 10px 20px $gap;
    }
  }
  &__main {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-width: unset;

    @include media('>tablet') {
      flex: 1 1;
    }
    .news__item_size_sm & {
      display: flex;
      flex-wrap: wrap;
      min-width: unset;
      flex: 1 1;
    }
    .news__item_media & {
      padding: $gap $gap $gap*2;

      @include media('>desktop') {
        padding: $gap*2 $gap*2 $gap;
      }
    }
  }
  &__media {
    order: -1;
    flex: 1 1 100%;
    min-width: 100%;
    margin-bottom: 1em;

    @include media('>tablet') {
      order: 1;
      flex: 0 0 260px;
      min-width: 260px;
      margin-left: $gap*2;
      margin-bottom: 0;
    }
    .news_addon & {
      @include media('<=tablet') {
        display: none;
      }
    }
    .news_type_blog & {
      @include media('>tablet') {
        padding-top: 2.7em;
      }
    }
    .news__item_size_sm & {
      order: -1;
      flex: 0;
      min-width: 8rem;
      height: 8rem;
      margin-left: 0;
      margin-right: $gap;
    }
    .news__item_media & {
      order: -1;
      flex: 1 1;
      max-height: 190px;
      margin: 0;
    }
  }
  &__head {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 100%;
    margin-bottom: auto;
    padding-bottom: 1em;
    &_feed {
      position: relative;
      margin-bottom: 4.4rem;
      padding: 1.5rem 0 2.3rem;
      &:before {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        content: '';
      }
      &:after {
        box-shadow: 0 5px 15px rgba(#000, .1);
        border-radius: 100%/100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -2px;
        height: 10px;
        content: '';

        @include media('>desktop') {
          left: -$gap;
          right: $gap;
        }
      }
    }
    .news__item_size_sm & {
      margin: 0;
    }
    .news__item_media & {
      margin-bottom: auto;
      padding-bottom: 0;
    }
  }
  &__foot {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-end;
    min-width: 100%;
    margin-top: auto;
    color: #777;
    font-family: $roboto-font;
    line-height: 1;
    .news__item_media & {
      margin-top: auto;
    }
  }
  &__title {
    z-index: 1;
    flex: 1 1;
    position: relative;
    min-width: 100%;
    margin-bottom: .5em;
    font-size: 1.8rem;
    .news__item_half & {
      margin-bottom: 0;
    }
    .news__head_feed & {
      margin-top: .6rem;
    }

    @include media('>tablet') {
      align-self: flex-start;
    }
    a {
      color: inherit;
      &:hover {
        color: red;
      }
    }
    .h {
      margin: 0;
      line-height: (18/14);
      font-size: 1.8rem;
      font-weight: 500;
      .news__head_feed & {
        font-size: 2.6rem;
        line-height: 1.5;
      }
      &:hover {
        color: red;
      }

      @include media('>tablet') {
        line-height: 1.4;
        font-size: 2rem;
      }
      .news__item_size_sm & {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: (20/16)+em;
      }
    }
  }
  &__author {
    display: none;

    @include media('>tablet') {
      flex: 1;
      display: block;
      margin-top: 1.3rem;
      margin-right: $gap;
    }
  }
  &__tools {
    display: none;

    @include media('>tablet') {
      z-index: 1;
      flex: 1;
      display: flex;
      position: relative;
    }
  }
  &__badge {
    z-index: 2;
    position: relative;
    order: -1;
    margin-bottom: 2.2em;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: $roboto-font;
    .content_view_feed & {
      @include media('>desktop') {
        margin-left: -2.1rem;
      }
    }
    &:before {
      border: .8rem solid;
      border-top: 0;
      border-right-width: .4rem;
      border-left-width: .7rem;
      border-right-color: transparent;
      display: inline-block;
      width: 0;
      height: 0;
      margin-right: 1rem;
      color: red;
      content: '';
    }
  }
  &__preview {
    width: 100%;
    margin-bottom: 1.6em !important;
    color: #777;
    font-family: $lora-font;
    font-size: 1.6rem;
    line-height: 1.42;
    .news_addon & {
      @include media('<=tablet') {
        font-size: 1.2rem;
        line-height: 1.6;
      }
    }
    .content_media_list & {
        margin-top: .8em;
    }
    .news__item_media & {
      color: $base-text-color;

      @include media('<=tablet') {
        margin-bottom: 0 !important;
      }
    }
  }
  &__timestamp {
    z-index: 1;
    flex: 1;
    position: relative;
    font-family: $roboto-font;
    .news__head_feed & {
      margin-top: 1.4em;
    }
  }
  &__category {
    text-align: right;
  }
  &__content {
    width: 100%;
  }
}

.media {
  z-index: 1;
  overflow: hidden;
  border-radius: .2rem;
  display: block;
  position: relative;
  background: #ddd;
  padding-bottom: percentage($pic-ratio);
  &:before {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    color: #fff;
    font-family: $um-font;
    font-size: 3.6rem;
    line-height: 1;
    text-align: center;
  }
  &_image:before {
    content: '\e90d';

  }
  &_video:before {
    content: '\e913';

  }
  &_infographic:before {
    content: '\e90c';
  }
  &:after {
    opacity: .5;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(#000, 0) 30%, rgba(#000, 1) 100%);
    content: '';
    .news__item_half & {
      content: none;
    }
  }
  .news-addon & {
    padding-bottom: 53%;
  }
  .news__item_media & {
    padding-bottom: 190px;
  }
  &_ratio_1x1 {
    padding-bottom: 100%;
  }
  &__pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    img {
      opacity: 0;
      width: 0;
      height: 0;
      visibility: hidden;
      //.media_ratio_1x1 & {
      //    width: auto;
      //    max-width: unset;
      //    height: 100%;
      //}
    }
  }
}

.category {
  flex: 1;
  font-size: 1.2rem;
  text-align: right;

  .news-addon &,
  .page-widgets_top & {
    text-align: left;
  }

  .page-widgets_top & {
    color: #999;
  }

  .news-addon & {
    font-size: 1.2rem;
    font-family: $roboto-font;
  }

  &-link {
    color: inherit;
    line-height: 1;
    &:hover {
      color: red;
    }
  }
}

.page-widgets {
  &_top {
    order: -1;
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100%;
    margin-bottom: .3em;
    padding-right: 40px;

    @include media('>desktop') {
      margin-bottom: .3em;
    }
    & > * {
      flex: 1 1 50%;
      margin-bottom: .6rem;
      font-size: 1.2rem;

      @include media('>tablet') {
        flex: 0 0 auto;
        margin: 0 4rem 0 0;
        min-width: initial;
      }
    }
    .category-link {
      &:not(:hover) {
        color: #777;
      }
    }
  }
}

.filter {
  position: relative;
  display: flex;
  margin-bottom: 3rem;
  .content_media_list & {
    padding: 0 $gap;
  }
  &__trigger {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    &:after {
      border: 4px solid transparent;
      border-top-color: $base-text-color;
      position: relative;
      display: inline-block;
      width: 0;
      height: 0;
      top: .1em;
      margin-left: $gap/2;
      content: '';
    }
  }
  &__list {
    visibility: hidden;
    opacity: 0;
    overflow-y: hidden;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(#000, .15);
    position: absolute;
    top: 100%;
    left: -$gap;
    width: 240px;
    max-height: 80vh;
    padding: 0 0 0 $gap;
    background: #fff;
    transition: .2s;
    will-change: opacity, visibility, transform;
    margin-top: 10px;
    &._droped {
      visibility: visible;
      opacity: 1;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  &__trigger {
    color: #000;
    font-size: 1.4rem;
    font-family: $roboto-font;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
  }
  &__list {
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 2px 10px rgba(#000, .15);
    position: absolute;
    top: 100%;
    left: -$gap;
    min-width: 240px;
    max-height: 210px;
    padding: $gap;
    background: #fff;
    transition: .2s;
    will-change: opacity, visibility, transform;
    &._droped {
      visibility: visible;
      opacity: 1;
      transform: translateY($gap/2);
    }
    .card {
      & + .card {
        margin-top: $gap;
      }
    }
  }
}

[data-js='dropdown'] {
  &:after {
    border: 4px solid transparent;
    border-top-color: $base-text-color;
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    top: .1em;
    margin-left: $gap/2;
    content: '';
  }
  &._droped {
    &:after {
      top: -.3rem;
      border-color: transparent;
      border-bottom-color: $base-text-color;
    }
  }
}

.news-addon {
  margin: 2.2rem 0;
  background: #fafafa;
  font-size: 1.4rem;
  @include media('>tablet') {
    max-width: 294px;
    margin: 5rem auto;
  }
  &[data-align='left'] {
    @include media('>tablet') {
      float: left;
      margin-right: 1.5em;
      margin-left: 0;
    }
  }
  &[data-align='right'] {
    @include media('>tablet') {
      float: right;
      margin-left: 1.5em;
      margin-right: 0;
    }
  }
  &__title {
    .h {
      color: inherit;
    }
    &:hover {
      color: red;
    }
  }
  &__foot {
    padding: $gap/2 $gap;
  }
  &__body {
    padding: $gap $gap 0;
    line-height: 1.5;
    @include media('>tablet') {
      padding-bottom: $gap;
    }
    p {
      margin-bottom: 0;
    }
  }
  .h {
    margin-bottom: .6em;
    line-height: (25/18);
  }
}

a.widget-close {
  position: absolute;
  top: -13px;
  right: 0;
  margin: 0;
  color: inherit;
  font-size: 4rem;
  &:hover {
    color: red;
  }
  @include media('>tablet') {
    top: -4px;
  }
}

.news-item {
  border-top: 1px solid $border-color;
  display: flex;
  padding: $gap 0;

  @include media('>tablet') {
    padding: $gap/2 $gap/2 $gap/2 0;
  }
  &:first-child {
    border: 0;
  }
  .c-row-xs & {
    //@include media('>tablet') {
    //    min-height: 50%;
    //}
    &:nth-child(2) {
      & ~ .news-item {
        @include media('>tablet') {
          display: none;
        }
      }
    }
  }
  .c-row-sm & {
    //@include media('>tablet') {
    //    min-height: percentage(1/3);
    //}
    &:nth-child(3) {
      & ~ .news-item {
        @include media('>tablet') {
          display: none;
        }
      }
    }
  }
  //.c-row-md &,
  //.c-row-lg & {
  //    @include media('>tablet') {
  //        min-height: percentage(1/4);
  //    }
  //}
  &__title {
    overflow: hidden;
    margin: 0;
    color: inherit;

    @include media('>tablet') {
      padding-right: $gap;
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-family: $lora-font;
    }
    &:hover {
      color: red;
    }
    .c-row-xs & {
      @include media('>tablet') {
        max-height: 5.5rem;
      }
    }
  }
  &__body {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
  }
  &__media {
    overflow: hidden;
    border-radius: .3rem;
    flex: 0 1 auto;
    display: none;
    width: 7rem;
    height: 7rem;
    background-color: $border-color;

    @include media('>tablet') {
      display: block;
    }
  }
}

//стилизация фото в новости для старой html разметки
.content-image {
  margin: 3rem 0;
  border-bottom: 2px solid #333238;

  @include media('>tablet') {
    margin-top: 5rem;
    margin-bottom: 4rem;
  }

  img {
    border-radius: .3rem;
    margin-bottom: 1.6rem;
  }

  &__caption {
    font-size: 1.4rem;
    padding-bottom: 1.6rem;
    line-height: 1.4285714286em;
    font-family: $roboto-font;
  }

  &__caption-text {
    @include media('>tablet') {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    strong {
      font-weight: normal;
    }
  }

  &__caption-copyright {
    display: block;
    margin-top: 0;

    @include media('>tablet') {
      display: inline-block;
    }
  }
}
