.content-addon {
  .mgline {
    min-width: 25% !important;
  }
  .media_metrics a,
  .mgbox a {
    border: none !important
  }
  .sk86254_item:hover a,
  .mgbox .mgline:hover a,
  .media_metrics a:hover span {
    text-decoration: none !important;
    color: $red !important;
  }
}

.partners-wrapper {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.partners-item {
  @include media('<tablet') {
    display: none;
  }
  &__block {
    max-width: 33%;
    min-width: 30%;
    border-radius: 2px;
    float: left;
    overflow: hidden;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
      float: right;
    }
    & .partners-lentainform {
      .mgbox, .mgline {
        padding: 0 !important;
        margin: 0 !important;
      }
      #LentaInformComposite657371 .mgbox {
        padding-top: 0 !important;
      }
      .mgheader {
        display: none;
      }
      .mgtobottom {
        display: none;
      }
      a {
        font-size: .8em !important;
        z-index: 20 !important;
        font-weight: bold !important;
        text-decoration: none !important;
      }
      #LentaInformComposite657371 .mgline:hover .mctitle a,
      #LentaInformComposite658252 .mgline:hover .mctitle a,
      #LentaInformComposite658254 .mgline:hover .mctitle a,
      #LentaInformComposite658259 .mgline:hover .mctitle a,
      #LentaInformComposite658267 .mgline:hover .mctitle a,
      #LentaInformComposite658273 .mgline:hover .mctitle a {
        text-decoration: none !important;
      }
      .mctitle {
        padding-right: 15px !important;
      }
      .close-informer {
        display: none !important;
      }
      .image-container {
        height: auto;
        border-radius: 2px;
        &:after {
          opacity: .5;
          z-index: 1;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: linear-gradient(to bottom, transparent 30%, black 100%);
          content: '';
        }
        img {
          max-height: 160px !important;
        }
      }
      .text-elements {
        background: none !important;
        z-index: 2;
        max-height: 40px;
        overflow: hidden;
        margin-bottom: 10px !important;
        margin-left: 5px !important;
      }
      img {
        border-radius: 2px;
      }
      .widgets_logo {
        position: absolute !important;
        bottom: 10px;
        left: 95px;
      }
    }
    & .partners-smi2 {
      img {
        width: auto;
        border-radius: 2px;
      }
      table {
        border-radius: 2px;
        td {
          padding: 0 !important;
        }
      }
      td > a {
        width: inherit;
        max-width: 190px !important;
        position: absolute;
        margin-top: -48px;
        margin-left: -9.5%;
        max-width: 200px;
        text-align: left;
        border: none !important;
        font-size: 1em !important;
        font-weight: bold  !important;
        max-height: 35px !important;
        overflow: hidden;
        line-height: 18px !important;
        z-index: 2;
        font-stretch: condensed !important;
        font-family: Roboto;
      }
      div {
        margin: 0 !important;
      }
    }
    & .partners-mediametrics {
      & + .partners-item_logo {
        margin-top: 0;
      }
      .mm-body__inner > div {
        max-width: 100%;
        display: table-row;
        justify-content: space-between;
      }
      .mm-body {
        padding: 0 !important;
        min-height: 0 !important;
        width: auto !important;
        min-width: auto !important;
      }
      .mm-body .mm-body__line {
        max-width: 100%;
      }
      .mm-body__line a {
        overflow: hidden;
      }
      .mm-body__line a img {
        min-height: 100% !important;
        min-width: 300px;
        border-radius: 2px;
        margin: 0 !important;
      }
      span {
        text-shadow: none !important;
        background: none !important;
        color: #fff;
        max-height: 38px !important;
        font-stretch: condensed !important;
        font-family: Roboto !important;
        font-weight: bold  !important;
        margin: 5px;
        width: 100% !important;
        padding-right: 20px !important;
        margin-bottom: 8px !important;
        font-size: 1em !important;
        line-height: 18px !important;
        z-index: 2;
      }
      a {
        border: none !important;
        &:after {
          opacity: .5;
          z-index: 1;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: linear-gradient(to bottom, transparent 30%, black 100%);
          content: '';
        }
      }
      .mm-body__line--text-over-image a:hover span {
        background: none !important;
        text-decoration: none !important;
        color: $red !important;
        opacity: 1 !important;
      }
    }
    .partners-item_logo {
      margin-top: 5px;
    }
  }
  &__line {
    width: 49%;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 15px;
    padding-right: 30px;
    max-height: 120px;
    &.partners-item__row {
      padding-right: 0;
      min-width: 100%;
      .partners-lentainform {
        .image-with-text {
          min-width: 100%;
        }
        .mgline {
          margin-bottom: 30px !important;
          box-shadow: none !important;
          border-radius: 0 !important;
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 110px;
            background: url('../images/logo-lenta.svg') no-repeat;
            background-size: 90px 20px;
            width: 90px;
            height: 20px;
            filter: grayscale(1);
            transition: filter .4s;
          }
          &:hover::after {
            filter: grayscale(0);
            transition: filter .4s;
          }
          &:nth-child(odd) {
            margin-right: 10px !important;
          }
        }
        .mcimg {
          border-radius: 0;
        }
        .mctitle {
          margin: -3px 0 0 20px !important;
          padding: 0 !important;
        }
        img {
          position: static !important;
          border-radius: 2px !important;
        }
      }
      .partners-smi2 {
        td {
          position: relative;
          & > div {
            margin-right: 20px !important;
            margin-top: 3px !important;
          }
          &:nth-child(odd){
            margin-right: 10px !important;
          }
          &::after {
            content: '';
            position: absolute;
            left: 93px;
            bottom: 0;
            background: url('../images/logo-smi2.svg') no-repeat;
            background-size: 90px 20px;
            width: 90px;
            height: 20px;
            filter: grayscale(1);
            transition: filter .4s;
          }
          &:hover::after {
            filter: grayscale(0);
            transition: filter .4s;
          }
        }
      }
      .partners-mediametrics {
        .mm-body {
          min-height: 0 !important;
        }
        .mm-body__inner > div {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          .mm-body__line {
            position: relative;
            max-width: 49%;
            padding-right: 10px !important;
            & > a {
              margin-bottom: 20px !important;
              &::after {
                content: '';
                position: absolute;
                left: 110px;
                bottom: 15px;
                background: url('../images/logo-mediametrics.png') no-repeat;
                background-size: 120px 15px;
                width: 120px;
                height: 20px;
                filter: grayscale(1);
                transition: filter .4s;
              }
              &:hover::after {
                filter: grayscale(0);
                transition: filter .4s;
              }
            }
            &:nth-child(odd) {
              margin-right: 10px !important;
            }
            img {
              border-radius: 2px;
            }
            .block-text-overflow-image-full {
              padding-left: 10px !important;
              margin-top: -5px;
            }
          }
        }
      }
      &.partners-item__row-3 {
        .partners-smi2 {
          tbody {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
          }
          tr {
            width: 49%;
            height: 90px;
            display: block;
            margin-bottom: 30px !important;
            position: relative;
            &::after {
              content: '';
              position: absolute;
              left: 93px;
              bottom: 0;
              background: url('../images/logo-smi2.svg') no-repeat;
              background-size: 90px 20px;
              width: 90px;
              height: 20px;
              filter: grayscale(1);
              transition: filter .4s;
            }
            &:hover::after {
              filter: grayscale(0);
              transition: filter .4s;
            }
            &:nth-child(odd){
              margin-right: 10px !important;
            }
          }
          td {
            width: auto;
            &:hover ~ td a {
              color: $red !important;
            }
            &:first-child {
              padding-right: 20px !important;
              a {
                max-height: 90px !important;
              }
            }
            &::after {
              display: none;
            }
            img {
              position: relative;
              width: 90px;
              height: 90px;
            }
          }
        }
      }
    }
    & .partners-lentainform {
      .mgbox {
        margin: 0 !important;
      }
      .mgline {
        margin: 0 !important;
      }
      .mcimg {
        min-height: 90px !important;
        min-width: 90px !important;
        height: 90px !important;
        width: 90px !important;
        overflow: hidden;
        border-radius: 2px;
        &:hover .text-elements a {
          color: $red !important;
        }
      }
      .image-container {
        display: flex !important;
        margin: 0 !important;
        justify-content: center;
        img {
          position: absolute;
          min-height: 90px !important;
        }
      }
      .close-informer {
        display: none !important;
      }
      .mcdomain {
        display: none !important;
      }
      .mgheader {
        display: none !important;
      }
      .mctitle {
        text-align: left !important;
        margin-top: 1px !important;
        padding-top: 0 !important;
        margin-left: 10px;
        transform: scaleX(1.01) !important;
      }
      .image-with-text {
        display: flex;
      }
      #LentaInformComposite657466 .mgbox {
        position: static !important;
      }
      #LentaInformComposite657466 .mgline .text-elements {
        width: auto !important;
        max-width: 90% !important;
      }
      #LentaInformComposite657466 .mctitle a {
        font-size: 14px !important;
        font-family: Roboto;
        line-height: 22px !important;
      }
      #LentaInformComposite657466 .mgline:hover .mctitle a {
        text-decoration: none !important;
      }
      & ~ .partners-item_logo {
        margin-top: -30px;
      }
    }
    & .partners-smi2 {
      img {
        border-radius: 2px;
        max-width: 90px;
        max-height: 90px;
      }
      tr {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
      }
      td {
        width: 49%;
        padding: 0 !important;
        margin-bottom: 30px;
      }
      td > a {
        border: none !important;
        font-size: 15px !important;
        line-height: 19px;
        font-weight: bold  !important;
        max-height: 68px !important;
        overflow: hidden !important;
        display: flex;
        font-family: Roboto;
      }
      div:hover ~ a {
        color: $red !important;
      }
    }
    & .partners-mediametrics {
      .mm-body {
        padding: 0 !important;
        width: auto !important;
        .mm-body__line {
          margin-bottom: 0 !important;
        }
      }
      & + .partners-item_logo {
        margin-top: 0;
      }
      a {
        border: none !important;
        & span {
          font-size: 14px !important;
          font-weight: bold  !important;
          font-family: Roboto;
        }
      }
      a:hover span {
        background: none !important;
        text-decoration: none !important;
        color: $red !important;
        opacity: 1 !important;
      }
      & ~ .partners-item_logo {
        margin-top: -22px;
      }
      .mm-body__line a img {
        margin-right: 10px !important;
      }
    }
    &.partners-item__col-2 {
      padding: 0 !important;
      max-height: 100%;
      .partners-lentainform {
        #LentaInformComposite658362 .mgline:hover .mctitle a {
          text-decoration: none !important;
        }
        .text-elements {
          margin-top: -5px !important;
        }
      }
      .partners-item_logo {
        margin: 10px 0 0 0;
      }
    }
    .partners-item_logo {
      margin-top: -15px;
      margin-left: 100px;
    }
  }
  &__col-2, &__col-3, &__col-4, &__col-5, &__col-6 {
    min-width: 100%;
    margin-bottom: 20px;
    .partners-lentainform {
      .mgbox {
        display: flex;
        justify-content: space-between;
      }
      .image-container {
        img {
          max-height: 100% !important;
        }
      }
    }
    .partners-smi2 {
      tbody {
        display: flex;
        justify-content: space-between;
        tr {
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
        img {
          width: 370px;
        }
      }
    }
    .partners-mediametrics {
      .mm-body__inner > div {
        display: flex;
        justify-content: space-between;
        .mm-body__line {
          width: 50% !important;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
          a {
            width: 100% !important;
            img {
              width: 100% !important;
              height: 10% !important;
            }
          }
        }
      }
    }
  }
  &__col-2 {
    .partners-smi2 {
      td > a {
        margin-left: -15%;
        max-width: 280px !important;
      }
    }
  }
  &__col-3 {
    .partners-mediametrics {
      .mm-body .mm-body__line {
        max-width: 33%;
        img {
          margin-left: -20% !important;
        }
      }
    }
  }
  &__col-4 {
    .partners-smi2 {
      td > a {
        margin-left: -6.7%;
        max-width: 160px !important;
      }
    }
    .partners-mediametrics {
      .block-text-overflow-image-full {
        font-size: 12px !important;
      }
      .mm-body .mm-body__line {
        max-width: 24%;
        overflow: hidden;
        a {
          max-height: 120px;
          img {
            min-width: 250px !important;
          }
        }
      }
    }
  }
  &__col-5 {
    .partners-smi2 {
      td > a {
        margin-left: -5%;
        font-size: 12px !important;
        max-width: 120px !important;
      }
    }
    .partners-lentainform {
      .mctitle a {
        font-size: 10px !important;
      }
    }
    .partners-mediametrics {
      .block-text-overflow-image-full {
        font-size: 12px !important;
      }
      .mm-body .mm-body__line {
        max-width: 19%;
        a {
          max-height: 100px;
          img {
            min-width: 200px !important;
          }
        }
      }
    }
  }
  &__block.partners-item.partners-item__row-2 {
    .partners-lentainform {
      .mgline {
        margin-bottom: 10px !important;
      }
    }
    .partners-smi2 {
      tbody {
        flex-wrap: wrap;
        max-height: 350px;
      }
      tr {
        max-width: 32%;
      }
      tr:nth-child(-n+3) {
        margin-bottom: 10px;
      }
      tr:nth-child(3), tr:nth-child(6) {
        margin-right: 0;
      }
    }
    .partners-mediametrics {
      .mm-body__inner > div {
        flex-wrap: wrap;
        .mm-body__line {
          width: 32% !important;
        }
        .mm-body__line:nth-child(3) {
          margin-right: 0;
        }
      }
    }
  }
  .partners-item_logo {
    filter: grayscale(1);
    transition: filter .4s;
  }
  .partners-lentainform:hover ~ .partners-item_logo,
  .partners-smi2:hover ~ .partners-item_logo,
  .partners-mediametrics:hover ~ .partners-item_logo, {
    filter: grayscale(0);
    transition: filter .4s;
  }
}
