// Remember to include browser prefixes when copying this CSS to modify for your own Sequence theme

@keyframes seq-preloader {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.seq-preloader {
  display: none;
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 9999;
  height: 100% !important;
  width: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &_fullscreen {
    position: fixed;
    background-color: rgb(227, 227, 227);

    .seq-preload-indicator {
      position: fixed;
      top: 50vh;
    }

    body.preloader & {
      display: block;
    }

    .sp-section & .seq-preload-indicator {
      top: 90vh;
    }
  }

  &_inline {
    position: relative;
    height: 80px !important;

    .seq-preload-indicator {
      position: absolute;
      top: 40px;
    }

    .preloader & {
      display: block;
    }
  }
}

.seq-preloader.seq-preloaded {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
  overflow: visible;
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seq-preload-circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  fill: $base-link-color;
  opacity: 0;
  animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
  animation-delay: .15s;
}

.seq-preload-circle-3 {
  animation-delay: .3s;
}

.seq-preload-indicator-fallback {
  width: 42px;
  overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
  width: 8px;
  height: 8px;
  background-color: $base-link-color;
  border-radius: 100%;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
  margin-left: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
  width: 16px;
  height: 16px;
}

.preloader {
  overflow: hidden;
}
