.news_list_release {

  .media_image:before {
    display: none;
  }

  & .news {

    &__info {
      margin-bottom: .5em;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      flex: 1 1 100%;
      order: -1;

      @include media('>desktop') {
        margin-right: calc(260px + 3rem);
        margin-bottom: 1.5rem;
      }

      .news__timestamp {
        flex: 0 1;
        white-space: nowrap;
        margin-right: 47px;
        font-size: 1.4rem;

        @include media('>tablet') {
          margin-right: 30px;
          font-size: 1.6rem;
        }
      }

      @at-root .news__source-info {
        flex: 0 1;
        font-family: "Roboto", sans-serif;
        color: #777;
        font-size: 1.4rem;

        @include media('>tablet') {
          font-size: 1.6rem;
        }
      }

    }

    &__qty-flies {
      font-size: 1.4rem;
    }

    &__media {
      margin-bottom: 1.4rem;
    }
  }
}

.popup.popup_press_release {
  position: relative;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 23px 45px 10px rgba(43, 43, 43, 0.25);

  @include media('>tablet') {
    max-width: 880px;
    margin: 0 auto;
  }
}

.press-release {

  &__head {
    padding: 6.5rem 0 0;
    margin-bottom: 2.5rem;

    @include media('>tablet') {
      padding-left: 110px;
      padding-right: 110px;
      margin-bottom: 3rem;
    }
  }

  &__title {
    font-family: $roboto-font;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: bold;
    padding: 0 $gap;

    @include media('>tablet') {
      margin-bottom: 3.2rem;
      padding: 0;
      font-size: 2.6rem;
      line-height: 3.5rem;
    }
  }

  &__info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 45px;
    padding: 0 $gap;
    background-color: #fafafa;

    @include media('>tablet') {
      padding: 0 110px;
      margin: 0 -110px;
    }
  }

  &__timestamp,
  &__source-company {
    font-family: $roboto-font;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #3d3d3d;

    @include media('>tablet') {
      font-size: 1.6rem;
    }
  }

  &__source-company {
    margin-right: 45px;

    @include media('>tablet') {
      margin-right: 30px;
    }
  }

  &__copy-text {
    display: none;
    padding: 0;
    color: $black;
    font-size: 1.4rem;

    &:hover {
      color: $base-link-color;
    }

    &::before {
      content: '\e932';
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      font-family: $um-font;
      font-size: 2.2rem;
    }

    @include media('>tablet') {
      display: block;
      margin-left: auto;
    }
  }

  &__body {
    padding: 0 $gap;

    @include media('>tablet') {
      padding-left: 110px;
      padding-right: 110px;
    }

    .lead-paragraph {
      @include media('>desktop') {
        padding-bottom: 2.2rem!important;
        margin-bottom: 0!important;
      }

      & + p {
        @include media('>desktop') {
          margin-top: 2rem;
        }
      }
    }

    .lead-paragraph,
    p {
      font-size: 1.4rem;
      line-height: 2.5rem;

      @include media('>tablet') {
        font-size: 1.8rem;
        line-height: 3rem;
      }

      & + p {
        @include media('>tablet') {
          margin-top: 2.2rem;
        }
      }
    }

    @at-root .include-media_no_border {
      border-bottom: 0;
    }

    .include-media__pic {
      margin-bottom: 0;
    }
  }

  .include-media {
    margin-top: 1rem;

    @include media('>tablet') {
      margin-top: 3rem;
    }
  }

  &__footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2.6rem $gap 2.7rem;
    background-color: #fafafa;

    @include media('>tablet') {
      padding-left: 110px;
      padding-right: 110px;
      flex-flow: row wrap;
    }

    h3 {
      margin-bottom: .7rem;
      font-size: 1.6rem;
      color: #3d3d3d;
    }
  }

  &__docs-added {
    flex: 1 1 100%;

    @include media('>tablet') {
      flex: 0 1;
      flex-basis: 390px;
    }
  }

  &__list-docs {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: none;
    counter-reset: num;
    color: #010101;

    @include media('>tablet') {
      margin-bottom: 1.3rem;
    }

    li {
      font-size: 1.4rem;
      line-height: 3rem;

      &:hover {
        a {
          color: $base-link-color;
        }

        &::before {
          color: $base-link-color;
        }
      }

      a {
        font-size: inherit;
        line-height: inherit;
        color: #010101;
      }

      &::before {
        content: counter(num) '. ';
        counter-increment: num;
        color: inherit;
      }
    }
  }

  &__dwnld {
    display: none;

    @include media('>tablet') {
      display: block;
      color: $black;

      &:hover {
        color: $base-link-color;

        &::before {
          color: $base-link-color;
        }
      }

      &::before {
        content: '\e91b';
        display: inline-block;
        margin-right: 5px;
        font-family: $um-font;
        vertical-align: middle;
        font-size: 1.5rem;
      }
    }
  }

  &__share-social {
    margin-top: 2rem;

    @include media('>tablet') {
      margin-top: 0;
    }

    .share-list {
      margin-left: -10px;

      &_press_release {
        font-size: 0;

        .share-list__item:not(:first-child) {
          margin-left: 2rem;
        }

        .share-list__link {
          @include media('>tablet') {
            width: 4rem;
            height: 4rem;
          }
        }

        .share-list__icon {
          @include media('>tablet') {
            width: 4rem;
            height: 4rem;
            font-size: 6rem;
            line-height: 5.6rem;
          }
        }
      }
    }

    h3 {
      margin-bottom: 1.6rem;
    }
  }
}

