.company {
  margin-top: $gap;

  &__list {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;

    @include media('>tablet') {
      margin: 0 -$gap;
    }
  }

  &__card {
    flex: 1 1 100%;

    @include media('>tablet') {
      margin: $gap;
      flex: 0 1;
      flex-basis: calc(50% - 3rem);
    }

    @include media('>desktop') {
      flex: 0 1;
      flex-basis: calc(33.33333% - 3rem);
    }

    & + & {
      margin-top: $gap;
    }
  }

  &-card {
    flex: 1 1 100%;
    margin-bottom: 3rem;
    border-radius: .2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

    &__logo {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      min-height: 190px;
      background-color: #f2f2f2;
      border-radius: 0 0 .2rem .2rem;

      img {
        flex: 0 1;
        max-width: 50%;
        min-width: 50%;
      }
    }

    &__descr {
      padding: 2rem $gap 1.1rem;
      line-height: $line-height-base;
      font-family: $roboto-font;

      @include media('>tablet') {
        padding: 2.2rem 3rem 6.4rem;
      }
    }

    &__head {
      min-height: 0;
      margin-bottom: .6rem;

      @include media('>tablet') {
        min-height: 7rem;
      }
    }

    &__name {
      margin-bottom: .5rem;
      font-size: 1.8rem;
      line-height: 2.3rem;
      font-weight: bold;
      text-transform: uppercase;

      @include media('>tablet') {
        margin-bottom: 0;
      }
    }

    &__site._editor {
      font-size: 1.6rem;
      line-height: 3rem;

      .form-control {
        margin-top: .5rem;
        color: $base-link-color;
        font-family: $roboto-font;

        &:focus {
          color: $black;
        }
      }
    }

    &__site {
      font-size: 1.6rem;
      line-height: 3rem;
    }

    &__group-title {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: .5rem;
      font-size: 1.6rem;
      line-height: 3rem;
      font-weight: bold;
    }

    &__publications-info {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-start;
      line-height: inherit;

      @include media('>desktop') {
        flex-flow: row nowrap;
      }
    }

    &__publcations-item {
      &:last-of-type {
        flex: 1 1 100%;
        margin-top: 1.6rem;

        @include media('>desktop') {
          flex: 1 1 50%;
          margin-top: 0;
        }
      }

      &:first-of-type {
        flex: 1 1 100%;

        @include media('>desktop') {
          flex: 0 1 179px;
        }
      }
    }

    &__prop {
      font-size: 1.4rem;
      line-height: 2rem;
      color: #777777;
    }

    &__value {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.6rem;
      line-height: 2rem;
      color: #3d3d3d;

      @at-root .form .company-card__value {
        border-bottom: 1px dashed #c1c1c1;
      }

      &:hover {
        color: $base-link-color;
        border-bottom: 1px dashed $base-link-color;
      }
    }

    @at-root .dropdown_upload_logo {
      @extend .dropdown_upload_avatar;


      .dropdown__trigger {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }

      .dropdown__list {
        bottom: auto;
        top: 103px;

        @include media('>tablet') {
          bottom: -20px;
          top: auto;
        }

        &._droped {
          @include media('>tablet') {
            bottom: -50px;
          }
        }

        &::before {
          left: 50%;

        }
      }
    }

    &__upload-logo {
      @extend .author__upload-avatar;
    }
  }

  &_about {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: .8rem;

    @include media('>tablet') {
      flex-flow: row wrap;
    }

    .company-card__logo {
      min-height: 200px;
    }

    .news__source-info {
      margin-right: 30px;
      text-transform: uppercase;
    }

    .news__foot {
      align-items: center;
    }

    .news__qty-flies {
      margin-right: 20px;
    }

    .news {
      &__header-list {
        width: 100%;
        padding-right: 0;
        border-bottom: 2px solid #000;
        padding-bottom: .3rem;
        margin-bottom: 2.4rem;
      }

      &_list_release .news__media {

        @include media('>tablet') {
          flex: 1 1 100%;
          min-width: 0;
          margin-left: 0;
        }
        @include media('>desktop') {
          flex: 0 1 260px;
          margin-top: -1.8rem;
        }
      }

    }
  }

  @at-root .form_edit_company {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    @include media('>tablet') {
      flex-flow: row nowrap;
    }

    .form-control {
      color: $black;
      font-family: $lora-font;
      padding-left: 1rem;
      padding-right: 1rem;

    }

    @at-root .company__edit-label,
    label {
      display: block;
      margin-bottom: .8rem;
      font-family: $roboto-font;
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-weight: bold;

      @include media('>tablet') {
        font-size: 1.8rem;
        line-height: 2.5rem;
      }
    }
  }



  &__edit-contact-items {
    margin-top: 3rem;

    .form-control {
      font-size: 1.6rem;
      line-height: 3rem;
    }
  }

  &__edit-contact-item {

    & + .company__edit-contact-item {
      margin-top: 3rem;
    }

    label {
      margin-bottom: 0;
    }
  }

  &__edit-address {
    .form-control {
      display: block;
      min-height: 0;
      height: 6.5rem;
      padding-top: .6rem;
      padding-bottom: .5rem;
      resize: none;
      font-size: 1.6rem;
      line-height: 2.5rem;
      font-family: $lora-font;
    }
  }

  &__edit-contact-person {
    .form-control {
      font-size: 1.8rem;
    }
  }

  &__edit-contact-email {
    .form-control {
      color: $base-link-color;
    }
  }

  &__edit-contact-person,
  &__edit-contact-email,
  &__edit-phone {
    label {
      font-size: 0;
    }
  }

  &__inner-about-card {
    flex: 1 1;
    width: 100%;
    margin-bottom: 4.5rem;

    @include media('>tablet') {
      flex: 0 1;
      flex-basis: calc(50% - 15px);
      margin-right: $gap;
    }

    @include media('>desktop') {
      flex-basis: 31.57895%;
      width: auto;
      margin-right: $gap*2;
    }
  }

  &__control-panel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    .button {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &__cancel-button,
  &__save-button {
    flex: 0 1 130px;
    height: 4rem;

    @include media('>tablet') {
      flex: 0 1 120px;
    }

    @include media('>desktop') {
      flex: 0 1 165px;
    }
  }

  &__add-press-release-button {
    width: 100%;
    margin-bottom: 2rem;
    height: 4rem;
  }

  &__edit-info-button {
    width: 100%;
    height: 4rem;
  }

  &__inner-about {
    flex: 1 1;
    width: 100%;
    line-height: 1em;

    @include media('>tablet') {
      margin-top: 3.3rem;
      flex: 0 1;
      flex-basis: 50%;
      width: 50%;

    }

    @include media('>desktop') {
      flex-basis: calc(100% - 30px - 31.57895%);
    }

    p {
      font-size: 1.8rem;
      line-height: 3rem;

      &:first-of-type {
        margin-top: 0;
      }
    }

  }

  &__title {
    font-size: 1.8rem;
    line-height: 3.9rem;
    text-transform: uppercase;

    @include media('>tablet') {
      font-size: 2.6rem;
      line-height: 3.4rem;
      margin-bottom: 1rem;
    }

    .form-control {
      font-family: $roboto-font;
      font-size: 1.8rem;
      line-height: 3.9rem;
      text-transform: uppercase;
      font-weight: bold;
      height: 5rem;

      @include media('>tablet') {
        font-size: 2.6rem;
        line-height: 3.4rem;
        margin-bottom: 1rem;
        height: 5rem;
      }

      @include media('>desktop') {
        font-size: 2.6rem;
        line-height: 3.4rem;
        margin-bottom: 1rem;
        max-width: 360px;
        height: 5rem;
      }
    }
  }

  &__tabs {
    margin-bottom: 2rem;
    border-bottom: 1px solid #e3e3e3;
  }

  @at-root .tabs_edit_company {
    justify-content: flex-start;

    .tabs__tab {
      font-size: 1.6rem;
      margin: 0;
      text-transform: none;

      &::before {
        bottom: 0;
      }

      & + .tabs__tab {
        margin-left: 48px;
      }
    }
  }

  &__inner-tab-about {
    min-height: 0;
    margin-bottom: 2rem;

    @include media('>tablet') {
      min-height: 470px;
      margin-bottom: 2.9rem;
    }
  }

  &__tab-content {
    display: none;

    &._active {
      display: block;
    }

    &-inner {
      width: 100%;

      @include media('>tablet') {
        max-width: 100%;
        margin-top: 2.1rem;
        //margin-top: 3.2rem;
      }

      @include media('>desktop') {
        max-width: 360px;
      }

      &_about_company {
        textarea {
          min-height: 690px;
          font-family: $lora-font;

          @include media('>tablet') {
            min-height: 490px;
            font-size: 1.8rem;
            line-height: 3rem;
          }

          @include media('>desktop') {
            min-height: 490px;
          }
        }

        @include media('>tablet') {
          width: 100%;
        }

        @include media('>desktop') {
          max-width: 100%;
        }
      }

      p {

        &:first-of-type {
          margin-top: 0;
        }

        margin-bottom: 0;

        @include media('>desktop') {
          margin-bottom: 0;
        }
      }

      p + p {
        margin-top: 3rem;
      }
    }

    &._active {
      display: block;
    }

    .form__row {
      padding-bottom: 0;
      font-family: $lora-font;

      & + .form__row {
        margin-top: 1.3rem;
      }
    }
  }

  &__contact-groupname {
    margin-bottom: .5rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: bold;
    font-family: $roboto-font;
  }

  &__contact-item {
    p {
      margin-bottom: 0;
      font-size: 1.6rem;
      line-height: 2.5rem;

      & + p {
        margin-top: 3rem;
      }
    }

    & + & {
      margin-top: 4.8rem;
    }
  }

  @at-root .contact-person {
    & + & {
      margin-top: 2rem;
    }

    .contact-person__name {
      font-family: $lora-font;
      font-size: 1.8rem;
      line-height: 3rem;
    }

    &__email {
      font-size: 1.6rem;
      line-height: 3rem;
    }
  }

  @at-root ._view {

    ._view {
      display: block;

      &_flex {
        display: flex;
      }
    }

    ._editor {
      display: none;

      &_flex {
        display: none;
      }
    }

  }

  @at-root ._editor {

    ._view {
      display: none;

      &_flex {
        display: none;
      }
    }

    ._editor {
      display: block;

      &_flex {
        display: flex;
      }
    }
  }
}

.news {
  &__dwld {
    @extend .nav-docs__link;
  }

}




