.content_promo {
  padding: 2.2rem 0 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: flex-start;

  @include media('>desktop') {
    padding: 3.5rem 0 0;
  }

  ._has-filter & {
    padding-top: 2.2rem;

    @include media('>desktop') {
      padding-top: 3.5rem;
    }
  }
}

.promo {
  width: 100%;

  &__inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 $gap;

    @include media('>widescreen') {
      max-width: $max-container-width;
      min-width: $max-container-width;
    }

  }

  &__advitisers {

    @include media('>desktop') {
      margin: 0 138px;
    }

    .h1 {
      margin-bottom: .8rem;
      font-family: $roboto-font;
      font-size: 2rem;
      line-height: 3rem;
      font-weight: bold;

      @include media('>desktop') {
        margin-bottom: 2.5rem;
        text-align: center;
        font-size: 3.6rem;
        line-height: 4rem;
      }
    }
  }

  &__preview {
    margin-bottom: 4.5rem;
    font-family: $lora-font;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #3d3d3d;

    @include media('>desktop') {
      margin-bottom: 5.5rem;
      font-size: 1.8rem;
      line-height: 3rem;
      text-align: center;
    }

    &_price {
      margin-bottom: 2.5rem;
    }
  }

  &__nav {
    margin-bottom: 8.3rem;

    @include media('>desktop') {
      margin-bottom: 9.5rem;
    }

    &_price {
      display: none;

      @include media('>tablet') {
        display: block;
        margin-bottom: 5rem;
      }
    }

    @at-root .promo-nav {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid #e3e3e3;
      border-radius: .3rem;
      padding: 0;
      margin: 0;
      list-style-type: none;

      @include media('>tablet') {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
      }

      &__item {
        flex-basis: 100%;
        width: 100%;
        min-height: 118px;
        padding-left: 3rem;
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;

        @include media('>tablet') {
          display: block;
          flex-basis: 33.3333%;
          width: 33%;
          padding: 7.2rem 0 0;
          min-height: 260px;
        }

        & + .promo-nav__item {

          border-top: 1px solid #e3e3e3;

          @include media('>tablet') {
            border-top: 0;
            border-left: 1px solid #e3e3e3;
          }
        }
      }

      &__link {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-family: $lora-font;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: #3d3d3d;

        &:hover {
          color: $base-link-color
        }

        @include media('>tablet') {
          flex: 1 1;
          justify-content: center;
          flex-flow: row wrap;
          align-content: flex-start;
          width: auto;
          line-height: 3rem;
        }

        span {
          flex: 0 1 auto;

          @include media('>tablet') {
            flex-basis: 100%;
            display: block;
            text-align: center;
          }
        }

        &::before {
          content: '';
          display: block;
          flex: 0 1;
          margin-right: 10px;
          height: 84px;

          @include media('>tablet') {
            margin: 0 0 3.9rem
          }
        }
      }
    }
  }

  &__wide-inner {
    position: relative;
    width: 100%;

    &_bg_blue {
      background-color: #f3f6ff;
      padding: 3rem 0 4rem;

      @include media('>tablet') {
        padding: 5.5rem 6rem 5rem;
      }
    }
  }

  &__about {
    padding: 3rem 0;
    background: url(../images/promo-mediakit-bg-about.jpg) #359fb0 no-repeat;
    background-position: center;
    background-size: cover;

    @include media('>tablet') {
      padding: 5rem 0;
    }

    @include media('>desktop') {
      padding-top: 6rem;
    }

    @include media('>widescreen') {
      padding: 6.1rem 0 4.4rem;
    }

    &::before {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(45deg, rgba(10, 146, 202, 0.52) 0%, rgba(44, 254, 177, 0.52) 100%);
    }

    color: #fff;
  }

  &__inner_about {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    @include media('>tablet') {
      justify-content: center;
      flex-flow: row nowrap;
    }
  }

  &__qty-news,
  &__about-company {
    color: #fff;
    font-family: $lora-font;

    p, h2, h3, ul {
      color: inherit;
      font-family: inherit;
    }

    h3, h2 {
      font-family: $roboto-font;
      font-weight: bold;

    }

    h2 {
      margin-bottom: 1.2rem;
      font-size: 2rem;
      line-height: 4rem;

      @include media('>tablet') {
        margin-bottom: 3.7rem;
        font-size: 3.8rem;
        line-height: 4rem;
      }
    }

    h3 {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    p {
      line-height: 2rem;
      & + p {
        margin-top: 42px;
      }

      @include media('>tablet') {
        font-size: 1.8rem;
        line-height: 3rem;
      }
    }
  }

  &__about-company {
    margin-bottom: 4rem;
    width: 100%;

    @include media('>tablet') {
      margin-bottom: 0;
      padding-top: 1rem;
      flex: 1 1 50%;
      width: auto;
    }

    @include media('>desktop') {
      padding-top: 4rem;
    }

    @include media('>widescreen') {
      padding-top: 9rem;
    }
  }

  &__inner-qty-news {
    position: relative;
    z-index: 10;
    width: 163px;
    margin: 0 auto;

    @include media('>tablet') {
      width: 200px
    }

    @include media('>desktop') {
      width: 230px;
    }

    @include media('>widescreen') {
      width: 330px;
    }
  }

  &__qty-news {
    position: relative;
    width: 100%;
    min-height: 313px;
    padding-top: 2rem;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    @include media('>tablet') {
      margin-top: 3rem;
      flex: 1 1 50%;
      min-height: 400px;
    }

    @include media('>desktop') {
      margin-top: 0;
      min-height: 430px;
    }

    @include media('>widescreen') {
      flex: 0 1 50%;
      width: auto;
      min-height: 615px;
    }

    &::before {
      content: '';
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: 2.3rem;
      width: 290px;
      height: 290px;
      border-radius: 50%;
      background: #f1f3ff;

      @include media('>tablet') {
        width: 380px;
        height: 380px;
        top: 1.7rem;
      }

      @include media('>desktop') {
        width: 425px;
        height: 425px;
        top: 0;
      }

      @include media('>widescreen') {
        width: 568px;
        height: 568px;
        top: 4.7rem;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: url(../images/bg-promo-mediakit-phone.png) no-repeat center center;
      background-size: contain;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5rem;

      @include media('>tablet') {
        font-size: 1.6rem;
        line-height: 2.5rem;
      }

      @include media('>widescreen') {
        font-size: 1.6rem;
        line-height: 2.5rem;
      }

      & + p {
        margin-top: 1rem;

        @include media('>tablet') {
          line-height: 2rem;
        }
        @include media('>widescreen') {
          line-height: 2rem;
        }
      }
    }

    h3 {
      @include media('>tablet') {
        margin-bottom: 2rem;
        font-size: 2.5rem;
        line-height: 3rem;
      }

      @include media('>widescreen') {
        margin-bottom: 2rem;
        font-size: 3.6rem;
        line-height: 4rem;
      }
    }
  }

  &__web-stats {
    margin-bottom: 8.5rem;

    @include media('>tablet') {
      margin-bottom: 15rem;
    }
  }

  &__descr {
    margin-bottom: 1.8rem;
    padding-right: 0;

    @include media('>tablet') {
      padding-right: 45%;
    }

    h2 {
      margin-bottom: 1rem;
      font-family: $roboto-font;

      @include media('>tablet') {
        margin-bottom: 1.6rem;
        font-size: 3.8rem;
        line-height: 4rem;
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 2rem;
      font-family: $lora-font;

      @include media('>tablet') {
        font-size: 1.8rem;
        line-height: 2.5rem;
      }
    }
  }

  @at-root .web-stats {
    &__descr {
      @include media('>tablet') {
        margin-bottom: 5.1rem;
      }
    }

    &__charts {
      display: none;
      position: relative;

      @include media('>desktop') {
        display: block;
        margin-bottom: 8.7rem;
      }
    }

    &__nav {
      z-index: 10;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: -92px;
      width: 320px;
      transform: rotate(270deg) translateX(-50%);
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0 0 1rem;
      text-transform: uppercase;
    }

    &__tab {
      & + & {
        .web-stats__link-tab {
          margin-left: 85px;
        }
      }
    }

    &__link-tab {
      color: #c0c0c0;

      &:hover {
        color: #2b59fc;
      }

      &._active {
        color: #2b59fc;
      }
    }

    &__img-charts {

      @include media('>tablet') {
        padding-left: 60px;
        min-height: 380px;
      }
    }

    &__tab-item {
      display: none;
      margin-top: -20px;

      &._active {
        display: block;
      }
    }

  }

  @at-root .stats-chart {

    &__scale-caption {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      list-style-type: none;
      padding: 0 23px 0 19px;
      margin: 0;
    }

    &__scale-item {
      position: relative;
      flex: 1 1;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      color: #3d3d3d;

      &:first-of-type {
        display: none;
      }

      &::before {
        position: absolute;
        display: block;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        background-color: #2b59fc;
        border-radius: 50%;
      }
    }

    &__img {
      height: 350px;
    }

    &__value {
      font-family: $roboto-font;
      font-size: 3.5rem;
      line-height: 4rem;
      color: inherit;
      font-weight: bold;
    }

    &__time {
      font-family: $lora-font;
      font-size: 1.6rem;
      line-height: 2.5rem;
    }
  }

  &__year-end {

    @at-root .promo-cards {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: stretch;
      padding: 0;
      margin: 0;
      list-style-type: none;

      @include media('>tablet') {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
      }

      &__item {
        position: relative;
        width: 100%;
        min-height: 180px;
        padding: 3.4rem $gap 4rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        align-content: flex-start;
        box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.13);
        text-align: center;
        border-radius: .6rem;
        background: #fff;
        color: #3d3d3d;

        &::before {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 18px;
          display: block;
          width: 25px;
          height: 25px;
          font-size: 2.5rem;
          font-family: $um-font;
        }

        &.um-eye_fill:before {
          color: #fcc82b;
        }

        &.um-people:before {
          color: #2b59fc;
        }
        &.um-read:before {
          color: #2bcdfc;
        }
        &.um-solar:before {
          color: #ff1500;
        }

        @include media('>tablet') {
          flex: 0 1 percentage(1140/262);
        }

        & + & {
          margin-top: 2rem;

          @include media('>tablet') {
            margin: 0 0 0 $gap*2;

          }
        }

      }

      &__value {
        margin-bottom: .9rem;
        width: 100%;
        font-family: $roboto-font;
        font-size: 3.5rem;
        line-height: 4rem;
        font-weight: bold;
        color: inherit;
      }

      &__prop {
        font-family: $lora-font;
        font-size: 1.6rem;
        line-height: 2rem;
        color: inherit;
      }
    }
  }

  &__percentage-stats {
    margin-bottom: 9rem;

    @include media('>tablet') {
      margin-bottom: 17rem;
    }

    @at-root .promo-percentage {

      &__descr {
        margin-bottom: 3.7rem;

        @include media('>tablet') {
          margin-bottom: 5.7rem;
        }
      }

      &__inner {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: stretch;

        @include media('>tablet') {
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: flex-start;
        }
      }

      &__col {
        width: 100%;

        @include media('>tablet') {
          width: auto;
          flex: 0 1 473px;
        }

        & + & {
          margin-top: 4rem;

          @include media('>tablet') {
            margin-top: 0;
            margin-left: percentage(112/1140);
          }
        }
      }

      &__item {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        @include media('>tablet') {
          justify-content: space-between;
        }

        & + & {
          margin-top: 4rem;

          @include media('>tablet') {
            margin-top: 8rem;
          }
        }

      }

      &__prop {
        position: relative;
        flex: 1 1 50%;
        padding-top: 2rem;
        margin-top: 1.3rem;
        border-top: 1px solid;
        border-color: #3d3d3d;
        font-family: $roboto-font;
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-weight: bold;

        @include media('>tablet') {
          flex: 0 1 263px;
          font-size: 2.2rem;
          line-height: 2.5rem;
        }

        .promo-percentage__item_color-blue & {
          border-color: #2a59fb;
        }

        .promo-percentage__item_color-pink & {
          border-color: #f94cc9;
        }

        .promo-percentage__item_color-green & {
          border-color: #2afbbe;
        }

        .promo-percentage__item_color-yellow & {
          border-color: #fbc72a;
        }

        .promo-percentage__item_color-orange & {
          border-color: #fb562a;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(-50%);
          width: 7px;
          height: 7px;
          background-color: #3d3d3d;
          border-radius: 50%;

          .promo-percentage__item_color-blue & {
            background-color: #2a59fb;
          }

          .promo-percentage__item_color-pink & {
            background-color: #f94cc9;
          }

          .promo-percentage__item_color-green & {
            background-color: #2afbbe;
          }

          .promo-percentage__item_color-yellow & {
            background-color: #fbc72a;
          }

          .promo-percentage__item_color-orange & {
            background-color: #fb562a;
          }
        }
      }

      &__value {
        position: relative;
        flex: 1 1 50%;
        min-height: 100px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        color: #3d3d3d;
        font-family: $roboto-font;
        font-weight: bold;
        font-size: 3.6rem;
        line-height: 4rem;

        &-inner {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 20;
          box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.13);
          border-radius: .6rem;
          background: #fff;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
        }

        &::before,
        &::after {
          position: absolute;
          content: '';
          display: block;
          border-radius: .6rem;
          background: #fff;
          box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.13);
        }

        &::before {
          transform: translateY(18%);
          width: 90%;
          height: 90%;
          z-index: 5;
        }

        &::after {
          left: 50%;
          top: 47%;
          transform: translateX(-50%);
          width: 75%;
          height: 75%;
          z-index: 0;
        }

        .promo-percentage__item_color-blue & {
          color: #2a59fb;
        }

        .promo-percentage__item_color-pink & {
          color: #f94cc9;
        }

        .promo-percentage__item_color-green & {
          color: #2afbbe;
        }

        .promo-percentage__item_color-yellow & {
          color: #fbc72a;
        }

        .promo-percentage__item_color-orange & {
          color: #fb562a;
        }

        @include media('>tablet') {
          flex: 0 1 182px;
        }
      }
    }

  }

  &__features {
    margin-bottom: 7.3rem;

    @include media('>tablet') {
      margin-bottom: 15rem;
    }

    @at-root .promo-features {

      &__descr {
        margin-bottom: 3.5rem;

        @include media('>tablet') {
          margin-bottom: 5.5rem;
        }
      }

      &__inner {

      }

      &__item {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: stretch;
        padding-top: 47px;

        @include media('>tablet') {
          flex-flow: row nowrap;
          justify-content: space-between;
          padding-top: 0;
        }

        & + & {
          margin-top: 4rem;

          @include media('>tablet') {
            margin-top: -9rem;
          }
        }
      }

      &__item-descr {
        position: relative;
        margin-bottom: 2.7rem;
        width: 100%;

        @include media('>tablet') {
          margin-bottom: 0;
          padding-top: 9px;
          width: auto;
          flex: 0 1 276px;
        }

        .promo-features__item:nth-child(odd) & {

          @include media('>tablet') {
            order: 1;
          }
        }

        .promo-features__item:not(:first-child) & {
          @include media('>tablet') {
            margin-top: 5rem;
          }

          @include media('>desktop') {
            margin-top: 12rem;
          }
        }
      }

      &__index {
        position: absolute;
        top: -50px;
        font-family: $roboto-font;
        font-size: 12.6rem;
        line-height: 10rem;
        font-weight: bold;
        color: #fb562a;

        @include media('>tablet') {
          position: static;
          margin-bottom: 1rem;
          font-size: 8rem;
          line-height: 10rem;
        }

        .promo-features__item:nth-child(odd) & {
          @include media('>tablet') {
            margin-left: -8px;
          }
        }
      }

      &__text-item {
        position: relative;
        flex: 1 1;
        padding-top: 4.2rem;
        background-color: #f3f6ff;
        z-index: 5;
        font-family: $lora-font;

        @include media('>tablet') {
          padding-top: 0;
          background-color: transparent;
        }

        &::before {
          position: absolute;
          top: 20px;
          left: 0;
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: #fb562a;

          @include media('>tablet') {
            top: -12px;
            width: calc(100% + 30px);
          }

          .promo-features__item:nth-child(odd) & {
            @include media('>tablet') {
              left: -30px;
            }
          }
        }

        &::after {
          content: '';
          position: absolute;
          top: 20px;
          left: 0;
          transform: translateY(-50%);
          width: 7px;
          height: 7px;
          background-color: #fb562a;
          border-radius: 50%;

          @include media('>tablet') {
            top: -12px;
            left: auto;
            right: -30px;
          }

          .promo-features__item:nth-child(odd) & {
            @include media('>tablet') {
              left: -30px;
            }
          }
        }

        h3 {
          font-family: $roboto-font;

          @include media('>tablet') {
            margin-bottom: .4rem;
            font-size: 2.6rem;
            line-height: 4rem;
          }
        }

        p {
          @include media('>tablet') {
            font-size: 1.6rem;
            line-height: 2rem;
          }
        }
      }

      &__img {
        img {
          display: block;
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.22);
          border-radius: .4rem;
          max-width: 100%;
          width: 100%;

          @include media('>tablet') {
            box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.13);
          }
        }
      }
    }
  }

  &__media {
    margin-bottom: 0;

    @include media('>tablet') {
      margin-bottom: 13rem;
    }

    @at-root .promo-media {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;

      &__item {
        flex: 1 1 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;

        @include media('>desktop') {
          flex-flow: row nowrap;
          justify-content: space-between;
        }

        & + & {
          margin-top: 2rem;
        }
      }

      &__descr {
        flex: 1 1 100%;
        margin-bottom: 1.5rem;

        @include media('>tablet') {
          flex: 0 1 percentage(458/1140);
          padding-right: 0;
        }

        @include media('>desktop') {
          margin-bottom: 0;
        }
      }

      &__figure {
        flex: 1 1 auto;
        width: 100%;

        @include media('>desktop') {
          width: auto;
          flex: 0 1 percentage(650/1140);
          margin-top: 5.8rem;
        }

        &-inner {
          position: relative;
          width: 100%;
          box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.12);
          border-radius: .4rem;
          overflow: hidden;

          &::before {
            display: block;
            content: '';
            padding-top: 56.25%;
          }

          iframe,
          img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
          }
        }
      }
    }
  }

  &__adaptive {
    display: none;

    @include media('>tablet') {
      display: block;
    }
  }

  &__wide-img {
    width: 100%;
    margin-top: 8rem;

    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  &__price {
    margin-bottom: 3.2rem;

    @include media('>tablet') {
      display: none;
    }

    @at-root .button_dwld_price {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 2rem;
      padding: .8em 1em;
    }
  }

  &__media-plan {
    margin-bottom: 3rem;

    @include media('>tablet') {
      margin-bottom: 11.8rem;
    }

    @at-root .media-plan {

      &__item {

        & + & {
          margin-top: 4rem;

          @include media('>tablet') {
            margin-top: 8.5rem;
          }
        }
      }

      h2 {
        margin-bottom: 1rem;

        @include media('>tablet') {
          font-size: 2.6rem;
          line-height: 4rem;
          margin-left: percentage(195/1140);
        }
      }

      &__img {
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.22);
        border-radius: .4rem;
        overflow: hidden;
        margin-bottom: 2.7rem;

        @include media('>tablet') {
          box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.22);
          width: percentage(945/1140);
          margin: 0 auto;
          margin-bottom: 5.8rem;
        }

        img {
          display: block;
          width: 100%;
          max-width: 100%;
        }
      }

      &__descr {
        font-family: $lora-font;
        font-size: 1.4rem;
        line-height: 2.5rem;

        @include media('>tablet') {
          margin-left: percentage(195/1140);
          font-size: 1.8rem;
        }

        ul {
          padding: 0;
          margin-left: 20px;

          @include media('>tablet') {
            margin-left: 0;
            padding-left: 40px;
          }
        }
      }
    }
  }
}

.um-icon-promo {
  &-price::before {
    background: url(../images/icon-svg/price.svg) no-repeat center;
    flex-basis: 70px;
  }

  &-media::before {
    background: url(../images/icon-svg/media.svg) no-repeat center;
    flex-basis: 70px;
  }

  &-feedback::before {
    background: url(../images/icon-svg/call.svg) no-repeat center;
    flex-basis: 76px;
  }
}

.highcharts-credits {
  display: none !important;
}

@include media('>desktop') {

}

@include media('>tablet') {

}