*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

html,
body {
	min-height: 100vh;
}

html {
	box-sizing: border-box;
	font-size: $font-size-base;
}

body {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	min-width: $base-min-width;
	background: #333;
	color: $base-text-color;
	font: 1.4rem/#{$line-height-base} $roboto-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

video,
iframe,
object,
embed {
	max-width: 100%;
	display: block;
}

#__bs_notify__ {
	display: none;
}

.gm-style img {
	max-width: none;
}

blockquote,
blockquote:before,
blockquote:after,
q,
q:before,
q:after {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before, q:after {
	content: '';
}

.container {
	margin: 0 auto;
}

// lists
// ul {
// 	@extend %listreset;
// }
// 
// ul ul,
// ul ol,
// ol ul,
// ol ol {
// 	padding-left:3em;
// 	margin:0;
// }
// 
// ul:not([class]) {
// 	padding: 0 0 10px;
// 
// 	li {
// 		position: relative;
// 		padding: 0 0 10px 15px;
// 
// 		&:before {
// 			content: '';
// 			background: $base-text-color;
// 			width: 9px;
// 			height: 9px;
// 			position: absolute;
// 			left: 0;
// 			top: 8px;
// 			border-radius: 50%;
// 		}
// 	}
// }