
.ui-datepicker {

  th {
    padding: 0;
    font-family: $roboto-font;
    color: #777777;

    span {
      display: inline-block;
      vertical-align: middle;
      padding: .4rem 0 .7rem;
      width: 31px;
    }
  }

  th,
  td {
    font-size: 1.3rem;
    text-align: center;
    font-weight: normal;
    padding: 0;
    text-transform: lowercase;
    border: 0;

    .ui-state-disabled,
    .ui-state-default,
    a {
      box-sizing: border-box;
      display: block;
      width: 35px;
      border: 1px solid transparent;
      padding: .4rem 0 !important;
      font-size: 1.3rem;
      line-height: 2rem;

      @include media('>tablet') {
        font-size: 1.4rem;
      }
    }

    a {
      position: relative;
      color: $black;
    }
  }

  &-other-month span {
    padding: .4rem 0;
    width: 35px;
  }

  .ui-datepicker-next {
    order: 1;
    padding: 1rem 0 1rem 1rem;

    @include media('>tablet') {
      right: $gap;
    }

    @include media('>desktop') {
      right: 19px;
    }

  }

  .ui-datepicker-prev {
    padding: 1rem 1rem 1rem 0;

    @include media('>tablet') {
      left: $gap;
    }
    @include media('>desktop') {
      left: 15px;
    }
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    font-size: 0;
    color: $black;
    cursor: pointer;
    font-family: "um-icons";

    @include media('>tablet') {
      position: absolute;
    }

    &:hover {
      color: $red;
    }

    &.ui-state-disabled {
      color: #d8d8d8;
      cursor: default;

      &:hover,
      &:active {
        color: #d8d8d8;
        cursor: default;
      }
    }
  }

  .ui-datepicker-prev::before,
  .ui-datepicker-next::before {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .ui-datepicker-prev::before {
    content: '\e920';
  }

  .ui-datepicker-next::before {
    content: '\e921';
  }

  .ui-datepicker-title {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .ui-datepicker-calendar {
    margin: 0 auto;
  }

  .ui-state-disabled .ui-state-default,
  .ui-datepicker-other-month span {
    display: block;
    border: 1px solid transparent;
    //padding: .4rem .8rem .4rem;
    font-size: 1.3rem;
    line-height: 2rem;

    @include media('>tablet') {
      font-size: 1.4rem;
    }
  }

  .ui-state-disabled {
    color: #777;
  }

  .ui-state-active {
    background-color: $red;
    border: 1px solid $red;
    color: $white;

    &:hover {
      color: $white;
    }
  }

  .ui-datepicker-today {
    .ui-state-highlight {
      border: 1px solid $black;
      background: $white;
      color: #000;
      border: 1px solid #000;

      &:hover {
        background-color: $red;
        border: 1px solid $red;
        color: $white;
      }

      &.ui-state-active {
        background-color: $red;
        border: 1px solid $red;
        color: $white;
        &:hover {
          background-color: $red;
          border: 1px solid $red;
          color: $white;
        }
      }
    }
  }

  .ui-state-default.ui-state-hover {
    border: 1px solid $base-link-color;
  }

  .ui-state-disabled {
    span {
      background: transparent;
      &:hover {
        background: transparent;
        color: #777;
      }
    }
  }
}

.news_list_search {

  .news__item {
    margin-bottom: 0;

    @include media('>tablet') {
      margin-bottom: 2rem;
    }
  }

  .news__item-inner {
    padding-bottom: 1.1rem;
    @include media('>tablet') {
      padding-bottom: 1.6rem;
    }

  }

  .news__preview {
    display: none;

    @include media('>tablet') {
      display: block;
      font-size: 1.4rem;
      line-height: 2rem;
      margin-bottom: 1.8rem !important;
    }
  }

  .news__foot {
    justify-content: flex-start;
  }

  .news__timestamp {
    flex: 0 1 170px;
    line-height: 2.4rem;
  }

  .news__tools {
    display: none;

    @include media('>tablet') {
      flex: 0 1;
      display: flex;
    }
  }

  .news__badge {
    padding-left: 20px;
    display: none;
    position: relative;

    @include media('>tablet') {
      display: block;
      margin-bottom: 1rem;
    }

    &::before {
      position: absolute;
      left: 0;
      top: 4px;
      border-right-width: .7rem;
    }

    &::after {
      left: 0;
      top: 2px;
      position: absolute;
      border: .8rem solid;
      border-bottom: 0;
      border-right-width: .7rem;
      border-left-width: .7rem;
      border-right-color: transparent;
      display: inline-block;
      width: 0;
      height: 0;
      margin-right: .5rem;
      color: red;
      content: '';
    }
  }

  .news__head {
    padding-bottom: 0;

    @include media('>tablet') {
      padding-bottom: 1rem;
    }
  }

  .news__title {

    @include media('>tablet') {
      margin-bottom: 0;
    }

    .h {
      @include media('>tablet') {
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
  }

  .news__media {
    margin-top: 0;

    @include media('>tablet') {
      margin-top: 1.3rem;
    }
  }

  .media_image {
    display: none;
    @include media('>tablet') {
      display: block;
    }
  }
}


.logo {
  border: 0;
  transition: none;
  opacity: 1;
}

._has-popup-search {

  @include media('>tablet') {
    border-right: 18px solid #fff;
  }

  .page .logo {

    @include media('>tablet') {
      transition: opacity .2s;
      opacity: 0;
    }
  }
}

.popup_search_news {
  top: 0;
  left: 0;
  overflow-y: auto;
  position: absolute;
  width: 100vw;
  height: 0;
  background: #fff;
  opacity: 0;
  transition: all .7s;
  //will-change: transform, opacity;
  z-index: -1;


  &._active {
    height: 100vh !important;
    width: 100vw !important;
    opacity: 1;
    z-index: 9999;
  }

  .content_search-news {
    max-width: 117rem;
    padding-left: $gap;
    padding-right: $gap;
    padding-top: 0;

    @include media('>tablet') {
      padding-top: 36rem;
    }

    .side-content {
      top: 37rem;
      padding-bottom: 0;
    }
  }
}

.content_search-news {

  .content__main {

    @include media('>tablet') {
      max-width: 865px;
      margin: 0;
    }

    @include media('>desktop') {
      max-width: 865px;
      margin: 0;
    }
  }

}

.button_close,
.button_close_big {
  position: absolute;
  padding: 0;
  right: $gap;
  top: 25px;
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  z-index: 100;
  display: none;

  @include media('>tablet') {
    display: block;
  }

  &:focus,
  &:hover {
    box-shadow: none;
    outline: none;
  }

  @include media('>tablet') {
    display: block;
    right: $gap;
    top: 25px;
  }

  &:hover::before,
  &:active::before {
    color: $base-link-color;
  }

  &:before {
    content: '\e900';
    display: block;
    font-family: "um-icons";
    font-size: 4rem;
    line-height: 4rem;
    color: $black;
  }
}

.button_close {
  width: 24px;
  height: 24px;

  &:before {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

  .publication-params & {
    border: 1px solid #777;
    top: 1rem;
    right: 1rem;
  }
}


.search-news {
  width: 100%;
  z-index: 100;
  background-color: #fff;

  @include media('>tablet') {
    position: fixed;
    top: 0;
    padding-top: 2rem;
  }


  &__inner-fixed {
    position: relative;
    margin: 0 auto;
    max-width: 119rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.1rem;

    @include media('>tablet') {
      padding-top: 0;
    }

    @include media('>desktop') {
      padding-top: 0;
    }
  }

  .logo__img {
    @include media('>tablet') {
      width: 182px;
      height: 48px;
    }
  }

  &__fixed-inner {
    width: 100%;
    position: fixed;
    z-index: 100;
  }

  &__logo {
    margin-top: -1px;
    margin-bottom: 2.7rem;
    flex: 1 1 100%;
    position: relative;
    text-align: center;

    @include media('>tablet') {
      margin-bottom: 4.3rem;
    }

    .logo {
      position: relative;
      display: inline-block;
      vertical-align: middle;

      ._active & {

        @include media('>tablet') {
          right: 9px;
          transition: padding-right .2s;
        }

      }
    }

    .logo__text {
      margin-top: 0;
    }

    .content__backward {
      position: absolute;
      top: 5px;
      border-bottom: 0;
      padding: 0;
      margin: 0;
      box-shadow: none;
    }

    .page-backward {
      font-size: 0;
      padding: 0;

      &:before {
        font-size: 1.6rem;
      }
    }
  }

  &__form {
    flex: 1 1 100%;
    padding-bottom: 2rem;

    @include media('>tablet') {
      padding-bottom: 2.5rem;
    }
  }

  &__query {
    margin-bottom: 2.3rem;

    @include media('>tablet') {
      margin-bottom: 5.2rem;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  @at-root .form_serch {

    .form__row {
      padding-bottom: 0;

      &:first-of-type {
        @include media('>tablet') {
          flex: 0 1 850px;
          margin-right: 28px;
        }
      }
    }

    .form-label_search {
      display: none;
      color: #777777;
      font-size: 1.4rem;
      line-height: 3.1rem;

      @include media('>tablet') {
        display: block;
      }
    }

    .form-control {
      font-family: $roboto-font;

      &:focus {
        color: $black;
      }

      &_search {
        border: 2px solid #ececec;
        user-select: all;

        @include media('>tablet') {
          padding: 2.3rem 2.3rem 2.3rem 2.3rem;
          height: 80px;
          font-size: 2.2rem;
          line-height: 3.4rem;
        }

      }
    }

    @at-root .button_search_close {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      flex: 0 0 13px;
      padding: 1rem;
      width: 40px;
      height: 4rem;
      font-size: 0;
      color: #919191;

      &:hover {
        color: #919191;
      }

      &:active {
        color: $base-link-color;
      }

      @include media('>tablet') {
        display: none;
      }

      &::before {
        display: inline-block;
        vertical-align: middle;
        font-size: 2rem;
      }
    }

    @at-root .um-close::before {
      content: '\e900';
    }

    .button_search {
      display: none;

      @include media('>tablet') {
        display: block;
        flex: 1 1 auto;
        min-height: 80px;
        border-width: 2px;
        font-size: 1.8rem;
        line-height: 2rem;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  &__date-picker-calendar {
    position: relative;
    border-bottom: 3px solid $black;
  }

  @at-root .calendar {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;

    &__inner {
      @extend .calendar;
      position: absolute;
      top: 34px;
      left: -$gap;
      right: -$gap;
      z-index: 100;
      padding-top: 1.8rem;
      display: none;
      flex: 1 1 100%;
      background-color: #fff;
      box-shadow: 0 23px 45px 10px rgba(43, 43, 43, 0.25);

      @include media('>tablet') {
        top: 35px;
        padding-bottom: 2rem;
        position: static;
        box-shadow: none;
        padding-top: 0;
      }

      &._droped {
        display: flex;
        //padding-bottom: 0;
      }
    }

    @include media('>tablet') {
      flex-flow: row wrap;
    }

    &__toggle {
      flex: 0 1 auto;
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle;
      font-family: $roboto-font;
      font-size: 1.4rem;
      line-height: 3.4rem;
      color: $black;
      cursor: pointer;

      &:hover {
        color: $black;
      }

      @include media('>tablet') {
        flex: 0 1 auto;
        margin-bottom: 1.5rem;
        padding: 0;
        font-size: 1.6rem;
        line-height: 3.4rem;
      }
    }

    &__date-range {
      padding: 0 $gap;
      padding-bottom: 1.8rem;
      margin-bottom: 1.5rem;
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $border-color;

      @include media('>tablet') {
        justify-content: space-between;
        order: 0;
        flex: 0 1 337px;
        width: auto;
        padding: 0;
        margin-bottom: 0;
        border-bottom: 0;
      }

      &::before {
        order: 1;
        content: '';
        flex: 0 1 20px;
        margin: 0 $gap;
        height: 1px;
        background-color: $border-color;

        @include media('>tablet') {
          margin: 0;
        }
      }
    }

    &__date-picker {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      flex: 1 1 100%;
      width: 100%;
      padding: 0 0 .9rem;
      border-bottom: 1px solid $border-color;
      margin-bottom: 2rem;
      min-height: 276px;

      @include media('>tablet') {
        flex: 0 1 850px;
        width: auto;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        margin-bottom: 0;
        order: 10;
        border-bottom: 0;
        min-height: auto;
      }

      #dateText {
        display: none;
      }

      .ui-datepicker {
        padding: 0 0 .5rem;
        position: static;
        display: flex !important;
        width: 100% !important;
        max-width: 850px;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: .3rem;
        background-color: $white;
        z-index: 999;
        box-shadow: none;
        min-height: 295px;

        &._active {
          display: flex !important;
        }

        @media(min-width: 600px) {
          display: flex !important;
          flex-flow: row nowrap;
          justify-content: space-around;
          min-height: 0;
        }

        @include media('>tablet') {
          left: 15px;
          top: 20px;
          padding: 25px 20px 25px;
          position: absolute;
          display: flex !important;
          width: 100% !important;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: flex-start;
          background-color: $white;
          z-index: 100;
          box-shadow: 0 23px 45px 10px rgba(43, 43, 43, 0.25);
          min-height: 295px;

          &._active {
            display: flex !important;
          }
        }

        @include media('>desktop') {
          padding: 28px 25px 25px 30px;
          justify-content: flex-start;
          align-items: flex-start;

          &._active {
            display: flex !important;
          }
        }

        &-group + .ui-datepicker-group {
          @include media('>desktop') {
            margin-left: 26px;
          }
        }

        .ui-datepicker-row-break {
          display: none;
        }

        .ui-datepicker-header {
          position: relative;
          display: flex;
          flex: 1 1 100%;
          width: 100%;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;
          max-height: 65px;

          @include media('>tablet') {
            position: static;
            justify-content: center;
            max-height: none;
            margin-bottom: 1.3rem;
          }
        }
      }
    }

    &__filter-date-inner {
      flex: 0 1 120px;

      @include media('>tablet') {
        flex: 0 1 145px;
      }

      &:nth-child(1) {
        order: 0;
      }

      &:nth-child(2) {
        order: 10;
      }
    }

    &__input {
      font-family: $roboto-font;
      text-align: left;
      padding: 1.1rem 1.2rem 1.3rem;
      font-size: 1.4rem;
      line-height: 2rem;
      color: $black;
      border: 1px solid #ececec;

      @include media('>tablet') {
        padding: 1.2rem 2.3rem;
        font-size: 1.6rem;
      }
    }

    &__nav-buttons {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;

      @include media('>tablet') {
        flex: 0 1 350px;
        justify-content: space-between;
        margin-left: 20px;
        padding-bottom: 0;
        width: auto;
      }

      .button {
        flex: 0 1 105px;

        @include media('>tablet') {
          flex: 0 1 165px;
          height: 4rem;
          padding-top: 1rem;
          font-size: 1.6rem;
          line-height: 2rem;
        }

        & + .button {
          margin-left: 30px;

          @include media('>tablet') {
            margin-left: 0;
          }

        }
      }
    }
  }

  @at-root .search-serp {
    padding-top: .5rem;

    &__result-value {
      margin-bottom: 0;
      font-family: $lora-font;
      font-size: 1.8rem;
      line-height: 3rem;
      font-weight: bold;
      color: $red;

      @include media('>tablet') {
        margin-bottom: 1.8rem;
        font-size: 2.4rem;
        line-height: 3.4rem;
      }
    }
  }
}
