.tabs-list {
    overflow: hidden;
    border-bottom: 1px solid $border-color;
    flex: 1 1;
    height: 4rem;
    background: #fff;
    transition: top .2s 0s;
    top: 0;
    border-top: none;
    &._nav_is_visible {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06);
        top: 40px;
        transition: top .2s 0.4s, border-top .1s .4s;
        border-top: 1px solid $border-color;
    }
    //@include media('>desktop') {
    //    border-bottom: 0;
    //}
    .sp-section & {
        box-shadow: 0 0 20px rgba(#000, .12);
        position: relative;
        min-width: 100%;
        margin-left: -$gap;
        margin-right: -$gap;
        z-index: 3;
    }
    &:before {
        pointer-events: none;
        z-index: 2;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $gap*1.3;
        content: '';
        background: linear-gradient(to left, rgba(#fff, 1) 25%,rgba(#fff, 0) 100%);
    }

    @include media('>tablet') {
        border-bottom: 1px solid $border-color;
    }
    &__inner {
        flex: 1 1;
        display: flex;
        max-width: $max-container-width;
        margin: auto;

        user-select: none;
        height: 6rem;
        overflow-y: hidden;
        padding: 0;
        position: relative;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
    }
}

.tabs {
    flex: 1 0 auto;
    display: flex;
    height: 4rem;
    align-items: center;
    background: #fff;

    .sp-section & {
        justify-content: center;
    }

    @include media('>desktop') {
        flex: 1 1;
        justify-content: center;
    }
    &_view {
        flex: 0 0 auto;
        display: none;

        @include media('>desktop') {
            display: flex;
            flex: 0 0 8rem;
            margin-left: -8rem;
        }
    }
    &__tab {
        position: relative;
        display: block;
        margin: 0 $gap;
        padding: (4rem - 1.5rem)/2 0;
        color: inherit;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
        font-family: $roboto-font;
        line-height: 1.4rem;
        white-space: nowrap;
        transition: color .15s;
        &._active {
            color: red;
            outline: none;
            &:before {
                border-bottom-width: 5px;
                border-bottom-color: inherit;
            }
        }
        &:focus,
        &:hover {
            @include media('>desktop') {
                color: red;
                outline: none;
            }
            &:before {
                @include media('>desktop') {
                    border-bottom-width: 5px;
                    border-bottom-color: inherit;
                }
            }
        }
        &:before {
            border-bottom: 0 solid transparent;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 0;
            content: '';
            transition: border .15s;
        }
        &_filter {
            border-top: .2rem solid;
            width: 1.4rem;
            height: 1rem;
            padding: 0 .2rem;
            line-height: .2rem;
            font-size: 0;

            @include media('>desktop') {
                display: none;
            }
            &:before {
                left: .4rem;
                width: .6rem;
                border-top: .2rem solid;
                border-bottom: 0 !important;
            }
            &:after {
                border-top: .2rem solid;
                display: block;
                width: 100%;
                height: 0;
                margin: auto;
                content: '';
            }
        }
        .tabs_view & {
            flex: 1;
            margin-left: 0;
            padding: 0;
            text-align: right;
            &:before {
                content: none;
            }
            [class^='um-'],
            [class*=' um-'] {
                display: block;
                width: 20px;
                height: 20px;
                font-size: 1.6rem;
                line-height: 2rem;
                overflow: hidden;
            }
            .um-menu_2 {
                font-size: 2rem;
            }
            .um-Vector {
                margin-left: -4px;
                font-size: 1.2rem;
            }
        }
    }
}

.tabs-filter {
    flex: 1 1;
    top: 0;
    margin-bottom: $gap*2;
    border-bottom: 1px solid #e3e3e3;
    @include media('>widescreen') {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    & .filter {
        margin-bottom: 0;
        margin-right: 4rem;
        display: flex;
        align-items: center;
        position: relative;
        width: 150px;
        height: auto;
        font-family: "Roboto", sans-serif;
        @include media('<desktop') {
            display: none;
        }
        &__list {
            top: calc(100% - 15px);
            & a {
                border-bottom: 1px solid #e3e3e3;
                &:hover {
                    border-bottom: 1px solid #e3e3e3;
                }
            }
        }
    }
    &__inner {
        display: flex;
        flex: 1 1;
        padding-bottom: $gap;
        flex-direction: row;
        align-items: center;
        @include media('<600px') {
            & .button-filter {
                margin: 0;
            }
            &:first-child {
                padding: 0;
            }
        }
        & .tabs__tab_filter {
            margin-left: 0;
            margin-right: 2rem;
            width: 1.5rem;
            &:before {
                bottom: 0;
            }
        }
        &[data-js="tabs-filter-by-popular"] {
          display: none;
        }
    }
    & .content__filter {
        border: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
