.timestamp {
  color: #777;
  font-size: 1.2rem;

  .page-widgets & {
    color: #3d3d3d;
  }

  .menu__item & {
    display: block;
    margin-top: 1.1rem;
    font-weight: 300;
  }

  .news-item & {
    min-width: 100%;
    margin-top: 1em;

    @include media('>tablet') {
      margin-top: auto;
    }
  }
}