.tools {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @extend %listreset;
  color: #999;
}

.tool {
  white-space: nowrap;

  &__text {
    margin-left: .4em;
    font-family: $roboto-font;
    font-size: 1.2rem;
  }

  & + & {
    margin-left: $gap;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .um-comment_fill {
    margin-right: -.1em;
    font-size: 2.4rem;
  }

  .page-widgets & {
    .um-eye_fill {
      font-size: 2rem;
    }
    .um-comment_fill {
      font-size: 2.8rem !important;
      margin-bottom: -0.06em;
    }
  }
}