[class^='um-'],
[class*=' um-'] {
    font-family: $um-font !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.um-people:before {
    content: "\e93b";
}
.um-read:before {
    content: "\e93c";
}
.um-solar:before {
    content: "\e93d";
}
.um-quot:before {
    content: "\e939";
}
.um-bold_text:before {
    content: "\e933";
}
.um-fact:before {
    content: "\e934";
}
.um-h1:before {
    content: "\e935";
}
.um-h2:before {
    content: "\e936";
}
.um-list:before {
    content: "\e937";
}
.um-vrezka:before {
    content: "\e938";
}
.um-copy:before {
    content: "\e932";
}
.um-file:before {
    content: "\e931";
}
.um-check_arrow:before {
    content: "\e92e";
    color: #fff;
}
.um-calendar:before {
    content: "\e92f";
}
.um-close_big:before {
    content: "\e930";
}
.um-Vector:before {
    content: "\e92d";
}
.um-facebook_foot:before {
    content: "\e928";
}
.um-twitter_foot:before {
    content: "\e92a";
}
.um-vk_foot:before {
    content: "\e92b";
}
.um-ok_foot:before {
    content: "\e93e";
    margin-right: 2px;
    padding-left: 3px;
}
.um-vk:before {
    content: "\e92c";
}
.um-add_infographic:before {
    content: "\e905";
}
.um-add_photo:before {
    content: "\e907";
}
.um-add_table:before {
    content: "\e922";
}
.um-add_many_photo:before {
    content: "\e923";
}
.um-add_news2:before {
    content: "\e924";
}
.um-add_news_edit:before {
    content: "\e925";
}
.um-add_news_lis:before {
    content: "\e926";
}
.um-add_question:before {
    content: "\e927";
}
.um-close_article:before {
    content: "\e929";
}
.um-arrow_left:before {
    content: "\e920";
}
.um-arrow_right:before {
    content: "\e921";
}
.um-arrow_archive_news:before {
    content: "\e91f";
}
.um-arrow_map:before {
    content: "\e91e";
}
.um-word:before {
    content: "\e91d";
}
.um-download:before {
    content: "\e91b";
}
.um-pdf:before {
    content: "\e91c";
}
.um-arrow_back:before {
    content: "\e91a";
}
.um-close:before {
    content: "\e900";
}
.um-menu_1:before {
    content: "\e901";
}
.um-menu_2:before {
    content: "\e902";
}
.um-search:before {
    content: "\e903";
}
.um-zoom:before {
    content: "\e918";
}
.um-add_news:before {
    content: "\e904";
}
.um-add:before {
    content: "\e906";
}
.um-comment:before {
    content: "\e908";
}
.um-comment_fill:before {
    content: "\e909";
}
.um-eye:before {
    content: "\e90a";
}
.um-eye_fill:before {
    content: "\e90b";
}
.um-charts:before {
    content: "\e90c";
}
.um-photo:before {
    content: "\e90d";
}
.um-question:before {
    content: "\e90e";
}
.um-quote_end:before {
    content: "\e90f";
}
.um-quote_up:before {
    content: "\e910";
}
.um-scroll_down:before {
    content: "\e911";
}
.um-teg:before {
    content: "\e912";
}
.um-video:before {
    content: "\e913";
}
.um-twitter:before {
    content: "\e915";
}
.um-facebook:before {
    content: "\e916";
}
.um-vkontakte:before {
    content: "\e917";
}
.um-odnoklasniki:before {
    content: "\e914";
}
.um-share_arrow:before {
    content: "\e919";
}
.um-telegram:before {
    content: "\e93a";
}


// Typography
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
    margin: 0 0 .8em;
    font-family: $headings-font-family;
    font-weight: bold;
    color: $headings-color;
}

.h {
    &._muted {
        color: #3d3d3d;
    }
}

h1,
.h1 {
    font-size: 2rem;
    line-height: 1.5;

    @include media('>desktop') {
        font-size: $h1-font-size;
    }
}

h2,
.h2 {
    font-size: 2rem;
    line-height: 1.5;

    @include media('>desktop') {
        font-size: $h2-font-size;
    }
}

h3,
.h3 {
    font-size: 1.8rem;
    line-height: 1.4;

    @include media('>desktop') {
        font-size: $h3-font-size;
    }
}

h4, .h4,
h5, .h5,
h6, .h6 {
    margin-bottom: .5em;
    font-size: 1.6rem;
    line-height: 1.4;

    @include media('>desktop') {
        margin-bottom: .8em;
    }
}

h4, .h4 {
    @include media('>desktop') {
        font-size: $h4-font-size;
    }
}

h5,
.h5 {
    @include media('>desktop') {
        font-size: $h5-font-size;
    }
}

h6,
.h6 {
    @include media('>desktop') {
        font-size: $h6-font-size;
    }
}

p {
    margin: 0;
    & + & {
        margin-top: 1.5em;
    }
}

a {
    color: $base-link-color;
    text-decoration: none;

    &:hover {
        color: $base-link-hover-color;
    }

    .content__main &:not([class]) {
        border-bottom: 2px solid rgba(#c1c1c1, .8);
        color: inherit;

        &:hover {
            border-bottom-color: rgba(red, .8);
            color: red;
        }
    }
}

p.lead-paragraph {
    border-bottom: 2px solid;
    margin-bottom: 2.5rem !important;
    padding-bottom: 1.2rem;
    font-family: $roboto-font;

    @include media('>desktop') {
        margin-bottom: 3rem !important;
        padding-bottom: 3rem;
    }
}

.quote {
    overflow: hidden;
    position: relative;
    margin: 2.6rem 0;
    padding: 0 3rem;

    @include media('>tablet') {
        margin: 2.8rem 0;
        padding: 0 0 1.4rem 3.6rem;
    }
    @include media('<tablet') {
        padding: 0 0 1.4rem 3.6rem;
    }
    &__pic {
        z-index: 1;
        overflow: hidden;
        box-shadow: 0 0 0 1px #fff;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -16px;
        width: 48px;
        height: 48px;
        background: #fafafa;
        img {
            max-width: 100%;
            width: inherit;
            height: inherit;
        }
    }
    &__content {
        margin: 0;
        &:before {
            margin-right: 10px;
            margin-left: -10px;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            font-size: 4rem;
            font-family: $um-font;
            content: '\e910';
        }
        &:after {
            overflow: hidden;
            vertical-align: middle;
            position: relative;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            font-size: 4rem;
            font-family: $um-font;
            content: '\e90f';
        }
    }
    &__author {
        float: right;
        position: relative;
        margin: 1.4em 0 0 0;
        padding-left: 3rem + $gap;
        line-height: 1.4;
        font-weight: 700;
        min-height: 35px;
        white-space: nowrap;

        @include media('>tablet') {
            float: none;
            margin-left: 40%;
        }
        &:before {
            border-top: 1px solid;
            position: absolute;
            top: .9em;
            left: 0;
            display: block;
            width: 30px;
            height: 0;
            content: '';
        }
    }
    &__sign {
        display: inline-block;
        padding-top: .2em;
        vertical-align: middle;
        white-space: normal;
    }
}

.list {
    &.style01 {
        @extend %listreset;
        margin-bottom: 2em;
        font-family: $roboto-font;

        @include media('<=tablet') {
            font-size: 1.6rem;
            line-height: 1.4;
        }
        > li {
            position: relative;
            padding-left: .6em;
            &:before {
                border: 2px solid;
                border-radius: 50%;
                position: absolute;
                top: .6em;
                left: 0;
                width: 0;
                height: 0;
                content: '';
            }
            & + li {
                margin-top: 1.4em;
            }
            small {
                display: block;
                margin-top: .1em;
                color: #777;
                font-size: 1.4rem;

                @include media('>tablet') {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.include-media {
    border-bottom: 2px solid;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem 0;
    line-height: 1;
    font-family: $roboto-font;
    @include media('>tablet') {
        margin-top: 5rem;
        margin-bottom: 4rem;
    }
    & + & {
        margin-top: 6rem;
    }
    &__inner {
        min-width: 100%;
        width: 100%;
        margin: 0;
    }
    &__pic {
        z-index: 2;
        overflow: hidden;
        position: relative;
        margin: 0 (-$gap) 1.6rem;
        padding-bottom: 83%;
        background: #eee 50% 50% no-repeat;
        background-size: cover;

        @include media('>tablet') {
            border-radius: .3rem;
            margin-left: 0;
            margin-right: 0;
            padding-bottom: percentage(310/610);
        }
        .include-media_embedded & {
            margin-bottom: 2rem;
        }
        img {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
        }
    }
    &__link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:before {
            @include media('>desktop') {
                z-index: 1;
                border: 1px solid $border-color;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(#fff, .8);
                content: '';
                opacity: 0;
                will-change: opacity;
                transition: opacity .2s;
            }
        }
        &:after {
            z-index: 1; // box-shadow: 1px 1px 3px rgba(#000, .3);
            position: absolute;
            top: $gap;
            right: $gap;
            width: 24px;
            height: 24px; // background: rgba(#fff, .4);
            color: rgba(#fff, .8);
            font-family: $um-font;
            font-size: 24px;
            text-align: center;
            font-weight: 700;
            text-shadow: 1px 1px 1px rgba(#000, .6);
            content: '\e918';
            @include media('>desktop') {
                opacity: 0;
                box-shadow: none;
                top: 50%;
                right: 50%;
                width: 70px;
                height: 70px;
                line-height: 70px;
                font-size: 70px;
                font-weight: 400;
                text-shadow: none; // background: rgba(#000, .2);
                color: $base-text-color;
                will-change: opacity;
                transform: translate(50%, -50%);
                transition: opacity .2s;
            }
        }
        &:hover {
            &:before,
            &:after {
                @include media('>desktop') {
                    opacity: 1;
                }
            }
        }
    }
    &__h {
        font-size: 1.6rem;
        @include media('>tablet') {
            font-size: 2.4rem;
        }
        .include-media_embedded & {
            margin-bottom: .1em;
            color: #3d3d3d;
            font-family: $roboto-font;
            line-height: (30/24)+em;
        }
    }
    &__text {
        padding-bottom: 1.6rem;
        font-size: 1.4rem;
        line-height: (20/14)+em;
        .include-media_embedded & {
            position: relative;
            padding-left: 3.8rem;
            color: #777;
            font-size: 1.6rem;
            font-family: $lora-font;
            line-height: (20/16)+em;
            @include media('>tablet') {
                padding-left: 4.6rem;
                line-height: 1.4;
            }
            &:before {
                //overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 30px;
                height: 22px;
                line-height: 22px;
                font-size: 3rem;
                text-align: center;
                font-family: $um-font;
                color: #000;
                content: ''; // background: rgba(#000, .1);

                @include media('>tablet') {
                    width: 31px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 4.5rem;
                    text-indent: -7px;
                }
            }
        }
        ._photogallery & {
            &:before {
                content: '\e90d';
            }
        }
        ._infographic & {
            &:before {
                content: '\e90c';
            }
        }
        ._video & {
            &:before {
                content: '\e913';
            }
        }
        p {
            margin: 0 !important;
        }
    }
    &__description {
        order: -1;
        min-width: 100%;
        padding-bottom: .8rem;
        font-size: 1.2rem;
        text-align: right;
        letter-spacing: .044em;
        .include-media_embedded & {
            order: initial;
            padding-left: 3.8rem;
            color: #777;
            text-align: left;

            @include media('>tablet') {
                padding-bottom: 1.8rem;
                padding-left: 4.6rem;
                font-size: 1.4rem;
            }
        }
    }
    &__author {
        font-weight: 500;
    }
}

.poll {
    @include media('>tablet') {
        border: 1px solid $border-color;
        border-radius: .3rem;
        padding: 2rem;
    }
    &__inner {
        padding-left: 3.6rem;

        @include media('>tablet') {
            padding-left: 4.6rem;
        }
    }
    &__title {
        position: relative;
        margin-bottom: 2.8rem;
        font: 700 1.6rem/1.2 $roboto-font;

        @include media('>tablet') {
            font: 700 1.8rem/1 $roboto-font;
        }
        &:before {
            display: block;
            position: absolute;
            top: 0;
            right: 100%;
            width: 4rem;
            height: 4rem;
            font-family: $um-font;
            content: '\e90e';
            font-size: 4rem;
            @include media('>tablet') {
                margin-left: -4rem;
                text-indent: -.1em;
            }
        }
    }
}

.poll-list {
    @extend %listreset;
    &_result {
        margin-left: -3.6rem;
        @include media('>tablet') {
            margin-left: 0;
        }
    }
    &__item {
        line-height: 1;
        & + & {
            margin-top: 2.8rem;
        }
    }
}

.poll-result {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &_total {
        font-size: 1.4rem;
        font-family: $roboto-font;
        strong {
            margin: 0 .3em;
        }
    }
    &__label {
        min-width: 100%;
        margin-bottom: .3em;
    }
    &__progress {
        overflow: hidden;
        flex: 1 1 auto;
        position: relative;
        border-radius: .2rem;
        height: 3rem;
        background: #e3e3e3;
        text-align: center;

        @include media('>tablet') {
            max-width: 70%;
        }
        &:before {
            z-index: 1;
            position: relative;
            display: inline-block;
            padding: (3rem - 1.2rem)/2 0;
            color: #5d5d5d;
            font-size: 1.2rem;
            line-height: 1;
            content: attr(data-counter);
        }
    }
    &__progressbar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: #c1c1c1;
    }
    &__percentage {
        min-width: $gap*3;
        text-align: right;

        @include media('>tablet') {
            min-width: 0;
            margin-left: .5em;
        }
    }
}

.link-more {
    display: inline-block;
    &:after {
        display: inline-block;
        padding-left: .3em;
        content: '→';
        will-change: transform;
        transition: transform .15s;
    }
    &:hover {
        color: $base-text-color;
        &:after {
            transform: translateX(15%);
        }
    }
    .news+& {
        margin-top: 1.3em;
    }
}

.hcc.hc__form__send {
    box-shadow: none !important;
    height: auto !important;
    background: #ff0000 !important;
    color: #fff !important;
    line-height: 1 !important;
    font-size: 1.4rem !important;
    padding: .7em 1em !important;
    &:hover {
        background-color: #e51515 !important;
    }
    &:focus {
        box-shadow: 0 0 0 2px darken(#e51515, 10%) !important;
    }
}

.button {
    border: 0;
    border-radius: .2rem;
    display: block;
    min-width: 100%;
    height: 4rem;
    padding: .7em 1em;
    background: #f00;
    color: #fff;
    text-align: center;
    font: 1.6rem/1 $roboto-font;
    outline: none;
    @include media('>tablet') {
        display: inline-block;
        min-width: 26rem;
    }
    &:hover {
        background-color: #e51515;
        color: #fff;
    }
    &:focus {
        //box-shadow: 0 0 0 2px darken(#e51515,     5%);
    }
    &_block {
        display: block !important;
        min-width: 100% !important;
    }
    &_middle {
        min-width: 0;
        padding: .54em 1.38em;
        font: 1.3rem/1em $roboto-font;
        height: 3rem;

        @include media('>tablet') {
            min-width: 0;
            padding: .54em 1.38em;
        }
    }
    &_transparent_gray {
        border: 1px solid #777;
        background-color: transparent;
        color: $black;

        &:hover {
            border: 1px solid $red;
            background-color: $red;
            color: $white;
        }
        &:focus {
            box-shadow: none;
            outline: auto;
        }
    }

    &_transparent_red {
        border: 1px solid $red;
        background-color: transparent;
        color: $red;

        &:hover {
            border: 1px solid $red;
            background-color: $red;
            color: $white;
        }
    }

    &_color_gray {
        color: #777;
    }

    &_transparent {
        min-width: 0;
        background-color: transparent;
        border: 0;

        @include media('>tablet') {
            min-width: 0;
        }

        &:hover {
            background-color: transparent;
            border:0
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.tags {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    &__title {
        flex: 0 0 11rem;
        max-width: 11rem;
        padding: .4em 0;
        font: 1.6rem/1 $roboto-font;
        &:before {
            display: inline-block; // width: 12px;
            letter-spacing: -.33em;
            text-indent: -.33em;
            height: 20px;
            margin-right: 8px;
            vertical-align: text-top; // background: rgba(#000, .1);
            font-family: $um-font;
            text-align: center;
            line-height: 20px;
            font-size: 5rem;
            content: '\e912';
        }
    }
    &__list {
        border-left: 1px solid $border-color;
        flex: 1;
        padding-left: $gap;
    }
}

.tag {
    color: inherit;
    &:hover {
        color: red;
    }
    &:before {
        display: block;
        content: '';

        @include media('>tablet') {
            content: none;
        }
    }
}

.action-list {
    display: flex;
    flex-wrap: wrap;
    @extend %listreset;
    &__item {
        border-top: 1px solid $border-color;
        flex: 1 1 100%;
        margin: 0 (-$gap);

        @include media('>tablet') {
            margin: 0;
            padding: 2rem 0;
        }
        &:last-child {
            border-bottom: 1px solid $border-color;
        }
        @include media('>tablet') {
            flex: 1 1;
            border-bottom: 1px solid $border-color;
            text-align: center;
        }
    }
}

.action-link {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 2rem .8rem;
    color: inherit;
    font: 400 1.4rem/1 $roboto-font;
    white-space: nowrap;

    .um-vk {
        font-size: 1.6rem !important;
    }

    @include media('>tablet') {
        padding: .8rem;
    }
    &:hover {
        color: red;
    }
    &[data-js='popup'],
    &[data-js='comments'] {
        outline: none;
        span {
            border-bottom-style: dotted;
        }
    }
    span {
        border-bottom-color: rgba(red, .7);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        display: inline-block;
        vertical-align: middle;
    }
    .comments_counter {
        border: none;
    }
    .icon {
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 30px;
        line-height: 30px;
        font-size: 40px;
        text-align: center;
    }
}

.hero {
    min-width: 100%;
    &__pic {
        z-index: 1;
        overflow: hidden;
        position: relative;
        margin-left: -$gap;
        margin-right: -$gap;
        padding-bottom: 83%;//percentage(3/4);
        background: #eee 50%/cover no-repeat;

        @include media('>tablet') {
            padding-bottom: percentage(460/1140);
        }
        @include media('>widescreen') {
            border-radius: .3rem;
            margin-left: 0;
            margin-right: 0;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
        }
    }
    &__text {
        padding: .5em 0;
        text-align: right;
    }
}

.sp-hero {
    flex: 1 1;
    display: flex;
    min-width: 100%;
    margin: -12.2rem (-$gap) 0;
    padding: 16.2rem 0 3em;
    font-family: $lora-font;
    background: #fdfdfd 50% 0/cover no-repeat fixed;

    @include media('>tablet') {
        //height: 58rem;
        min-height: 75vh;
        margin-top: (-14.2rem - $gap);
        padding: 14.2rem 0 1em;
    }
    &--responsive-height {
        padding: 0;
        background-size: 100%;
        min-height: 0;
        margin-top: -12.2rem;
        align-items: flex-start;
        .sp-hero__inner {
            position: absolute;
            top: 80px;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0 20px;
        }
        @include media('<tablet') {
            min-height: 400px;
            background-size: cover;
            .sp-hero__text {
                display: none;
            }
        }
    }
    .sp-section_inverted & {
        color: #fff;
    }
    .sp-section_dark & {
        z-index: 1;
        position: relative;
        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(#000, .5);
            content: "";
        }
    }
    .sp-section_light & {
        z-index: 1;
        position: relative;
        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(#fff, .5);
            content: "";
        }
    }
    &__background {
        opacity: 0;
    }
    &__inner {
        z-index: 1;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 16.2rem;
        left: 0;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        flex-wrap: wrap;
        height: auto;
        min-width: 100%;
        margin: auto;
        padding: 0;
        text-align: center;
        opacity: 0;
        &--animate {
            transition: transform 2.5s, opacity 2.5s;
            opacity: 1;
            transform: translateY(-10px)
        }

        @include media('>tablet') {
            padding-top: 5em;
            padding-bottom: 5em;
        }

        @include media('<tablet') {
            position: relative;
            top: 0;
            padding: $gap;
        }
    }
    &__heading {
        &.h1 {
            width: 100%;
            margin: 0;
            line-height: 1.1;
            color: inherit;
            text-align: center;
            font-family: inherit;
            font-size: 4rem;
            font-weight: 400;
            max-width: $max-container-width;

            @include media('>tablet') {
                font-size: 6.2rem;
            }
        }
        //.cssanimations & {
        //    animation: fadetop .5s .1s linear backwards;
        //}
    }
    &__text {
        margin: 3rem auto 0;
        font-size: 1.6rem;
        line-height: 2.5rem;
        font-family: $roboto-font;
        max-width: $max-container-width;

        //.cssanimations & {
        //    animation: fadetop .5s .2s linear backwards;
        //}
        //.button {
        //    box-shadow: none !important;
        //    min-width: 11rem;
        //    border: 1px solid #b9bab7;
        //    margin-top: 3rem;
        //    line-height: 1;
        //    color: #b9bab7;
        //    font-size: 1.2rem;
        //    background: none;
        //    height: 3rem;
        //    padding: (3rem - 1.2rem)/2 $gap;
        //    &:hover {
        //        border-color: #fff;
        //        color: #fff;
        //    }
        //}
    }
}

.privacy-policy {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.47;
    a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
    }
}
