// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$pic-ratio: 9/16 !default;

$gray: #999;
$black: #000;
$white: #fff;
$red: #ff0000;
$light-blue: #39f;
$border-color: #e3e3e3;
$dark-color: #262626;
$text-color-on-dark: $gray;

$base-font-sans-serif: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
$lora-font: 'Lora', serif;
$roboto-font: 'Roboto', sans-serif;
$um-font: 'um-icons';

// Body
$base-text-color: #333238 !default;
$base-background-color: $white !default;
$font-size-base: 10px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

// Indents
$gap: 1.5rem;
$trim: $gap;
$trim-middle: 2rem;
$trim-big: 3rem;

$base-min-width: 32rem;
$max-content-width: 114rem;
$max-container-width: $max-content-width + $trim*2;

// Links
$base-link-color: red;
$base-link-hover-color: darken(red, 5%);

// Buttons
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: .4em .7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: .9rem 1rem !default;
$form-element-background: $white !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 3.2rem !default;
$h2-font-size: 2.7rem !default;
$h3-font-size: 2.4rem !default;
$h4-font-size: 2rem !default;
$h5-font-size: 1.7rem !default;
$h6-font-size: 1.5rem !default;

$headings-font-family: $roboto-font !default;
$headings-color: $black !default;

$animation-speed: .3s;

$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 992px,
  'widescreen': 1200px,
  'full-hd': 1920px
);

$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);
