extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item._active: a(href="blogs.html") Блоги

block content
  main.content
    article.content__main.content__main_nomargin
      .content__backward
        a.page-backward(href="#") Изменить профиль
      section.author
        .author__avatar
          .dropdown.dropdown_upload_avatar.author__upload-avatar
            .dropdown__trigger.author__avatar-img(data-js="dropdown")
              img(src="images/user_pic_280x280_img.jpg" width="280" height="280")
            ul.dropdown__list
              li
                a.upload-photo__link(href="ajax/select-photo-area.html", data-js="popup-inline-photo") Изменить миниатюру
                //include  ajax/select-photo-area
              li
                input(type="file",
                class="visually-hidden",
                id="avatarInput",
                name="files[]")
                label.upload-photo__link(for="avatarInput") Загрузить фотографию
              li
                a.upload-photo__link(href="#")#avatarDelete Удалить фотографию
        //-END .author__avatar
        //-include  ajax/select-photo-area

        .author__descr
          h3.author__name Поздеев Андрей Витальевич
          p.author__spec Журналист
          p.author__spec
            b Город:&nbsp
            | Ижевск
          p.author__spec
            b Место работы:&nbsp
            | ИА «Удмуртия»
          p.author__spec
            b Обо мне:
          p.author__spec
            | Пишу тексты, снимаю короткометражки, увлекаюсь фотосъемкой.
            | Люблю путешествовать, мечтаю покорить Эверест.
          .author__inner-btn-edit
            button.button.button_transparent_gray.button_middle(type="button", data-js="edit-author-data") Редактировать
        //-END .author__descr

        //-.author__edit-descr
        .author__edit-descr
          form.form.form_edit_author(action="", method="")

            .form__row
              .form-control-holder
                label.visually-hidden(for="author-name") Введите имя
                input.form-control(id="author-name", placeholder="Введите имя", required)
                .form-control-error Укажите имя

            .form__row
              .form-control-holder
                label.visually-hidden(for="author-post") Введите должность
                input.form-control(id="author-post", placeholder="введите должность", required)
                .form-control-error Укажите должность

            .form__row
              .form-control-holder
                label(for="author-city") Город:
                input.form-control(id="author-city", placeholder="Введите город", required)
                .form-control-error Укажите город

            .form__row
              .form-control-holder
                label(for="place-work") Место работы:
                input.form-control(id="place-work", placeholder="Введите место работы")
                .form-control-error Укажите место работы

            .form__row
              .form-control-holder
                label.author__label-about-me(for="about-me") Обо мне:
                input.form-control(id="about-me", placeholder="Введите информацию о себе")
                .form-control-error Укажите место работы

            .form__row
              button.button.button_middle(type="submit") Сохранить
              button.button.button_middle.button_transparent_gray.button_color_gray(type="button",data-js="cancel-edit") Отменить
        //-END .author__edit-descr
      //-END .author

      section.articles-list
        .articles-list__header#anchor_my_posts
          h3.articles-list__title Мои статьи
          a.button.button_middle.button_transparent_red#editor(href="editor.html", data-js="open-editor", onclick="return false") Добавить пост

        .articles-list__sorting(data-js="toggle-tabs")
          .tabs.tabs_my_articles
            a.tabs__tab._active(href="#save-news") Сохранённые 21
            a.tabs__tab(href="#published-news") Опубликованные 125

        .articles-list__inner-news
          .news._active#save-news
            - var n = 2;
            while n--
              .news__item
                .news__item-inner
                  .news__main
                    .news__head
                      .news__title
                        a(href="news-item.html"): h4.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
                    .news__body
                      | Александр Бречалов назначен временно исполняющим
                      | обязанности главы Удмуртии 4 апреля. Соответствующий
                      | указ подписал президент России Владимир Путин.
                    .news__foot
                      time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                      .edit-links
                        a.edit-links__link(href="#") Удалить
                        a.edit-links__link(href="#") Редактировать
                  .news__media
                    a.media.media_image(href="news-item.html")
                      .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
                        img(src="images/news_pic_16_9__01.jpg", alt="")
              .news__item
                .news__item-inner
                  .news__main
                    .news__head
                      .news__title
                        a(href="news-item.html"): h4.h Без названия
                    .news__body
                      | Александр Бречалов назначен временно исполняющим
                      | обязанности главы Удмуртии 4 апреля. Соответствующий
                      | указ подписал президент России Владимир Путин.
                    .news__foot
                      time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 1 час назад
                      .edit-links
                        a.edit-links__link(href="#") Удалить
                        a.edit-links__link(href="#") Редактировать

          .news.display-none#published-news
            - var n = 2;
            while n--
              .news__item
                .news__main
                  .news__head
                    .news__title
                      a(href="news-item.html"): h4.h Без названия
                  .news__body
                    | Александр Бречалов назначен временно исполняющим
                    | обязанности главы Удмуртии 4 апреля. Соответствующий
                    | указ подписал президент России Владимир Путин.
                  .news__foot
                    time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 1 час назад

                    .edit-links
                      a.edit-links__link(href="#") Удалить
                      a.edit-links__link(href="#") Редактировать

        //-END .articles-list__inner-news
      //-END.articles-list

      //-END author
    //-END .content__main

    aside.content__side
      .side-content(data-sticky)
        .side-content__item.side-content__item_subs
          h3.side-content__title Узнавай первым!
          form.form.form_subscribe(action="#kek")
            .form__row Каждую пятницу мы рассказываем о самых интересных новостях и материалах. Не пропусти.
            .form__row
              .form-control-holder
                input.form-control( type="email",
                placeholder="Введите ваш e-mail",
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$")
                .form-control-error Адрес электронной почты должен содержать символ «@».
            .form__row
              button.button.button_block Подписаться
        .side-content__item
          h3.side-content__title Мы в соцсетях
          p Всегда будьте в курсе событий в течение дня!
          ul.share-list.share-list_inline
            li.share-list__item
              a.share-list__link(href="javascript:void(0)")
                i.share-list__icon.um-twitter
              //- span.share-list__counter 12
            li.share-list__item
              a.share-list__link(href="javascript:void(0)")
                i.share-list__icon.um-telegram
              //- span.share-list__counter 12
            li.share-list__item
              a.share-list__link(href="javascript:void(0)")
                i.share-list__icon.um-facebook
              //- span.share-list__counter 32
            li.share-list__item
              a.share-list__link(href="javascript:void(0)")
                i.share-list__icon.um-vkontakte
              //- span.share-list__counter 99
            //- li.share-list__item
              a.share-list__link(href="javascript:void(0)")
                i.share-list__icon.um-odnoklasniki
              span.share-list__counter 120
