extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item._active: a(href="blogs.html") Блоги
block content
  main.content
    article.content__main.content__main_nomargin
      .content__backward
        a.page-backward(href="") Изменить профиль
      section.author
        .author__avatar
          .author__upload-avatar
            img(src="images/user_pic_280x280_img.jpg" width="280" height="280")
        //-END .author__avatar
        .author__descr
          h3.author__name Поздеев Андрей Витальевич
          p.author__spec Журналист
          p.author__spec
            <b>Город:</b> Ижевск
          p.author__spec
            <b>Место работы:</b> ИА «Удмуртия»
          p.author__spec
            b Обо мне:
          p.author__spec
            | Пишу тексты, снимаю короткометражки, увлекаюсь фотосъемкой.
            | Люблю путешествовать, мечтаю покорить Эверест.
        //-END .author__descr

      //-END .author

      section.articles-list.articles-list_guest_user
        .articles-list__header
          h3.articles-list__title Cтатьи
          a.articles-list__link(href="/blogs-authors.html") Все авторы

        .articles-list__nav
          a.articles-list__link-nav(href="") Архив статей

        .articles-list__inner-news

          .news
            .cards-wrapper
              - var n =4;
              while n--
                .card-item.card-item_no_pic
                  .card-item__inner
                    .card-item__body
                      .card-item__title
                        a.card-item__title-link(href="news-item.html")
                          h5.h Минприроды Удмуртии: дальнейшего повышения уровня сброса воды с Ижевского водохранилища не ожидается.
                      a.card-item__body-link(href="news-item.html")
                        .card-item__pic.card-item__pic_no_pic
                      figure.card.card_user
                        .card__pic: img(src="images/user_pic_35x35_img.jpg", alt="Поздеев Андрей")
                        figcaption.card__title
                          | Поздеев Андрей
                          small Журналист ИА «Удмуртия»
                      ul.tools.card-item__tools
                        li.tool
                          span.um-eye_fill
                          span.tool__text 123
                        li.tool
                          span.um-comment_fill
                          span.tool__text 99
                      .card-item__text
                        p.card-item__description.
                          Четыре авиарейса задержано из-за погодных условий в аэропорту столицы Удмуртии.
                    .card-item__footer
                      time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                      ul.tools
                        li.tool
                          span.um-eye_fill
                          span.tool__text 123
                        li.tool
                          span.um-comment_fill
                          span.tool__text 99
                      .category
                        a.category-link(href="#") Удмуртия
                        |  /
                        a.category-link(href="#") Политика
                .card-item
                  .card-item__inner
                    .card-item__body
                      .card-item__title
                        a.card-item__title-link(href="news-item.html")
                          h5.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
                      a.card-item__body-link(href="news-item.html")
                        .card-item__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
                          img(src="images/news_pic_16_9__01.jpg", alt="")
                      figure.card.card_user
                        .card__pic: img(src="images/user_pic_35x35_img.jpg", alt="Поздеев Андрей")
                        figcaption.card__title
                          | Поздеев Андрей
                          small Журналист ИА «Удмуртия»
                      ul.tools.card-item__tools
                        li.tool
                          span.um-eye_fill
                          span.tool__text 123
                        li.tool
                          span.um-comment_fill
                          span.tool__text 99
                      .card-item__text
                        p.card-item__description.
                          Четыре авиарейса задержано из-за погодных условий в аэропорту столицы Удмуртии.
                          Как сообщили ИА «Удмуртия»: "Текста в описании много не бывает !!!"
                    .card-item__footer
                      time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                      ul.tools
                        li.tool
                          span.um-eye_fill
                          span.tool__text 123
                        li.tool
                          span.um-comment_fill
                          span.tool__text 99
                      .category
                        a.category-link(href="#") Удмуртия
                        |  /
                        a.category-link(href="#") Политика
        //END .articles-list__inner-news
      //END.articles-list

      //END author
    //END .content__main

    aside.content__side
      .side-content(data-sticky)
        .side-content__item.side-content__item_subs
          h3.side-content__title Узнавай первым!
          form.form.form_subscribe(action="#kek")
            .form__row Каждую пятницу мы рассказываем о самых интересных новостях и материалах. Не пропусти.
            .form__row
              .form-control-holder
                input.form-control( type="email",
                placeholder="Введите ваш e-mail",
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$")
                .form-control-error Адрес электронной почты должен содержать символ «@».
            .form__row
              button.button.button_block Подписаться
