extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item._active: a(href="blogs.html") Блоги

block content
  main.content.content_authors_list
    article.content__main.content__main_nomargin
      .tabs-list.content__tabs
        .tabs-list__inner
          nav.tabs
            a.tabs__tab._active(href="blogs.html") Все посты
            a.tabs__tab(href="#popular") Популярные посты
            a.tabs__tab(href="blogs-authors.html") Блогеры
            a.tabs__tab(href="author.html#anchor_my_posts") Мои посты
          nav.tabs.tabs_view
            a.tabs__tab(href="news-feed.html"): i.um-menu_1
            a.tabs__tab._active(href="news-feed.html"): i.um-menu_2
      .tabs-filter
        .tabs-filter__inner
          .content__filter
            nav.content-filter
              a.content-filter__item._active._asc(data-js="filter-by-popular" href="#") По популярности
              a.content-filter__item(data-js="filter-by-new" href="#") По новизне
        .tabs-filter__inner(data-js="tabs-filter-by-popular")
          .button-filter
            nav.button-filter__nav
              a.button-filter__item._active(href="#all") Все
              a.button-filter__item(href="#week") Неделя
              a.button-filter__item(href="#month") Месяц
              a.button-filter__item(href="#year") Год
      section.authors

        .authors__body
          ul.authors__list
            - var n = 3;
            while n--
              li.authors__item
                section.author-blog
                  figure.card.card_user_middle.author-blog__descr
                    a(href="author.html").card__pic: img(src="images/user_pic_70x70_img.jpg", alt="Поздеев Андрей" )
                    figcaption.card__title
                      a.author-blog__link(href="author.html") Поздеев Андрей
                      small Журналист ИА «Удмуртия»
                  ul.author-blog__list-titles
                    li.author-blog__list-item
                      a.author-blog__list-link(href="") ЕСПЧ: применение пожизненного заключения
                    li.author-blog__list-item
                      a.author-blog__list-link(href="") Новый врио главы Удмуртии: кто такой Александр Бречалов?
                    li.author-blog__list-item
                      a.author-blog__list-link(href="") Погода в Удмуртии на ближайшую неделю

      //END authors
    //END .content__main

    aside.content__side
      .side-content(data-sticky)
        .side-content__item.side-content__item_subs
          h3.side-content__title Узнавай первым!
          form.form.form_subscribe(action="#kek")
            .form__row Каждую пятницу мы рассказываем о самых интересных новостях и материалах. Не пропусти.
            .form__row
              .form-control-holder
                input.form-control( type="email",
                placeholder="Введите ваш e-mail",
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$")
                .form-control-error Адрес электронной почты должен содержать символ «@».
            .form__row
              button.button.button_block Подписаться
