extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item._active: a(href="blogs.html") Блоги

block content
  main.content.content_view_list
    aside.content__side.content__side_view_list
      .side-content
        nav.menu-wrapper
          ul.menu
            li.menu__item._active: a(href="#") Все рубрики
            li.menu__item: a(href="#") Политика
            li.menu__item: a(href="#") Экономика и финансы
            li.menu__item: a(href="#") Бизнес
            li.menu__item: a(href="#") Общество
            li.menu__item: a(href="#") Проишествия
            li.menu__item: a(href="#") Сельское хозяйство
            li.menu__item: a(href="#") Строительство
            li.menu__item: a(href="#") Технологии
            li.menu__item: a(href="#") Промышленность
            li.menu__item: a(href="#") Спорт
            li.menu__item: a(href="#") Культура
            li.menu__item: a(href="#") Туризм
            li.menu__item: a(href="#") Здоровье
            li.menu__item: a(href="#") Наука и техника
            li.menu__item: a(href="#") Образование
            li.menu__item: a(href="#") ЖКХ
            li.menu__item: a(href="#") Авто
            li.menu__item: a(href="#") #МонПоражён
    article.content__main.content__main_view_list
      .tabs-list.content__tabs
        .tabs-list__inner
          nav.tabs
            a.tabs__tab.tabs__tab_filter(href="#", data-js="rubrics-menu") Фильтр
            a.tabs__tab._active(href="blogs.html") Все посты
            a.tabs__tab(href="#popular") Популярные посты
            a.tabs__tab(href="blogs-authors.html") Блогеры
            a.tabs__tab(href="author.html#anchor_my_posts") Мои посты
          nav.tabs.tabs_view
            a.tabs__tab(href="blogs-matrix.html"): i.um-menu_1
            a.tabs__tab._active(href="blogs-empty.html"): i.um-menu_2
      .content__filter
        nav.content-filter
          a.content-filter__item._active._asc(href="#") По популярности
          a.content-filter__item(href="#") По алфавиту
        .button-filter
          nav.button-filter__nav
            a.button-filter__item._active(href="#all") Все
            a.button-filter__item(href="#week") Неделя
            a.button-filter__item(href="#month") Месяц
            a.button-filter__item(href="#year") Год
      .news.news_type_blog
        - var n = 2;
        while n--
          .news__item
            .news__item-inner
              .news__main
                .news__head
                  .news__title
                    a(href="news-item.html"): h4.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
                  span.news__badge Новости
                  figure.card.card_user.card_user_small.news__author
                    .card__pic: img(src="images/user_pic_35x35_img.jpg", alt="Поздеев Андрей")
                    figcaption.card__title
                      a.card__link(href="author-guest.html")
                        | Поздеев Андрей
                        small Журналист ИА «Удмуртия»
                  ul.tools.news__tools
                    li.tool
                      span.um-eye_fill
                      span.tool__text 123
                    li.tool
                      span.um-comment_fill
                      span.tool__text 99
                p.news__preview Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля. Соответствующий указ подписал президент России Владимир Путин.
                .news__foot
                  time.timestamp.news__timestamp(datetime="2017.06.09T18:25") 09 июня, 18:25
                  .category
                    a.category-link(href="#") Удмуртия
                    |  /
                    a.category-link(href="#") Политика
              .news__media
                a.media.media_image(href="news-item.html")
                  .media__pic: img(src="images/news_pic_16_9__01.jpg", alt="")
          .news__item
            .news__item-inner
              .news__main
                .news__head
                  .news__title
                    a(href="news-item.html"): h4.h 5 октября Владимир Путин встретится с лауреатами конкурса «Учитель года России – 2017» и посетит праздничный концерт по случаю Дня учителя
                  span.news__badge Новости
                  figure.card.card_user.card_user_small.news__author
                    .card__pic: img(src="images/user_pic_35x35_img.jpg", alt="Поздеев Андрей")
                    figcaption.card__title
                      a.card__link(href="author-guest.html")
                        | Поздеев Андрей
                        small Журналист ИА «Удмуртия»
                  ul.tools.news__tools
                    li.tool
                      span.um-eye_fill
                      span.tool__text 123
                    li.tool
                      span.um-comment_fill
                      span.tool__text 99
                p.news__preview Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля. Соответствующий указ подписал президент России Владимир Путин.
                .news__foot
                  time.timestamp.news__timestamp(datetime="2017.06.09T18:25") 09 июня, 18:25
                  .category
                    a.category-link(href="#") Политика
              .news__media
                a.media.media_image(href="news-item.html")
                  .media__pic: img(src="images/news_pic_16_9__02.jpg", alt="")

block flasher-content
  include pug/includes/flasher
