extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content
  main.content.content_contacts

    section.contacts
      .contacts__header.content__backward
        a.page-backward(href="")
          h1.h1 Контакты

        .contacts__networks
          .share-widget.share-widget_visible_pc
            .share-list-container
              ul.share-list.share-list_visible_pc
                li.share-list__item
                  a.share-list__link(href="javascript:void(0)")
                    i.share-list__icon.um-twitter
                li.share-list__item
                  a.share-list__link(href="javascript:void(0)")
                    i.share-list__icon.um-facebook
                li.share-list__item
                  a.share-list__link(href="javascript:void(0)")
                    i.share-list__icon.um-vkontakte
                li.share-list__item
                  a.share-list__link(href="javascript:void(0)")
                    i.share-list__icon.um-odnoklasniki
            .share-trigger.share-trigger_visible_pc
              a.share-trigger__icon.um-share_arrow(href="javascript:void(0)", data-js="share-toggle")
      //END .contacts__header

      .contacts__body
        .contacts__inner
          ul.contacts__list
            li.contacts__item
              p
                b Адрес
              p 426057, г.Ижевск, ул. Пастухова, 13. Литер А
            li.contacts__item
              p
                b Телефон
              p +7 (3412) 57-07-55
            li.contacts__item
              p
                b E-mail
              p
                a.contacts__link(href="mailto:red@udmurt.media") red@udmurt.media

          ul.contacts__list.contacts__list_person
            li.contacts__item
              p
                b Учередитель
              p
                | Агентство печати и массовых
                br
                | коммуникаций Удмуртской Республики
              p
                a.contacts__link(href="http://apmcur.ru/", target="_blank") apmcur.ru

            li.contacts__item
              p
                b Директор ИА «Удмуртия»
              p
                | Алексей Васильевич Иванов
              p
                a.contacts__link(href="aivanov@udmurt.media") aivanov@udmurt.media

            li.contacts__item
              p
                b Главный редактор ИА «Удмуртия»
              p
                | Алена Васильевна Селезнева
              p
                a.contacts__link(href="editor@udmurt.media") editor@udmurt.media

        .contacts__inner
          .contacts__map
            .map.map_contacts#map-contacts
            .map-trigger
              a.map-trigger__icon.um-arrow_map(href="javascript:void(0)", data-js="map-toggle")


          .contact__feedback
            form.form.form_feedback
              .form__row.form__title
                h3.h Обратная связь
                p
                  | Оставьте свое сообщение в этой форме и мы обязательно на него ответим!
              .form__row
                .form-control-holder
                  input.form-control( type="text",
                  name="message-credentals",
                  placeholder="Введите e-mail или номер телефона")
                  .form-control-error Заполните это поле «@».
              .form__row
                textarea.form-control(name="message-body",
                rows="10",
                placeholder="Текст сообщения")
              .form__row
                button.button.button_block Отправить сообщение
              .form__row
                | Нажимая на кнопку, вы даете согласие на обработку
                | своих персональных данных и соглашаетесь с
                a(href="") &nbsp;Политикой компании
                | &nbsp;в отношении обработки персональных данных
              //END .form.form_feedback
          //END .contact__feedback
      //END .conacts__body

      .contacts__footer
        p
          | 16+
          br
          |© ИА «УДМУРТИЯ» зарегистрировано в Федеральной службе
          |по надзору в сфере связи, информационных технологий
          |и массовых коммуникаций 10 марта 2016 года.
          |Свидетельство о регистрации сетевого издания ЭЛ № ФС 77 – 65063.
      //END.contacts__footer

    //END contacts
  //END .content__main