extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content
  main.content.content_documents
    .content__backward
      a.page-backward(href="") Документы
    .content__inner
      article.content__main

        h1  Документы
        section.documents
          ul.documents__list
            li.documents__item
              .documents__descr
                p
                  | Отчет о результатах деятельности АУ УР
                  | "РСН "Удмуртия" и об использовании закрепленного за ним
                  | государственного имущества за 2016 год

              .documents__nav
                .nav-docs
                  span.nav-docs__span
                    span.nav-docs__format-doc(data-format-doc="assets/doc2.pdf")
                    time.timestamp.nav-docs__timestamp(datetime="2014-06-01") 1.06.2014

                  span.nav-docs__inner-link
                    a.nav-docs__link
                      span.um-download
                      |Скачать

                    a.nav-docs__link(href="ajax/doc-popup.html",
                                     data-js="docs-popup",
                                     data-link-doc="../assets/doc2.pdf"
                                     onclick="return false;")
                      span.um-eye_fill
                      |Предпросмотр
                //iframe#iframe(src="assets/doc2.pdf",
                //frameborder="0")

            li.documents__item
              .documents__descr
                p
                  | План мероприятий по противодействию коррупции на 2017-2018 годы

              .documents__nav
                .nav-docs
                  span.nav-docs__span
                    span.nav-docs__format-doc(data-format-doc="http://udmurt-media2.picom.su/check-list.docx")
                    time.timestamp.nav-docs__timestamp(datetime="2014-06-01") 1.06.2014
                  span.nav-docs__inner-link
                    a.nav-docs__link(href="http://udmurt-media2.picom.su/check-list.docx")
                      span.um-download
                      | Скачать
                    a.nav-docs__link(href="ajax/doc-popup.html",
                        data-js="docs-popup",
                        data-link-doc="https://docs.google.com/gview?url=http://udmurt-media2.picom.su/check-list.docx&embedded=true"
                        onclick="return false;")
                      span.um-eye_fill
                      | Предпросмотр

            li.documents__item
              .documents__descr
                p
                  | План мероприятий по противодействию коррупции на 2017-2018 годы

              .documents__nav
                .nav-docs
                  span.nav-docs__span
                    span.nav-docs__format-doc(data-format-doc="http://udmurt-media2.picom.su/check-list.docx")
                    time.timestamp.nav-docs__timestamp(datetime="2014-06-01") 1.06.2014
                  span.nav-docs__inner-link
                    a.nav-docs__link(href="http://udmurt-media2.picom.su/check-list.docx")
                      span.um-download
                      | Скачать
                    a.nav-docs__link(href="ajax/doc-popup.html",
                    data-js="docs-popup",
                    data-link-doc="https://docs.google.com/gview?url=http://udmurt-media2.picom.su/check-list.docx&embedded=true"
                    onclick="return false;")
                      span.um-eye_fill
                      | Предпросмотр

            li.documents__item
              .documents__descr
                p
                  | План мероприятий по противодействию коррупции на 2017-2018 годы
              .documents__nav
                .nav-docs
                  span.nav-docs__span
                    span.nav-docs__format-doc(data-format-doc="assets/doc2.ppt")
                    time.timestamp.nav-docs__timestamp(datetime="2014-06-01") 1.06.2014
                  span.nav-docs__inner-link
                    a.nav-docs__link(href="")
                      span.um-download
                      | Скачать

        //END.documents

block flasher-content
  include pug/includes/flasher-docs