extends pug/extends/editor

block content
  main.content.content_editor
    article.content__main
      h1.visually-hidden Редактор+

      form.form.form_editor.form_theme_transparent(
      id="edit-press-release", method="post")

        section.editor.editor_article

          .editor__inner
            .editor__user
              figure.card.card_user
                .card__pic
                  img(src='images/user_pic_35x35_img.jpg', alt='Поздеев Андрей')
                figcaption.card__title
                  | Поздеев Андрей
                  small Журналист ИА «Удмуртия»

            //END .editor__user
          //END .editor__inner

          .form__row
           .form-control-holder
             label.visually-hidden(for="title-press-release") Введите название статьи
             input.form-control.editor__input-title(id="title-press-release",
                   placeholder="Введите название статьи",
                   name="title-press-release")
             .form-control-error Вы не ввели заголовок


          .editor__select
            input(value="Выберите тему статьи" type="text" data-js="select-box" readonly).select.select_editor#title-article
            ul(data-js="select-box-options").select-options_editor
              li(data-js="select-box-option").select-options_editor__option Политика
              li(data-js="select-box-option").select-options_editor__option Экономика и финансы
              li(data-js="select-box-option").select-options_editor__option Бизнес
              li(data-js="select-box-option").select-options_editor__option Общество
              li(data-js="select-box-option").select-options_editor__option Проишествия
              li(data-js="select-box-option").select-options_editor__option Сельское хозяйство
          //END .editor__select

          .editor__add-photo-cover
            section.add-files.add-files_photo_cover(data-js="dropzone-cover-photo")
              .add-files__descr
                span  Загрузить обложку
              input.add-files__input-type(type="file",
              name="add-file",
              id="add-file")

          .form__row
            .form-control-holder
              label.visually-hidden(for="press-lead") Описание для анонса
              input.form-control.editor__input-lead(id="press-lead",
              placeholder="Описание для анонса",
              name="press-lead")
              .form-control-error Описание для анонса

          .form__row.form__row_textarea(data-js = "selectorTextArea")
            .js-tiny-init Текст вашей статьи...


          //.form__row.form__row_textarea(data-js = "selectorTextArea")
          //  .form-control-holder
          //    label.visually-hidden(for="article-text") Текст вашей статьи
          //    textarea.form-control.editor__input-text.js-tiny-init(id="article-text"
          //    placeholder="Текст вашей статьи...",
          //    name="text-article",
          //    rows="12") Текст вашей статьи...
          //    .form-control-error Введите текст статьи

            .editor__inner-bottom-nav
              .form__add-media
                .add-media.add-media_article
                  button.button.add-media__toggle.button_transparent(
                  data-js="toggle-media-nav",
                  type="button") Открыть навигаци добавления медиа файлов
                    span.add-media__tooltip Добавить
                  ul.add-media__nav
                    li
                      a.add-media__link.um-add_photo(href="" onclick="return false;") Добавить фотографию
                    li
                      a.add-media__link.um-add_many_photo(href="" onclick="return false;") Добавить изображение
                    li
                      a.add-media__link.um-video(href="" onclick="return false;") Добавить видео
                    li
                      a.add-media__link.um-charts(href="" onclick="return false;") Добавить инфографику
                    li
                      a.add-media__link.um-add_table(href="" onclick="return false;") Добавить таблицу
                    li
                      a.add-media__link.um-add_question(href="" onclick="return false;") Добавить вопрос
                    li
                      a.add-media__link.um-ad_news(href="" onclick="return false;") Добавить новость
                    li
                      a.add-media__link.um-add_news_edit(href="" onclick="return false;") Добавить редактируемую новость
                    li
                      a.add-media__link.um-add_news_lis(href="" onclick="return false;") Добавить список
                //END .add-media
              //END .form__add-media

            //END .editor__inner-bottom-nav

          .editor__loaded-image
            .include-media.include-media_embedded._photogallery
              figure.include-media__inner
                .include-media__pic(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
                  a.include-media__link( href="ajax/photogallery.html",
                  data-js="photogallery",
                  title="О службе в органах внутренних дел")
                    img(src="images/news_pic_fullwidth_01.jpg", alt="О службе в органах внутренних дел")
                figcaption.include-media__text
                  .include-media__h
                    .include-media__title-image
                      label.visually-hidden(for="title-image") Введите заголовок
                      input.input-text(id="title-image",
                      name="title-photo",
                      placeholder="Введите заголовок")

                  p.include-media__description-image
                    label.visually-hidden(for="desription-image") Введите заголовок
                    input.input-text(id="desription-image",
                    name="input-description",
                    placeholder="Напишите описание")
              span.include-media__description 15 фото
            //END.editor__loaded-image





          //.editor__row.lead-paragraph
            .editor__loaded-image
              img(src="images/editor_img.jpg" width="750" height="380")

            .editor__title-image
              label.visually-hidden(for="title-image") Введите заголовок
              input.input-text.input-text_title_image(id="title-image",
                    name="title-photo",
                    placeholder="Введите заголовок")

            .editor__description-image
              label.visually-hidden(for="desription-image") Введите заголовок
              input.input-text.input-text_description_image(id="desription-image",
                  name="input-description",
                  placeholder="Напишите описание")

            .editor__total-images 15 фото

      //END.editor
