extends pug/extends/master

block content
  main.content
    include pug/includes/preloader-fullscreen
    //- each val in ['xs', 'sm', 'md', 'lg']
    each val in ['md']
      //- div(style="background:#000;color:#fff;margin:1.5em 0;padding:0 15px;font-size:3rem;font-weight:700") Blocks size <span style="background:yellow;color:#000;padding:0 .1em">#{val}</span>
      .news.news_agregator
        .c-row(class="c-row-" + val)
          .c-12
            .news-lis-wrap
              .c-6
                .news-block.news-block--textbottom
                  .news-block__title
                    h4.title Финалистов в номинации «Народный выбор» определили на конкурсе «Ресторан года в Удмуртии»
                  .news-block__badge Новости
                  .news-block__footer
                    time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                    ul.tools
                      li.tool
                        span.um-eye_fill
                        span.tool__text 123
                      li.tool
                        span.um-comment_fill
                        span.tool__text 99
                  a.news-block__link(href="news-item-longread.html") Читать далее
              .c-6
                .news-include
                  .news-include__title Новости
                  // TODO
                  .news-list
                    .news-list__item.news-item
                      .news-item__body
                        a.news-item__title(href="news-item.html")
                          span Александр Бречалов отправил в отставку правительство Удмуртии
                        time.timestamp(datetime="2017-06-09T18:25") 09 июня 2017, 18:25
                      //- a.news-item__media(href="news-item.html")
                        img(src="images/user_pic_70x70_img.jpg", alt="")
                    .news-list__item.news-item
                      .news-item__body
                        a.news-item__title(href="news-item.html")
                          span Прожиточный минимум пенсионера в Удмуртии на 2018 год составит 8,5 тыс. рублей
                        time.timestamp(datetime="2017-06-09T18:25") 09 июня 2017, 18:25
                      a.news-item__media(href="news-item.html")
                        img(src="images/user_pic_70x70_img.jpg", alt="")
                    .news-list__item.news-item
                      .news-item__body
                        a.news-item__title(href="news-item.html")
                          span Александр Бречалов отправил в отставку правительство Удмуртии
                        time.timestamp(datetime="2017-06-09T18:25") 09 июня 2017, 18:25
                      //- a.news-item__media(href="news-item.html")
                        img(src="images/user_pic_70x70_img.jpg", alt="")
                    .news-list__item.news-item
                      .news-item__body
                        a.news-item__title(href="news-item.html")
                          span Лагерь для одаренных детей-удмуртов «Шундыкар» может выйти на финно-угорский уровень
                        time.timestamp(datetime="2017-06-09T18:25") 09 июня 2017, 18:25
                      a.news-item__media(href="news-item.html")
                        img(src="images/user_pic_70x70_img.jpg", alt="")
        .c-row(class="c-row-" + val)
          .c-4
            .news-block.news-block--blank
              img(src="http://dev.udmurt.media/upload/iblock/4f3/4f395a7a271a86bbcbfdc5553c92368c.png")
          .c-4
            .news-block.news-block--blank
              <div class="twitter_block-js" data-href="https://twitter.com/brechalov">
                <a class="twitter-timeline" data-width="100%" data-height="100%" href="https://twitter.com/brechalov" data-chrome="nofooter noheader">Tweets by brechalov</a>
              </div>
              script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")
          .c-4
            .news-block.news-block--blank
              #vk_widget
                #vk_groups
              script(type="text/javascript", src="https://udmurt.media/bitrix/templates/apm/scripts/openapi.js")
              script(async, type="text/javascript").
                function VK_Widget_Init() {
                  document.getElementById("vk_groups").innerHTML = "";
                  var vk_width = document.getElementById("vk_widget").clientWidth;
                  var vk_height = document.getElementById("vk_widget").clientHeight;
                  VK.Widgets.Group("vk_groups", {mode: 0, width: vk_width, height: vk_height, color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 107527131);
                }
                document.addEventListener("DOMContentLoaded", function() {
                  window.addEventListener("load", VK_Widget_Init, false);
                  window.addEventListener("resize", VK_Widget_Init, false);
                });
        .c-row(class="c-row-"+val)
          .c-12
            .news-block.news-block--bordered.news-block--textbottom
              .news-block__title
                h4.title Пожар в селе Первомайское близ Ижевска локализовали
              .news-block__badge Лонгрид
              .news-block__footer
                time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                ul.tools
                  li.tool
                    span.um-eye_fill
                    span.tool__text 123
                  li.tool
                    span.um-comment_fill
                    span.tool__text 99
              a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-" + val)
          .c-12
            .news-block.news-block--textbottom.news-block--projects
              .news-block__title.news-block__title_inverted
                h4.title Пожар в селе Первомайское близ Ижевска локализовали
              .news-block__badge.news-block__badge_inverted Спецпроекты
              .news-block__picture(style="background-image:url(images/news_pic_fullwidth_02.jpg)")
                img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
              a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-"+val)
          .c-12
            .news-block.news-block--textbottom
              .news-block__title.news-block__title_inverted
                h4.title Пожар в селе Первомайское близ Ижевска локализовали
              .news-block__badge.news-block__badge_inverted Лонгрид
              .news-block__picture(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
                img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
              .news-block__footer.news-block__footer_inverted
                time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                ul.tools
                  li.tool
                    span.um-eye_fill
                    span.tool__text 123
                  li.tool
                    span.um-comment_fill
                    span.tool__text 99
              a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-"+val)
          .c-12
            // TODO
            .news-block.news-block--textbottom.news-block--splitted
              .news-block__title
                h4.title За год вневедомственная охрана в Удмуртии помогла раскрыть более 500 преступлений
              .news-block__badge Лонгрид
              .news-block__picture(style="background-image:url(images/news_pic_fullwidth_03.jpg)")
                img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
              .news-block__text
                p.
                  Официальное открытие здания школы в микрорайоне «Столичный» в Ижевске
                  состоится 8 февраля. Об этом журналистам сообщила директор Республиканского
                  лицея-интерната в поселке Италмас Ирина Морозова. Новое образовательное
                  учреждение будет структурным подразделением данного лицея.
                p.
                  «Школа будет второй площадкой лицея-интерната. Вложения шли из республиканского
                  бюджета и с учетом тех профилей, которые там формируются и чтобы дать
                  условия для поступательного развития Республиканского лицея-интерната
                  в последующие годы.
              .news-block__footer
                time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                ul.tools
                  li.tool
                    span.um-eye_fill
                    span.tool__text 123
                  li.tool
                    span.um-comment_fill
                    span.tool__text 99
              a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-"+val)
          - var n = 2;
          while n--
            .c-6
              .news-block.news-block--bordered.news-block--textbottom
                .news-block__title.news-block__title_inverted
                  h4.title Пожар в селе Первомайское близ Ижевска локализовали
                .news-block__badge.news-block__badge_inverted Лонгрид
                .news-block__picture(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
                  img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
                .news-block__footer.news-block__footer_inverted
                  time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                  ul.tools
                    li.tool
                      span.um-eye_fill
                      span.tool__text 123
                    li.tool
                      span.um-comment_fill
                      span.tool__text 99
                a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-"+val)
          - var n = 3;
          while n--
            .c-6
              .news-block.news-block--textbottom
                .news-block__title.news-block__title_inverted
                  h4.title Пожар в селе Первомайское близ Ижевска локализовали
                .news-block__badge.news-block__badge_inverted Лонгрид
                .news-block__picture(style="background-image:url(images/news_pic_fullwidth_02.jpg)")
                  img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
                .news-block__text.news-block__text_inverted
                  p.
                    Официальное открытие здания школы в микрорайоне «Столичный» в Ижевске
                    состоится 8 февраля. Об этом журналистам сообщила директор Республиканского
                    лицея-интерната в поселке Италмас Ирина Морозова. Новое образовательное
                    учреждение будет структурным подразделением данного лицея.
                  p.
                    «Школа будет второй площадкой лицея-интерната. Вложения шли из республиканского
                    бюджета и с учетом тех профилей, которые там формируются и чтобы дать
                    условия для поступательного развития Республиканского лицея-интерната
                    в последующие годы.
                .news-block__footer.news-block__footer_inverted
                  time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                  ul.tools
                    li.tool
                      span.um-eye_fill
                      span.tool__text 123
                    li.tool
                      span.um-comment_fill
                      span.tool__text 99
                a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-"+val)
          .c-4
            .news-block.news-block--bordered.news-block--textbottom
              .news-block__title.news-block__title_inverted
                h4.title Пожар в селе Первомайское близ Ижевска локализовали
              .news-block__badge.news-block__badge_inverted Лонгрид
              .news-block__picture(style="background-image:url(images/news_pic_fullwidth_03.jpg)")
                img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
              .news-block__footer.news-block__footer_inverted
                time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                ul.tools
                  li.tool
                    span.um-eye_fill
                    span.tool__text 123
                  li.tool
                    span.um-comment_fill
                    span.tool__text 99
              a.news-block__link(href="news-item-longread.html") Читать далее
          .c-8
            .news-block.news-block--bordered.news-block--textbottom
              .news-block__title.news-block__title_inverted
                h4.title Пожар в селе Первомайское близ Ижевска локализовали
              .news-block__badge.news-block__badge_inverted Лонгрид
              .news-block__picture(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
                img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
              .news-block__footer.news-block__footer_inverted
                time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                ul.tools
                  li.tool
                    span.um-eye_fill
                    span.tool__text 123
                  li.tool
                    span.um-comment_fill
                    span.tool__text 99
              a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-"+val)
          - var n = 3;
          while n--
            .c-4
              .news-block.news-block--bordered.news-block--textbottom
                .news-block__title.news-block__title_inverted
                  h4.title Пожар в селе Первомайское близ Ижевска локализовали
                .news-block__badge.news-block__badge_inverted Лонгрид
                .news-block__picture(style="background-image:url(images/news_pic_fullwidth_03.jpg)")
                  img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
                .news-block__footer.news-block__footer_inverted
                  time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                  ul.tools
                    li.tool
                      span.um-eye_fill
                      span.tool__text 123
                    li.tool
                      span.um-comment_fill
                      span.tool__text 99
                a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-"+val)
          - var n = 4;
          while n--
            .c-3
              .news-block.news-block--bordered.news-block--textbottom
                .news-block__title.news-block__title_inverted
                  h4.title Пожар в селе Первомайское близ Ижевска локализовали
                .news-block__badge.news-block__badge_inverted Лонгрид
                .news-block__picture(style="background-image:url(images/news_pic_fullwidth_02.jpg)")
                  img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
                .news-block__footer.news-block__footer_inverted
                  time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                  ul.tools
                    li.tool
                      span.um-eye_fill
                      span.tool__text 123
                    li.tool
                      span.um-comment_fill
                      span.tool__text 99
                a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-"+val)
          - var n = 4;
          while n--
            .c-3
              .news-block.news-block_card.news-block--textbottom
                .news-block__title
                  h4.title Пожар в селе Первомайское близ Ижевска локализовали
                .news-block__badge.news-block__badge_inverted Лонгрид
                .news-block__picture(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
                  img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
                .news-block__text
                  p.
                    «Школа будет второй площадкой лицея-интерната. Вложения шли из республиканского
                    бюджета и с учетом тех профилей, которые там формируются и чтобы дать
                    условия для поступательного развития Республиканского лицея-интерната
                    в последующие годы.
                .news-block__footer
                  time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                  ul.tools
                    li.tool
                      span.um-eye_fill
                      span.tool__text 123
                    li.tool
                      span.um-comment_fill
                      span.tool__text 99
                a.news-block__link(href="news-item-longread.html") Читать далее
      //- div(style="background:#000;color:#fff;margin:1.5em 0;padding:0 15px;font-size:3rem;font-weight:700") Blocks size <span style="background:yellow;color:#000;padding:0 .1em">/#{val}</span>
      <hr style="margin:2em 0;"> <!-- TODO: remove it! -->








//- 
      .c-row.c-row-xs
        .c-4: div
        .c-8: div
      .c-row.c-row-xs
        .c-4: div
        .c-8: div
      .c-row.c-row-xs
        .c-4: div
        .c-8: div
      .c-row.c-row-xs
        .c-4: div
        .c-8: div
      .c-row.c-row-xs
        .c-4: div
        .c-8: div
      .c-row.c-row-xs
        .c-4: div
        .c-4: div
        .c-4: div
      .c-row.c-row-xs
        .c-4: div
        .c-4: div
        .c-4: div
      .c-row.c-row-xs
        .c-3: div
        .c-3: div
        .c-3: div
        .c-3: div
      .c-row.c-row-xs
        .c-3: div
        .c-3: div
        .c-3: div
        .c-3: div
      .c-row.c-row-xs
        .c-3: div
        .c-3: div
        .c-3: div
        .c-3: div
      .c-row.c-row-xs
        .c-3: div
        .c-3: div
        .c-3: div
        .c-3: div
      .c-row.c-row-xs
        .c-3: div
        .c-3: div
        .c-3: div
        .c-3: div
