extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item._active: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content
  main.content.content_media_list
    include pug/includes/preloader-fullscreen
    .tabs-list.content__tabs
      .tabs-list__inner
        nav.tabs
          a.tabs__tab._active(href="#all") Все
          a.tabs__tab(href="#photo") Фото
          a.tabs__tab(href="#video") Видео
          a.tabs__tab(href="#infographic") Инфографика
    //.filter
      .filter__trigger(data-js="dropdown") Все рубрики
      .filter__list
        nav.menu-wrapper
          ul.menu
            li.menu__item._active: a(href="#") Все рубрики
            li.menu__item: a(href="#") Политика
            li.menu__item: a(href="#") Экономика и финансы
            li.menu__item: a(href="#") Бизнес
            li.menu__item: a(href="#") Общество
            li.menu__item: a(href="#") Проишествия
            li.menu__item: a(href="#") Сельское хозяйство
            li.menu__item: a(href="#") Строительство
            li.menu__item: a(href="#") Технологии
            li.menu__item: a(href="#") Промышленность
            li.menu__item: a(href="#") Спорт
            li.menu__item: a(href="#") Культура
            li.menu__item: a(href="#") Туризм
            li.menu__item: a(href="#") Здоровье
            li.menu__item: a(href="#") Наука и техника
            li.menu__item: a(href="#") Образование
            li.menu__item: a(href="#") ЖКХ
            li.menu__item: a(href="#") Авто
            li.menu__item: a(href="#") #МонПоражён
    .news
      .news__item.news__item_media
        .news__item-inner
          .news__main
            .news__head
              .news__title
                a(href="news-item.html"): h4.h Кто такой Александр Бречалов?
                p.news__preview
                  | Александр Бречалов назначен временно
            .news__foot
              ul.share-list
                li.share-list__item
                  a.share-list__link(href="javascript:void(0)")
                    i.share-list__icon.um-twitter
                  //- span.share-list__counter 12
                li.share-list__item
                  a.share-list__link(href="javascript:void(0)")
                    i.share-list__icon.um-facebook
                  //- span.share-list__counter 32
                li.share-list__item
                  a.share-list__link(href="javascript:void(0)")
                    i.share-list__icon.um-vkontakte
                  //- span.share-list__counter 99
                li.share-list__item
                  a.share-list__link(href="javascript:void(0)")
                    i.share-list__icon.um-odnoklasniki
                  //- span.share-list__counter 120
          .news__media
            a.media.media_image(href="news-item.html")
              .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
                img(src="images/news_pic_16_9__01.jpg", alt="")
      - var n = 9;
      while n--
        .news__item.news__item_media
          .news__item-inner
            .news__main
              .news__head
                .news__title
                  a(href="news-item.html"): h4.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
                  p.news__preview
                    | Александр Бречалов назначен временно
                    | исполняющим обязанности главы Удмуртии 4 апреля.
              .news__foot
                ul.share-list
                  li.share-list__item
                    a.share-list__link(href="javascript:void(0)")
                      i.share-list__icon.um-twitter
                    //- span.share-list__counter 12
                  li.share-list__item
                    a.share-list__link(href="javascript:void(0)")
                      i.share-list__icon.um-facebook
                    //- span.share-list__counter 32
                  li.share-list__item
                    a.share-list__link(href="javascript:void(0)")
                      i.share-list__icon.um-vkontakte
                    //- span.share-list__counter 99
                  li.share-list__item
                    a.share-list__link(href="javascript:void(0)")
                      i.share-list__icon.um-odnoklasniki
                    //- span.share-list__counter 120
            .news__media
              a.media(href="news-item.html")
                .media__pic(style="background-image: url(images/news_pic_16_9__01.jpg)")
                  img(src="images/news_pic_16_9__01.jpg", alt="")
