extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item._active: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content
  main.content
    .content__inner
      header.content__header
        h1.h Московские эксперты помогают в разведении белых львов в Ижевске
        .page-widgets.page-widgets_top
          time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
          ul.tools
            li.tool
              span.um-eye_fill
              span.tool__text 123
            li.tool
              span.um-comment_fill
              span.tool__text 99
          .category
            a.category-link(href="#") Удмуртия
            |  / 
            a.category-link(href="#") Политика
          a.widget-close.um-close(href="news-feed.html", title="Закрыть")
        .hero
          .hero__pic(style="background-image:url(images/news_hero.jpg)")
            img(src="images/news_hero.jpg", alt="")
      article.content__main
        figure.card.card_user
            .card__pic: img(src="images/user_pic_35x35_img.jpg", alt="Поздеев Андрей")
            figcaption.card__title
              | Поздеев Андрей
              small Журналист ИА «Удмуртия»
        //- News page include
        include pug/includes/news-page
      aside.content__side
        .side-content(data-sticky)
          nav.menu-wrapper
            ul.menu.menu_secondary.menu_stacked
              li.menu__item._active: a(href="#") Сотрудник ИК-12 из Пермского края
              li.menu__item: a(href="#") В некоторых случаях известны и суммы штрафов
              li.menu__item: a(href="#") Однако административной ответственности 
              li.menu__item: a(href="#") Ижевск – очень хороший, «бодрый» город
    
    .content__inner
      header.content__header
        h1.h Московские эксперты помогают в разведении белых львов в Ижевске
        .hero
          .hero__pic(style="background-image:url(images/news_hero.jpg)")
            img(src="images/news_hero.jpg", alt="")
      article.content__main
        figure.card.card_user
            .card__pic: img(src="images/user_pic_35x35_img.jpg", alt="Поздеев Андрей")
            figcaption.card__title
              | Поздеев Андрей
              small Журналист ИА «Удмуртия»
        //- News page include
        include pug/includes/news-page
      aside.content__side
        .side-content(data-sticky)
          nav.menu-wrapper
            ul.menu.menu_secondary.menu_stacked
              li.menu__item._active: a(href="#") Сотрудник ИК-12 из Пермского края
              li.menu__item: a(href="#") В некоторых случаях известны и суммы штрафов
              li.menu__item: a(href="#") Однако административной ответственности 
              li.menu__item: a(href="#") Ижевск – очень хороший, «бодрый» город

  include pug/includes/functional-block

block flasher-content
  include pug/includes/flasher