extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item._active: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content
  main.content
    .content__inner.content__inner_news_page
      header.content__header
        h1.h Московские эксперты помогают в разведении белых львов в Ижевске
        .page-widgets.page-widgets_top
          time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
          ul.tools
            li.tool
              span.um-eye_fill
              span.tool__text 123
            li.tool
              span.um-comment_fill
              span.tool__text 99
          .category
            a.category-link(href="#") Удмуртия
            |  /
            a.category-link(href="#") Политика
        .hero
          .hero__pic(style="background-image:url(images/news_hero.jpg)")
            img(src="images/news_hero.jpg", alt="")
      article.content__main
        figure.card.card_user
            .card__pic: img(src="images/user_pic_35x35_img.jpg", alt="Поздеев Андрей")
            figcaption.card__title
              | Поздеев Андрей
              small Журналист ИА «Удмуртия»
        //- News page include
        include pug/includes/news-page
        .content-addon
          h4.content-addon__title Что еще почитать
          .news
            .news__item
              .news__main
                .news__title
                  a(href="news-item.html"): h4.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
                p.news__preview Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля. Соответствующий указ подписал президент России Владимир Путин.
                .news__foot
                  time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
            .news__item
              .news__main
                .news__title
                  a(href="news-item.html"): h4.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
                p.news__preview Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля. Соответствующий указ подписал президент России Владимир Путин.
                .news__foot
                  time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
              .news__media
                a.media.media_image(href="news-item.html")
                  .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
                    img(src="images/news_pic_16_9__01.jpg", alt="")

      aside.content__side
        .side-content(data-sticky)
          .side-content__item.side-content__item_news
            h3.side-content__title Новости
            .news
              - var n = 4;
              while n--
                .news__item.news__item_size_sm
                  .news__main
                    .news__head
                      .news__title
                        a(href="news-item.html")
                          h5.h ЕСПЧ: применение пожизненного заключения в России нельзя считать дискриминационным
                    .news__foot
                      time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
            a.link-more(href="#") Все новости
          .side-content__item
            h3.side-content__title Узнавай первым!
            form.form.form_subscribe(action="#kek")
              .form__row Каждую пятницу мы рассказываем о самых интересных новостях и материалах. Не пропусти.
              .form__row
                .form-control-holder
                  input.form-control( type="email",
                                      placeholder="Введите ваш e-mail",
                                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$")
                  .form-control-error Адрес электронной почты должен содержать символ «@».
              .form__row
                button.button.button_block Подписаться
          .side-content__item
            h3.side-content__title Мы в соцсетях
            p Всегда будьте в курсе событий в течение дня!
          .side-content__item.side-content__item_info
            a(href="#"): img(src="images/sidebar_01.jpg", alt="")
            .side-content__description Реклама
          .side-content__item.side-content__item_info
            a(href="#"): img(src="images/sidebar_02.jpg", alt="")
            .side-content__description Реклама

  include pug/includes/functional-block

block flasher-content
  include pug/includes/flasher
