extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item._active: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content
  main.content
    include pug/includes/preloader-fullscreen
    aside.content__side.content__side_view_feed
      .side-content
        nav.menu-wrapper.preloader
          ul.menu
            li.menu__item._active: a(href="#") Все рубрики
            li.menu__item: a(href="#") Политика
            li.menu__item: a(href="#") Экономика и финансы
            li.menu__item: a(href="#") Бизнес
            li.menu__item: a(href="#") Общество
            li.menu__item: a(href="#") Проишествия
            li.menu__item: a(href="#") Сельское хозяйство
            li.menu__item: a(href="#") Строительство
            li.menu__item: a(href="#") Технологии
            li.menu__item: a(href="#") Промышленность
            li.menu__item: a(href="#") Спорт
            li.menu__item: a(href="#") Культура
            li.menu__item: a(href="#") Туризм
            li.menu__item: a(href="#") Здоровье
            li.menu__item: a(href="#") Наука и техника
            li.menu__item: a(href="#") Образование
            li.menu__item: a(href="#") ЖКХ
            li.menu__item: a(href="#") Авто
            li.menu__item: a(href="#") #МонПоражён
          include pug/includes/preloader_2
        nav.menu-wrapper.preloader
          ul.menu.menu_feed_subcategories
            - var n = 19, m = n;
            while n--
              li.menu__item
                a(href="#")
                  | ЕСПЧ: применение пожизненного заключения в России нельзя считать дискриминационным
                  time.timestamp(datetime="2017-01-24T15:15") #{m - n} января 15:15
          include pug/includes/preloader_3
    article.content__main.content__main_view_feed
      .tabs-list.content__tabs
        .tabs-list__inner
          nav.tabs
            a.tabs__tab.tabs__tab_filter(href="#", data-js="rubrics-menu") Фильтр
            a.tabs__tab._active(href="#all") Все
            a.tabs__tab(href="#udmurt") Удмуртия
            a.tabs__tab(href="#russia") Россия
            a.tabs__tab(href="#world") Мир
          nav.tabs.tabs_view
            a.tabs__tab(href="news-matrix.html"): i.um-menu_1
            a.tabs__tab._active(href="news-feed.html"): i.um-menu_2
            a.tabs__tab(href="news-feed.html"): i.um-Vector
      .news.preloader
        - var n = 4;
        while n--
          .news__item
            .news__main
              .news__head.news__head_feed
                .news__title
                  a(href="news-item.html")
                    h2.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
                span.news__badge Новости
                time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                .news__tools
                  ul.share-list.share-list_inline
                    li.share-list__item
                      a.share-list__link(href="javascript:void(0)")
                        i.share-list__icon.um-twitter
                      //- span.share-list__counter 12
                    li.share-list__item
                      a.share-list__link(href="javascript:void(0)")
                        i.share-list__icon.um-facebook
                      //- span.share-list__counter 32
                    li.share-list__item
                      a.share-list__link(href="javascript:void(0)")
                        i.share-list__icon.um-vkontakte
                      //- span.share-list__counter 99
                    li.share-list__item
                      a.share-list__link(href="javascript:void(0)")
                        i.share-list__icon.um-odnoklasniki
                      //- span.share-list__counter 120
              .news__content
                //- News feed page include
                include pug/includes/news-feed-page
        include pug/includes/preloader_1

block flasher-content
  include pug/includes/flasher
