extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item._active: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content
  main.content
    include pug/includes/preloader-fullscreen
    aside.content__side.content__side_matrix
      .side-content
        nav.menu-wrapper
          ul.menu
            li.menu__item._active: a(href="#") Все рубрики
            li.menu__item: a(href="#") Политика
            li.menu__item: a(href="#") Экономика и финансы
            li.menu__item: a(href="#") Бизнес
            li.menu__item: a(href="#") Общество
            li.menu__item: a(href="#") Проишествия
            li.menu__item: a(href="#") Сельское хозяйство
            li.menu__item: a(href="#") Строительство
            li.menu__item: a(href="#") Технологии
            li.menu__item: a(href="#") Промышленность
            li.menu__item: a(href="#") Спорт
            li.menu__item: a(href="#") Культура
            li.menu__item: a(href="#") Туризм
            li.menu__item: a(href="#") Здоровье
            li.menu__item: a(href="#") Наука и техника
            li.menu__item: a(href="#") Образование
            li.menu__item: a(href="#") ЖКХ
            li.menu__item: a(href="#") Авто
            li.menu__item: a(href="#") #МонПоражён
    article.content__main.content__main_full_width.preloader
      .tabs-list.content__tabs
        .tabs-list__inner
          nav.tabs
            a.tabs__tab._active(href="#all") Все
            a.tabs__tab(href="#udmurt") Удмуртия
            a.tabs__tab(href="#russia") Россия
            a.tabs__tab(href="#world") Мир
      .tabs-filter
        .tabs-filter__inner
          a.tabs__tab.tabs__tab_filter(href="#", data-js="rubrics-menu") Фильтр
          .filter
            .filter__trigger(data-js="dropdown") Все рубрики
            .filter__list
              nav.menu-wrapper
                ul.menu
                  li.menu__item._active: a(href="#") Все рубрики
                  li.menu__item: a(href="#") Политика
                  li.menu__item: a(href="#") Экономика и финансы
                  li.menu__item: a(href="#") Бизнес
                  li.menu__item: a(href="#") Общество
                  li.menu__item: a(href="#") Проишествия
                  li.menu__item: a(href="#") Сельское хозяйство
                  li.menu__item: a(href="#") Строительство
                  li.menu__item: a(href="#") Технологии
                  li.menu__item: a(href="#") Промышленность
                  li.menu__item: a(href="#") Спорт
                  li.menu__item: a(href="#") Культура
                  li.menu__item: a(href="#") Туризм
                  li.menu__item: a(href="#") Здоровье
                  li.menu__item: a(href="#") Наука и техника
                  li.menu__item: a(href="#") Образование
                  li.menu__item: a(href="#") ЖКХ
                  li.menu__item: a(href="#") Авто
                  li.menu__item: a(href="#") #МонПоражён
          .content__filter
            nav.content-filter
              a.content-filter__item._active._asc(data-js="filter-by-popular" href="#") По популярности
              a.content-filter__item(data-js="filter-by-new" href="#") По новизне
          nav.tabs.tabs_view
            a.tabs__tab._active(href="news-matrix.html"): i.um-menu_1
            a.tabs__tab(href="news-feed.html"): i.um-menu_2
        .tabs-filter__inner(data-js="tabs-filter-by-popular")
          .button-filter
            nav.button-filter__nav
              a.button-filter__item._active(href="#all") Все
              a.button-filter__item(href="#week") Неделя
              a.button-filter__item(href="#month") Месяц
              a.button-filter__item(href="#year") Год
      .cards-wrapper.cards-wrapper_matrix
        - var n =4;
        while n--
          .card-item.card-item_no_pic
            .card-item__inner
              .card-item__body
                .card-item__title
                  a.card-item__title-link(href="news-item.html")
                    h5.h Минприроды Удмуртии: дальнейшего повышения уровня сброса воды с Ижевского водохранилища не ожидается.
                a.card-item__body-link(href="news-item.html")
                  .card-item__pic.card-item__pic_no_pic
                figure.card.card_user
                  .card__pic: img(src="images/user_pic_35x35_img.jpg", alt="Поздеев Андрей")
                  figcaption.card__title
                    | Поздеев Андрей
                    small Журналист ИА «Удмуртия»
                ul.tools.card-item__tools
                  li.tool
                    span.um-eye_fill
                    span.tool__text 123
                  li.tool
                    span.um-comment_fill
                    span.tool__text 99
                .card-item__text
                  p.card-item__description.
                    Четыре авиарейса задержано из-за погодных условий в аэропорту столицы Удмуртии.
              .card-item__footer
                time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                ul.tools
                  li.tool
                    span.um-eye_fill
                    span.tool__text 123
                  li.tool
                    span.um-comment_fill
                    span.tool__text 99
                .category
                  a.category-link(href="#") Удмуртия
                  |  /
                  a.category-link(href="#") Политика
          .card-item
            .card-item__inner
              .card-item__body
                .card-item__body-wrapper
                  .card-item__title
                    a.card-item__title-link(href="news-item.html")
                      h5.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
                  a.card-item__body-link(href="news-item.html")
                    .card-item__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
                      img(src="images/news_pic_16_9__01.jpg", alt="")
                  figure.card.card_user
                    .card__pic: img(src="images/user_pic_35x35_img.jpg", alt="Поздеев Андрей")
                    figcaption.card__title
                      | Поздеев Андрей
                      small Журналист ИА «Удмуртия»
                  ul.tools.card-item__tools
                    li.tool
                      span.um-eye_fill
                      span.tool__text 123
                    li.tool
                      span.um-comment_fill
                      span.tool__text 99
                  .card-item__text
                    p.card-item__description.
                      Четыре авиарейса задержано из-за погодных условий в аэропорту столицы Удмуртии.
                      Как сообщили ИА «Удмуртия»: "Текста в описании много не бывает !!!"
              .card-item__footer
                time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                ul.tools
                  li.tool
                    span.um-eye_fill
                    span.tool__text 123
                  li.tool
                    span.um-comment_fill
                    span.tool__text 99
                .category
                  a.category-link(href="#") Удмуртия
                  |  /
                  a.category-link(href="#") Политика
      include pug/includes/preloader_1

block flasher-content
  include pug/includes/flasher
