extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item: a(href="news-matrix.html") Новости
    li.main-menu__item._active: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Парадельфийские игры

block content
  main.content
    include pug/includes/preloader-fullscreen
    aside.content__side.content__side_view_list
      .side-content
        nav.menu-wrapper
          ul.menu
            li.menu__item._active: a(href="#") Все рубрики
            li.menu__item: a(href="#") Политика
            li.menu__item: a(href="#") Экономика и финансы
            li.menu__item: a(href="#") Бизнес
            li.menu__item: a(href="#") Общество
            li.menu__item: a(href="#") Проишествия
            li.menu__item: a(href="#") Сельское хозяйство
            li.menu__item: a(href="#") Строительство
            li.menu__item: a(href="#") Технологии
            li.menu__item: a(href="#") Промышленность
            li.menu__item: a(href="#") Спорт
            li.menu__item: a(href="#") Культура
            li.menu__item: a(href="#") Туризм
            li.menu__item: a(href="#") Здоровье
            li.menu__item: a(href="#") Наука и техника
            li.menu__item: a(href="#") Образование
            li.menu__item: a(href="#") ЖКХ
            li.menu__item: a(href="#") Авто
            li.menu__item: a(href="#") #МонПоражён
    article.content__main.content__main_view_list
      .tabs-list.content__tabs
        .tabs-list__inner
          nav.tabs
            a.tabs__tab.tabs__tab_filter(href="#", data-js="rubrics-menu") Фильтр
            a.tabs__tab._active(href="#all") Все
            a.tabs__tab(href="#udmurt") Удмуртия
            a.tabs__tab(href="#russia") Россия
            a.tabs__tab(href="#world") Мир
      .news.news_list.preloader
        - var n = 4;
        while n--
          .news__item
            .news__item-inner
              .news__main
                .news__head
                  .news__title
                    a(href="news-item.html"): h4.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
                  span.news__badge Новости
                .news__foot
                  time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                  .category
                    a.category-link(href="#") Удмуртия
                    |  /
                    a.category-link(href="#") Политика
              .news__media
                a.media.media_image(href="news-item.html")
                  .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
                    img(src="images/news_pic_16_9__01.jpg", alt="")
          .news__item
            .news__item-inner
              .news__main
                .news__head
                  .news__title
                    a(href="news-item-longread.html"): h4.h 5 октября Владимир Путин встретится с лауреатами конкурса «Учитель года России – 2017» и посетит праздничный концерт по случаю Дня учителя
                  span.news__badge Лонгрид
                .news__foot
                  time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                  .category
                    a.category-link(href="#") Политика
              .news__media
                a.media.media_video(href="news-item-longread.html")
                  .media__pic(style="background-image:url(images/news_pic_16_9__02.jpg)")
                    img(src="images/news_pic_16_9__02.jpg", alt="")
          .news__item
            .news__item-inner
              .news__main
                .news__head
                  .news__title
                    a(href="news-item.html"): h4.h Новый врио главы Удмуртии: кто такой Александр Бречалов?
                  span.news__badge Новости
                .news__foot
                  time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                  .category
                    a.category-link(href="#") Удмуртия
                    |  /
                    a.category-link(href="#") Политика
              .news__media
                a.media.media_infographic(href="news-item.html")
                  .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
                    img(src="images/news_pic_16_9__01.jpg", alt="")
        include pug/includes/preloader_1

block flasher-content
