extends pug/extends/page404

block content
  main.content
    .page-404
      .page-404__bg-img(style='background-image: url(images/404.svg);')
        .page-404__inner-cat-cap
          .page-404__confetti
          #animation_container.page-404__cat-cap
            canvas#canvas
            #dom_overlay_container(style='pointer-events:none; overflow:hidden;')
    p.page-404__text Извините, похоже страница не найдена
