extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item._active: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content
  main.content
    .include-media.include-media_embedded._infographic
      figure.include-media__inner
        .include-media__pic(style="background-image:url(images/infographic.jpg)", data-js="swipe-picture")
          a.include-media__link( href="images/infographic.jpg",
          data-js="swipe-picture-item",
          title="Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля",
          data-original-src-width="900",
          data-original-src-height="1492",)
            img( src="images/infographic.jpg",
            alt="Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля.")
        figcaption.include-media__text
          p.include-media__h Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля.


    .include-media.include-media_embedded._photogallery
      figure.include-media__inner
        .include-media__pic(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
          a.include-media__link( href="ajax/photogallery.html",
          data-js="photogallery",
          title="О службе в органах внутренних дел")
            img(src="images/news_pic_fullwidth_01.jpg", alt="О службе в органах внутренних дел")
        figcaption.include-media__text
          p.include-media__h О службе в органах внутренних дел
          p Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля.
      span.include-media__description 15 фото



block flasher-content
  include pug/includes/flasher