extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item: a(href="news-matrix.html") Новости
    li.main-menu__item._active: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content

  main.content

    article.content__main.content__main_view_list
      .tabs-list.content__tabs
        .tabs-list__inner
          nav.tabs
            a.tabs__tab.tabs__tab_filter(href="#", data-js="rubrics-menu") Фильтр
            a.tabs__tab(href="press-release-list.html") Пресс-релизы
            a.tabs__tab._active(href="press-release-company.html") Компании

      section.company.company_about._view

        form.form.form_edit_company(action="", method="")
          .company__inner-about-card

            .company-card.company-card_about
              .company-card__logo
                //img(src="images/logo-roscongress.png", alt="Логотип РОСКОНГРЕСС")
                .dropdown.dropdown_upload_logo.company-card__upload-logo
                  .dropdown__trigger.author__logo-img(data-js="dropdown")
                    img(src="images/logo-roscongress.png")
                  ul.dropdown__list
                    li
                      a.upload-photo__link(href="ajax/select-logo-area.html", data-js="popup-inline-logo") Изменить миниатюру
                      //include  ajax/select-photo-area
                    li
                      input(type="file",
                      class="visually-hidden",
                      id="avatarInput",
                      name="files[]")
                      label.upload-photo__link(for="avatarInput") Загрузить фотографию
                    li
                      a.upload-photo__link(href="#") Удалить фотографию
              .company-card__descr
                .company-card__head
                  h3.company-card__name Фонд «Росконгресс»

                  .form__row.company-card__site._editor
                    .form-control-holder
                      label.visually-hidden(for="site") Введите сайт компании
                      input.form-control(id="site", placeholder="roscongress.org", name="site")
                      .form-control-error Введите сайт компании

                  a.company-card__site._view(href="roscongress.org") roscongress.org

                .company-card__publications
                  span.company-card__group-title Пресс-релизы

                  .company-card__publications-info

                    .company-card__publcations-item
                      .company-card__prop Последний
                      a.company-card__value(href="") 8.10.2017

                    .company-card__publcations-item
                      .company-card__prop Всего
                      a.company-card__value(href="") 505 публикаций

                  //END .company-card__publications-info


            //END.company-card

            .company__control-panel._editor_flex
              button.button.company__add-press-release-button Написать пресс-релиз
              button.button.button_middle.button_transparent_gray.button_color_gray.company__cancel-button(type="button", data-js="cancel-edit") Отменить
              button.button.button_middle.company__save-button(type="submit") Сохранить

            .company__control-panel._view_flex
              button.button.company__add-press-release-button Написать пресс-релиз
              button.button.button_middle.button_transparent_red.company__edit-info-button(data-js="edit-company-data", type="button") Редактировать информацию

          //END .company__inner-about-card

          .company__inner-about
            h3.company__title._view Фонд «Росконгресс»
            .form__row.company__title._editor
              .form-control-holder
                label.visually-hidden(for="company-name") Введите название компании
                input.form-control(id="company-name", placeholder="Фонд «Росконгресс»",name="company-name" )
                .form-control-error Введите название компании

            .company__tabs(data-js="toggle-tabs")
              .tabs.tabs_edit_company
                a.tabs__tab._active(href="#about-company") О компании
                a.tabs__tab(href="#company-contacts") Контакты

            .company__inner-tab-about

              .company__tab-content#about-company._active

                .company__tab-content-inner.company__tab-content-inner_about_company._view
                  p
                    | Фонд «Росконгресс» учрежден в 2007 году с
                    |целью содействия развитию экономического потенциала и укреплению
                    |имиджа России посредством организации и проведения
                    |конгрессных, выставочных и общественных мероприятий.
                    |Фонд формирует их содержательную часть, оказывает
                    |консалтинговую, информационную и экспертную
                    |поддержку компаниям и организациям, а также
                    |всесторонне изучает, анализирует и освещает вопросы российской
                    |и глобальной экономической повестки.
                  p
                    | Сегодня годовая программа Фонда включает
                    |мероприятия от Монтевидео до Владивостока, что
                    |позволяет собирать на одной площадке лидеров мирового
                    |бизнеса, экспертов, СМИ, представителей власти,
                    |создавать лучшие условия для обсуждения и продвижения
                    |новых идей и проектов, а также оказывать содействие
                    |в формировании социального предпринимательства
                    |и благотворительных проектов.
                //END.company__tab-content-inner._view

                .company__tab-content-inner.company__tab-content-inner_about_company._editor
                  .form__row
                    .form-control-holder
                      label.visually-hidden(for="info-company") О компании
                      textarea.form-control(id="info-company", required)
                        | Фонд «Росконгресс» учрежден в 2007 году с
                        | целью содействия развитию экономического потенциала и укреплению
                        | имиджа России посредством организации и проведения
                        | конгрессных, выставочных и общественных мероприятий.
                        | Фонд формирует их содержательную часть, оказывает
                        | консалтинговую, информационную и экспертную
                        | поддержку компаниям и организациям, а также
                        | всесторонне изучает, анализирует и освещает вопросы российской
                        | и глобальной экономической повестки.
                        | Сегодня годовая программа Фонда включает
                        | мероприятия от Монтевидео до Владивостока, что
                        | позволяет собирать на одной площадке лидеров мирового
                        | бизнеса, экспертов, СМИ, представителей власти,
                        | создавать лучшие условия для обсуждения и продвижения
                        | новых идей и проектов, а также оказывать содействие
                        | в формировании социального предпринимательства
                        | и благотворительных проектов.
                      .form-control-error Укажите информацию о компании

              //END.company__tab-content

              .company__tab-content#company-contacts

                .company__tab-content-inner._view
                  .company__contact-item
                    h3.company__contact-groupname Адрес
                    p
                      | Москва, ул. Каланчевская, д. 27.
                      br
                      |+7 (000) 000-00-00

                  .company__contact-item
                    h3.company__contact-groupname Контактные лица

                    .contact-person
                      p.contact-person__name Иван Васильевич
                      a.contact-person__email(href="malto:editor@udmurt.media") editor@udmurt.media
                      p.contact-person__phone +7 (000) 000-00-00

                    .contact-person
                      p.contact-person__name Иван Васильевич
                      a.contact-person__email(href="malto:editor@udmurt.media") editor@udmurt.media
                      p.contact-person__phone +7 (000) 000-00-00

                  //END.company__contact-persons

                //END .company__tab-content-inner._view

                .company__tab-content-inner._editor
                  .company__edit-address.form__row
                    .form-control-holder
                      label(for="address") Адрес
                      textarea.form-control(id="address", required)
                        |Москва, ул. Каланчевская, д. 27.&#013;&#010; +7 (000) 000-00-00
                      .form-control-error Укажите адрес

                  .company__edit-contact-items
                    h3.company__edit-label Контактные лица
                    .company__edit-contact-item
                      .company__edit-contact-person.form__row
                        .form-control-holder
                          label(for="contact-persons") Контактное лицо
                            input.form-control(id="contact-persons", name="contact-persons", placeholder="Иван Васильевич")
                            .form-control-error Укажите контактное лицо

                      .company__edit-contact-email.form__row
                        .form-control-holder
                          label(for="email") Email:
                            input.form-control(id="email", name="email", type="email" placeholder="editor@udmurt.media")
                            .form-control-error Укажите Email

                      .form__row.company__edit-phone
                        .form-control-holder
                          label(for="phone") Номер телефона
                            input.form-control(id="phone", name="phone", type="tel" placeholder="+7 (000) 000-00-00")
                            .form-control-error Укажите номер телефона
                    //END .company__edit-contact-item


                  //END..company__edit-contact-items
                //END .company__tab-content-inner._editor

              //END.company__tab-content

            //END .company__inner-tab-about

            section.news.news_list_release
              .news__header-list
                h3.articles-list__title Пресс-релизы
              - var n = 4;
              while n--
                .news__item
                  .news__item-inner
                    .news__main
                      .news__head
                        a.news__title(href="ajax/press-release-popup.html", data-js="popup")
                          h4.h
                            | «Роснефть» объяснила, почему продала акции дешевле
                            | директивы правительства. А потом удалила объяснение.

                      p.news__preview.
                        Госкомпания «Роснефть» выпустила пресс-релиз,
                        в котором объяснила, почему 19,5 процента акций компании
                        были проданы иностранным инвесторам дешевле,
                        чем того требовало правительство. Но через несколько часов пояснения пропали с сайта компании.
                      .news__foot
                        .news__qty-flies 2 файла
                        a.news__dwld(href="")
                          span.um-download
                          | Скачать

                    .news__media
                      a.media.media_image(href="ajax/press-release-popup.html", data-js="popup")
                        .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
                          img(src="images/news_pic_16_9__01.jpg", alt="")
                    .news__info
                      span.news__source-info Роснефть+
                      time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
            //END.news.news_list_release

          //END.company__inner-about

        //END form.form.form_edit_company(action="", method="")


      //END section.company.company_about

    //END .content__main.content__main_view_list