extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item: a(href="news-matrix.html") Новости
    li.main-menu__item._active: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content


  main.content

    article.content__main.content__main_view_list
      .tabs-list.content__tabs
        .tabs-list__inner
          nav.tabs
            a.tabs__tab.tabs__tab_filter(href="#", data-js="rubrics-menu") Фильтр
            a.tabs__tab(href="press-release-list.html") Пресс-релизы
            a.tabs__tab._active(href="press-release-company.html") Компании

      section.company
        h2.visually-hidden Компании

        .company__list

          - var n = 5;
            while n--

              .company__card
                .company-card
                  a.company-card__logo(href="")
                    img(src="images/logo-roscongress.png", alt="Логотип РОСКОНГРЕСС")
                  .company-card__descr
                    .company-card__head
                      h3.company-card__name Фонд «Росконгресс»
                      a.company-card__site(href="") roscongress.org

                    .company-card__publications
                      span.company-card__group-title Пресс-релизы

                      .company-card__publications-info

                        .company-card__publcations-item
                          .company-card__prop Последний
                          a.company-card__value(href="") 8.10.2017

                        .company-card__publcations-item
                          .company-card__prop Всего
                          a.company-card__value(href="") 505 публикаций

                      //END .company-card__publications-info

                  //END.company-card
                //END .company__card

              .company__card
                .company-card
                  a.company-card__logo(href="")
                    img(src="images/logo-rostel.png", alt="Логотип РОСКОНГРЕСС")
                  .company-card__descr
                    .company-card__head
                      h3.company-card__name Фонд «Росконгресс»
                      a.company-card__site(href="")

                    .company-card__publications
                      span.company-card__group-title Пресс-релизы

                      .company-card__publications-info

                        .company-card__publcations-item
                          .company-card__prop Последний
                          a.company-card__value(href="") 26.04.2017

                        .company-card__publcations-item
                          .company-card__prop Всего
                          a.company-card__value(href="") 5 публикаций

                    //END .company-card__publications-info
                  //END .company__card

              //END.company-card
        //END .company__list

      //END.company
