extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item: a(href="news-matrix.html") Новости
    li.main-menu__item._active: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content


  //include ajax/press-release-popup
  main.content

    aside.content__side.content__side_view_list
      .side-content
        nav.menu-wrapper
          ul.menu
            li.menu__item._active: a(href="#") Все компании
            li.menu__item: a(href="#") Компания 1
            li.menu__item: a(href="#") Компания 2
            li.menu__item: a(href="#") Компания 3
            li.menu__item: a(href="#") Компания 4
    article.content__main.content__main_view_list
      .tabs-list.content__tabs
        .tabs-list__inner
          nav.tabs
            a.tabs__tab.tabs__tab_filter(href="#", data-js="rubrics-menu") Фильтр
            a.tabs__tab._active(href="press-release-list.html") Пресс-релизы
            a.tabs__tab(href="press-release-company.html") Компании
      .news.news_list_release
        - var n = 4;
        while n--
          .news__item
            .news__item-inner
              .news__main
                .news__head
                  a.news__title(href="ajax/press-release-popup.html", data-js="popup")
                    h4.h
                      |«Роснефть» объяснила, почему продала акции дешевле
                      |директивы правительства. А потом удалила объяснение.

                p.news__preview.
                  Госкомпания «Роснефть» выпустила пресс-релиз,
                  в котором объяснила, почему 19,5 процента акций компании
                  были проданы иностранным инвесторам дешевле,
                  чем того требовало правительство. Но через несколько часов пояснения пропали с сайта компании.
                .news__foot
                  .news__qty-flies 2 файла
              .news__media
                a.media.media_image(href="ajax/press-release-popup.html", data-js="popup")
                  .media__pic(style="background-image:url(images/news_pic_16_9__01.jpg)")
                    img(src="images/news_pic_16_9__01.jpg", alt="")
              .news__info
                time.timestamp.news__timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                span.news__source-info Роснефть



block flasher-content