extends pug/extends/master

block content
  main.content.content_editor
    article.content__main
      h1.visually-hidden  Редактор пресс-релиза

      .form.form_editor.form_theme_transparent(
              id="edit-press-release")

        section.editor
          .editor__add-files
            section.add-files.add-files_docs(data-js="dropzone")
              .add-files__descr
                span  Перетащите или загрузите пресс-релиз
              input.add-files__input-type(type="file",
                    name="add-file",
                    id="add-file")
              
            //END section.add-files

          .editor__inner
            .editor__user
              figure.card.card_user
                .card__pic
                  img(src='images/user_pic_35x35_img.jpg', alt='Поздеев Андрей')
                figcaption.card__title
                  | Поздеев Андрей
                  small Журналист ИА «Удмуртия»
            //END .editor__user

            .editor__source-info Роснефть
          //END .editor__inner

            
          .form__row
            .form-control-holder
              label.visually-hidden(for="title-press-release") Введите название статьи
              input.form-control.editor__input-title(id="title-press-release",
                    placeholder="Название статьи",
                    name="title-press-release")
              .form-control-error Вы не ввели заголовок

          .form__row
            .form-control-holder
              label.visually-hidden(for="press-lead") Описание для анонса
              input.form-control.editor__input-lead(id="press-lead",
                    placeholder="Описание для анонса",
                    name="press-lead")
              .form-control-error Описание для анонса

          .form__row.form__row_textarea(data-js = "selectorTextArea")
            .form-control-holder
              label.visually-hidden(for="text-article") Ваш пресс-релиз
              textarea.form-control.editor__input-text.js-tiny-init(id="text-article"
                    placeholder="Ваш пресс-релиз...",
                    name="text-article",
                    rows="12")
              .form-control-error Описание для анонса

            .editor__inner-bottom-nav
              .form__add-media
                .add-media
                  button.button.add-media__toggle.button_transparent(
                        data-js="toggle-media-nav",
                        type="button") Открыть навигаци добавления медиа файлов
                    span.add-media__tooltip Добавить
                  ul.add-media__nav
                    li
                      a.add-media__link.um-add_photo(href="" onclick="return false;") Добавить фотографию
                    li
                      a.add-media__link.um-add_many_photo(href="" onclick="return false;") Добавить изображение
                    li
                      a.add-media__link.um-video(href="" onclick="return false;") Добавить видео
                    li
                      a.add-media__link.um-charts(href="" onclick="return false;") Добавить инфографику
                //END .add-media
              //END .form__add-media

              .editor__add-files.editor__add-files_mobile
                section.add-files
                  .add-files__descr(data-js="dropzone")
                    span  Прикрепить
                  input.add-files__input-type(type="file",
                        name="add-file-mobile",
                        id="add-file-mobile")

                //END section.add-files

              //END .editor__add-files-mobile

            //END .form__inner-bottom-nav


        //END.editor

      //END.form.form_editor