extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item._active: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content
  main.content.content_privacy-policy
    .content__inner
      .content__container
        h1.h Политика Автономного учреждения Удмуртской Республики «Региональная служба новостей «Удмуртия» В отношении обработки и защиты персональных данных
        article.content__main
            h2 Общие положения
            ol
              li Настоящий документ (далее – Политика) принят автономным учреждением Удмуртской Республики «Региональная служба новостей «Удмуртия»» (далее - Оператор) в целях исполнения требований законодательства Российской Федерации, обеспечения защиты прав субъектов персональных данных, обрабатываемых Оператором в рамках хозяйственной деятельности, соблюдения их конфиденциальности и безопасности процессов их обработки.
              li Настоящая Политика раскрывает основные принципы и правила, используемые Оператором при обработке персональных данных, в том числе определяет цели, правовые основания, условия и способы такой обработки, категории субъектов персональных данных, персональные данных которых обрабатываются Оператором, а также содержит сведения об исполнении Оператором обязанностей в соответствии с требованиями законодательства РФ и сведения о реализуемых Оператором требованиях к защите обрабатываемых персональных данных. Политика действует в отношении всех персональных данных, обрабатываемых Оператором.
              li Настоящая Политика, а также любые изменения и дополнения к ней утверждаются Приказом Генерального директора Оператора.
              li Политика является общедоступным документом, декларирующим для любых заинтересованных лиц основы деятельности Оператора при обработке персональных данных и подлежит размещению в открытом доступе на сайте Оператора по адресу:
                a(href="index.html") udmurt.media.
            h2 Принятые термины и сокращения
            ol
              li Оператор - автономное учреждение Удмуртской Республики «Региональная служба новостей «Удмуртия»;
              li Персональные данные - любая информация, относящаяся к прямо или косвенно определенному, или определяемому физическому лицу (субъекту персональных данных);
              li Обработка персональных данных - совершение в отношении них любого действия (операции) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;
              li Информационная система персональных данных - совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств.
            h2 Информация об операторе, правовые основания и цели обработки персональных данных
            ol
              li В соответствии с требованиями действующего законодательства РФ Оператор определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными, организует и осуществляет обработку персональных данных, а также организует и обеспечивает защиту обрабатываемых персональных данных.
              li Информация об Операторе:
                ul
                  li Полное наименование: автономное учреждение Удмуртской Республики «Региональная служба новостей «Удмуртия»
                  li Сокращенное наименование: АУ УР «РСН «Удмуртия»
                  li ОГРН 1151832009999 от 14 сентября 2015 года, ИНН 184155313, КПП 184101001
                  li Юридический адрес и адрес места нахождения: 426057, г. Ижевск, ул. Пастухова., д.13
              li Правовые основания обработки персональных данных.
                ol
                  li Оператор осуществляет деятельность в области обработки персональных данных на основании и в соответствии с требованиями действующего законодательства РФ, в том числе:
                    ul
                      li Конституции Российской Федерации;
                      li Федерального закона от 19.12.2005 г. №160-ФЗ «О ратификации Конвенции Совета Европы о защите физических лиц при автоматизированной обработке персональных данных»;
                      li Налогового кодекса Российской Федерации;
                      li Гражданского кодекса Российской Федерации;
                      li Уголовного кодекса Российской Федерации;
                      li Кодекса Российской Федерации об административных правонарушениях;
                      li Трудового кодекса Российской Федерации;
                      li Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных»;
                      li Федерального закона от 27.07.2006 № 149-ФЗ «Об информации, информационных технологиях и о защите информации»;
                      li Закона РФ от 27.12.1991 N 2124-1 «О средствах массовой информации»;
                      li Федерального закона от 08.08.2001 N 129-ФЗ «О государственной регистрации юридических лиц и индивидуальных предпринимателей»;
                      li Федерального закона от 26.10.2002 N127-ФЗ «О несостоятельности (банкротстве)»;
                      li Федерального закона от 08.02.1998 N14-ФЗ «Об обществах с ограниченной ответственностью»;
                      li Федерального закона от 26.12.1995 N208-ФЗ «Об акционерных обществах»;
                      li Федерального закона от 26.07.2006 N135-ФЗ «О защите конкуренции»;
                      li Федерального закона от 05.04.2013 N44-ФЗ «О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд»;
                      li Федерального закона от 07.08.2001 N115-ФЗ «О противодействии легализации (отмыванию) доходов, полученных преступным путем, и финансированию терроризма»;
                      li Федерального закона от 25.12.2008 N 273-ФЗ «О противодействии коррупции»;
                      li Федерального закона от 22.04.1996 N 39-ФЗ «О рынке ценных бумаг».
                  li Обработка персональных данных осуществляется Оператором с согласия соответствующего субъекта персональных данных на обработку его персональных данных в соответствии с Федеральным законом от 27.07.2006 №152-ФЗ «О персональных данных».
                  li Без согласия субъекта персональных данных Оператор осуществляет обработку персональных данных в следующих случаях:
                    ul
                      li обработка персональных данных необходима для осуществления профессиональной деятельности журналиста и (или) законной деятельности средства массовой информации;
                      li обработка персональных данных необходима для достижения целей, предусмотренных международным договором Российской Федерации или законом;
                      li обработка персональных данных необходима для осуществления и выполнения возложенных законодательством Российской Федерации на Оператора функций, полномочий и обязанностей;
                      li осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с федеральным законом;
                      li обработка персональных данных необходима для осуществления прав и законных интересов Оператора или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных;
                      li осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе (далее - персональные данные, сделанные общедоступными субъектом персональных данных);
                      li обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем, по которому является субъект персональных данных, в том числе в случае реализации Оператором своего права на уступку прав (требований) по такому договору, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;
                      li в иных случаях, прямо предусмотренных Федеральным законом от 27.07.2006 №152-ФЗ «О персональных данных».
                  li Цели обработки персональных данных. Оператор обрабатывает персональные данные в целях:
                    ol
                      li осуществления профессиональной деятельности журналистов;
                      li осуществления законной деятельности средства массовой информации;
                      li достижения целей, предусмотренных международным договором Российской Федерации или законом;
                      li исполнения обязанностей, возложенных на Оператора действующим законодательством РФ;
                      li осуществления прав и законных интересов Оператора и третьих лиц, в том числе по исполнению требований действующего законодательства РФ, обеспечению безопасности деятельности;
                      li достижения общественно значимых целей создания эффективных инструментов для выполнения требований законодательства, противодействия коррупции, мошенничеству, легализации (отмыванию) доходов, полученных преступным путем, и финансированию терроризма;
                      li осуществления прав и обязанностей работодателя, обучения работников Оператора, обеспечения личной безопасности работников, контроля количества и качества выполняемой работы, обеспечения сохранности имущества Оператора, обеспечения пользования работниками, установленными законодательством Российской Федерации гарантиями, компенсациями и льготами, ведение кадрового делопроизводства;
                      li принятия решения о трудоустройстве кандидата;
                      li заключения и исполнения обязательств по договорам гражданско-правового характера, в том числе по трудовым договорам и государственным контрактам;
                      li осуществления пропускного режима в помещениях Оператора;
                      li осуществления обратной связи с пользователями Интернет-сайтов Оператора, в том числе для получения от пользователей мнений, вопросов по информации сайтов и информационным продуктам Оператора, а также для направления им ответов.
            h2 Обрабатываемые категории персональных данных и источники их получения
            ol
              li Оператор обрабатывает персональные данные следующих категорий субъектов персональных данных:
                ul
                  li работники Оператора, состоящие в трудовых отношениях с Оператором;
                  li кандидаты на замещение вакантных должностей Оператора;
                  li физические лица, посещающие Оператора, обработка данных которых необходима для однократного пропуска таких лиц в помещения Оператора;
                  li физические лица, являющиеся контрагентами или представителями, работниками контрагентов Оператора;
                  li физические лица, являющиеся пользователями Интернет-сайтов Оператора;
                  li физические лица, предоставившие информацию Оператору на основании Закона РФ от 27.12.1991 N 2124-1 «О средствах массовой информации»;
                  li физические лица, в отношении которых в соответствии с положениями федерального закона персональные данные являются общедоступными, подлежат обязательному раскрытию или опубликованию, подлежат внесению в общедоступные государственные реестры или информационные системы;
                  li физические лица, являющиеся участниками, акционерами, членами органов управления, контрольных органов юридических лиц, входящих в группу лиц Оператора, включая и самого Оператора.
              li Источниками получения персональных данных, обрабатываемых Оператором, являются:
                ul
                  li непосредственно субъекты персональных данных (в том числе работники Оператора, кандидаты на замещение вакантных должностей, члены органов управления и контрольных органов Оператора, посетители, контрагенты, физические лица, предоставившие информацию Оператору на основании Закона РФ от 27.12.1991 N 2124-1 «О средствах массовой информации», пользователи Интернет-сайтов Оператора);
                  li Федеральная налоговая служба РФ, иные государственные органы и уполномоченные организации в случаях, предусмотренных действующим законодательством РФ;
                  li средства массовой информации;
                  li лица, являющиеся в соответствии с Законом РФ от 27.12.1991 N 2124-1 «О средствах массовой информации» источниками;
                  li контрагенты Оператора;
                  li лица, входящие в группу лиц Оператора;
                  li иные лица, при условии предоставления Оператору подтверждения наличия оснований, указанных в пунктах 2 - 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных».
              li Содержание и объем обрабатываемых Оператором персональных данных категорий субъектов персональных данных, указанных в пункте 4.1. настоящей Политики, определяются в соответствии с целями обработки персональных данных, указанными в пункте 3.4. настоящей Политики. Оператор не обрабатывает персональные данные, которые являются избыточными по отношению к указанным целям обработки или несовместимы с такими целями.
            h2 Основные принципы обработки, передачи и хранения персональных данных
            ul
              li Оператор в своей деятельности обеспечивает соблюдение принципов обработки персональных данных, указанных в ст. 5 Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных», в том числе:
                ul
                  li законности и справедливости целей и способов обработки персональных данных;
                  li соответствия целей обработки персональных данных целям, заранее определенным и заявленным при сборе персональных данных, а также полномочиям Общества;
                  li соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям их обработки;
                  li достоверности персональных данных, их достаточности для целей обработки, недопустимости обработки персональных данных, избыточных по отношению к целям, заявленным при сборе персональных данных;
                  li недопустимости объединения созданных для несовместимых между собой целей баз данных, содержащих персональные данные;
                  li хранения персональных данных должно осуществляться в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели их обработки, если срок хранения персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или получателем, по которому является субъект персональных данных;
                  li уничтожения по достижении целей обработки персональных данных или в случае утраты необходимости в их достижении, если иное не предусмотрено федеральным законом.
              li В отношении персональных данных Оператор осуществляет действия (операции) или совокупность действий (операций), совершаемые как с использованием средств автоматизации, так и без использования таких средств, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
              li Оператор использует смешанный (с использованием средств автоматизации и без использования средств автоматизации) способ обработки персональных данных с передачей информации по внутренней локальной сети Оператора и с передачей информации по информационно-телекоммуникационной сети «Интернет».
              li Оператор обеспечивает запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение персональных данных граждан Российской Федерации с использованием баз данных, находящихся на территории Российской Федерации, за исключением предусмотренных законодательством случаев.
              li Условия обработки персональных данных Оператором определяются локальными актами Оператора, регулирующими соответствующие сферы деятельности Оператора.
              li Оператор раскрывает обрабатываемые персональные данные только на основаниях и в случаях, предусмотренных законодательством Российской Федерации, в том числе в связи с выпуском и распространением продукции средства массовой информации.
              li Сроки обработки персональных данных определяются в соответствии со сроком, указанным в согласии субъекта персональных данных, а также в соответствии с иными требованиями законодательства РФ и нормативными документами Общества.
              li Оператор прекращает обработку персональных данных в следующих случаях:
              li достижение цели обработки персональных данных;
              li изменение, признание утратившими силу нормативных правовых актов, устанавливающих правовые основания обработки персональных данных;
              li выявление неправомерной обработки персональных данных, осуществляемой Оператором;
              li отзыв субъектом персональных данных согласия на обработку его персональных данных, если в соответствии с положениями Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных» обработка этих персональных данных допускается только с согласия субъекта персональных данных.
              li Уничтожение Оператором персональных данных осуществляется в порядке и сроки, предусмотренные Федеральным законом от 27.07.2006 №152-ФЗ «О персональных данных».
              li Обработку персональных данных физических лиц, являющихся пользователями Интернет-сайтов Оператора, Оператор осуществляет исключительно в объеме данных, представленных самим субъектом в рамках формы обратной связи, содержащей условие подтверждения субъектом своего согласия на такую обработку. Данные посещаемости Интернет-сайтов Оператор получает в обезличенной форме и использует в статистических целях для анализа пользовательского интереса к материалам сайта без передачи третьим лицам.
            h2 Сведения о реализуемых требованиях к защите персональных данных
            ol
              li Оператор при обработке персональных данных принимает все необходимые правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных.
              li Оператор принимает необходимые правовые, организационные, технические, физические, криптографические меры защиты персональных данных, а также меры, направленные на обеспечение выполнения обязанностей, предусмотренных Федеральным законом от 27.07.2006 №152-ФЗ «О персональных данных» и принятыми в соответствии с ним нормативными правовыми актами. Такие меры, в том числе, включают следующие:
                ul
                  li назначение ответственного за организацию обработки персональных данных;
                  li издание внутренних локальных актов Оператора, регламентирующих вопросы обработки и защиты персональных данных;
                  li ознакомление работников Оператора, непосредственно осуществляющих обработку персональных данных, с положениями законодательства Российской Федерации о персональных данных, в том числе требованиями к защите персональных данных, локальными актами Оператора в отношении обработки персональных данных, с информацией об ответственности за разглашение персональных данных, нарушение порядка их обработки и иные неправомерные действия в отношении персональных данных, а также обучение указанных работников правилам работы с персональными данными;
                  li создание системы и осуществление внутреннего контроля и (или) аудита соответствия обработки персональных данных Федеральному закону от 27.07.2006 № 152-ФЗ «О персональных данных» и принятым в соответствии с ним нормативным правовым актам, требованиям к защите персональных данных, локальным актам Оператора;
                  li анализ, определение и оценка угроз безопасности персональных данных при их обработке в информационных системах персональных данных;
                  li применение организационных и технических мер по обеспечению безопасности персональных данных при их обработке, необходимых для выполнения требований к защите персональных данных, включая использование соответствующих средств защиты информации в информационных системах персональных данных;
                  li контроль и оценка эффективности принимаемых мер по обеспечению безопасности персональных данных до ввода и в процессе эксплуатации соответствующей информационной системы персональных данных;
                  li учет материальных (бумажных, машинных) носителей персональных данных и обеспечение их сохранности;
                  li своевременное обнаружение фактов разглашения, утечки, несанкционированного доступа к персональным данным и принятие соответствующих мер, включая восстановление персональных данных, модифицированных или уничтоженных вследствие несанкционированного доступа к ним;
                  li резервирование технических средств и дублирование массивов и носителей информации;
                  li установление правил доступа к персональным данным, в том числе обрабатываемым в информационных системах персональных данных, а также обеспечение регистрации и учета всех действий, совершаемых с персональными данными;
                  li контроль над принимаемыми мерами по обеспечению безопасности персональных данных, а также контроль уровня защищенности информационных систем персональных данных.
            h2 Права субъектов персональных данных
            ul
              li Субъект персональных данных имеет право на получение информации об обработке его персональных данных Оператором, за исключением случаев, предусмотренных федеральными законами.
              li Субъект персональных данных вправе в порядке и на условиях, установленных федеральными законами, требовать от Оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.
              li Субъект персональных данных вправе отозвать свое согласие на обработку персональных данных в соответствии со статьей 9 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» в случаях, когда Оператор производит обработку персональных данных на основании согласия субъекта персональных данных.
              li Для реализации своих прав и защиты законных интересов, субъект персональных данных имеет право обратиться к Оператору. Оператор рассматривает обращения и жалобы со стороны субъектов персональных данных, дает соответствующие ответы на них, тщательно расследует факты нарушений и принимает все необходимые меры для их немедленного устранения, наказания виновных лиц и урегулирования спорных и конфликтных ситуаций в досудебном порядке.
              li В случае, если субъект персональных данных считает, что Оператор осуществляет обработку его персональных данных с нарушением требований Федерального закона или иным образом нарушает его права и свободы, субъект персональных данных вправе обжаловать действия или бездействие Оператора путем обращения в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке.
            h2 Контактная информация
            ol
              li Ответственным за организацию обработки и обеспечения безопасности персональных данных Оператором назначен:
                p директор АУ УР «РСН «Удмуртия» Иванов Алексей Васильевич.
                p Тел.: (3412) 57-07-55
                p Почтовый адрес: 426057, г. Ижевск, ул. Пастухова., д.13
                p Адрес электронной почты: red@udmurt.media
              li Уполномоченным органом по защите прав субъектов персональных данных является Федеральная служба по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор), Управление по защите прав субъектов персональных данных.
                p Территориальный орган: Управление Роскомнадзора по Удмуртской Республике, актуальные контактные сведения которого размещены в том числе по адресу: 18.rkn.gov.ru.
        aside.content__side.content__side_stacked
          .side-content(data-sticky)
            nav.menu-wrapper
              div.menu-trigger
              ul.menu.menu_secondary
                li.menu__item._active: a(href="#") Общие положения
                li.menu__item: a(href="#") Принятые термины и сокращения
                li.menu__item: a(href="#") Информация об операторе, правовые основания и цели обработки персональных данных
                li.menu__item: a(href="#") Обрабатываемые категории персональных данных и источники их получения
                li.menu__item: a(href="#") Основные принципы обработки, передачи и хранения персональных данных
                li.menu__item: a(href="#") Сведения о реализуемых требованиях к защите персональных данных
                li.menu__item: a(href="#") Права субъектов персональных данных
                li.menu__item: a(href="#") Контактная информация

  include pug/includes/functional-block
    .to-top-area(data-js="scrollup"): .to-top: span Наверх
    .to-down-area(data-js="scrolldown"): .to-down: span Вниз
