extends pug/extends/specprojects

block header

block content
  main.content
    // вариации стилей шапки
    // .sp-section_light - черный текст + темная фоновая подложка
    // .sp-section_inverted - белый текст
    // .sp-section_inverted.sp-section_dark - белый текст + светлая фоновая подложка
    .sp-header.sp-section_inverted.sp-section_dark
      header.head
        .head__inner
          .head__left
            button.burger-button.head__menu-button( type="button",
                                                    data-js="mobile-menu-toggler") Меню
            .weather-informer
              .weather-informer__location
                span.weather-informer__primary Ижевск
                span +3 °C
              .weather-informer__day
                span.weather-informer__primary 18 октября 2016
                span Вторник
          .head__logo
            a.logo(href="index.html")
              svg.logo__img( xmlns="http://www.w3.org/2000/svg",
                  xmlns:xlink="http://www.w3.org/1999/xlink",
                  version="1.1", id="logo_svg",
                  x="0px" y="0px",
                  width="765.667px", height="187.822px"
                  viewBox="-334.167 0 765.667 187.822",
                  enable-background="new -334.167 0 765.667 187.822",
                  xml:space="preserve")
                polygon( id="red"
                        points="0 24.63 30 37.642 60 24.63 46 24.63 46 0 30 14.351 14.122 0 14.122 24.666")
                g(id="black")
                  path(d="M-298.678 143.115l-35.242-67.938h1.34 30.954l17.554 37.788 14.472-37.788h1.34 28.542l-42.21 93.8h-1.34 -28.14L-298.678 143.115zM-153.422 75.177v71.288h11.256v41.271h-1.34 -22.512v-18.76h-52.796v18.76h-1.34 -22.512v-41.271c0.446 0 0.871-0.021 1.273-0.067 0.402-0.044 0.825-0.111 1.273-0.201 3.752-0.714 7.257-2.747 10.519-6.097 3.26-3.35 5.113-8.375 5.561-15.075 0.088-1.072 0.134-2.165 0.134-3.283 0-1.115 0-2.255 0-3.417 0-0.355 0-0.714 0-1.071 0-0.356 0-0.714 0-1.072V75.177h1.34H-153.422zM-198.446 119.933c0 5.896-0.559 11.101-1.675 15.611 -1.118 4.512-3.865 8.152-8.241 10.921h27.336V97.689h-17.42V119.933zM-116.976 75.177h1.34 26.264l15.812 54.939 15.812-54.939h1.34 26.264l13.668 93.8h-1.34 -25.192l-6.566-51.188 -14.874 51.188h-1.34 -16.884l-14.874-51.188 -6.566 51.188h-1.34 -25.192L-116.976 75.177zM18.631 143.115l-35.242-67.938h1.34 30.954l17.554 37.788 14.473-37.788h1.34 28.542l-42.21 93.8h-1.34H5.901L18.631 143.115zM87.774 75.177h1.34 39.529c10.005 0 17.487 2.144 22.445 6.432s8.285 9.024 9.983 14.204c0.624 1.876 1.071 3.731 1.34 5.562 0.268 1.832 0.402 3.551 0.402 5.158 0 1.608-0.135 3.329-0.402 5.159 -0.269 1.832-0.716 3.686-1.34 5.562 -1.608 5.182-4.914 9.938-9.916 14.271 -5.004 4.334-12.508 6.499-22.513 6.499h-13.266v30.954h-1.34H87.774V75.177zM115.378 117.387h6.164c3.84 0 6.654-0.624 8.442-1.876 1.785-1.25 2.991-2.59 3.617-4.021 0.356-0.981 0.58-1.92 0.671-2.813 0.088-0.893 0.134-1.608 0.134-2.145s-0.023-1.071-0.067-1.607c-0.046-0.536-0.113-1.072-0.201-1.608 -0.447-1.876-1.563-3.595-3.35-5.159 -1.788-1.562-4.87-2.345-9.246-2.345h-6.164V117.387zM193.499 97.689h-20.636V75.177h1.34 67.536v22.512h-20.637v71.288h-1.34 -26.264V97.689zM281.135 75.177v54.27l34.974-54.27h1.34 25.729v93.8h-1.341 -25.325v-54.136l-34.438 54.136h-1.34 -26.264v-93.8h1.34H281.135zM379.49 133.735c-0.895-0.178-1.788-0.379-2.68-0.603 -0.895-0.223-1.832-0.558-2.814-1.005 -4.02-1.608-7.705-4.443-11.055-8.51 -3.351-4.063-5.025-9.803-5.025-17.219 0-10.72 3.216-18.603 9.648-23.65 6.432-5.047 14.472-7.571 24.12-7.571h1.34 38.458v93.8h-1.341 -26.264v-31.892h-1.072l-19.161 31.892h-1.341 -28.14L379.49 133.735zM403.878 95.813h-5.896c-0.626 0-1.521 0.046-2.681 0.134 -1.162 0.09-2.368 0.314-3.617 0.67 -1.788 0.626-3.418 1.722-4.892 3.283 -1.474 1.564-2.211 3.953-2.211 7.169 0 3.842 0.915 6.522 2.747 8.04 1.83 1.521 3.863 2.502 6.097 2.948 0.805 0.09 1.585 0.157 2.346 0.201 0.758 0.046 1.494 0.066 2.211 0.066h5.896V95.813z")
                  polygon(points="0 24.63 30 37.642 60 24.63 30 55.978")
              span.logo__text Информационное агентство
          .head__right
            span.cens-category.cens-category_head 16+
            button.head__search-button.head__search-button_mobile(type="button", data-js="open-search-archive") Поиск
          nav.head__menu
            block main-menu
              ul.main-menu
                li.main-menu__item: a(href="news-matrix.html") Новости
                li.main-menu__item: a(href="news.html") Статьи
                li.main-menu__item: a(href="line.html") Темы
                li.main-menu__item: a(href="media.html") Медиа
                li.main-menu__item._active: a(href="projects.html") Спецпроекты
                li.main-menu__item.main-menu__item--sp: a(href="blogs.html") Парадельфийские игры
            .menu-widgets
              .lang-switcher <a href="#ru" class="_active">Рус</a> / <a href="#udm">Удм</a>
              button.head__search-button(type="button", data-js="open-search-archive") Поиск

      block projects-hero
        //.sp-hero(style="background-image:url(images/hero-bg.jpg)")
        .sp-hero.sp-hero--responsive-height(style="background-image:url(images/hero-bg-wide.jpg)")
          img.sp-hero__background(src="images/hero-bg-wide.jpg", alt="Фон")
          section.sp-hero__inner
            h1.h1.sp-hero__heading Столетние новости
            .sp-hero__text
              p.
                Информационное агентство «Удмуртия» и Комитет по делам архивов при правительстве Удмуртской Республики
                в рамках совместного спецпроекта «Столетние новости» продолжают рассказывать о жизни на территории республики
                через публикации газет 1917 года.
              //- span.button.button-outline.sp-hero__button Спецпроект
        .tabs-list
          .tabs-list__inner
            nav.tabs
              a.tabs__tab._active(href="#all") Все
              a.tabs__tab(href="#news") Новости
              a.tabs__tab(href="#photos") Фотографии
    each val in ['xs', 'sm', 'md', 'lg']
      .news.news_agregator
        include pug/includes/preloader-fullscreen
        .c-row(class="c-row-" + val)
          .c-12
            .news-lis-wrap
              .c-6
                .news-block.news-block--textbottom
                  .news-block__title
                    h4.title Финалистов в номинации «Народный выбор» определили на конкурсе «Ресторан года в Удмуртии»
                  .news-block__badge Новости
                  .news-block__footer
                    time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                    ul.tools
                      li.tool
                        span.um-eye_fill
                        span.tool__text 123
                      li.tool
                        span.um-comment_fill
                        span.tool__text 99
                  a.news-block__link(href="news-item-longread.html") Читать далее
              .c-6
                .news-include
                  .news-include__title Новости
                  // TODO
                  .news-list
                    .news-list__item.news-item
                      .news-item__body
                        a.news-item__title(href="news-item.html")
                          span Александр Бречалов отправил в отставку правительство Удмуртии
                        time.timestamp(datetime="2017-06-09T18:25") 09 июня 2017, 18:25
                      //- a.news-item__media(href="news-item.html")
                        img(src="images/user_pic_70x70_img.jpg", alt="")
                    .news-list__item.news-item
                      .news-item__body
                        a.news-item__title(href="news-item.html")
                          span Прожиточный минимум пенсионера в Удмуртии на 2018 год составит 8,5 тыс. рублей
                        time.timestamp(datetime="2017-06-09T18:25") 09 июня 2017, 18:25
                      a.news-item__media(href="news-item.html")
                        img(src="images/user_pic_70x70_img.jpg", alt="")
                    .news-list__item.news-item
                      .news-item__body
                        a.news-item__title(href="news-item.html")
                          span Александр Бречалов отправил в отставку правительство Удмуртии
                        time.timestamp(datetime="2017-06-09T18:25") 09 июня 2017, 18:25
                      //- a.news-item__media(href="news-item.html")
                        img(src="images/user_pic_70x70_img.jpg", alt="")
                    .news-list__item.news-item
                      .news-item__body
                        a.news-item__title(href="news-item.html")
                          span Лагерь для одаренных детей-удмуртов «Шундыкар» может выйти на финно-угорский уровень
                        time.timestamp(datetime="2017-06-09T18:25") 09 июня 2017, 18:25
                      a.news-item__media(href="news-item.html")
                        img(src="images/user_pic_70x70_img.jpg", alt="")
        .c-row(class="c-row-" + val)
          .c-4
            .news-block.news-block--blank
              img(src="http://dev.udmurt.media/upload/iblock/4f3/4f395a7a271a86bbcbfdc5553c92368c.png")
          .c-4
            .news-block.news-block--blank
              <div class="twitter_block-js" data-href="https://twitter.com/brechalov">
              <a class="twitter-timeline" data-width="100%" data-height="100%" href="https://twitter.com/brechalov" data-chrome="nofooter noheader">Tweets by brechalov</a>
              </div>
              script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")
          .c-4
            .news-block.news-block--blank
              #vk_widget
                #vk_groups
              script(type="text/javascript", src="https://udmurt.media/bitrix/templates/apm/scripts/openapi.js")
              script(async, type="text/javascript").
                function VK_Widget_Init() {
                  document.getElementById("vk_groups").innerHTML = "";
                  var vk_width = document.getElementById("vk_widget").clientWidth;
                  var vk_height = document.getElementById("vk_widget").clientHeight;
                  VK.Widgets.Group("vk_groups", {mode: 0, width: vk_width, height: vk_height, color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 107527131);
                }
                document.addEventListener("DOMContentLoaded", function() {
                  window.addEventListener("load", VK_Widget_Init, false);
                  window.addEventListener("resize", VK_Widget_Init, false);
                });
        .c-row(class="c-row-" + val)
          .c-12
            .news-block.news-block--bordered.news-block--textbottom
              .news-block__title
                h4.title Пожар в селе Первомайское близ Ижевска локализовали
              .news-block__badge Лонгрид
              .news-block__footer
                time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                ul.tools
                  li.tool
                    span.um-eye_fill
                    span.tool__text 123
                  li.tool
                    span.um-comment_fill
                    span.tool__text 99
              a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-" + val)
          .c-12
            .news-block.news-block--textbottom.news-block--projects
              .news-block__title.news-block__title_inverted
                h4.title Пожар в селе Первомайское близ Ижевска локализовали
              .news-block__badge.news-block__badge_inverted Спецпроекты
              .news-block__picture(style="background-image:url(images/news_pic_fullwidth_02.jpg)")
                img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
              a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-" + val)
          .c-12
            .news-block.news-block--textbottom
              .news-block__title.news-block__title_inverted
                h4.title Пожар в селе Первомайское близ Ижевска локализовали
              .news-block__badge.news-block__badge_inverted Лонгрид
              .news-block__picture(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
                img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
              .news-block__footer.news-block__footer_inverted
                time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                ul.tools
                  li.tool
                    span.um-eye_fill
                    span.tool__text 123
                  li.tool
                    span.um-comment_fill
                    span.tool__text 99
              a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-" + val)
          .c-12
            // TODO
            .news-block.news-block--textbottom.news-block--splitted
              .news-block__title
                h4.title За год вневедомственная охрана в Удмуртии помогла раскрыть более 500 преступлений
              .news-block__badge Лонгрид
              .news-block__picture(style="background-image:url(images/news_pic_fullwidth_03.jpg)")
                img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
              .news-block__text
                p.
                  Официальное открытие здания школы в микрорайоне «Столичный» в Ижевске
                  состоится 8 февраля. Об этом журналистам сообщила директор Республиканского
                  лицея-интерната в поселке Италмас Ирина Морозова. Новое образовательное
                  учреждение будет структурным подразделением данного лицея.
                p.
                  «Школа будет второй площадкой лицея-интерната. Вложения шли из республиканского
                  бюджета и с учетом тех профилей, которые там формируются и чтобы дать
                  условия для поступательного развития Республиканского лицея-интерната
                  в последующие годы.
              .news-block__footer
                time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                ul.tools
                  li.tool
                    span.um-eye_fill
                    span.tool__text 123
                  li.tool
                    span.um-comment_fill
                    span.tool__text 99
              a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-" + val)
          - var n = 2;
          while n--
            .c-6
              .news-block.news-block--bordered.news-block--textbottom
                .news-block__title.news-block__title_inverted
                  h4.title Пожар в селе Первомайское близ Ижевска локализовали
                .news-block__badge.news-block__badge_inverted Лонгрид
                .news-block__picture(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
                  img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
                .news-block__footer.news-block__footer_inverted
                  time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                  ul.tools
                    li.tool
                      span.um-eye_fill
                      span.tool__text 123
                    li.tool
                      span.um-comment_fill
                      span.tool__text 99
                a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-" + val)
          - var n = 3;
          while n--
            .c-6
              .news-block.news-block--textbottom
                .news-block__title.news-block__title_inverted
                  h4.title Пожар в селе Первомайское близ Ижевска локализовали
                .news-block__badge.news-block__badge_inverted Лонгрид
                .news-block__picture(style="background-image:url(images/news_pic_fullwidth_02.jpg)")
                  img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
                .news-block__text.news-block__text_inverted
                  p.
                    Официальное открытие здания школы в микрорайоне «Столичный» в Ижевске
                    состоится 8 февраля. Об этом журналистам сообщила директор Республиканского
                    лицея-интерната в поселке Италмас Ирина Морозова. Новое образовательное
                    учреждение будет структурным подразделением данного лицея.
                  p.
                    «Школа будет второй площадкой лицея-интерната. Вложения шли из республиканского
                    бюджета и с учетом тех профилей, которые там формируются и чтобы дать
                    условия для поступательного развития Республиканского лицея-интерната
                    в последующие годы.
                .news-block__footer.news-block__footer_inverted
                  time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                  ul.tools
                    li.tool
                      span.um-eye_fill
                      span.tool__text 123
                    li.tool
                      span.um-comment_fill
                      span.tool__text 99
                a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-" + val)
          .c-4
            .news-block.news-block--bordered.news-block--textbottom
              .news-block__title.news-block__title_inverted
                h4.title Пожар в селе Первомайское близ Ижевска локализовали
              .news-block__badge.news-block__badge_inverted Лонгрид
              .news-block__picture(style="background-image:url(images/news_pic_fullwidth_03.jpg)")
                img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
              .news-block__footer.news-block__footer_inverted
                time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                ul.tools
                  li.tool
                    span.um-eye_fill
                    span.tool__text 123
                  li.tool
                    span.um-comment_fill
                    span.tool__text 99
              a.news-block__link(href="news-item-longread.html") Читать далее
          .c-8
            .news-block.news-block--bordered.news-block--textbottom
              .news-block__title.news-block__title_inverted
                h4.title Пожар в селе Первомайское близ Ижевска локализовали
              .news-block__badge.news-block__badge_inverted Лонгрид
              .news-block__picture(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
                img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
              .news-block__footer.news-block__footer_inverted
                time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                ul.tools
                  li.tool
                    span.um-eye_fill
                    span.tool__text 123
                  li.tool
                    span.um-comment_fill
                    span.tool__text 99
              a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-" + val)
          - var n = 3;
          while n--
            .c-4
              .news-block.news-block--bordered.news-block--textbottom
                .news-block__title.news-block__title_inverted
                  h4.title Пожар в селе Первомайское близ Ижевска локализовали
                .news-block__badge.news-block__badge_inverted Лонгрид
                .news-block__picture(style="background-image:url(images/news_pic_fullwidth_03.jpg)")
                  img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
                .news-block__footer.news-block__footer_inverted
                  time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                  ul.tools
                    li.tool
                      span.um-eye_fill
                      span.tool__text 123
                    li.tool
                      span.um-comment_fill
                      span.tool__text 99
                a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-" + val)
          - var n = 4;
          while n--
            .c-3
              .news-block.news-block--bordered.news-block--textbottom
                .news-block__title.news-block__title_inverted
                  h4.title Пожар в селе Первомайское близ Ижевска локализовали
                .news-block__badge.news-block__badge_inverted Лонгрид
                .news-block__picture(style="background-image:url(images/news_pic_fullwidth_02.jpg)")
                  img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
                .news-block__footer.news-block__footer_inverted
                  time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                  ul.tools
                    li.tool
                      span.um-eye_fill
                      span.tool__text 123
                    li.tool
                      span.um-comment_fill
                      span.tool__text 99
                a.news-block__link(href="news-item-longread.html") Читать далее
        .c-row(class="c-row-" + val)
          - var n = 4;
          while n--
            .c-3
              .news-block.news-block_card.news-block--textbottom
                .news-block__title
                  h4.title Пожар в селе Первомайское близ Ижевска локализовали
                .news-block__badge.news-block__badge_inverted Лонгрид
                .news-block__picture(style="background-image:url(images/news_pic_fullwidth_01.jpg)")
                  img(src="images/news_pic_fullwidth_01.jpg", alt="alt text")
                .news-block__text
                  p.
                    «Школа будет второй площадкой лицея-интерната. Вложения шли из республиканского
                    бюджета и с учетом тех профилей, которые там формируются и чтобы дать
                    условия для поступательного развития Республиканского лицея-интерната
                    в последующие годы.
                .news-block__footer
                  time.timestamp(datetime="2017-06-09T18:25") 09 июня, 18:25
                  ul.tools
                    li.tool
                      span.um-eye_fill
                      span.tool__text 123
                    li.tool
                      span.um-comment_fill
                      span.tool__text 99
                a.news-block__link(href="news-item-longread.html") Читать далее
