extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item._active: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content
  main.content.content_promo
    .promo

      .promo__inner
        .promo__advitisers
          h1.h1 Прайс-лист ИА «Удмуртия»
          .promo__preview.promo__preview_price
            p
              | Честные и вдумчивые материалы ИА «Удмуртия»
              | обеспечивают качественный контакт с широкой аудиторией
              | агенства. Мы всегда знаем как и о чём рассказать.
              | В этом разделе представлены возможные
              | форматы размещения рекламы на нашем ресурсе.

          .promo__nav.promo__nav_price
            ul.promo-nav
              li.promo-nav__item
                a.promo-nav__link._acitve.um-icon-promo-price(href="")
                  span Посмотреть прайс-лист
              li.promo-nav__item
                a.promo-nav__link.um-icon-promo-media(href="")
                  span Скачать медиакит.pdf
              li.promo-nav__item
                a.promo-nav__link.um-icon-promo-feedback(href="")
                  span Обратная связь

        //END .promo__advitisers
        .promo__price
          a.button.button_dwld_price(href="") Скачать прайс-лист.pdf

        .promo__media-plan
          section.media-plan
            - var n = 5;
              while n--

                .media-plan__item
                  h2 Веб: топплайн

                  .media-plan__img
                    img(src="images/promo-mediaplan1.jpg")

                  .media-plan__descr
                    p Классический горизонтальный формат баннеров.
                    p
                      b Где показываются:&nbsp;
                      | на всех страницах
                    p
                      b Форматы и CPM (стоимость 10 показов):
                    ul
                      li 100%*120 — от 200 рублей
                      li 100%*240 — от 200 рублей

        .promo__price
          a.button.button_dwld_price(href="") Скачать прайс-лист.pdf


        //END.promo__media-plan

      //END.promo__inner


block flasher-content
  include pug/includes/flasher