extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item._active: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item: a(href="blogs.html") Блоги

block content
  main.content.content_promo
    .promo

      .promo__inner
        .promo__advitisers
          h1.h1 Рекламодателям
          .promo__preview
            p
              | Мы предлагаем рассмотреть возможности классического рекламного размещения на площадке агентства. Открыты для обсуждения спецпроектов и различных форматов сотрудничества. Скачивайте
              a(target='_blank', href='/upload/promo/price.pdf') прайслист
              |  в .pdf, а если возникли вопросы — пишите на адрес
              a(href='mailto:red@udmurt.media') red@udmurt.media
              |  или звоните по телефону
              nobr +7 (3412) 57-07-55
              |  — мы постараемся подобрать наиболее подходящее решение вашей бизнес-задачи.

          .promo__nav
            ul.promo-nav
              li.promo-nav__item
                a.promo-nav__link._acitve.um-icon-promo-price(href="")
                  span Посмотреть прайс-лист
              li.promo-nav__item
                a.promo-nav__link.um-icon-promo-media(href="")
                  span Скачать медиакит.pdf
              li.promo-nav__item
                a.promo-nav__link.um-icon-promo-feedback(href="")
                  span Обратная связь
        //END .promo__advitisers
      //END.promo__inner

      .promo__wide-inner.promo__about
        .promo__inner.promo__inner_about
          .promo__about-company
            h2 Что такое ИА«Удмуртия»?
            p
              | Удмуртия — это динамично развивающееся интернет-СМИ региона.
              | Издание вышло в свет 1 декабря 2015 года.
              | 1 марта 2016 года появилась удмуртская версия сайта.
            p
              | С первого дня работы ИА «Удмуртия» выпускает
              | не только новости, но и статьи на общественно значимые темы,
              | интересные репортажи, интервью, фотоистории
              | и видеосюжеты. Многие материалы
              | сопровождаются инфографикой, а события -
              | текстовыми и фото-трансляциями.

          .promo__qty-news
            .promo__inner-qty-news
              h3 40 новостей в день
              p
                | публикуют журналисты
                br
                | агентства на сайте
      //END .promo__wide-inner.promo__about

      .promo__wide-inner.promo__wide-inner_bg_blue
        .promo__inner

          .promo__web-stats
            section.web-stats
              .web-stats__descr.promo__descr
                h2 Вот так мы выросли за год
                p
                  | У нас живая и лояльная аудитория, которая активно пользуется
                  | интернетом и соцсетями

              .web-stats__charts
                ul.web-stats__nav
                  li.web-stats__tab
                    a.web-stats__link-tab._active(href="#chart-views", data-chart-type="ПРОСМОТРЫ") Просмотры
                  li.web-stats__tab
                    a.web-stats__link-tab(href="#chart-visitors", data-chart-type="ПОСЕТИТЕЛИ") Посетители В ДЕНЬ

                .web-stats__img-charts
                  .stats-chart
                    .stats-chart__img#promo-visitors-chart

                    .web-stats__tab-item._active#chart-views
                      ul.stats-chart__scale-caption(data-js = "chart-views")
                        li.stats-chart__scale-item
                          .stats-chart__value 0
                          .stats-chart__time
                            | 2 кв.&nbsp;
                            b 2016
                        li.stats-chart__scale-item
                          .stats-chart__value 117 990
                          .stats-chart__time
                            | 2 кв.&nbsp;
                            b 2016

                        li.stats-chart__scale-item
                          .stats-chart__value 138 450
                          .stats-chart__time
                            | 3 кв.&nbsp;
                            b 2016

                        li.stats-chart__scale-item
                          .stats-chart__value 161 120
                          .stats-chart__time
                            | 4 кв.&nbsp;
                            b 2016

                        li.stats-chart__scale-item
                          .stats-chart__value 199 900
                          .stats-chart__time
                            | 1 кв.&nbsp;
                            b 2017

                        li.stats-chart__scale-item
                          .stats-chart__value 245 603
                          .stats-chart__time
                            | 2 кв.&nbsp;
                            b 2017

                    //END .web-stats__tab-item

                    .web-stats__tab-item#chart-visitors
                      ul.stats-chart__scale-caption(data-js = "chart-visitors")
                        li.stats-chart__scale-item
                          .stats-chart__value 0
                          .stats-chart__time
                            | 2 кв.&nbsp;
                            b 2016

                        li.stats-chart__scale-item
                          .stats-chart__value 1 850
                          .stats-chart__time
                            | 2 кв.&nbsp;
                            b 2016

                        li.stats-chart__scale-item
                          .stats-chart__value 3 056
                          .stats-chart__time
                            | 3 кв.&nbsp;
                            b 2016

                        li.stats-chart__scale-item
                          .stats-chart__value 3 580
                          .stats-chart__time
                            | 4 кв.&nbsp;
                            b 2016

                        li.stats-chart__scale-item
                          .stats-chart__value 4 600
                          .stats-chart__time
                            | 1 кв.&nbsp;
                            b 2017

                        li.stats-chart__scale-item
                          .stats-chart__value 5 190
                          .stats-chart__time
                            | 2 кв.&nbsp;
                            b 2017
                    //END .web-stats__tab-item
                //END .web-stats__img-charts


              .promo__year-end
                ul.promo-cards
                  li.promo-cards__item.um-people
                    .promo-cards__value 93 400
                    .promo-cards__prop
                      | Уникальных посетителей
                      br
                      | в 1 кв. &nbsp;
                      b 2017
                  li.promo-cards__item.um-eye_fill
                    .promo-cards__value 199 900
                    .promo-cards__prop
                      | Просмотров
                      br
                      | в 1 кв.&nbsp;
                      b 2017
                  li.promo-cards__item.um-read.promo-cards__item_read_mobile
                    .promo-cards__value 40%
                    .promo-cards__prop
                      | Читают нас с планшета
                      br
                      | или смартфона
                  li.promo-cards__item.um-solar
                    .promo-cards__value 70%
                    .promo-cards__prop
                      | Жителей Удмуртии
                      br
                      | нас читают

              //END.web-stats__year-end
          //END .promo__web-stats

          .promo__percentage-stats
            section.promo-percentage
              .promo__descr.promo-percentage__descr
                h2 Кто нас читает?
                p
                  | Наши постояные читатели, это молодые
                  | люди с достойным зароботком.
                  | Они интерисуются спортом и путешествиями.
                  | Им нужен конструктив, план действий и
                  | немного развлечений.
              .promo-percentage__inner
                .promo-percentage__col

                  .promo-percentage__item.promo-percentage__item_color-blue
                    .promo-percentage__prop Мужчины
                    .promo-percentage__value
                      span.promo-percentage__value-inner 54,15%

                  .promo-percentage__item.promo-percentage__item_color-pink
                    .promo-percentage__prop Женщины
                    .promo-percentage__value
                      span.promo-percentage__value-inner 45,85%

                .promo-percentage__col

                  .promo-percentage__item.promo-percentage__item_color-green
                    .promo-percentage__prop 18-35 лет
                    .promo-percentage__value
                      span.promo-percentage__value-inner 61%

                  .promo-percentage__item.promo-percentage__item_color-yellow
                    .promo-percentage__prop 35-44 года
                    .promo-percentage__value
                      span.promo-percentage__value-inner 15,5%

                  .promo-percentage__item.promo-percentage__item_color-orange
                    .promo-percentage__prop 45-54 года
                    .promo-percentage__value
                      span.promo-percentage__value-inner 12,5%
              //END .promo-percentage__inner

          //END.promo__persentage-stats

          .promo__features
            section.promo-features
              .promo__descr.promo-features__descr
                h2
                  | Лента новостей
                  | отображается в двух вариантах
                p
                  | Пользователь сайта может самостоятельно выбрать
                  | удобный для него вид отображения ленты
                  | новостей, отсортировать информацию
                  | по географии - Удмуртия, Россия и мир и
                  | другой теме. Также для удобства читателей
                  | особенно важные темы дня формируются в сюжеты.

              .promo-features__inner

                .promo-features__item
                  .promo-features__item-descr
                    .promo-features__index 01

                    .promo-features__text-item
                      h3 Лента заголовков
                      p
                        | Читатель видит только заголовок и анонс

                  .promo-features__img
                    img(src="images/promo-mediakit1.jpg")

                .promo-features__item
                  .promo-features__item-descr
                    .promo-features__index 02

                    .promo-features__text-item
                      h3 Расширенный вид
                      p
                        | Читатель видит новость целиком.

                  .promo-features__img
                    img(src="images/promo-mediakit2.jpg")


              //END.promo-features__inner

          //END.promo__features

          .promo__media
            section.promo-media
              .promo-media__item
                .promo__descr.promo-media__descr
                  h2 Онлайн

                  p
                    | ИА «Удмуртия» организует видеотрансляции различных
                    | мероприятий и торжеств с онлайн-вещанием в интернет.
                    | Примеры работ доступны на сайте, а также на канале агентства на YouTube.
                  p
                    | Среди них трансляции с праздничного концерта ко
                    | Дню защитника Отечества в Ижевске и церемонии
                    | вручения премии «Человек города - 2016».
                    | Пользователи сети просмотрели их 504 и 1046 раз соответственно.
                  p
                    | Мы можем транслировать как с одной так и с нескольких камер.

                .promo-media__figure
                  .promo-media__figure-inner
                    iframe(width='560', height='315',
                    src='https://www.youtube.com/embed/jLKVltPzKbY?rel=0',
                    frameborder='0',
                    allow='autoplay; encrypted-media',
                    allowfullscreen='')

          //END.promo__media

          .promo__adaptive
            .promo__descr
              h2 Адаптивная вёрстка сайта
              p
                | На любых устройствах - от стационарных компьютеров до смартфонов
                | - содержание сайта отображается удобно и комфортно для читателей.

            .promo__wide-img
              img(src="images/promo-adaptability.png")


      //END.promo__wide-inner.promo__wide-inner_bg_blue






block flasher-content
  include pug/includes/flasher