extends pug/extends/master

block main-menu
  ul.main-menu
    li.main-menu__item: a(href="news-matrix.html") Новости
    li.main-menu__item: a(href="news.html") Статьи
    li.main-menu__item: a(href="line.html") Темы
    li.main-menu__item: a(href="media.html") Медиа
    li.main-menu__item: a(href="projects.html") Спецпроекты
    li.main-menu__item._active: a(href="blogs.html") Блоги

block content
  main.content.content_search-news
    a.button.button#search(href="search-archive.html", data-js="open-search-archive", onclick="return false") Архив