::selection {
  background-color: #000;
  color: #fff;
}

//html {
//    &:before {
//        opacity: 0;
//        z-index: 10;
//        box-shadow: 0 -10px 120px #fff;
//        position: fixed;
//        left: -10%;
//        right: -10%;
//        top: 100%;
//        display: block;
//        height: 60px;
//        content: '';
//    }
//
//    &._bottom_shadow {
//        &:before {
//            opacity: 1;
//        }
//    }
//}

body {
  &:before {
    display: none;
    content: 'mobile';

    @include media('>desktop') {
      content: 'desktop';
    }
  }
  &._freezed {
    overflow: hidden;
  }
}

img,
input,
button,
textarea {
  user-select: none;
}

[data-sticky] {
  @include media('<=desktop') {
    margin-bottom: 0 !important;
  }
  @include media('>desktop') {
    position: sticky;
    top: 12rem;
    padding-bottom: 12rem;
  }
}

.container {
  position: relative;
  max-width: $max-content-width;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  // @include media('<=desktop') {
  //     overflow: hidden;
  // }
}

.content {
  position: relative;
  min-width: 100%;
  margin: 0 auto;
  padding: 1.8rem $gap 0;
  background-color: #fff;
  z-index: 8;
  // justify-content: space-between;
  ._has-filter & {
    padding-top: 5.4rem;
  }

  @include media('>desktop') {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem $gap 0;
  }

  &[data-js="infinityScroll"] {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    background: #fff;
  }
  .sp-section & {
    max-width: 100%;
  }

  @include media('>widescreen') {
    max-width: $max-container-width;
    min-width: $max-container-width;
  }

  &_media_list {

    @include media('>desktop') {
      padding-left: 0;
      padding-right: 0;
    }
    @include media('<=tablet') {
      padding-left: 0;
      padding-right: 0;
    }

  }

  //&__curtain {
  //    @include media('>desktop') {
  //        z-index: 4;
  //        opacity: 0;
  //        position: absolute;
  //        top: 0;
  //        bottom: 0;
  //        left: 0;
  //        right: 0;
  //        display: block;
  //        background: rgba(#000, .9);
  //    }
  //}

  &__curtain {
    @include media('>desktop') {
      opacity: 0;
      z-index: 8;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #000;
      pointer-events: none;
      //will-change: opacity;
      //transition: opacity .1s linear;
    }
  }

  &__inner {
    flex: 1 1 100%;
    background: #fff;
    padding-bottom: 4rem;

    @include media('>desktop') {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 10rem;
    }
    &:not(:first-of-type) {
      [data-js="infinityScroll"] & {
        @include media('>desktop') {
          margin-top: -100vh;
        }
        &._active {
          @include media('>desktop') {
            z-index: 5;
            box-shadow: 0 0 2rem rgba(#000, .4);
          }
        }
      }
      .widget-close {
        display: none;
      }
    }
    &:last-of-type {
      [data-js="infinityScroll"] & {
        &._active {
          @include media('>desktop') {
            z-index: 10 !important;
          }
        }
      }
    }
    &._last_active {
      [data-js="infinityScroll"] & {
        @include media('>desktop') {
          z-index: 10 !important;
        }
      }
    }
    &-spacer {
      [data-js="infinityScroll"] & {
        @include media('>desktop') {
          opacity: 0;
          width: 100%;
          height: 100vh;
        }
      }
    }
  }

  &__container {
    position: relative;
    max-width: $max-container-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $gap;

    @include media('>desktop') {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    [data-js="infinityScroll"] & {
      @include media('>desktop') {
        position: sticky;
        bottom: 0;
        background: #fff;
      }
    }
  }

  &__tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    &._fixed {
      z-index: 50;
      box-shadow: 0 0 20px rgba(#000, .12);
      position: fixed;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    width: 100%;
    margin-bottom: 2.8rem;

    @include media('>desktop') {
      padding-top: 2.2rem;
      .h {
        width: 100%;
        margin-bottom: 0;
        padding: 0 percentage(3/12) .8em 0;
      }
    }
  }

  &__author {
    margin-bottom: 1.5rem;

    @include media('>tablet') {
      margin-bottom: 2.4rem;
    }
  }

  &__side,
  &__main {
    flex: 1 1;
    & div + .content-addon {
      margin-top: 6rem;
    }
  }

  &__side {
    display: none;
    position: relative;
    min-width: 100%;

    @include media('>desktop') {
      display: block;
      max-width: 290px;
      min-width: 0;
    }

    &_matrix {
      display: none;

      @include media('>desktop') {
        display: none !important;
      }
    }

    &_stacked {
      @include media('<=desktop') {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 0;
        min-width: 0;
      }
    }

    .content_author & {
      @include media('>desktop') {
        max-width: 260px;
      }
    }

    .content_authors_list & {
      @include media('>desktop') {
        max-width: 260px;
        // margin-right: 0;
      }
    }

    &_view {
      &_list {
        display: none;

        @include media('>desktop') {
          display: block;
          max-width: percentage(2/12);
          min-width: 0;
          margin-left: 0;
          margin-right: percentage(1/12);
        }
      }
      &_feed {
        display: none;

        @include media('>desktop') {
          display: flex;
          max-width: percentage(5/12);
          min-width: 0;
          //margin-left: -$gap;
        }

        @include media('>widescreen') {
          max-width: 500px;
        }
      }
    }
    &._shown {
      @include media('<=desktop') {
        display: block;
      }
    }
  }

  &__filter {
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 4rem;
    margin-bottom: $gap;
    padding-bottom: $gap;
    //.tabs_view {
    //    margin: 0;
    //}
  }

  &__main {
    max-width: 640px;
    margin: auto;
    padding-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.8;
    font-family: $lora-font;
    @include media('>tablet') {
      padding-bottom: 6rem;
      font-size: 1.8rem;
      line-height: (3/1.8);
    }
    @include media('>desktop') {
      //min-height: 800px;
      max-width: 750px;
      margin: 0 percentage(1/12) 0 0;
    }

    &_nomargin {
      @include media('>desktop') {
        max-width: 100%;
        margin-right: 0;
        padding-right: $gap*2;
      }
    }

    &_full_width {
      @include media('>desktop') {
        max-width: 100%;
        margin-right: 0;
        padding-right: 0;
      }
    }

    &_view {
      &_list {
        @include media('>desktop') {
          flex: 1 1;
          justify-content: space-between;
          max-width: 100%;
          // max-width: 850px;
          // margin-left: 46px;
          margin-right: 0;
          // padding-top: 4rem;
        }
      }
      &_feed {
        @include media('>desktop') {
          flex: 1 1;
          justify-content: space-between;
          margin-left: 46px;
          margin-right: 0;
          // padding-top: 4rem;
        }
        @include media('>widescreen') {
          padding-right: $gap;
        }
      }
    }
    p {
      margin: 2.2rem 0;
      &:first-of-type {
        margin-top: 0;
      }
      &:empty {
        display: none;
      }

      @include media('>desktop') {
        margin: 2.8rem 0;
      }
    }
  }

  &__share {
    margin: .4em 0 1.6em;

    @include media('>desktop') {
      display: none;
    }
  }
}

.sp-header {
  flex: 1 1;
  min-width: 100%;
}

.side-content {
  background: #fff;
  ._shown & {
    @include media('<=desktop') {
      box-shadow: 0 5px 20px rgba(#000, .12);
    }
  }
  .content__side_stacked & {
    @include media('<=desktop') {
      z-index: 20;
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      height: 100vh;
      background: transparent;
    }
  }
  &.is_stuck {
    z-index: 1;
  }

  // TODO: fix agregator

  //@include media('<=desktop') {
  //    z-index: 10;
  //    overflow: hidden;
  //    position: absolute;
  //    top: -14px;
  //    left: -15px;
  //    right: -15px;
  //}

  @include media('>desktop') {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    border-bottom: 2px solid;
    padding: .1em 0;
    color: $base-text-color;
  }

  &__item {
    //min-width: 100%;
    margin-bottom: 5rem;
    color: #777;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: $gap;
    }

    &_info {
      max-width: 260px;
      margin-left: auto;
      margin-right: auto;
    }

    &_news {
      display: none;

      @include media('>desktop') {
        display: block;
      }
    }
  }

  &__description {
    padding-top: .5em;
    font-size: 1rem;
    text-align: right;
    text-transform: uppercase;
  }
}

.row {
  flex: 1 1 100%;
  min-width: 100%;
}

@import "../base/timestamp";

.social-likes {
  @extend %listreset;
}

.incut,
.fact {
  border-left: 1px solid #000;
  margin: 2.8rem 0 2.8rem -1px;
  padding: 0 1.4rem;
  font-family: $roboto-font;
  line-height: (2.5/1.4);

  @include media('>tablet') {
    margin: 2.8rem 13% 2.8rem 1.6rem;
    padding: 0 0 0 1.8rem;
    line-height: 3rem;
  }

  &__title {
    margin-bottom: .5em;
    font-size: 1.8rem;
    color: inherit;
  }

  > p {
    margin-bottom: 1em;
    &:last-child {
      margin: 0;
    }
  }
}

.content-addon {
  width: 100%;
  clear: both;
  margin-bottom: 6rem;
  &:last-child {
    margin-bottom: 0;
  }
  .include-media + & {
    margin-top: 6.5rem;
  }
  &__title {
    border-bottom: 1px solid $border-color;
    margin: 0 (-$gap) 2rem;
    padding: 0.3em $gap;
    color: #777;
    font-size: 1.8rem;

    @include media('>tablet') {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.partners-wrapper {
  display: flex;
}
.partners-content {
  @include media('<tablet') {
    display: none;
  }
}

.site-flasher {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  backface-visibility: hidden;
  transform: translateZ(0);
  user-select: none;
}

.flash {
  display: none;
  z-index: 2;
  // opacity: 0;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
  margin-top: -100%;
  background: #fff;
  backface-visibility: hidden;
  // will-change: opacity;
  // transition: opacity .1s linear;
  ._has-flasher & {
    display: block;
  }

  &._visible {
    // opacity: 1;
    margin-top: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    position: relative;
    max-width: $max-container-width;
    height: 48px;
    margin: auto;
    padding: 0 $gap;
    @include media('>tablet') {
      height: 68px;
    }
  }

  &__progressbar {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    height: .2rem;
    transition: opacity .75s linear;
    will-change: opacity;

    @include media('>widescreen') {
      left: $gap;
      right: $gap;
    }

    &._visible {
      opacity: 1;
    }
    &-fill {
      border-top: .2rem solid red;
      width: 0;
      height: 0;
    }
  }

  &__title {
    overflow: hidden;
    flex: 1 1;
    display: none;

    @include media('>tablet') {
      display: block;
    }

    .h {
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1.6rem;
    }
  }

  &__date {
    display: block;
    padding-top: .4em;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  &__controls {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__control {
    margin-left: $gap;
    color: inherit;
    font-size: 4rem;
    outline: none;
    &:hover {
      color: red;
    }

    &_list {
      display: none !important;

      @include media('>desktop') {
        display: flex !important;
      }
    }
    &.um-eye {
      font-size: 3rem;
    }

    &.um-close {
        padding-left: .3em;
        font-size: 4.5rem;
        @include media('<phone') {
          font-size: 2.5rem;
        }
        .flash__control:hover & {
            color: $dark-color;
        }
        &:hover {
            color: red !important;
        }
    }
  }
}

.to-top-area {
  z-index: 21;
  overflow: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  cursor: pointer;
  transition: top .1s linear;
  user-select: none;

  @include media('<=1280px') {
    display: none !important;
  }
  &:hover {
    //background: rgba(#000, .05);
    color: $dark-color;
    .to-top {
      background-color: rgba(#000, .1);
      &:before {
        color: $dark-color;
      }
      &:after {
        display: block;
      }
      span {
        color: $dark-color;
      }
    }
  }
  &.menu_is_visible {
    @include media('>tablet') {
      transition: top .2s .4s linear;
    }
  }
  .to-top {
    position: relative;
    display: inline-block;
    padding: 2.8rem $gap;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    top: 1px;

    @include media('>1340px') {
      text-align: left;
    }
    &:before {
      border: 2px solid;
      border-bottom: 0;
      border-right: 0;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-bottom: -.2em;
      margin-right: $gap/2;
      color: #aaa;
      transform: rotate(45deg);
      content: '';
    }
    &:after {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(#000, .1);
      content: '';
    }
    span {
      display: none;
      color: $gray;

      @include media('>1340px') {
        display: inline-block;
      }
    }
  }
}

.to-down-area {
  z-index: 21;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  cursor: pointer;
  transition: top .1s linear;
  user-select: none;

  @include media('<=1280px') {
    display: none !important;
  }
  &:hover {
    .to-down {
      &:before {
        color: $dark-color;
      }
      &:after {
        display: block;
      }
      span {
        color: $dark-color;
      }
    }
  }
  .to-down {
    position: relative;
    display: inline-block;
    padding: 2.8rem $gap;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;

    @include media('>1340px') {
      text-align: left;
    }
    &:before {
      border: 2px solid;
      border-bottom: 0;
      border-right: 0;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-bottom: .2em;
      margin-right: $gap/2;
      color: #aaa;
      transform: rotate(-135deg);
      content: '';
    }
    &:after {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100vh;
      content: '';
    }
    span {
      display: none;
      color: $gray;

      @include media('>1340px') {
        display: inline-block;
      }
    }
  }
}

.share-widget {
  display: flex;
  align-items: center;
  position: relative;
}

//.share-list-container {
//  .share-widget & {
//    @include media('<desktop') {
//      opacity: 0;
//      visibility: hidden;
//      position: absolute;
//      top: 100%;
//      right: -$gap/2;
//      padding: $gap/2;
//      background: #fff;
//      will-change: opacity, visibility, transform;
//      transform: translateY(-10px);
//      transition: .2s;
//    }
//    @include media('>desktop') {
//      border-right: 1px solid $border-color;
//      display: none;
//      position: static;
//      margin: $gap $gap $gap 0;
//      padding-right: $gap;
//    }
//    &._active {
//      .share-widget & {
//        @include media('<desktop') {
//          opacity: 1;
//          visibility: visible;
//          transform: translateY(0);
//          display: flex;
//        }
//      }
//      @include media('>desktop') {
//        display: flex;
//      }
//    }
//  }
//}

.share-widget {
  .share-list-container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 4.7rem;
    padding: $gap/2;
    background: #fff;
    will-change: opacity, visibility, transform;
    transform: translateY(-10px);
    transition: .2s;
    @include media('<desktop') {
      right: 58px;
      box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.32);
      padding: $gap/2 $gap;
      &:after {
      	bottom: 100%;
      	left: 50%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
      	border-bottom-color: #ffffff;
      	border-width: 5px;
      	margin-left: -5px;
      }
    }
    @include media('<phone') {
      right: 32px;
      top: 125%;
    }
    @include media('>desktop') {
      display: none;
      position: static;
      margin: $gap $gap $gap 0;
      padding: 0;
    }
    & .share-list {
        @include media('>desktop') {
          padding: 0;
          padding-right: $gap;
          height: 3rem;
          border-right: 1px solid $border-color;
          display: flex;
          align-items: flex-start;
          &__item {
            margin-top: -9px;
          }
        }
    }
    &._active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      display: flex;

      @include media('>desktop') {
        display: flex;
      }
    }
  }
}

.share-list {
  @extend %listreset;
  &_inline {
    white-space: nowrap;
  }
  .news__tools & {
    margin-left: auto;
  }

  .side-content__item & {
    margin-top: 1.6em;
  }

  .news__item_media & {
    display: none;

    @include media('>desktop') {
      display: flex;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      justify-content: center;
      transition: .15s;
    }
  }

  .news__item_media:hover & {
    visibility: visible;
    opacity: 1;
  }

  &__item {
    color: #000;
    .share-widget & {
      &:not(:first-child) {
        margin-left: $gap;
      }
      @include media('<desktop') {
        margin: 0 !important;
        text-align: center;
        height: 65px;
      }
    }
    .share-list_inline & {
      display: inline-block;
      &:not(:first-child) {
        margin-left: $gap;
      }
    }

    &:not(:first-child) {
      @include media('>desktop') {
        // margin-right: $gap;
        .news__foot & {
          margin-left: 6.66%*2;
        }
      }
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
    color: inherit;
    text-indent: -.2em;
    &:hover {
      color: red;
    }
    .content__share & {
      text-indent: -.5em;
    }
  }

  &__icon {
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    position: relative;
    top: -.30em;
    font-size: 4.4rem;
    line-height: 4.4rem;
    vertical-align: middle;
    text-align: center;
    letter-spacing: -.15em;
    .content__share & {
      top: -.14em;
    }
  }

  &__counter {
    display: inline-block;
    vertical-align: middle;
    margin-left: .5em;
    color: #777;
    font-size: 1.2rem;
    .share-widget & {
      @include media('<desktop') {
        margin-left: 0;
        margin-top: -45px;
      }
    }
  }
}

.share-trigger {
  display: inline-block;
  vertical-align: middle;
  height: 3rem;
  color: inherit;
  text-indent: -.2em;

  // @include media('>desktop') {
  //     border-left: 1px solid $border-color;
  //     margin-left: $gap;
  //     padding-left: $gap;
  // }

  &__icon {
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    position: relative;
    top: -.25em;
    font-size: 4.4rem;
    line-height: 4.4rem;
    vertical-align: middle;
    text-align: center;
    color: #000;
    letter-spacing: -.15em;
    &:hover {
      color: red;
    }
  }
}

[data-js='toggle-news'] {
  position: relative;
  &._active {
    &:after {
      border-left: 1px solid;
      position: absolute;
      top: -2px;
      left: 50%;
      width: 0;
      height: 120%;
      content: '';
      transform: rotate(45deg) translateX(-50%);
    }
  }
}

.radio {
  display: inline-block;
  position: relative;
  // background: rgba(red, .3);
  &__control {
    position: absolute;
    bottom: 100%;
    right: 100%;
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    width: 1px;
    height: 1px;
    &:checked {
      & + .radio__label {
        &:before {
          background: red;
        }
      }
    }
  }
  &__label {
    display: block;;
    padding-left: 2.6rem;
    cursor: pointer;
    &:before {
      border: 1px solid $border-color;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: -.2rem;
      left: 0;
      width: 1.6rem;
      height: 1.6rem;
      background: #fff;
      content: '';
      .poll-list & {
        @include media('>tablet') {
          top: .1rem;
        }
      }
    }
    &:after {
      box-shadow: 0 0 0 1px $border-color;
      border: 2px solid #fff;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: -.1rem;
      left: .1rem;
      width: 1.4rem;
      height: 1.4rem;
      content: '';
      .poll-list & {
        @include media('>tablet') {
          top: .2rem;
        }
      }
    }
  }
}

.checkbox {
  @extend .radio;

  &__control {
    @extend .radio__control;

    &:checked {
      & + .radio__label {
        &:before {
        }
        &:after {
          top: 0;
          left: 0;
          content: '\e92e';
          font-family: "um-icons";
          font-size: 2rem;
          line-height: 2rem;
          color: #fff;
        }
      }
    }
  }

  &__label {
    @extend .radio__label;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #000;

    &::before {
      top: 0;
      left: 0;
      width: 2rem;
      height: 2rem;
      border-radius: 0;
      border: 1px solid #bebfc2;
    }

    &::after {
      top: 0;
      left: 0;
      width: 2rem;
      height: 2rem;
      border-radius: 0;
      box-shadow: none;
      border: 0;
    }
  }
}

.content-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @extend %listreset;

  @include media('>phone') {
    width: auto;
    justify-content: flex-start;
  }
  &__item {
    flex: 0 0 auto;
    color: inherit;
    font-family: $roboto-font;
    font-size: 1.4rem;
    line-height: 2.6rem;
    &:hover,
    &._active {
      color: $base-link-color;
    }
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 0;
      margin-left: .5rem;
      border-style: solid;
      border-width: .4rem .4rem 0;
      border-right-color: transparent;
      border-left-color: transparent;
    }
    &._asc {
      &:after {
        border-width: 0 .4rem .4rem;
      }
    }
    & + & {
      @include media('>phone') {
        margin-left: 5rem;
      }
      @include media('>tablet', '<=widescreen') {
        margin-left: 3rem;
      }
    }
  }
}

.button-filter {
  width: 100%;
  margin-top: $gap;

  @include media('>tablet') {
    width: auto;
    margin-top: 0;
  }
  &__nav {
    border-radius: .2rem;
    border: 1px solid $border-color;
    display: flex;

    @include media('>phone') {
      display: inline-block;
    }
  }
  &__item {
    flex: 1 1;
    border-radius: .2rem;
    border: 1px solid transparent;
    margin: -.1rem;
    padding: (4rem - 1.4)/2 $gap;
    color: #777;
    font-family: $roboto-font;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    line-height: 1.4rem;

    @include media('>phone') {
      display: inline-block;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    &:hover {
      color: red;
    }
    &._active {
      border-color: red;
      background: #fff;
      color: red;
    }
  }
  &[data-js="tabs-filter-by-popular"] {
    display: none;
  }
}
//yandex banners
.side-content__item .yandex_banner_1,
.side-content__item .yandex_banner_2,
.content-addon .yandex_banner_3,
.yandex_banner_4 {
  .yap-logo-block {
    opacity: 0 !important;
  }
  & .yap-body-text {
    color: $base-text-color !important;
  }
  & .yap-contacts__item-text {
    color: $base-text-color !important;
  }
  a {
    color:  #333238 !important;
    &.yap-domain {
      color: #333238 !important;
      &:hover {
        color: #333238 !important;
        border-bottom: 1px solid $red !important;
      }
    }
    &:hover {
      color: $red !important;
    }
    &[href="https://direct.yandex.ru/?partner"] {
      opacity: 0 !important;
    }
  }
  & .yap-title-block {
    color: #333238 !important;
    &:hover {
      color: $red !important;
    }
    & .yap-title-block__text_inner {
      color: #333238 !important;
      &:hover {
        color: $red !important;
        & b {
          color: $red !important;
        }
      }
      & b {
        color: #333238 !important;
        font-weight: normal !important;
        &:hover {
          color: $red !important;
        }
      }
    }
  }
}
