.foot {
    align-self: flex-end;
    min-width: 100%;
    background: $dark-color;
    color: $text-color-on-dark;
    z-index: 22;

    &__inner {
        max-width: $max-container-width;
        margin: 0 auto;
        padding: 2rem 0 2.4rem;

        @include media('>desktop') {
            padding-left: $gap;
            padding-right: $gap;
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0.5em;

        @include media('>desktop') {
            padding-bottom: 3em;
        }
    }

    &__info {
        border-top: 1px solid rgba($gray, .2);
        display: flex;
        flex-wrap: wrap;
        padding: 2em $gap 0;
        font-size: 1.2rem;
    }
}

.copyright {
    order: -1;
    padding: .5em 0 1.5em;

    @include media('>desktop') {
        order: unset;
        max-width: percentage(8/12);
    }
}

.webmaster {
    min-width: 100%;
    padding-top: 1.8em;
    text-align: right;

    @include media('>desktop') {
        min-width: 0;
        margin-left: auto;
        padding: 0;
    }

    a {
        color: inherit;
        &:hover {
            color: red;
        }
    }
}

.cens-category {
    &_foot {
        border: 1px solid;
        border-radius: 50%;
        min-width: 30px;
        height: 30px;
        margin-right: 20px;
        padding-top: (30px - 16)/2;
        font-size: 1.4rem;
        line-height: 1.4rem;
        text-align: center;
        letter-spacing: -.12em;
        @include media('>desktop') {
            order: -1;
        }
    }
}

.foot-menu {
    flex: 1 1 auto;
    min-width: percentage(1/2);
    margin-bottom: .8em;
    padding: 0 $gap;
    @extend %listreset;

    @include media('>desktop') {
        flex: 1 1;
        min-width: percentage(2/12);
        margin-bottom: 0;
    }

    // &:nth-of-type(3) {
    //     @include media('>desktop') {
    //         align-self: flex-end;
    //         margin-bottom: 8%;
    //         margin-left: -16.6666%;
    //     }
    // }

    &_subscribe {
        border-bottom: 1px solid rgba($gray, .2);
        flex: 1 1 auto;
        order: -1;
        min-width: 100%;
        margin-bottom: 2em;
        padding-bottom: 1em;

        @include media('>desktop') {
            order: 1;
            border-bottom: 0;
            flex: 1 1;
            min-width: percentage(3/12);
            margin-left: percentage(1/12);
            margin-bottom: -3em;
        }
    }

    &_policy {
        flex: 1 1 auto;
        min-width: 100%;
        font-size: 1.2rem;

        @include media('>desktop') {
            order: 2;
            display: flex;
            align-items: center;
            min-width: unset;
            margin-bottom: -3em;
            // background: red;
        }
    }

    &__item {
        padding-bottom: 1em;
        &:last-of-type {
            @include media('>desktop') {
                padding-bottom: 0;
            }
        }

        a {
            // border-bottom: 1px solid transparent;
            color: $gray;
            &:hover {
                color: #fff;
                // border-bottom-color: rgba($gray, .3);
            }
        }
        .icon {
            width: 1.2em;
            margin-right: .6em;
        }
    }

    &__title {
        margin-bottom: 0;
        color: #fff;
        font-weight: 400;
        font-size: 1.6rem;

        @include media('>desktop') {
            margin-bottom: .4em;
        }

        .foot-menu__item:not(:first-child) & {
            margin-top: 1.4em;
        }
    }
}

.push-switcher {
    position: relative;
    padding-top: 1em;

    @include media('>desktop') {
        margin-bottom: -.5em;
    }

    &__control {
        position: absolute;
        bottom: 100%;
        left: 100%;
        opacity: 0;
    }

    &__label {
        display: flex;
        align-items: center;
        padding: .5em 0;
        cursor: pointer;
        user-select: none;

        &:hover .push-switcher__text,
        .push-switcher__control:checked + & {
            color: #fff;
        }
    }

    &__button {
        border: 1px solid;
        border-radius: .2rem;
        display: inline-block;
        width: 40px;
        height: 20px;
        margin-right: $gap/2;
        padding: 1px;
        line-height: 1;
        will-change: background-color;
        transition: background-color .1s linear;

        .push-switcher__control:checked + .push-switcher__label & {
            background: #fff;
        }

        &::before {
            border: (16px/2) solid;
            border-radius: .2rem;
            display: inline-block;
            width: 0;
            height: 0;
            background: $gray;
            content: '';
            will-change: transform;
            transition: transform .1s cubic-bezier(0, .130, 1, .5);

            .push-switcher__control:checked + .push-switcher__label & {
                box-shadow: 0 0 0 1px $dark-color;
                color: #fff;
                transform: translateX(20px);
            }
        }
    }

    &__text {
        display: block;
        position: relative;
        height: 20px;
        line-height: 20px;
        font-size: 1.2rem;
        white-space: nowrap;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            content: attr(data-alttext);
            //will-change: opacity;
            //transition: opacity .2s cubic-bezier(0, .130, 1, .5);

            .push-switcher__control:checked + .push-switcher__label & {
                opacity: 1;
            }
        }
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: attr(data-defaulttext);
            //will-change: opacity;
            //transition: opacity .2s cubic-bezier(0, .130, 1, .5);

            .push-switcher__control:checked + .push-switcher__label & {
                opacity: 0;
            }
        }

        i {
            opacity: 0;
        }
    }
}

.counters {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    @extend %listreset;

    @include media('>desktop') {
        order: 10;
        min-width: 100%;
        padding-left: 50px;
    }
}

.counter {
    margin-left: $gap;
    &:first-child {
        margin-left: 0;
    }
}
