.head {
    z-index: 8;
    position: relative;
    min-width: 100%;

    .sp-section_inverted & {
        color: #fff;
    }
    .sp-section_dark &,
    .sp-section_light &{
        z-index: 4;
    }

    &__inner {
        display: flex;
        align-items: center;
        max-width: $max-container-width;
        margin: 0 auto;
        background-color: #fff;
        padding: 0 $gap;

        @include media('<desktop') {
            border-bottom: 1px solid $border-color;
            min-height: 50px;
        }
        @include media('>tablet') {
            flex-wrap: wrap;
        }
        .sp-section & {
            border-bottom: 0;
            background-color: transparent;
        }
    }

    &__left {
        flex: 0 0 4rem;
        min-width: 4rem;
        //margin-right: -4rem;

        @include media('>tablet') {
            flex: (4/12) 1;
        }
        @include media('>desktop') {
            margin-right: 0;
            padding-left: $gap;
        }
        @include media('>widescreen') {
            padding-left: 0;
        }
        .sp-section & {
            @include media('>960px') {
                display: none;
            }
        }
    }

    &__right {
        flex: 0 0 4rem;
        min-width: 4rem;
        padding-right: $gap;
        //margin-left: -4rem;
        text-align: right;

        @include media('>tablet') {
            flex: (4/12) 1;
        }
        //@include media('>desktop') {
        //    margin-left: 0;
        //    padding-right: $gap;
        //}
        @include media('>widescreen') {
            padding-right: 0;
        }
        .sp-section & {
            @include media('>960px') {
                display: none;
            }
        }
    }

    &__logo {
        flex: 1 1;
        display: flex;
        padding: 1rem;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        color: #000;

        @include media('>desktop') {
            flex: (4/12) 1;
            height: 100px;
            padding: .5rem $gap 0;
        }
        .sp-section & {
            @include media('>960px') {
                flex: (3/12) 1;
                justify-content: flex-start;
            }
            .logo__text {
                white-space: nowrap;
            }
        }
        .sp-section_inverted & {
            color: #fff;
            #red,
            #black {
                fill: #fff;
            }
        }
    }

    &__search {

        &-button {
            float: right;
            overflow: hidden;
            border: 0;
            display: none;
            width: 20px;
            height: 20px;
            margin-right: -.3rem;
            padding: 0;
            background: none;
            font-size: .0001px;
            text-indent: -.4rem;
            outline: none;

            @include media('>tablet') {
                display: block;
            }
            &_mobile {
                display: block;

                @include media('>960px') {
                    display: none;
                }
            }

            &:before {
                position: relative;
                top: -.2em;
                display: block;
                font-family: $um-font;
                font-size: 2.8rem;
                content: '\e903';
            }
        }
    }

    &__menu {
        flex: 1 1 100%;
        min-width: 100%;
        position: relative;

        @include media('<=960px') {
            display: none;
        }
        &._shown {
            @include media('<=960px') {
                display: flex;
                flex-wrap: wrap;
            }
        }

        @include media('<=960px') {
            z-index: 30;
            box-shadow: 0 5px 10px rgba(#000, .1);
            // display: flex;
            display: none;
            // flex-wrap: wrap;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin-top: -1px;
            background: #fff;
        }

        @include media('>960px') {
            border-bottom: 2px solid;
        }

        .sp-section & {
            border: 0;
            flex: 1 1;
            min-width: 0;

            //@include media('<=tablet') {
            //    background: rgba(#fff, .65) !important;
            //}
            @include media('>960px') {
                display: flex;
                padding-right: 100px;
            }
        }

        .site-flasher & {
            //display: block;
            border: 0;
            top: 100%;
            background: #fff;
            backface-visibility: hidden;

            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            @include media('>tablet') {
                transition: transform .2s linear;
                will-change: transform;
                transform: translateY(-100%);
            }
            //.main-menu {
            //    @include media('>desktop') {
            //        transition: box-shadow .1s linear;
            //    }
            //}

            &._visible {
                @include media('>tablet') {
                    //border-top: 1px solid #e3e3e3;
                    border-bottom: 1px solid #e3e3e3;
                    box-shadow: 0 0 20px rgba(#000, .12);
                    transform: translateY(0);
                    transition:
                        transform .2s .3s linear,
                        box-shadow .2s .3s linear;
                }
            }
        }

        &-button {
            margin-left: $gap;
        }
    }
}

.menu-widgets {
    padding: $gap $gap 0;

    @include media('>tablet') {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 0 $gap;
    }
    //.site-flasher & {
    //    display: none;
    //}
    .sp-section & {
        @include media('>tablet') {
            order: 2;
        }
    }
}

.logo {
    display: block;
    color: inherit !important;
    text-align: center;

    &__img {
        width: 120px;
        height: 30px;

        @include media('>960px') {
            width: 182px;
            height: 48px;
        }
    }

    &__text {
        display: none;
        letter-spacing: -.005em;
        text-transform: lowercase;

        @include media('>960px') {
            display: block;
        }
    }

    #red {
        fill: red;
    }
}

.cens-category {
    &_head {
        display: none;
        color: #999;

        @include media('>960px') {
            display: block;
        }
    }
}

.weather-informer {
    float: left;
    display: none;
    padding-left: $gap;
    font-size: 1.2rem;
    white-space: nowrap;
    color: #999;

    @include media('>960px') {
        display: flex;
        width: 100%;
    }
    @include media('>desktop') {
        padding-left: 0;
    }

    &__location {
        border-right: 1px solid rgba($border-color, .6);
        // flex: 1;
        padding: .7em 1rem .4em 0;
    }

    &__day {
        // flex: 1;
        padding: .7em 0 .4em 1rem;
    }

    &__primary {
        display: block;
        margin-bottom: .2em;
        font-weight: 500;
        color: #000;
    }
}

.lang-switcher {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;

    a {
        color: #000;

        &._active {
            color: $base-link-color;
        }

        &:hover,
        &:active {
            color: $base-link-color;
        }

    }

    @include media('>tablet') {
        border-right: 1px solid $border-color;
        margin-right: 1.2rem;
        padding: .2rem $gap .2rem 0;
        .sp-section & {
            border-color: inherit;
        }
        .sp-section_inverted & {
            border-right: 1px solid;
        }
    }
    .sp-section_inverted & {
        @include media('<=tablet') {
            color: #000;
        }
    }
    a {
        .sp-section_inverted & {
            @include media('>tablet') {
                color: rgba(#fff, .65);
                &._active {
                    color: #fff;
                }
            }
        }
    }
    //a {
    //    &._active {
    //        color: inherit;
    //        .sp-section & {
    //            @include media('>tablet') {
    //                color: #fff;
    //            }
    //        }
    //    }
    //}
}

.burger-button {
    border: 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    position: relative;
    display: block;
    width: 14px;
    height: 10px;
    //margin-right: $gap;
    padding: 0;
    background: none;
    font-size: .0001px;
    outline: none;

    @include media('>960px') {
        display: none;
    }

    //.sp-section_dark &,
    //.sp-section_inverted & {
    //    color: #fff;
    //}

    &:before {
        border-top: 2px solid;
        display: block;
        content: '';
    }
    &:after {
        position: absolute;
        top: -7px;
        bottom: -7px;
        left: -3px;
        right: -3px;
        content: '';
    }
}
.head-banner {
    width: 100%;
    max-height: 240px;
    max-width: 1920px;
    overflow: hidden;
    &__link {
      min-width: 100%;
      height: auto;
    }
    &__image {
      min-width: 100%;
      height: auto;
    }
    &__html5 {
        width: 100vw;
        height: 100vh;
    }
}
.background-banner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  @include media('<=full-hd') {
      display: none;
  }

  &__image {
    min-width: 100vw;
  }
}
