.comments-widget
  h3.h Комментарии
  .comments-widget__inner
    #hypercomments_widget
    script(type="text/javascript").
      _hcwp = window._hcwp || [];
      _hcwp.push({widget:"Stream", widget_id: 97893});
      (function() {
        if("HC_LOAD_INIT" in window)return;
        HC_LOAD_INIT = true;
        var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
        var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
        hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/97893/"+lang+"/widget.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hcc, s.nextSibling);
      })();
    a.hc-link(href="http://hypercomments.com",
      rel="nofollow",
      title="comments widget")
      | comments powered by HyperComments