.popup.popap_docs
  .view-docs
    iframe#iframe.view-docs__iframe(
                src="",
                frameborder="0",
                style="border-style: none;width: 100%; height: 100%")

    .view-docs__nav
      button#prev Previous
      button#next Next
      span
        | Page:
        span#page_num
        |  /
        span#page_count
    canvas.view-docs__canvas#the-canvas