.popup.popup_docs

  .view-docs
    .view-docs__nav
      button#prev Previous
      button#next Next
      span
        | Page:
        span#page_num
        |  /
        span#page_count
    canvas.view-docs__canvas#the-canvas
