.mfp-content__holder.mfp-content__holder_sm
  form.form.form_login
    .form__row.form__title
      h3.h Войти
    .form__row
      .form-control-holder
        input.form-control( type="text",
                            name="user-login",
                            placeholder="Введите e-mail")
        .form-control-error Заполните это поле «@».
    .form__row
      .form-control-holder
          input.form-control( type="password",
                              name="user-password",
                              placeholder="Введите пароль")
    .form__row
      button.button.button_block Войти
    .form__row
      p.privacy-policy
        | Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь
        | с <a href="#">Политикой компании</a> в отношении обработки персональных данных