.mfp-content__holder.mfp-content__holder_md
  form.form.form_add_news
    .form__row.form__title
      h3.h Предложить новость
      p Расскажите нам немного о себе: кто вы, откуда и чем занимаетесь? Разумеется, делать это совершенно не обязательно, но, во-первых, это может быть полезно для материала, а, во-вторых, мы любим знакомиться с нашими читателями.
    .form__row
      .form-control-holder
        input.form-control( type="text",
                            name="message-credentals",
                            placeholder="Введите e-mail или номер телефона")
        .form-control-error Заполните это поле «@».
    .form__row
      textarea.form-control(name="message-body",
                            rows="8",
                            placeholder="Текст сообщения")
    .form__row
      button.button.button_block Отправить сообщение
    .form__row
      p.privacy-policy
        | Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь
        | с <a href="#">Политикой компании</a> в отношении обработки персональных данных