.mfp-content__holder
  .mfp-content__header._photogallery
    h3.mfp-content__header-title Галерея
    .mfp-content__header-total: <span></span> фото
  ul.gallery-scope(data-js="swipe-picture")
    - var n = 11;
    while n--
      li.gallery-scope__item
        a.gallery-scope__item-link( href="images/news_pic_fullwidth_01.jpg",
                              data-js="swipe-picture-item",
                              style="background-image:url(images/news_pic_fullwidth_01.jpg)")
          img.gallery-scope__item-picture( src="images/news_pic_fullwidth_01.jpg",
              data-original-src-width="613",
              data-original-src-height="372",
              alt='Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля. ' + (11 - n))