.popup.popup_press_release

  section.press-release

    .press-release__head
      h1.press-release__title
        | «Роснефть» объяснила, почему продала акции дешевле директивы правительства.
        | А потом удалила объяснение

      .press-release__info
        span.press-release__source-company Роснефть
        time.timestamp.press-release__timestamp(datetime="2017-06-09T18:25") 9 июня 2017 года
        button.button.button_transparent.press-release__copy-text Копировать весь текст

    .press-release__body
      p.lead-paragraph
        |Госкомпания «Роснефть» выпустила пресс-релиз, в котором объяснила,
        |почему 19,5 процента акций компании были проданы иностранным
        |инвесторам дешевле, чем того требовало правительство. Но через
        |несколько часов пояснения пропали с сайта компании.
      p
        | Новый состав Общественной палаты формировался в три
        |этапа: 40 человек утверждены Указом Президента
        |20 марта, 84 — делегированы общественными палатами
        |субъектов Федерации, ещё 43 члена отобраны из
        |403 кандидатов от НКО путём голосования.
      p
        | 19 июня состоялось пленарное заседание палаты,
        |на котором новым Секретарём избран Валерий Фадеев.
        |Нынешний состав Общественной палаты, обновившийся на две трети, будет работать до 2020 года.

      .include-media.include-media_no_border
        figure.include-media__inner
          .include-media__pic(style="background-image:url(images/news_pic_fullwidth_01.jpg)", data-js="swipe-picture")
            a.include-media__link( href="images/news_pic_fullwidth_01.jpg",
            data-js="swipe-picture-item",
            title="Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля.")
              img( src="images/news_pic_fullwidth_01.jpg",
              data-original-src-width="614",
              data-original-src-height="410",
              alt="Александр Бречалов назначен временно исполняющим обязанности главы Удмуртии 4 апреля.")
    //END .press-release__body

    .press-release__footer
      .press-release__docs-added
        h3 Прикреплённые файлы:
        ol.press-release__list-docs
          li
            a(href="") f1f1c54a66b6647f8b510ff12369b586.pdf
          li
            a(href="") docx
          li
            a(href="") jpg

        a.press-release__dwnld(href="") Скачать архивом
      
      .press-release__share-social
        h3 Поделиться в:
        ul.share-list.share-list_inline.share-list_press_release
          li.share-list__item
            a.share-list__link(href="javascript:void(0)")
              i.share-list__icon.um-twitter
            //- span.share-list__counter 12
          li.share-list__item
            a.share-list__link(href="javascript:void(0)")
              i.share-list__icon.um-facebook
            //- span.share-list__counter 32
          li.share-list__item
            a.share-list__link(href="javascript:void(0)")
              i.share-list__icon.um-vkontakte
            //- span.share-list__counter 99
          li.share-list__item
            a.share-list__link(href="javascript:void(0)")
              i.share-list__icon.um-odnoklasniki
            //- span.share-list__counter 120
      //END.press-release__share-social

    //END .press-release__footer
  //END.press-release
    