.pupup.popup_avatar#logo-upload-modal
  form.form.form_edit_avatar(action="assets/php/crop.php",
            enctype="multipart/form-data",
            method="post")
    .form__row.form__title
      h3.h Выберите область фотографии
      p
        |Выбранная область будет отображаться на вашей странице
      p
        |Минимальный размер фото 720х400 px
    .form__row
      .select-area.select-area_logo_company
        .select-area__inner-img
          img(src="images/logo-roscongress.png",
              alt="",
              data-js="crop-logo")


        .select-area__control
          button.button.button_middle.button_transparent_gray(data-js="js-close-popup", type="button") Отменить
          button.button.button_middle(type="submit",
                    data-js="save-crop-image") Сохранить
