.pupup.popup_avatar#avatar-modal
  form.form.form_edit_avatar(action="assets/php/crop.php",
            enctype="multipart/form-data",
            method="post")
    .form__row.form__title
      h3.h Выберите область фотографии
      p
        |Выбранная область будет отображаться на вашей странице
    .form__row
      .select-area
        .select-area__inner-img
          img(src="images/user_pic_280x280_img.jpg",
              alt="",
              data-js="crop-photo")

        .select-area__preview-photo
          span.select-area__thumbnail(data-js="crop-preview")
          span.select-area__thumbnail.select-area__thumbnail_circle(data-js="crop-preview")

        .select-area__control
          button.button.button_middle.button_transparent_gray(data-js="js-close-popup", type="button") Отменить
          button.button.button_middle(type="submit",
                    data-js="save-crop-image") Сохранить
