block config
  include ../includes/variables

- var siteTitle = "Редактор";

doctype html

html.no-js(lang="ru")
  head
    meta(charset='utf-8')
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color", content="#f00")
    link(rel="icon", sizes="192x192", href="images/favicon192x192.png")
    title #{siteTitle}

    // build:css css/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/magnific-popup/dist/magnific-popup.css')
    link(rel='stylesheet', href='/bower_components/dropzone/dist/min/dropzone.min.css')
    // endbower
    //link(rel='stylesheet', href='/app/scss/libs/tiny.mce.content.min.css')
    // endbuild

    // build:css css/main.css
    link(rel="stylesheet", href="css/style.css")
    // endbuild

    // build:js js/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    <!--[if lt IE 10]>
    p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    .page
      block header
        include ../includes/header-editor

      block content

    .to-top-area(data-js="scrollup"): .to-top: span Наверх
    .to-down-area(data-js="scrolldown"): .to-down: span Вниз
    include ../includes/search-news
    include ../includes/photoswipe
    include ../includes/preloader_1

    //script(src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=your_API_key")
    //script(src="https://cloud.tinymce.com/stable/plugins/customem/plugin.min.js")

    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")

    // build:js js/vendor.js
    // bower:js
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/hammerjs/hammer.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/magnific-popup/dist/jquery.magnific-popup.js')
    script(src='/bower_components/theia-sticky-sidebar/js/theia-sticky-sidebar.js')
    script(src='/bower_components/dropzone/dist/min/dropzone.min.js')
    script(src='/bower_components/jquery-mask-plugin/dist/jquery.mask.js')
    script(src='/bower_components/jquery-validation/dist/jquery.validate.js')
    script(src='/bower_components/highcharts/highcharts.js')
    // endbower
    // endbuild

    // build:js js/plugins.js
    script(src="js/jquery.photoswipe-global.js")
    script(src="js/jquery.gdocsviewer.js")
    script(src="js/jquery-ui.min.js")
    script(src="js/jquery.ui.widget.js")
    script(src="js/ui-datepicker-extension.js")
    script(src="js/jquery.iframe-transport.js")
    script(src="js/jquery.fileupload.js")
    // endbuild

    script(src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.3/cropper.min.js")

    script(src='assets/js/tinymce/tinymce.js')

    // build:js js/main.js
    script(src='js/main.js')
    // endbuild
