block config
  include ../includes/variables

doctype html

html.no-js(lang="ru")
  head
    meta(charset='utf-8')
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color", content="#f00")
    link(rel="icon", sizes="192x192", href="images/favicon192x192.png")
    title #{siteTitle}

    // build:css css/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/magnific-popup/dist/magnific-popup.css')
    link(rel='stylesheet', href='/bower_components/dropzone/dist/min/dropzone.min.css')
    // endbower
    // endbuild

    link(rel='stylesheet', href='assets/js/tinymce/skins/lightgray/content.inline.min.css')
    link(rel='stylesheet', href='assets/js/tinymce/skins/lightgray/content.min.css')
    link(rel='stylesheet', href='assets/js/tinymce/skins/lightgray/skin.min.css')

    // build:css css/main.css
    link(rel="stylesheet", href="css/style.css")
    // endbuild

    script(src="assets/js/createjs-2015.11.26.min.js")
    script(src='assets/js/preloader.js')

    // build:js js/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild

  //body._has-filter
  body._has-flasher._has-filter

    <!--[if lt IE 10]>
    p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    .page
      block header
        include ../includes/header

      block content


      include ../includes/footer

    .site-flasher
      // .main-menu из .header
      nav.head__menu.head__menu_flasher
        .container
          ul.main-menu
            li.main-menu__item: a(href="news-matrix.html") Новости
            li.main-menu__item: a(href="news.html") Статьи
            li.main-menu__item._active: a(href="line.html") Темы
            li.main-menu__item: a(href="media.html") Медиа
            li.main-menu__item: a(href="projects.html") Спецпроекты
            li.main-menu__item: a(href="blogs.html") Блоги
          .menu-widgets
            .lang-switcher <a href="#ru" class="_active">Рус</a> / <a href="#udm">Удм</a>git
            button.head__search-button(type="button", data-js="open-search-archive") Поиск
      .flash
        .flash__inner
          button.burger-button(type="button", data-js="mobile-menu-toggler") Меню

          block flasher-content
            .flash__progressbar: .flash__progressbar-fill

            .flash__title
              span.h Московские эксперты помогают в разведении белых львов в Ижевске
              span.flash__date 24 января 2017, 17:54

            .flash__controls.ept
              .flash__control
                .share-widget
                  .share-list-container
                    ul.share-list
                      li.share-list__item
                        a.share-list__link(href="javascript:void(0)")
                          i.share-list__icon.um-twitter
                        span.share-list__counter 12
                      li.share-list__item
                        a.share-list__link(href="javascript:void(0)")
                          i.share-list__icon.um-facebook
                        span.share-list__counter 32
                      li.share-list__item
                        a.share-list__link(href="javascript:void(0)")
                          i.share-list__icon.um-vkontakte
                        span.share-list__counter 99
                      li.share-list__item
                        a.share-list__link(href="javascript:void(0)")
                          i.share-list__icon.um-odnoklasniki
                        span.share-list__counter 120
                  .share-trigger
                    a.share-trigger__icon.um-share_arrow(href="javascript:void(0)", data-js="share-toggle")
              a.flash__control.um-close(href="javascript:void(0);window.history.back();")

    .to-top-area(data-js="scrollup"): .to-top: span Наверх
    .to-down-area(data-js="scrolldown"): .to-down: span Вниз
    include ../includes/search-news
    include ../includes/editor-popup
    include ../includes/pressrelease-editor-popup
    include ../includes/photoswipe

    //script(src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=your_API_key")
    //script(src="https://cloud.tinymce.com/stable/plugins/customem/plugin.min.js")

    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")

    // build:js js/vendor.js
    // bower:js
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/hammerjs/hammer.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/magnific-popup/dist/jquery.magnific-popup.js')
    script(src='/bower_components/theia-sticky-sidebar/js/theia-sticky-sidebar.js')
    script(src='/bower_components/dropzone/dist/min/dropzone.min.js')
    script(src='/bower_components/jquery-mask-plugin/dist/jquery.mask.js')
    script(src='/bower_components/jquery-validation/dist/jquery.validate.js')
    script(src='/bower_components/highcharts/highcharts.js')
    // endbower
    // endbuild

    // build:js js/plugins.js
    script(src="js/jquery.photoswipe-global.js")
    script(src="js/jquery.gdocsviewer.js")
    script(src="js/jquery-ui.min.js")
    script(src="js/jquery.ui.widget.js")
    script(src="js/ui-datepicker-extension.js")
    script(src="js/jquery.iframe-transport.js")
    script(src="js/jquery.fileupload.js")
    script(src="js/jquery.sticky-kit.js")
    // endbuild


    script(src="https://cdnjs.cloudflare.com/ajax/libs/cropper/3.1.3/cropper.min.js")
    script(src='assets/js/tinymce/tinymce.js')

    script(src='assets/js/pdf.min.js')
    script(src='assets/js/pdf.worker.min.js')

    // build:js js/main.js
    script(src='js/main.js')
    // endbuild
