block config
  include ../includes/variables

doctype html

html.no-js(lang="ru")
  body
    <!--[if lt IE 10]>
    p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    .page
      block header
        include ../includes/header

      block content


      include ../includes/footer

    //для анимации кота:
    script(src="assets/js/createjs-2015.11.26.min.js")

    // build:js js/vendor.js
    // bower:js
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/hammerjs/hammer.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/magnific-popup/dist/jquery.magnific-popup.js')
    script(src='/bower_components/theia-sticky-sidebar/js/theia-sticky-sidebar.js')
    script(src='/bower_components/dropzone/dist/min/dropzone.min.js')
    script(src='/bower_components/jquery-mask-plugin/dist/jquery.mask.js')
    script(src='/bower_components/jquery-validation/dist/jquery.validate.js')
    script(src='/bower_components/highcharts/highcharts.js')
    // endbower
    // endbuild

    // build:js js/main.js
    script(src='js/main.js')
    // endbuild
  head
    meta(charset='utf-8')
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color", content="#f00")
    link(rel="icon", sizes="192x192", href="images/favicon192x192.png")
    title #{siteTitle}
    link(href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic", rel="stylesheet")
    link(rel='stylesheet', href='assets/js/tinymce/skins/lightgray/content.inline.min.css')
    link(rel='stylesheet', href='assets/js/tinymce/skins/lightgray/content.min.css')
    link(rel='stylesheet', href='assets/js/tinymce/skins/lightgray/skin.min.css')

    // build:css css/main.css
    link(rel="stylesheet", href="css/style.css")
    // endbuild

    script(src='assets/js/animation.js')

    // build:js js/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
